.widget-content-area.event-calendar {
	padding: 0;
}


.js-fc-header {
	height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 50px;
    background-color: #4f5163;
    padding: 15px 0;
}
.js-fc-header-title {
    margin: 0 0 0 12px;
    color: #fff;
    font-size: 1rem;
}

.fc-toolbar.fc-header-toolbar {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 7px;
    margin: 0;
    background-color: #c2d5ff;
}
.fc .fc-toolbar>*>* {
	margin-bottom: 0;
}
#c .fc-right .fc-button-group {
    position: relative;
    top: -50px;
    right: 3px;
    height: 50px;
    border: none;
    border-radius: 0;
}
#c .fc-right .fc-state-default {
	background-color: transparent;
    text-transform: capitalize;
}
#c .fc-agendaDay-button.fc-state-active,
#c .fc-agendaWeek-button.fc-state-active,
#c .fc-button.fc-state-active,
#c .fc-state-default.fc-state-active {
    border-bottom: 2px solid #e9ecef;
    border-radius: 0;
    background-color: transparent;
    background-image: none!important;
}
#c .fc-agendaDay-button,
#c .fc-agendaWeek-button,
#c .fc-button,
#c .fc-state-default {
    padding: 0 20px!important;
    height: 50px!important;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #f0f3f8;
    font-size: .875rem!important;
    text-shadow: none;
    background-image: none;
    border: 0;
    outline: none;
}
#c .fc-next-button,
#c .fc-prev-button {
    position: absolute!important;
    top: 11px;
    padding: 0!important;
    height: 28px!important;
    width: 28px;
    background-color: #3f4257;
    box-shadow: none;
    color: #fff;
    font-size: 8px!important;
    text-shadow: none;
    background-image: none;
    border: 0;
    line-height: 26px;
}
#c .fc-next-button {
    right: 30px;
}
#c .fc-prev-button {
    left: 30px;
}
#c .fc-toolbar .fc-center {
    width: 97px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}
#c .fc-toolbar .fc-center h2 {
    font-size: 14px;
    padding: 17px 0 0 0;
    color: #000;
}
.fc-event, .fc-event:hover, .ui-widget .fc-event {
    color: #fff!important;
}
.fc-state-down {
    background-image: none!important;
}



/*Calendar body section*/


#c .fc th {
    padding: 12px 0;
    border: 0;
    color: #adafb2;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
}
#c .fc-day-number {
    padding: 5px 8px 0 0!important;
    font-size: 1rem;
    font-weight: normal;
    color: #3b3f5c;
}
#c .fc-other-month.fc-past .fc-day-number {
    color: #acb0c3;
}
#c .fc-other-month.fc-future .fc-day-number {
    color: #acb0c3;
}
#c .fc-today .fc-day-number {
    background-color: #3b3f5c;
    padding: 0!important;
    margin: 5px 3px 8px 0;
    width: 26px;
    height: 26px;
    line-height: 27px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-weight: normal;
}
.fc td.fc-today {
    background: none;
}
.fc td {
    background-color: #fff;
}
.fc th {
    background-color: #f1f3f9;
    color: #1a73e9;
    padding: 5px;
}

@media (max-width: 575px) {
	#c .fc-agendaDay-button, #c .fc-agendaWeek-button, #c .fc-button, #c .fc-state-default {
	    padding: 0 6px!important;
	}
    .main-content > .container > .container {
        padding: 0;
    }
    .fc-scroller.fc-time-grid-container {
        height: 190px!important;
    }
}