{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">

    <section class="content">
        <div class="content-header">
            <div class="jumbotron">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="display-4">Detalle Evento</h1>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="">Evento</a></li>
                    </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                            <div class="row" style="margin: 10px;">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="nombre">Nombre:</label>
                                        <input class="form-control" type="text" value="{{evento.nombre}}" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="firstName">Disciplina: </label>
                                        <input class="form-control" type="text" value="{{evento.disciplina}}" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="firstName">Subdisciplina: </label>
                                        <input class="form-control" type="text" value="{{evento.subdisciplina}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 10px;">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header border-0">
                                            <h4 class="card-title"><b>Categorias</b></h4>
                                        </div>
                                        <div class="card-body table-responsive p-0">
                                            <table class="table table-striped table-valign-middle" style="text-align: center;">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Rama</th>
                                                        <th>Fecha Nac. Min</th>
                                                        <th>Fecha Nac. Max</th>
                                                        <th>Fecha Insc. Max</th>
                                                        <!-- <th>Disponibilidad</th> -->
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-categorias">
                                                    {% for categoria in categorias %}
                                                    <tr>
                                                        <td>{{categoria.nombre}}</td>
                                                        {% if categoria.genero == '' %}
                                                        <td>Unica</td>
                                                        <td>--</td>
                                                        <td>--</td>
                                                        <td>--</td>
                                                        {% else %}
                                                        <td>{{categoria.genero}}</td>
                                                        <td>{{categoria.Edad_min}}</td>
                                                        <td>{{categoria.Edad_max}}</td>
                                                        <td>{{categoria.fecha_maxima_inscripcion}}</td>
                                                        {% endif %}
                                                        <td>
                                                            <a class="btn btn-default btn-sm" href="{% url 'equipo-create' evento.pk %}">
                                                                Inscribirme <i class="fas fa-pen-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header border-0">
                                            <h3 class="card-title"><b>Escenarios</b></h3>
                                        </div>
                                        <div class="card-body table-responsive p-0">
                                            <table class="table table-striped table-valign-middle" style="text-align: center;">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-escenarios">
                                                    {% for escenario in escenarios %}
                                                    <tr>
                                                        <td>{{escenario.nombre}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'home' %}" class="btn btn-default" style="margin-left:15px;" >Listo</a>
                                <a href="{% url 'home' %}" class="btn btn-default" style="margin-left:15px;" >Volver</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>    
{% endblock %}
{% block page_js_level %}
<script type="text/javascript">

</script>
{% endblock %}