{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}




<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="ps-overlay"></div>
  <div class="search-overlay"></div>



  <!--  BEGIN CONTENT PART  -->
  <div id="content" class="main-content">
    <div class="container">
      <div class="page-header">
        <div class="page-title">
          <h3>MIS TORNEOS</h3>
        </div>
      </div>



      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
          <div class="statbox widget box box-shadow">
            <div class="widget-header border-bottom border-default">
              <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                  <h4>Crear Evento <h4>

                </div>
              </div>
            </div>
            <form action="{% url 'evento-crear' %}" method="POST">
            <div class="widget-content widget-content-area icon-pill">


              <ul class="nav nav-pills mb-3 mt-3" id="icon-pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="icon-pills-home-tab" data-toggle="pill" href="#icon-pills-home"
                    role="tab" aria-controls="icon-pills-home" aria-selected="false"><i
                      class="flaticon-circle-plus"></i>
                    Agregar Torneo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="icon-pills-profile-tab" data-toggle="pill" href="#icon-pills-profile"
                    role="tab" aria-controls="icon-pills-profile" aria-selected="false"><i
                      class="flaticon-dribbble-bold"></i> Categorias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="icon-pills-contact-tab" data-toggle="pill" href="#icon-pills-contact"
                    role="tab" aria-controls="icon-pills-contact" aria-selected="false"><i class="flaticon-sky-sun"></i>
                    Escenario </a>
                </li>
              </ul>
              <div class="tab-content" id="icon-pills-tabContent">
                <div class="tab-pane fade show active" id="icon-pills-home" role="tabpanel"
                  aria-labelledby="icon-pills-home-tab">


                  <form action="{% url 'evento-crear' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="nombre">Nombre*:</label>
                          <input type="text" class="form-control form-control" name="nombre_torneo" id="nombre_torneo" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default">
                          <!-- <input type="text" name="nombre_torneo" maxlength="45" class="form-control"  id="nombre_torneo"> -->
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="firstName">Disciplina*: </label>
                          <select class="form-control" name="disciplina" id="id_disciplina" required>
                            <option value="">Seleccione</option>
                            {% for disciplina in disciplinas %}
                            <option value="{{ disciplina.pk }}">{{ disciplina.nombre }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group ">
                          <label for="firstName">Subdisciplina*: </label>
                          <select class="form-control" name="subdisciplina" id="id_subdisciplina" required>
                            <option value="">Seleccione</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group ">
                          <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                              <div class="n-chk">
                                <label class="new-control new-radio radio-primary">
                                  <input type="radio" class="new-control-input" name="evento_publico" checked="">
                                  <span class="new-control-indicator"></span>Publico
                                </label>
                              </div>
                              <div class="n-chk">
                                <label class="new-control new-radio radio-success">
                                  <input type="radio" class="new-control-input" name="evento_privado">
                                  <span class="new-control-indicator"></span>Privado
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="col-5">
             
                        <div class="form-group">
                          <label>Fecha De Inicio De Torneo </label>
                          <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                            <input class="mdl-textfield__input form-control" type="date" id="fecha_inicio_torneo"
                              max="hoy()">
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-5">
                      <div class="form-group">
                        <label>Fecha de Inscripcion Maxima:</label>
                        <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                          <input class="mdl-textfield__input form-control" type="date" id="fecha_inscripcion_max"
                            max="hoy()">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-6">
                                    <div class="form-group" id="div-tipo-id">
                                      <label>Rama:</label>
                                      <select class="form-control" id="rama">
                                        <option value="">Seleccione</option>

                                        <option value="Masculino">Masculino</option>

                                        <option value="Femenino">Femenino</option>

                                        <option value="Mixto">Mixto</option>

                                      </select>
                                    </div>
                                  </div> -->
                                  <div class="col-6">
                                    <div class="form-group">
                                      <label for="firstName">Departamento: </label>
                                      <select class="form-control" name="departamento" id="id_departamento" required>
                                          <option value="0">Seleccione</option>
                                          <option value="1">Antioquia</option>
                              
                                  <option value="2">Boyacá</option>
                              
                                  <option value="3">Córdoba</option>
                              
                                  <option value="4">Chocó</option>
                              
                                  <option value="5">Nariño</option>
                              
                                  <option value="6">Santander</option>
                              
                                  <option value="7">Atlántico</option>
                              
                                  <option value="8">Bolívar</option>
                              
                                  <option value="9">Caldas</option>
                              
                                  <option value="10">Caquetá</option>
                              
                                  <option value="11">Cauca</option>
                              
                                  <option value="12">Cesar</option>
                              
                                  <option value="13">Cundinamarca</option>
                              
                                  <option value="14">Huila</option>
                              
                                  <option value="15">La Guajira</option>
                              
                                  <option value="16">Magdalena</option>
                              
                                  <option value="17">Meta</option>
                              
                                  <option value="18">Quindío</option>
                              
                                  <option value="19">Risaralda</option>
                              
                                  <option value="20">Sucre</option>
                              
                                  <option value="21">Tolima</option>
                              
                                  <option value="22">Arauca</option>
                              
                                  <option value="23">Casanare</option>
                              
                                  <option value="24">Putumayo</option>
                              
                                  <option value="25">Amazonas</option>
                              
                                  <option value="26">Guainía</option>
                              
                                  <option value="27">Vaupés</option>
                              
                                  <option value="28">Vichada</option>
                              
                                  <option value="29">Guaviare</option>
                              
                                  <option value="30">Archipiélago de San Andrés, Providencia y Santa Catalina</option>
                              
                                  <option value="31">Bogotá D.C.</option>
                              
                                  <option value="32">Norte de Santander</option>
                              
                                  <option value="33">Valle del Cauca</option>

                                          {% for departamento in departamentos %}
                                              <option value="{{ departamento.pk }}">{{ departamento.nombre }}</option>
                                          {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="form-group">
                                      <label for="firstName">Municipio: </label>
                                      <select class="form-control" name="municipio" id="id_municipio" required>
                                          <option value="0">Seleccione</option>
                                      </select>
                                    </div>
                                  </div>


                  <!-- </div>
                            </div>subdisciplina



                          </div>





                       


                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>




                <div class="tab-pane fade" id="icon-pills-profile" role="tabpanel"
                  aria-labelledby="icon-pills-profile-tab">
                  <div class="col-12">



                    <div class="row" style="margin: 10px;">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header border-0">
                            <h4 class="card-title"><b>Categorias</b> <small>(Ingresar al menos una categoria)</small>
                            </h4>
                            <div class="card-tools">
                              <i class="btn btn-tool btn-sm" id="btn_agregar_categoria" >
                                  <i class="fas fa-plus-circle fa-2x"></i>
                              </i>
                          </div>
                          </div>
                          <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>¿Unica?</th>                                                    
                                        <th>Rama</th>
                                        <th>Edad. Min</th>
                                        <th>Edad. Max</th>
                                        <th>Fecha Insc. Max</th>
                                        <!-- <th>Disponibilidad</th> -->
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-categorias">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
                
                 

              
              











                <div class="tab-pane fade" id="icon-pills-contact" role="tabpanel"
                  aria-labelledby="icon-pills-contact-tab">
                  <div class="col-12">
                    <div class="card">
                        <div class="card-header border-0">
                          <h3 class="card-title"><b>Escenarios</b> <small>(Ingresar al menos un escenario)</small></h3>
                          <div class="card-tools">
                              <i class="btn btn-tool btn-sm" id="btn_agregar_escenario" >
                                  <i class="fas fa-plus-circle fa-2x"></i>
                              </i>
                          </div>
                      </div>
                      <div class="card-body table-responsive p-0">
                          <table class="table table-striped table-valign-middle" style="text-align: center;">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <!-- <th>Disponibilidad</th> -->
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tbody id="tabla-escenarios">
                              </tbody>
                          </table>
                      </div>
                      <div class="modal fade bd-example-modal-lg" id="modal-escenario-crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><b>Nuevo Escenario</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="nombre">Nombre:</label>
                                                <input type="text" maxlength="512" class="form-control"  id="nombre_escenario">
                                            </div>
                                        </div>
                                        <div class="col-6" style="display: none;">
                                            <div class="form-group">
                                                <label for="nombre">Dias de disponibilidad:</label>
                                                <input type="number" maxlength="512" class="form-control"  id="dias_disponibilidad_escenario">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display: none;">
                                            <div class="form-group">
                                                <label>Horario de disponibilidad:</label>
                                                <div class="col">
                                                    <label>Inicio:</label>
                                                    <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                                        <input class="mdl-textfield__input form-control" type="time" id="inicio_horario_disponibilidad" max=hoy() />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <label>Inicio:</label>
                                                    <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                                        <input class="mdl-textfield__input form-control" type="time" id="inicio_horario_disponibilidad" max=hoy() />
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <i  class="btn btn-default" id="modal-escenario-btn-agregar">Agregar</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <input class="btn btn-default" type="submit" value="Enviar" style="margin: 10px;" id="btn-enviar">
              <a href="{% url 'home' %}" class="btn btn-default" style="margin-left:15px;">Volver</a>


            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
        <!-- aca dejo el modal de agregar categorias  -->

        <div class="modal fade bd-example-modal-lg" id="modal-categoria-crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><b>Nueva Categoria</b></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="nombre">Nombre:</label>
                                  <input type="text" maxlength="45" class="form-control"  id="nombre_categoria">
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-group">
                                  <label>¿Es Categoria Unica?</label>
                                  <div class="input-group date" data-target-input="nearest">
                                      <input type="checkbox" id="categoria_unica">                                           
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="informacion_extra_categoria">
                          <div class="row">
                              <div class="col-6">
                                  <div class="form-group">
                                      <label>Edad Minima:</label>
                                        <input type="number" maxlength="3" class="form-control"  id="Edad_min">
                                        
                                      </div>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="form-group">
                                      <label>Edad Maxima:</label>
                                        <input type="number" maxlength="3" class="form-control"  id="Edad_max">
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            
                              <div class="col-6">
                                  <div class="form-group"id="div-tipo-id">
                                      <label>Rama:</label>
                                      <select class="form-control" id="rama" >
                                      <option value="">Seleccione</option>
                                      {% for rama in ramas %}
                                          <option value="{{ rama }}">{{ rama }}</option>
                                      {% endfor %}
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      <i  class="btn btn-default" id="modal-categoria-btn-agregar">Agregar</i>
                  </div>
              </div>
        <!-- aEND modal de agregar categorias  -->


</div>


{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

  //#region           FUNCIONES
  function validar_text_form(campos_form) {
   validado = true

   campos = []
   for (let campo of campos_form) {
     console.log("el campo que tengo es:", campo)
     campos.push([document.getElementById(campo), "#" + campo])
   }
   console.log("Los campos son:", campos)
  
   if (campos.length > 0) {
      for (let i = 0; i < campos.length; i++) {
       if (campos[i][0].value == "") {
        validado = false;
       $(campos[i][1]).addClass('is-invalid');
      }
  console.log("campos validados: "+validado);
      }
    }
    return validado
  }

  function validar_select_form(selects_form) {
  validado = true

  selects = []
  for (let select of selects_form) {
   console.log("el select que tengo es:", select)
  selects.push([document.getElementById(select), "#" + select])
   }
  console.log("Los selects son:", selects)

  if (selects.length > 0) {
  console.log("Entra a validar selects jugador");
  for (let j = 0; j < selects.length; j++) {
  var opcion_sel = selects[j][0].value;
  console.log("el select seleccionado es "+(j+1)+"con valor "+opcion_sel)
      if (opcion_sel == '') {
        $(selects[j][1]).addClass('is-invalid');
        if (validado == true) {
          validado = false;
        }
        else {
          validado = false;
        }
      }
    }
  }
  console.log("retorna esto " + validado);
  return validado;
  return true;
  }

  function eliminar_fila(boton) {
    let fila = boton.parentNode.parentNode;
    fila.parentNode.removeChild(fila)
  }

  function limpiar_inputs_modal(id_modal) {
    $("#" + id_modal).find("input,textarea,select").val("");
  }
  //#endregion

  //#region           TORNEOsweetalert2/
  let tbody_tabla_categorias = document.getElementById("tabla-categorias")
  let tbody_tabla_escenarios = document.getElementById("tabla-escenarios")
  let campos_torneo = ['nombre_torneo']
  let selects_torneo = ['id_disciplina', 'id_subdisciplina']

  document.getElementById("btn_agregar_categoria").addEventListener("click", function (event) {
    $("#modal-categoria-crear").modal()
  })

  document.getElementById("btn_agregar_escenario").addEventListener("click", function (event) {
    $("#modal-escenario-crear").modal()
  })

  $("#nombre_torneo").click(function () {
    $('#nombre_torneo').removeClass('is-invalid');
  });

  $("#id_disciplina").click(function () {
    $('#id_disciplina').removeClass('is-invalid');
    
    var disciplina_seleccionada = $(this).children("option:selected").val();
    // alert("la almacend fue......" + zonaSeleccionado); 
    const url = '/disciplina/subdisciplinas';  //esta es la url donde voy  a consultar
    $("#id_subdisciplina").empty();
    $("#id_subdisciplina").append("<option value='0'>Seleccione</option>");

    if (disciplina_seleccionada != '') {
      $.get(url, { "disciplina_pk": disciplina_seleccionada }, function (data, status) {
        if (status == "success") {
          var subdisciplinas = data['subdisciplinas'];
          console.log('subdisciplinas' + subdisciplinas)
          for (i = 0; i < subdisciplinas.length; i++) {
            var subdisciplina = subdisciplinas[i];
            console.log("Agregando subdisciplina ", subdisciplina)
            $('#id_subdisciplina').append("<option value='" + subdisciplina["pk"] + "'>" + subdisciplina["nombre"] + "</option>").trigger("chosen:updated");
          }
        }
        else {
          alert("no se logra conectar al servidor");
        }
      });
    }
  });


  $("#id_departamento").change(function(){
    $('#id_departamento').removeClass('is-invalid');
   // alert("Si cambio");
    var deptoSeleccionado = $(this).children("option:selected").val();
   // alert("la almacend fue......" + zonaSeleccionado);
    const url = '/planilla/departamento/municipio/list/';  //esta es la url donde voy  a consultar
    $("#id_municipio").empty();
    $("#id_municipio").append("<option value='0'>Seleccione</option>");
  
    if (deptoSeleccionado != ''){
      $.get(url, {"depto_pk": deptoSeleccionado }, function(data,status){
        if (status=="success"){
          var resultados = data['municipios'];
          console.log('Resultados'+resultados)
          for (i=0; i<resultados.length; i++){
            var resultado = resultados[i];
            $('#id_municipio').append("<option value='"+resultado["pk"]+"'>"+resultado["nombre"]+"</option>").trigger("chosen:updated");
          }
        }
        else{
          alert("no se logra conectar al servidor");
        }
      });
    }
});

  $("#id_subdisciplina").click(function () {
    $('#id_subdisciplina').removeClass('is-invalid');
  });

  document.getElementById("btn-enviar").addEventListener("click", function (event) {
    if (validar_text_form(campos_torneo) && validar_select_form(selects_torneo)) {
      if (tbody_tabla_categorias.rows.length > 0 && tbody_tabla_escenarios.rows.length > 0) {
        Swal.fire({
          title: 'Torneo Creado Satisfactoriamente',
          showConfirmButton: false,
          timer: 1200
        })
        $(this).trigger('submit');
      }
      else {
        event.preventDefault();
        Swal.fire({
          title: 'Debe contar por lo menos con 1 categoria y 1 escenario',
          showConfirmButton: true,
          // timer: 1200
        })
        alert("Si cambio");
      }
    }
    else {
      event.preventDefault();
    }
  })

  //#endregion

  // MODAL CATEGORIA
let checkbox_categoria_unica = document.getElementById("categoria_unica")
let unica
let rama = document.getElementById("rama")

if (document.getElementById("categoria_unica").checked){
    console.log("Checkbox seleccionado")
    document.getElementById("informacion_extra_categoria").style.display='none'
    unica = 'Si'
    rama_seleccionada = "-"
}
else{
    console.log("Checkbox NO seleccionado")
    document.getElementById('informacion_extra_categoria').style.display='block'
    unica = 'No'
}
    
document.getElementById("modal-categoria-btn-agregar").addEventListener("click", function( event ) {
    let nombre_categoria = document.getElementById("nombre_categoria").value
    let categoria_unica = document.getElementById("categoria_unica").value
    let Edad_min = document.getElementById("Edad_min").value
    let Edad_max = document.getElementById("Edad_max").value
    let fecha_inscripcion_max = document.getElementById("fecha_inscripcion_max").value
    
    if (unica == 'Si'){
        campos_modal_categoria = ["nombre_categoria"]
        selects_modal_categoria = []
    }
    else{
        campos_modal_categoria = ["nombre_categoria","Edad_min","Edad_max","fecha_inscripcion_max"]
        selects_modal_categoria = ["rama"]
        rama_seleccionada = rama.options[rama.selectedIndex].text
}
// console.log("Campos modal", campos_modal_categoria)
// console.log("Selects modal", selects_modal_categoria)
// console.log("Validacion de campos categoria ",validar_text_form(campos_modal_categoria) )
// console.log("Validacion de selects categoria ",validar_select_form(selects_modal_categoria) )

if (validar_text_form(campos_modal_categoria) && validar_select_form(selects_modal_categoria)){
    let nueva_fila = tbody_tabla_categorias.insertRow()
    nueva_fila.innerHTML=`
        <tr>
            <input type="hidden" name="nombre_categoria" value="${nombre_categoria.toUpperCase()}"/>
            <input type="hidden" name="unica" value="${unica}"/>
            <input type="hidden" name="rama_seleccionada" value="${rama_seleccionada}"/>
            <input type="hidden" name="Edad_min" value="${Edad_min}"/>
            <input type="hidden" name="Edad_max" value="${Edad_max}"/>
            <input type="hidden" name="fecha_inscripcion_max" value="${fecha_inscripcion_max}"/>
            <td>${nombre_categoria.toUpperCase()}</td>
            <td>${unica}</td>
            <td>${rama_seleccionada}</td>
            <td>${Edad_min}</td>
            <td>${Edad_max}</td>
            <td>${fecha_inscripcion_max}</td>
            <td>
                <a href="#" name="remover" id="${nombre_categoria}_remover" class="btn" onclick="eliminar_fila(this)">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr>
    `
    $("#modal-categoria-crear").modal('hide')
    limpiar_inputs_modal("modal-categoria-crear")
}

})

$("#nombre_categoria").click(function(){
    $('#nombre_categoria').removeClass('is-invalid');
});

$("#categoria_unica").click(function(){
    if (document.getElementById("categoria_unica").checked){
        console.log("Checkbox seleccionado")
        document.getElementById("informacion_extra_categoria").style.display='none'
        unica = 'Si'
        rama_seleccionada = "-"
    }
    else{
        console.log("Checkbox NO seleccionado")
        document.getElementById('informacion_extra_categoria').style.display='block'
        unica = 'No'
    }
});

$("#Edad_min").click(function(){
    $('#Edad_min').removeClass('is-invalid');
});

$("#Edad_max").click(function(){
    $('#fecha_nacimiento_max').removeClass('is-invalid');
});

$("#Edad_max").click(function(){
    $('#Edad_max').removeClass('is-invalid');
});

$("#rama").click(function(){
    $('#rama').removeClass('is-invalid');
});
//#endregion

  // //#region           MODAL ESCENARIO
  document.getElementById("modal-escenario-btn-agregar").addEventListener("click", function (event) {
    let nombre_escenario = document.getElementById("nombre_escenario").value

    campos_modal_escenario = ["nombre_escenario"]
    selects_modal_escenario = []

    if (validar_text_form(campos_modal_escenario) && validar_select_form(selects_modal_escenario)) {
      let nueva_fila = tbody_tabla_escenarios.insertRow()
      nueva_fila.innerHTML = `
            <tr>
                <input type="hidden" name="nombre_escenario" value="${nombre_escenario.toUpperCase()}"/>
                <td>${nombre_escenario.toUpperCase()}</td>
                <td>
                    <a href="#" name="remover" id="${nombre_categoria}_remover" class="btn" onclick="eliminar_fila(this)">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
        `
      $("#modal-escenario-crear").modal('hide')
      limpiar_inputs_modal("modal-escenario-crear")
    }
  })

  $("#nombre_escenario").click(function () {
    $('#nombre_escenario').removeClass('is-invalid');
  });
  // #endregion
  // CON EL BTN SIGUIENTE SE EFECTUA LA VALIDACION DE TODOS LOS CAMPOS, SI ESTAN BIEN SE CAMBIA DE TAB Y SE ACTIVA EL BTN DE JUGADORES
  const btn_siguiente = document.getElementById('btn-siguiente');
  $()

  btn_siguiente.addEventListener('click', () => {


    if (validar_tab1() == true) {

      $('#tabequipo').removeClass('active');
      $('#tab_1').removeClass('active');

      $('#tabjugadores').addClass('active');
      $('#tab_2').addClass('active');

      const btn_siguiente_tab1 = document.getElementById('btn-sgte-tab1');

      btn_siguiente.addEventListener('click', () => {
        $('#tabjugadores').removeClass('disabled');
      });
    }
  });

  //==============================================================================================================================
  //____________________________          TAB 2       ____________________________________________________________________________



  // var integrante_tipoid = document.getElementById('div-tipo-id');
  // var integrante_doc = document.getElementById('div-doc');
  // var integrante_fecha_nac = document.getElementById('div-fecha-nac');
  // var integrante_genero = document.getElementById('div-genero');
  // var integrante_tel = document.getElementById('div-tel');
  // var integrante_talla = document.getElementById('div_talla');
  // var integrante_correo = document.getElementById('div-email');
  // var integrante_identificacion = document.getElementById("div_identificacion");
  // var integrante_col_id = document.getElementById("col_fecha_nac");
  // var integrante_col_genero = document.getElementById("col_genero");
  // var integrante_col_talla = document.getElementById("col_talla");
  // var integrante_nombre = document.getElementById("div_nombres_apellidos");

  // var rol_integrante = document.getElementById('rol_llenar');
  // var nombres_integrante = document.getElementById('Nombres_llenar');
  // var apellidos_integrante = document.getElementById('Apellidos_llenar');
  // var tipoid_integrante = document.getElementById('id_tipo_llenar');
  // var documento_integrante = document.getElementById('Identificación_llenar');
  // var fecha_nac_integrante = document.getElementById('fecha_jugador_llenar');
  // var genero_integrante = document.getElementById('genero_llenar');
  // var tel_integrante = document.getElementById('tel_jugador_llenar');
  // var talla_integrante = document.getElementById('talla_llenar');
  // var correo_integrante = document.getElementById('email_llenar');
  // var opcion_rol_jugador = document.getElementById('opcion_jugador');
  // var opcion_rol_ct = document.getElementById('opcion_ct');

  // var table = document.getElementById("tabla_tbody");

  // var opcion_rol = document.getElementById('rol_llenar');

  // var integrantes = 0;
  // var jugadores = 0;
  // var cuerpo_t = 0;

  // const numero_max_integrantes = 22;
  // const numero_max_jugadores = 20;
  // const numero_max_cuerpo_tecnico = 2;

  // const numero_min_integrantes = 3;
  // const numero_min_jugadores = 2;
  // const numero_min_cuerpo_tecnico = 2;

  // $("#myBtn").click(function () {
  //   var integrantes = 0;
  //   var jugadores = 0;
  //   var cuerpo_t = 0;

  //   for (var i = 0, row; row = table.rows[i]; i++) {
  //     console.log("row No." + i)
  //     var elemento_selec_tabla = row.cells[3].innerHTML;
  //     if (elemento_selec_tabla == 'Jugador') {
  //       console.log("jugador")
  //       jugadores += 1;
  //       integrantes += 1;
  //     }
  //     else if (elemento_selec_tabla == 'Cuerpo Tecnico') {
  //       console.log("tecnico")
  //       cuerpo_t += 1;
  //       integrantes += 1;
  //     }
  //   }
  //   console.log("integrantes" + integrantes)
  //   console.log("jugadores" + jugadores)
  //   console.log("cuerpo tecnico" + cuerpo_t)

  //   if (integrantes < numero_max_integrantes) {
  //     if (jugadores < numero_max_jugadores) {
  //       if (cuerpo_t < numero_max_cuerpo_tecnico) {
  //         $("#myModal").modal();
  //       }
  //       else {
  //         Swal.fire({
  //           title: 'Maxima cantidad de integrantes de Cuerpo Tecnico inscrita',
  //           showConfirmButton: true,
  //           timer: 1000
  //         })
  //         $("#myModal").modal();
  //         opcion_rol_ct.remove();
  //       }
  //     }
  //     else {
  //       Swal.fire({
  //         title: 'Maxima cantidad de Jugadores inscrita',
  //         showConfirmButton: true,
  //         timer: 1000
  //       })
  //       $("#myModal").modal();
  //       opcion_rol_jugador.remove();
  //     }
  //   }
  //   else {
  //     Swal.fire({
  //       title: 'Maxima cantidad de integrantes inscrita',
  //       showConfirmButton: true,
  //       timer: 1000
  //     })
  //   }
  // });


  //PROCESO PARA MOSTRAR LOS DATOS A DILIGWENCIAR DE ACUERDO AL ROL DEL INTEGRANTE
  // $("#rol_llenar").change(function () {

  //   opcion = opcion_rol.value;
    //console.log("opcion es "+opcion)
  //   if (opcion == "") {
  //     integrante_nombre.style.visibility = "hidden";
  //     integrante_tipoid.style.visibility = "hidden";
  //     integrante_doc.style.visibility = "hidden";
  //     integrante_fecha_nac.style.visibility = "hidden";
  //     integrante_genero.style.visibility = "hidden";
  //     integrante_tel.style.visibility = "hidden";
  //     integrante_talla.style.visibility = "hidden";
  //     integrante_correo.style.visibility = "hidden";
  //     integrante_identificacion.style.display = "none";
  //     integrante_col_id.style.display = "none";
  //     integrante_col_genero.style.display = "none";
  //     integrante_col_talla.style.display = "none";
  //   }
  //   else if (opcion == "1") {
  //     integrante_nombre.style.visibility = "";
  //     integrante_tipoid.style.visibility = "";
  //     integrante_doc.style.visibility = "";
  //     integrante_fecha_nac.style.visibility = "";
  //     integrante_genero.style.visibility = "";
  //     integrante_tel.style.visibility = "";
  //     integrante_talla.style.visibility = "";
  //     integrante_correo.style.visibility = "hidden";
  //     integrante_identificacion.style.display = "";
  //     integrante_col_id.style.display = "";
    
  //   }
  //   else if (opcion = "2") {
  //     integrante_col_id.style.display = "none";
    
  //   }
  //   else if (opcion = "2") {
  //     integrante_col_genero.style.display = "none";
  //     integrante_col_talla.style.display = "none";

  //     $('#col_tel').removeClass('col-3');
  //     $('#col_tel').addClass('col-6');

  //   }
  // });
  //FIN PROCESO

  // PROCESO PARA VALIDAR LOS CAMPOS DEL MODAL
  // function validar_modal() {

  //   opcion = opcion_rol.value;

    //console.log("Opcion de rol "+opcion);

    // var validado = true;

    // if (opcion == "") {
    //   $('#rol_llenar').addClass('is-invalid');
    //   return false;
    // }
    // else if (opcion == "1") {
    //   console.log("Entra a la opcion 1");
    //   selects = [
    //     [tipoid_integrante, '#id_tipo_llenar'],
    //     [genero_integrante, '#genero_llenar'],
    //     [talla_integrante, '#talla_llenar']
    //   ];

    //   campos = [
    //     [nombres_integrante, '#Nombres_llenar'],
    //     [apellidos_integrante, '#Apellidos_llenar'],
    //     [documento_integrante, '#Identificación_llenar'],
    //     [fecha_nac_integrante, '#fecha_jugador_llenar'],
    //     [tel_integrante, '#tel_jugador_llenar']
    //   ]
    // }
    // else if (opcion = "2") {
    //   console.log("Entra a la opcion 2");
    //   campos = [
    //     [nombres_integrante, '#Nombres_llenar'],
    //     [apellidos_integrante, '#Apellidos_llenar'],
    //     [correo_integrante, '#email_llenar'],
    //     [tel_integrante, '#tel_jugador_llenar'],
    //     [documento_integrante, '#Identificación_llenar']
    //   ];
    //   selects = [
    //     [tipoid_integrante, '#id_tipo_llenar']
    //   ];
    // }

    // for (let i = 0; i < campos.length; i++) {
    //   if (campos[i][0].value == "") {
    //     validado = false;
    //     $(campos[i][1]).addClass('is-invalid');
    //   }
      //console.log("campos validados: "+validado);
    // }


 

  //AHORA PINTAMOS LA TABLA

  // for (var i = 0, row; row = table.rows[i]; i++) {
  // var elemento_selec_tabla = row.cells[0].innerHTML;
  // if (documento_integrante == elemento_selec_tabla){
  // console.log("ya estaba");
  // Swal.fire({
  // title: 'Persona ya registrada',
  // showConfirmButton: false,
  // timer: 800
  // })
  // dibujar = false;
  // }
  // }
  // if (dibujar) {
  // $('#tabla_tbody').append(fila);
  // }
  // }

 

  // $(document).on('click', '.btn_remove', function() {

  // var button_id = $(this).attr("id");
  // //cuando da click obtenemos el id del boton

  // for (var i = 0, row; row = table.rows[i]; i++) {
  // var elemento_selec_tabla = row.cells[0].innerHTML;
  // if(elemento_selec_tabla==document){
  // rol = row.cells[3].innerHTML;
  // if(rol=='Jugador'){
  // jugadores -= 1;
  // }
  // else if( rol == 'Cuerpo Tecnico'){
  // cuerpo_t -= 1;

  // }
  // integrantes -= 1;
  // }

  // $('#' + button_id + '').remove(); //borra la fila

  // var integrantes = 0;
  // var jugadores = 0;
  // var cuerpo_t = 0;

  // var elemento_selec_tabla_3 = row.cells[3].innerHTML;
  // if(elemento_selec_tabla_3=='Jugador'){
  // console.log("jugador")
  // jugadores += 1;
  // integrantes += 1;
  // }
  // else if(elemento_selec_tabla=='Cuerpo Tecnico'){
  // console.log("tecnico")
  // cuerpo_t += 1;
  // integrantes += 1;
  // }

  // if(integrantes ==numero_max_integrantes){
  // rol_integrante.append("<option value='1' id='opcion_jugador'>Jugador</option>");
  // rol_integrante.append("<option value='2' id='opcion_ct'>Cuerpo Tecnico</option>");
  // }

  // if(jugadores ==numero_max_jugadores){
  // rol_integrante.append("<option value='1' id='opcion_jugador'>Jugador</option>");
  // }

  // if(cuerpo_t == numero_max_cuerpo_tecnico){
  // rol_integrante.append("<option value='2' id='opcion_ct'>Cuerpo Tecnico</option>");
  // }
  // }

  // console.log("Boton de quitar")
  // console.log("integrantes"+integrantes)
  // console.log("jugadores"+jugadores)
  // console.log("cuerpo tecnico"+cuerpo_t)


  // });

  // $("#btn-finalizar").click(function(){
  // $("#modal_finalizar").modal();
  // function contar(){
  // var integrantes = 0;
  // var jugadores = 0;
  // var cuerpo_t = 0;
  // for (var i = 0, row; row = table.rows[i]; i++) {
  // var elemento_selec_tabla_3 = row.cells[3].innerHTML;
  // if(elemento_selec_tabla_3=='Jugador'){
  // console.log("jugador")
  // jugadores += 1;
  // integrantes += 1;
  // }
  // else if(elemento_selec_tabla_3=='Cuerpo Tecnico'){
  // console.log("tecnico")
  // cuerpo_t += 1;
  // integrantes += 1;
  // }
  // }
  // return [integrantes,jugadores,cuerpo_t]
  // }
  // total = contar();
  // console.log("total "+total)

  // if (total[1] == 0){
  // console.log("Jugadores 0")
  // $("#modal_si").remove()
  // $("#modal_no").remove()
  // $("#modal_finalizar_body").append("<p id='anuncio_continuar'>No cuentas con jugadores inscritos.</p>")
  // }
  // else{
  // console.log("Jugadores mayores que 0")
  // $("#modal_finalizar_body").append( `<p id="anuncio_pregunta">Cuenta con: ${total[1]} jugadores.</p>`)
  // $("#modal_finalizar_body").append("<p id='anuncio_continuar'>¿Desea continuar?</p>")
  // }
  // });

  // $("#modal_no").click(function(){
  // $("#modal_finalizar").modal('hide');
  // $("#modal_finalizar_body").remove();
  // $("#anuncio_pregunta").remove();
  // $("#anuncio_continuar").remove();
  // $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
  // });


  // $("#modal_finalizar").on("hidden.bs.modal", function () {
  // if($("#anuncio_continuar").length){
  // $("#anuncio_continuar").remove();
  // }
  // if($("#anuncio_pregunta".length)){
  // $("#anuncio_continuar").remove();
  // }
  // if($("#modal_si").length == 0){
  // $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
  // }
  // if($("#modal_no").length == 0){
  // $("#modal_finalizar_pie").append('<i type="button" class="btn btn-danger" data-dismiss="modal" id="modal_no">No</i>');
  // }
  // });

   </script>
  <script src="{% static 'adminlte/assets/js/libs/jquery-3.1.1.min.js'%}"></script>
  <script src="{% static 'adminlte/assets/js/loader.js'%}"></script>
  <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'adminlte/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js'%}"></script>
  <script src="{% static 'adminlte/assets/js/app.js'%}"></script>

  <script src="{% static 'adminlte/assets/js/modal/classie.js'%}"></script>
  <script src="{% static 'adminlte/assets/js/modal/modalEffects.js'%}"></script>

 
  {% endblock %}
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  
  
  