/*
    Real Time
*/

.trading-time #months {
    font-size: 19px;
    padding: 4px 0 0 0;
    color: #4f5163;
    border-radius: 5px;
    font-weight: 600;
}
.trading-time #days {
    font-size: 19px;
    padding: 5px 0 0 0;
    color: #4f5163;
    border-radius: 5px;
    font-weight: 600;
}
.trading-time #week {
    font-size: 15px;
    padding: 5px;
    color: #3232b7;
    border-radius: 5px;
}
.trading-time #hour, .trading-time #minut, .trading-time #sec {
    font-size: 19px;
    font-weight: 600;
    color: #3232b7;
}
.trading-time #date {
    font-size: 19px;
    padding: 5px;
    color: #3232b7;
    border-radius: 5px;
}
.trading-time .semi {
    color: #3b3f5c;
    padding: 0 10px;
}

/*
    Stock Traded
*/

.stock-traded [class*="stock-data-1-"] {
    padding: 14px 8px 10px 8px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.stock-traded .stock-data-1-1 {
    background-color: #c2d5ff;
}
.stock-traded .stock-data-1-2 {
    background-color: #c2d5ff;
}
.stock-traded .stock-data-1-3 {
    background-color: #c2d5ff;
}
.stock-traded .stock-data-1-4 {
    background-color: #c2d5ff;
}
.stock-traded .stock-data-1-5 {
    background-color: #c2d5ff;
}
.stock-traded .s-t-title {
    color: #1a73e9;
    font-size: 16px;
    word-break: break-all;
}
.stock-traded .s-t-total-traded {
    font-size: 21px;
    color: #1a73e9;
}
.stock-traded .s-t-rate-percentage {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 15px;
}
.stock-traded .stock-data-2-1 p i {
    font-size: 30px;
    color: #1abc9c;
}
.stock-traded .stock-data-2-2 p i {
    font-size: 30px;
    color: #1abc9c;
}
.stock-traded .stock-data-2-3 p i {
    font-size: 30px;
    color: #1abc9c;
}
.stock-traded .stock-data-2-4 p i {
    font-size: 30px;
    color: #5247bd;
}
.stock-traded .stock-data-2-5 p i {
    font-size: 30px;
    color: #5247bd;
}
.stock-traded .s-t-rate-number {
    font-size: 19px;
    font-weight: 600;
    color: #1abc9c;
}
.stock-traded .s-t-rate-number.neg-rate {
    color: #e7515a;
}
.stock-traded .s-t-rate-number i {
	font-size: 16px;
    vertical-align: inherit;
}
.stock-traded #trad-1 .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.stock-traded #trad-2 .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.stock-traded #trad-3 .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.stock-traded #trad-4 .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.stock-traded #trad-5 .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.stock-traded #trad-1 .ct-bar,
.stock-traded #trad-2 .ct-bar,
.stock-traded #trad-3 .ct-bar,
.stock-traded #trad-4 .ct-bar,
.stock-traded #trad-5 .ct-bar {
    stroke-width: 2px;
}

/* 	Total Shared Traded 	 */

.total-shared-traded .total-shared-traded-header h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 22px !important;
}
.total-shared-traded .total-shared-traded-header .total-shared-traded-tab.nav-pills .nav-link.active,
.total-shared-traded .total-shared-traded-header .total-shared-traded-tab.nav-pills .show>.nav-link {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    background-color: #1a73e9;
}
.total-shared-traded .total-shared-traded-header .total-shared-traded-tab.nav-pills .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 20px;
}
.total-shared-traded .total-shared-traded-body .tab-content .tab-pane .t-s-total-stats {
    position: relative;
	font-size: 13px;
    padding-left: 4px;
    color: #888ea8;
}
.total-shared-traded .total-shared-traded-body .tab-content .tab-pane .t-s-total-stats:before {
    position: absolute;
    content: '';
    padding: 7px;
    left: 0;
    top: 2.5px;
    border-radius: 50%;
}
.total-shared-traded .total-shared-traded-body .tab-content .tab-pane#total-shared-traded-monthly .d-m-total-stats {
    background-color: #1a73e9;
    height: 12px;
    width: 12px;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-monthly .ct-series-a .ct-point {
    stroke: #1a73e9;
    stroke-width: 9px;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-monthly .ct-series-a .ct-line {
    stroke: #1a73e9;
    stroke-width: 3px;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-monthly .ct-label.ct-vertical.ct-start,
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-monthly .ct-label.ct-horizontal.ct-end {
    color: #4f5163;
    font-weight: 600;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-monthly .ct-series-a .ct-area {
	fill: #1a73e9;
}
.total-shared-traded .total-shared-traded-body .ct-grid {
   stroke: #e9ecef;
}
.total-shared-traded .total-shared-traded-body .tab-content .tab-pane#total-shared-traded-yearly .d-m-total-stats {
    background-color: #00b1f4;
    height: 12px;
    width: 12px;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-yearly .ct-series-a .ct-point {
    stroke: #00b1f4;
    stroke-width: 9px;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-yearly .ct-series-a .ct-line {
    stroke: #00b1f4;
    stroke-width: 3px;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-yearly .ct-label.ct-vertical.ct-start,
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-yearly .ct-label.ct-horizontal.ct-end {
    color: #4f5163;
    font-weight: 600;
}
.total-shared-traded .total-shared-traded-body .tab-content #total-shared-traded-yearly .ct-series-a .ct-area {
    fill: #00b1f4;
}


/* 	Sales Growth 	 */

.sales-growth .sales-growth-header h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
}
.sales-growth .sales-growth-header .sales-growth-tab.nav-pills .nav-link.active,
.sales-growth .sales-growth-header .sales-growth-tab.nav-pills .show>.nav-link {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    background-color: #1a73e9;
}
.sales-growth .sales-growth-header .sales-growth-tab.nav-pills .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 20px;
}
.sales-growth .sales-growth-body .tab-content .tab-pane .t-s-total-stats-1 {
    position: relative;
	font-size: 13px;
    padding-left: 5px;
    color: #888ea8;
}
.sales-growth .sales-growth-body .tab-content .tab-pane .t-s-total-stats-2 {
    position: relative;
    font-size: 13px;
    padding-left: 5px;
    color: #888ea8;
}
.sales-growth .sales-growth-body .tab-content .tab-pane .t-s-total-stats-2:before {
    position: absolute;
    content: '';
    padding: 7px;
    left: 26px;
    top: 2.5px;
    border-radius: 50%;
}
.sales-growth .sales-growth-body .tab-content  #sales-growth-monthly.tab-pane .d-m-total-stats-1 {
    background-color: #1a73e9;
    height: 13px;
    width: 13px;
    padding: 0
}
.sales-growth .sales-growth-body .tab-content  #sales-growth-monthly.tab-pane .d-m-total-stats-2 {
    background-color: #c2d5ff;
    height: 13px;
    width: 13px;
    padding: 0
}
.sales-growth .sales-growth-body  .tab-content #sales-growth-monthly .ct-series-a .ct-bar {
	stroke: #1a73e9;
}
.sales-growth .sales-growth-body  .tab-content #sales-growth-monthly .ct-series-b .ct-bar {
	stroke: #c2d5ff;
}
.sales-growth .sales-growth-body .tab-content #sales-growth-monthly .ct-label.ct-vertical.ct-start,
.sales-growth .sales-growth-body .tab-content #sales-growth-monthly .ct-label.ct-horizontal.ct-end {
	color: #4f5163;
	font-weight: 600;
}
.sales-growth .sales-growth-body .tab-content .ct-grid {
    stroke: #e9ecef;
}
.sales-growth .sales-growth-body .tab-content  #sales-growth-yearly.tab-pane .d-m-total-stats-1 {
    background-color: #4f5163;
    height: 13px;
    width: 13px;
    padding: 0
}
.sales-growth .sales-growth-body .tab-content  #sales-growth-yearly.tab-pane .d-m-total-stats-2 {
    background-color: #c2d5ff;
    height: 13px;
    width: 13px;
    padding: 0
}
.sales-growth .sales-growth-body  .tab-content #sales-growth-yearly .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.sales-growth .sales-growth-body  .tab-content #sales-growth-yearly .ct-series-b .ct-bar {
    stroke: #c2d5ff;
}
.sales-growth .sales-growth-body .tab-content #sales-growth-yearly .ct-label.ct-vertical.ct-start,
.sales-growth .sales-growth-body .tab-content #sales-growth-yearly .ct-label.ct-horizontal.ct-end {
    color: #4f5163;
    font-weight: 600;
}


/*      Top Exchange Rates    */

.top-exchange-rate .top-exchange-rate-title h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.top-exchange-rate .top-exchange-rate-body {
    margin-top: 20px;
}
.top-exchange-rate .top-exchange-rate-body table  > tbody > tr > td {
    color: #888da8;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 8px;
    white-space: normal;
    vertical-align: middle;
    border-top: none;
}
.top-exchange-rate .top-exchange-rate-body table  > tbody > tr > td .t-e-r-country-currency {
    color: #000;
    font-size: 9px;
}
.top-exchange-rate .top-exchange-rate-body table  > tbody > tr > td span img {
    width: 60px;
    height: 29px;
}
.top-exchange-rate .top-exchange-rate-body table  > tbody > tr > td span.t-e-r-country-name {
    color: #515365;
    font-weight: 600;
}


/*      Recent Activity    */

.recent-activity .recent-activity-title h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.recent-activity .recent-activity-body table  > tbody > tr > td {
    vertical-align: middle;
    border-top: none;
    padding: 1.3rem;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .new-control span.new-control-indicator {
    background-color: transparent;
    border: 1px solid #5247bd;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .new-control.new-checkbox.checkbox-primary>input:checked~span.new-control-indicator {
    background-color: #5247bd;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-header img {
    width: 47px;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-body p.a-f-comment {
    color: #888da8;
    font-size: 14px;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-body p.a-f-comment .usr-name {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 14px;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-body p.a-f-comment .a-f-commented-on {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 14px;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-body p.meta-info {
    color: #3232b7;
    font-size: 12px;
    font-weight: 600;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-body p.meta-info i {
    font-size: 18px;
    color: #3232b7;
}
.recent-activity .recent-activity-body table  > tbody > tr > td .d-flex .f-body p.meta-info span.a-f-meta-time {
}
.recent-activity .recent-activity-body table  > tbody > tr > td i.flaticon-checked-1 {
    font-size: 25px;
    color: #3232b7;
}
.recent-activity .recent-activity-body table  > tbody > tr > td i.flaticon-cancel-circle {
    font-size: 25px;
    color: #ee3d50;
}

/*      Recent Activity    */

.commodity-prices .commodity-prices-title h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.commodity-prices .commodity-prices-body .table thead tr th {
    border-top: none;
    color: #3232b7;
}
.commodity-prices .commodity-prices-body .table tbody tr td {
    border-top-color: #f1f3f1;
    vertical-align: middle;
    padding: 18px;
}
.commodity-prices .commodity-prices-body .table tbody tr td h6 {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 15px;
}
.commodity-prices .commodity-prices-body .table tbody tr td p {
    font-size: 13px;
    font-weight: 600;
    color: #888ea8;
}
.commodity-prices .commodity-prices-body .table tbody tr td span {
    font-weight: 600;
    font-size: 14px;
}
.commodity-prices .commodity-prices-body .table tbody tr td span.c-p-price-inc {
    color: #1abc9c;
}
.commodity-prices .commodity-prices-body .table tbody tr td span.c-p-price-dec {
    color: #ff3743;
}
.commodity-prices .commodity-prices-body .table tbody tr td span.c-p-price-neu {

}
.commodity-prices .commodity-prices-body .table tbody tr td span.c-p-price-percentage-inc {
    color: #1abc9c;
}
.commodity-prices .commodity-prices-body .table tbody tr td span.c-p-price-percentage-dec {
    color: #ff3743;
}
.commodity-prices .commodity-prices-body .table tbody tr td .progress {
    height: 2px;
    width: auto;
}
.commodity-prices .commodity-prices-body .table tbody tr td .progress .progress-bar.bg-dark {
    background-color: #acb0c3!important;
}


/*  Calendar      */
.calendar-container .calendar-title h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.pignose-calendar {
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: none;
}
.pignose-calendar .pignose-calendar-top {
    padding: 1em 0;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin-top: 20px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year,
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    display: inline-block;
    text-align: center;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    font-size: 140%;
    color: #3862f5;
    font-size: 22px;
    font-weight: 600;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-weight: 600;
    color: #3862f5;
    font-size: 22px;
    border-bottom: solid 1px #fff;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    position: relative;
    z-index: 5;
    text-decoration: none;
    border-radius: 50%;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    display: inline-block;
    color: #777777;
    font-size: 115%;
    font-weight: 600;
    vertical-align: middle;
    margin-top: -10px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    font-size: 21px;
    top: 5px;
    position: relative;
    vertical-align: middle;
    color: #4f5163;
    padding: 5px;
    border-radius: 50%;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-icon {
    left: 0;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-icon {
    left: 0;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
    float: left;
    margin-left: 6.6em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
    float: right;
    margin-right: 6.6em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
    margin-left: .2em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
    margin-right: .2em;
}
.pignose-calendar .pignose-calendar-header {
    overflow: hidden;
    color: #3b3f5c;
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 32px;
    padding: 0 25px;
    font-size: 16px;
}
.pignose-calendar .pignose-calendar-body {
    height: 100%;
    padding: 0 25px;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 115%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
    color: #1F3A93;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
    width: 14.32%;
}
.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
    overflow: hidden;
}
.pignose-calendar-unit {
    float: left;
    display: block;
    height: 4.6em;
    width: 14.28%;
    text-align: center;
    line-height: 2.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pignose-calendar-unit.pignose-calendar-unit-su a {
    color: #e7515a;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container {
    line-height: .5em;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin {
    display: inline-block;
    background-color: #777777;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin-right: .2em;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin:last-child {
    margin-right: 0;
}
.pignose-calendar-unit a {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    color: #888ea8;
    font-size: 18px;
    line-height: 2.2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;
}
.pignose-calendar-unit.pignose-calendar-unit-su a {
    color: #1d1d1d;
}
.pignose-calendar-unit.pignose-calendar-unit-disabled a {
    opacity: .5;
    background-color: #efefef;
}
.pignose-calendar-unit a:active {
    background-color: #d8d8d8;
}
.pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #f1f1f1;
    border-radius: 0;
    width: 100%;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    color: #b2b9bb;
    background-color: #e1e1e1;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}
.pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
    color: #cccccc !important;
}
.pignose-calendar.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
    color: #cccccc !important;
}
.pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #c2d5ff;
    color: #1a73e9!important;
    font-weight: 600;
}
.pignose-calendar-unit.pignose-calendar-unit-active a:hover {
    background-color: transparent;
    color: #ee3d50!important;
    font-weight: 600;
}
.pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-sat a {
    color: gray;
}
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a {
    color: #ffffff;
}
.pignose-calendar-unit a:hover {
    background-color: transparent;
    color: #3232b7;
    font-weight: 600;
}
.pignose-calendar-unit:last-child {
    width: 14.32%;
}
.pignose-calendar-wrapper {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 360px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    z-index: 50001;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -webkit-transform: translate3d(0, 160px, 0);
    -moz-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    opacity: 0;
    -webkit-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    -moz-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
}
.pignose-calendar-wrapper .pignose-calendar {
    max-width: auto;
    width: 100%;
    border: none;
}
.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pignose-calendar-wrapper-overlay {
    background-color: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
}
.pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
    opacity: .7;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
    border-top: 1px solid #e2e2e2;
    overflow: hidden;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
    width: 50%;
    display: block;
    float: left;
    height: 3.2em;
    text-align: center;
    line-height: 3.2em;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
    background-color: #f1f1f1;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 18px;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
    background-color: #31b2c9;
}

/*  Most Active Shares      */

.most-active-shares .most-active-shares-title h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.most-active-shares .most-active-shares-body table thead tr th {
    border-top: none;
    color: #1d1d1d;
    padding-bottom: 20px;
}
.most-active-shares .most-active-shares-body table tbody tr td {
    border-top: 1px solid #f1f3f1;
    font-weight: 600;
    color: #515365;
    vertical-align: middle;
}
.most-active-shares .most-active-shares-body table tbody tr td span.badge.badge-primary {
    padding: 5px 15px;
    font-weight: 600;
    background-color: #c2d5ff;
    color: #3862f5;
    box-shadow: none;
}
.most-active-shares .most-active-shares-body table tbody tr td p.m-a-s-company-name {
    color: #3232b7;
    font-weight: normal;
    font-size: 14px;
    font-weight: 600;

}
.most-active-shares .most-active-shares-body table tbody tr td i.flaticon-down-arrow-3 {
    color: #e7515a;
}
.most-active-shares .most-active-shares-body table tbody tr td i.flaticon-up-arrow-3 {
    color: #00d1c1;
}

/*  User Profile Card 3      */

#user-profile-card-3.card {
    border: none;
}
#user-profile-card-3.card .card-header {
    background-color: transparent;
    border-bottom-color: #e9ecef;
}
#user-profile-card-3.card .card-header h6 {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 16px;
}
#user-profile-card-3.card .card-header ul.badge-collapsed-img li img {
    width: 33px;
    height: 33px;
}
#user-profile-card-3.card .card-header ul li.badge-notify {
    position: relative;
}
#user-profile-card-3.card .card-header ul li.badge-notify .notification {
    position: absolute;
    top: -15px;
    right: -34px;
}
#user-profile-card-3.card .card-header ul li.badge-notify .notification .badge {
    font-size: 10px;
    padding: 5px 6px;
    background-color: #c2d5ff;
    color: #1a73e9;
}
#user-profile-card-3.card .card-body .usr-img-meta img {
    width: 93px;
    height: 93px;
}
#user-profile-card-3.card .card-body .usr-info-meta h5 {
    color: #3b3f5c;
    font-size: 21px;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .usr-info-meta p {
    color: #1a73e9;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .profile-task-progress .progress {
    width: 150px;
    height: 8px;
    border-radius: 30px;
    margin-top: 1.3rem;
}
#user-profile-card-3.card .card-body .profile-task-progress .progress .progress-bar {
    border-radius: 30px;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-txt {
    font-size: 14px;
    font-weight: 600;
    color: #1a73e9;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-value {
    color: #3b3f5c;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-percentage {
    color: #1abc9c;
    font-weight: 600;
    font-size: 14px;
}
#user-profile-card-3.card .card-body button {
    padding: 5px 18px;
}


/*      Monthly Growth      */

.monthly-growth-title h6 {
        color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.monthly-growth-chart #monthly_growth_chart .ct-label.ct-vertical.ct-start {
    color: #4f5163;
    font-weight: 600;
}
.monthly-growth-chart #monthly_growth_chart .ct-chart-bar .ct-label.ct-horizontal.ct-end {
    color: #4f5163;
    font-weight: 600;
}
.monthly-growth-chart #monthly_growth_chart .ct-grid {
    stroke: #e9ecef;
}
.monthly-growth-chart #monthly_growth_chart .ct-series-a .ct-bar {
    stroke: #4f5163;
}
.monthly-growth-chart #monthly_growth_chart .ct-series-a .ct-bar:nth-child(1),
.monthly-growth-chart #monthly_growth_chart .ct-series-a .ct-bar:nth-child(7),
.monthly-growth-chart #monthly_growth_chart .ct-series-a .ct-bar:nth-child(10),
.monthly-growth-chart #monthly_growth_chart .ct-series-a .ct-bar:nth-child(11),
.monthly-growth-chart #monthly_growth_chart .ct-series-a .ct-bar:nth-child(12) {
    stroke: #c2d5ff;
}
.monthly-growth-chart .m-g-positive-stats,
.monthly-growth-chart .m-g-negative-stats {
    position: relative;
    padding-left: 3px;
    color: #3b3f5c;
    font-size: 13px;
    font-weight: 600;
}
.monthly-growth-chart .d-m-positive-stats {
    background-color: #4f5163;
    width: 12px;
    height: 12px;
}
.monthly-growth-chart .d-m-negative-stats {
    background-color: #c2d5ff;
    width: 12px;
    height: 12px;
}

/*  Latest Transactions      */

.latest-transactions .latest-transactions-title h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.latest-transactions .latest-transactions-body table tbody tr td {
    border-top: none;
    vertical-align: middle;
    color: #3b3f5c;
    font-weight: 600;
    font-size: 13px;
    padding: 1.3rem;
}
.latest-transactions .latest-transactions-body table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #f1f3f1;
}
.latest-transactions .latest-transactions-body table tbody tr td .d-flex .f-header img {
    width: 47px;
    border-radius: 50%;
}
.latest-transactions .latest-transactions-body table tbody tr td .d-flex .f-body h6 {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;
}
.latest-transactions .latest-transactions-body table tbody tr td .l-t-confirmed,
.latest-transactions .latest-transactions-body table tbody tr td .l-t-waiting,
.latest-transactions .latest-transactions-body table tbody tr td .l-t-expired {
    color: #1d1d1d;
    margin-left: 6px;
    font-size: 14px;
}
.latest-transactions .latest-transactions-body table tbody tr td .dot {
    padding: 2px;
    border-radius: 50%;
    font-size: 18px;
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.latest-transactions .latest-transactions-body table tbody tr td .dot-success {
    background-color: #1abc9c;
}
.latest-transactions .latest-transactions-body table tbody tr td .dot-warning {
    background-color: #e9b02b;
}
.latest-transactions .latest-transactions-body table tbody tr td .dot-danger {
    background-color: #e7515a;
}
.latest-transactions .latest-transactions-body table tbody tr td .l-t-price {
    font-size: 14px;
    color: #1d1d1d;
}
p.l-t-meta-date {
    font-size: 14px;
    color: #1d1d1d;
}
.latest-transactions .latest-transactions-body table tbody tr td span {
    color: #888ea8;
    font-size: 13px;
}
.latest-transactions .latest-transactions-body table tbody tr td button {
    padding: 2px 15px;
    font-size: 13px;
}

/*  Best Performers      */

.best-performers .best-performers-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.best-performers .best-performers-header h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
}
.best-performers .best-performers-header .best-performers-tab.nav-pills .nav-link.active,
.best-performers .best-performers-header .best-performers-tab.nav-pills .show>.nav-link {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.best-performers .best-performers-header .best-performers-tab.nav-pills .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 20px;
}
.best-performers .best-performers-body .tab-content .tab-pane table tbody tr {
    cursor: pointer;
}
.best-performers .best-performers-body .tab-content .tab-pane table tbody tr td {
    vertical-align: middle;
    border-top: none;
    color: #3b3f5c;
    font-size: 14px;
    font-weight: 600;
    padding: 1.3rem;
}
.best-performers .best-performers-body .tab-content .tab-pane table tbody tr td p {
    color: #3232b7;
    font-weight: 600;
    font-size: 15px;
}
.best-performers .best-performers-body .tab-content .tab-pane table tbody tr td span {
    font-size: 13px;
    font-weight: 600;
    color: #888ea8;
}
.best-performers .best-performers-body .tab-content .tab-pane table tbody tr td i {
    font-size: 22px;
    color: #d3d3d3;
    cursor: pointer;
}
.best-performers .best-performers-body .tab-content .tab-pane table tbody tr:hover td i {
    color: #ee3d50;
}


/*  Worst Performers      */

.worst-performers .worst-performers-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.worst-performers .worst-performers-header h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
}
.worst-performers .worst-performers-header .worst-performers-tab.nav-pills .nav-link.active,
.worst-performers .worst-performers-header .worst-performers-tab.nav-pills .show>.nav-link {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.worst-performers .worst-performers-header .worst-performers-tab.nav-pills .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 20px;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr {
    cursor: pointer;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr td {
    vertical-align: middle;
    border-top: none;
    color: #3b3f5c;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 15px;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr td p {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 15px;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr td span {
    font-size: 13px;
    font-weight: 600;
    color: #888ea8;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr td .progress {
    width: 140px;
    height: 7px;
    border-radius: 30px;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr td .progress .progress-bar {
    border-radius: 30px;
}
.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr td i {
    font-size: 22px;
    color: #d3d3d3;
    cursor: pointer;
}

.worst-performers .worst-performers-body .tab-content .tab-pane table tbody tr:hover td i {
    color: #ee3d50;
}


/*  Card      */

#card-2.card {
    border: none;
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);
    padding: 32px 30px 32px 30px;
    color: #1a73e9;
}
#card-2.card img {
    width: 115px;
}
#card-2.card .card-meta-date {
    color: #1a73e9;
    font-weight: 600;
}


/*   Task    */

.task .card-top-section span.badge {
    padding: 6px 11px;
    font-size: 13px;
    font-weight: 600;
    border: solid 1px #c2d5ff;
    color: #3862f5;
}
.task .card-top-section .meta-date {
    font-weight: 600;
    color: #e95f2b;
    font-size: 15px;
}
.task .card-top-section .meta-date i {
    font-size: 19px;
    color: #e95f2b;
}
.task .card-mid-section i {
    font-size: 30px;
    color: #d3d3d3;
}
.task .card-mid-section input {
    border: none;
    font-size: 24px;
    padding: 0;
    font-weight: 700;
    color: #3b3f5c;
}
.task .card-mid-section input::-webkit-input-placeholder {
    color: #3b3f5c;
}
.task .card-mid-section input::-ms-input-placeholder {
    color: #3b3f5c;
}
.task .card-mid-section input::-moz-placeholder {
    color: #3b3f5c;
}
.task .card-mid-section textarea {
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    resize: none;
}
.task .card-mid-section textarea::-webkit-input-placeholder {
    color: #888ea8;
}
.task .card-mid-section textarea::-ms-input-placeholder {
    color: #888ea8;
}
.task .card-mid-section textarea::-moz-placeholder {
    color: #888ea8;
}
.task .card-bottom-section button {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.task .card-bottom-section button:hover {
    background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
}


/*  chat     */

.chat .chat-header {
    padding: 20px;
}
.chat .chat-header h6 {
    color: #3232b7;
    font-size: 16px;
    font-weight: 600;
}
.chat .chat-body .chat-usr-img  {
    padding: 16px 15px;
    border-bottom: 1px solid #e9ecef;
}
.chat .chat-body .chat-usr-img img {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 4px;
}
.chat .chat-body .chat-system .chat_window .chat-messages {
    position: relative;
    height: 392px;
    overflow-y: scroll;
    list-style: none;
    padding: 20px 10px 0px;
    margin: 0px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message {
    position: relative;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.left .avatar {
    position: absolute;
    top: -50px;
    left: 12px;
    border-radius: 50%;
    background-image: url(../../../assets/img/90x90.jpg);
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 44px;
    width: 44px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.right .avatar {
    position: absolute;
    float: right;
    background-image: url(../../../assets/img/90x90.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: -50px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.left .text {
    margin-left: 28px;
    margin-right: 10px;
    background-color: #c2d5ff;
    color: #000;
    border-radius: 1.875rem !important;
    border-top-left-radius: 0px !important;
    padding: 12px;
    margin-top: 65px;
    margin-bottom: 65px;
    width: 100%;
    max-width: 250px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.right .text {
    margin-right: 28px;
    margin-left: auto;
    background-color: #efefef;
    color: #000;
    border-radius: 1.875rem !important;
    border-top-right-radius: 0px !important;
    padding: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    max-width: 250px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message .text h6 {
    color: #1a73e9;
    font-weight: 600;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message .text p {
    color: #000;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input {
    border: none;
    background-color: #3862f5;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .input-group-append .input-group-text {
    border: none;
    background-color: #3862f5;
    color: #fff;
    font-size: 20px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input::-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input::-moz-placeholder {
    color: #fff;
    font-size: 14px;
}
.chat-messages::-moz-scrollbar {
    width: 5px;
    height: 5px;
}
.chat-messages::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.chat-messages::-moz-scrollbar-button:start:decrement,
.chat-messages::-moz-scrollbar-button:start:decrement {
    height: 0px;
    display: block;
    background-color: #dedfdf;
}
.chat-messages::-webkit-scrollbar-button:start:decrement,
.chat-messages::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: #dedfdf;
}
.chat-messages::-moz-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.chat-messages::-webkit-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.chat-messages::-moz-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}    
.chat-messages::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}
.chat-messages::-moz-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #dedfdf;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}
.chat-messages::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #dedfdf;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}


/*  Tasks     */

.tasks .tasks-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.tasks .tasks-header h6 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 600;
}
.tasks .tasks-body table tr td {
    border-top: none;
}
.tasks .tasks-body table tr:hover {
    cursor: pointer;
}
.tasks .tasks-body table tr td .task-item {
    position: relative;
    padding-left: 20px;
}
.tasks .tasks-body table tr td .d-m-todo {
    border: 2px solid #dcdcdc;
    background-color: #fff;
    width: 14px;
    height: 14px;
}
.tasks .tasks-body table tr:hover td .d-m-todo {
    border-color: #5247bd;
}
.tasks .tasks-body table tr td .task-item .task-meta-time {
    display: block;
    font-weight: 600;
    color: #888ea8;
    margin-bottom: 4px;
}
.tasks .tasks-body table tr td .task-item .task-txt {
    font-weight: 600;
    color: #888ea8;
}
.tasks .tasks-body table tr td .task-item .task-txt span.task-marked-text {
    color: #1d1d1d;
}
.tasks .tasks-body table tr:hover td .task-item .task-meta-time,
.tasks .tasks-body table tr:hover td .task-item .task-txt,
.tasks .tasks-body table tr:hover td .task-item .task-txt span.task-marked-text {
    color: #3232b7;
}
.tasks .tasks-body table .badge {
    padding: 5px 15px;
    font-weight: 600;
    box-shadow: none;
}
.tasks .tasks-body table .badge.badge-success {
    background-color: #b6fff1!important;
    color: #1abc9c!important;
}
.tasks .tasks-body table tr td .badge.badge-danger {
    background-color: #fbccdd!important;
    color: #e7515a!important;
}
.tasks .tasks-body .task-load-more {
    padding: 24px;
}
.tasks .tasks-body .task-load-more button {
    background-image: linear-gradient(to right, #434343 0%, #4f5163 100%);
    border: none;
    box-shadow: 2px 2px 13px 1px #4f5163;
    font-size: 13px;
    padding: 10px 26px;
}
.tasks .tasks-body .task-load-more button:hover {
    background-image: linear-gradient(to right, #4f5163 0%, #434343 100%);
}



@media (max-width: 575px) {
    .pignose-calendar .pignose-calendar-header, .pignose-calendar .pignose-calendar-body {
        padding: 0;
    }

    .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
        margin-left: 0.6em;
    }

    .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
        margin-right: 0.6em;
    }
}