  <form role="form">
<div class="form-group">
{% render_field form_nombre.tipo_id  class="form-control" required="true" placeholder="titulo" %}
{% for error in form_nombre.tipo_id.errors %}
<p class="text-danger">{{ error }}</p>
{% endfor %}
</div>

<div class="form-group">
<label for="exampleInputEmail1">Email address</label>
<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
</div>
<div class="form-group">
<label for="exampleInputPassword1">Password</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<div class="form-group">
<label for="exampleInputFile">File input</label>
<div class="input-group">
<div class="custom-file">
<input type="file" class="custom-file-input" id="exampleInputFile">
<label class="custom-file-label" for="exampleInputFile">Choose file</label>
</div>
<div class="input-group-append">
<span class="input-group-text" id="">Upload</span>
</div>
</div>
</div>
<div class="form-check">
<input type="checkbox" class="form-check-input" id="exampleCheck1">
<label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>


<button type="submit" class="btn btn-primary">Submit</button>

</form>





  function iniciarTicket(self){
      var id = $(self).attr("data-id");

      console.log(id);
      $.get("{% url 'gestion' %}", {'solicitud': 'iniciar_caso', 'valor': id}, function(data,status){
          Swal.fire({
            title: 'Ticket Iniciado!',
            text: 'El caso ha iniciado',
            icon: 'success',
            showConfirmButton: false,
            timer: 2000
          }).then((result) => {
            $(location).attr("href", "{% url 'tickets' %}");
          });
        });
      };
