{% load i18n static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'adminlte/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'adminlte/assets/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.username}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <!-- modulo de administrador.........                   ---------->
        {% if request.user.is_staff %}
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              ADMINISTRAR..
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href= "{% url 'tickets' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Nuevo Usuario</p>
              </a>
            </li>
            <li class="nav-item">
              <a href= "{% url 'ticket-create' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Otros ajustes</p>
              </a>
            </li>

          </ul>
        </li>
        {% endif %}
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx         ------------>
        <li class="nav-item has-treeview ">
          <a href="#" class="nav-link">
            <i class="fas fa-hands-helping"></i>
            <p>
              Mesa de ayuda
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href= "{% url 'tickets' %}" class="nav-link">
                <i class="fas fa-list-ol"></i>
                <p>Mis Solicitudes</p>
              </a>
            </li>
            {% if perms.tickets.add_ticket %}
            <li class="nav-item">
              <a href= "{% url 'ticket-create' %}" class="nav-link">
                <i class="fas fa-external-link-alt"></i>
                <p>Nueva Orden Mantto</p>
              </a>
            </li>
            {% endif %}

            
            <!-- {% if perms.tickets.add_ticket %}
            <li class="nav-item">
                <p>Puede adicionar ticket</p>
            </li>
            {% endif %}
            {% if perms.tickets.change_ticket %}
            <li class="nav-item">
                <p>Puede cambiar ticket</p>
            </li>
            {% endif %}
            {% if perms.tickets.delete_ticket %}
            <li class="nav-item">
                <p>Puede borrar  ticket</p>
            </li>
            {% endif %}
            {% if perms.tickets.view_ticket %}
            <li class="nav-item">
                <p>Puede visualizar  ticket</p>
            </li>
            {% endif %} -->

          </ul>
        </li>
        <!-- <li class="nav-item">
          <a href="pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Widgets
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
