{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %} {% endblock %}
{% block content %}

<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div>



    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <h3>{{nombre_evento}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <section class="content">
                    <div class="content-header">
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                                                    class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Eventos</a></li>
                                        <li class="breadcrumb-item"><a href="">Categorias</a></li>
                                    </ol>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-columns">
                                                {% for categoria in categorias %}
                                                <div class="card">
                                                    <!-- <div class="card-tools" style="float: right;" id="cabecera_evento">
                                            <button class="btn btn-default btn-sm border-0">
                                                <i class="fas fa-times fa-1x"></i>
                                            </button>
                                        </div> -->
                                                    <a
                                                        href="{% url 'campeonato' pk_evento %}?categoria={{categoria.pk}}">
                                                        <div class="card-body text-center">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <p class="card-text" style="display: none;">
                                                                        {{evento.pk}}</p>
                                                                    <p><b>{{categoria.nombre}}</b></p>
                                                                    <p><b>{{categoria.genero}}</b></p>
                                                                    <small>Equipos Inscritos:
                                                                        {{categoria.numero_equipos_inscritos}}</small><br>
                                                                    <small>Equipos Aprobados:
                                                                        {{categoria.numero_equipos_aprobados}}</small>
                                                                </div>
                                                                <div class="col-4" style="margin-top: 30px;">
                                                                    <i class="fas fa-project-diagram fa-2x"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block page_js_level %}

<script type="text/javascript">
    function iniciar() {
        let dropdowns = document.querySelectorAll('i.dropdown-item')
        console.log(dropdowns)

        for (let i = 0; i < dropdowns.length; i++) {
            console.log(dropdowns[i])
            dropdowns[i].addEventListener('click', filtrar, false)
        }

        botones_borrar_evento = document.querySelectorAll('div.card-tools > button')
        console.log("Tengo estos botones en usuario admin ", botones_borrar_evento)
        for (boton of botones_borrar_evento) {
            boton.addEventListener('click', borrar_evento, false)
        }
    }

    function filtrar(e) {
        filtro = e.target
        console.log("El filtro a aplicar sera por ", filtro)
        let eventos = document.querySelectorAll('#eventos_inscripcion')
        for (let i = 0; i < eventos.length; i++) {
            subdisciplina_evento = document.querySelector("#evento_subdisciplina").querySelectorAll('p')
            console.log("La subdisciplina del evento es: ", subdisciplina_evento)
        }
    }

    // function borrar_evento(e) {
    //     tag_i_cerrar = e.target
    //     button_cerrar = tag_i_cerrar.parentElement
    //     div_card_tools = button_cerrar.parentElement
    //     div_card = div_card_tools.parentElement

    //     pk_evento = div_card.querySelector('p.card-text').innerHTML


    //     console.log("El evento a borrar sera ", pk_evento)
    //     const url = "/evento/borrar"
    //     $.get(url, { "pk_evento": pk_evento }, function (data, status) {
    //         if (status == "success") {
    //             mensaje = data['mensaje']
    //             div_card_tools.style.display = 'none'
    //             console.log("El mensaje es : ", mensaje)
    //             Swal.fire({
    //                 title: mensaje,
    //                 showConfirmButton: false,
    //             })
    //         }
    //     })
    // }

    window.addEventListener('load', iniciar, false)
// document.addEventListener("DOMContentLoaded", function(){
//   alert('Hola mundo')
//   // let dropdowns = document.querySelectorAll('i.dropdown-item')
//   // console.log(dropdowns)

//   // for (let i = 0; i < dropdowns.length ; i++){
//   //   console.log(dropdowns[i])
//   //   dropdowns[i].addEventListener('click', filtrar, false)
//   // }
// });




// $("#borrar_evento").click(function(){
//   alert('Hola mundo')

// })



</script>

{% endblock %}




















<!--  BEGIN MAIN CONTAINER  -->
<!-- <div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div> -->



<!--  BEGIN CONTENT PART  -->
<!-- <div id="content" class="main-content">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <h3>MIS TORNEOSssssssssss</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        
                        
   
        <section class="content" id="interfaz_usuario_admin">
            
        </div>
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-12"> -->
<!-- </div>/.col -->
<!-- <div class="col-sm-12"> -->
<!-- <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Eventos</a></li>
                                <li class="breadcrumb-item"><a href="">Categorias</a></li>
                            </ol> -->
<!-- </div>/.col -->
<!-- </div>/.row -->
<!-- </div>/.container-fluid -->
<!-- </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-columns">
                                        <div class="card">
                                            <a href="{% url 'campeonato' pk_evento %}?categoria={{categoria.pk}}">
                                                <div class="card-body text-center">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <p class="card-text" style="display: none;">{{evento.pk}}</p>
                                                            <p><b>{{categoria.nombre}}</b></p>
                                                            <small>Equipos Inscritos: {{categoria.numero_equipos_inscritos}}</small><br>
                                                            <small>Equipos Aprobados: {{categoria.numero_equipos_aprobados}}</small>
                                                        </div>
                                                        <div class="col-4" style="margin-top: 30px;" >
                                                            <i class="fas fa-project-diagram fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </div>
        
    </div>
    


<script type="text/javascript">
    function iniciar() {
        let dropdowns = document.querySelectorAll('i.dropdown-item')
        console.log(dropdowns)

        for (let i = 0; i < dropdowns.length; i++) {
            console.log(dropdowns[i])
            dropdowns[i].addEventListener('click', filtrar, false)
        }

        botones_borrar_evento = document.querySelectorAll('div.card-tools > button')
        console.log("Tengo estos botones en usuario admin ", botones_borrar_evento)
        for (boton of botones_borrar_evento) {
            boton.addEventListener('click', borrar_evento, false)
        }
    }

    function filtrar(e) {
        filtro = e.target
        console.log("El filtro a aplicar sera por ", filtro)
        let eventos = document.querySelectorAll('#eventos_inscripcion')
        for (let i = 0; i < eventos.length; i++) {
            subdisciplina_evento = document.querySelector("#evento_subdisciplina").querySelectorAll('p')
            console.log("La subdisciplina del evento es: ", subdisciplina_evento)
        }
    } -->

<!-- // function borrar_evento(e) {
    //     tag_i_cerrar = e.target
    //     button_cerrar = tag_i_cerrar.parentElement
    //     div_card_tools = button_cerrar.parentElement
    //     div_card = div_card_tools.parentElement

    //     pk_evento = div_card.querySelector('p.card-text').innerHTML


    //     console.log("El evento a borrar sera ", pk_evento)
    //     const url = "/evento/borrar"
    //     $.get(url, { "pk_evento": pk_evento }, function (data, status) {
    //         if (status == "success") {
    //             mensaje = data['mensaje']
    //             div_card_tools.style.display = 'none'
    //             console.log("El mensaje es : ", mensaje)
    //             Swal.fire({
    //                 title: mensaje,
    //                 showConfirmButton: false,
    //             })
    //         }
    //     })
    // }

    window.addEventListener('load', iniciar, false)
// document.addEventListener("DOMContentLoaded", function(){
//   alert('Hola mundo')
//   // let dropdowns = document.querySelectorAll('i.dropdown-item')
//   // console.log(dropdowns)

//   // for (let i = 0; i < dropdowns.length ; i++){
//   //   console.log(dropdowns[i])
//   //   dropdowns[i].addEventListener('click', filtrar, false)
//   // }
// });




// $("#borrar_evento").click(function(){
//   alert('Hola mundo')

// }) -->


<!-- 
</script>