{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/css/adminlte.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/daterangepicker/daterangepicker.css' %}">
  <!-- summernote -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/summernote/summernote-bs4.css' %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/sweetalert2/sweetalert2.css' %}">
  <!-- Toastr -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/toastr/toastr.min.css' %}">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

  <!-- Google Font: Source Sans Pro -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->
  {% block page_css_level %} {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
  <div class="wrapper">
    {% include 'navmain.html' %}
    {% include 'sidebar.html' %}
    {% block content %}{% endblock %}
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="{% static 'adminlte/assets/plugins/jquery/jquery.min.js' %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{% static 'adminlte/assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
  <!-- jQuery validation -->
  <!-- <script src="{% static 'adminlte/assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
  <script src="{% static 'adminlte/assets/plugins/jquery-validation/additional-methods.min.js' %}"></script> -->
  <!-- Parsley -->
  <script type="text/javascript" src="{% static 'adminlte/assets/plugins/parsley/parsley.js' %}"></script>

  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

  <!-- SweetAlert2 -->
  <script src="{% static 'adminlte/assets/plugins/sweetalert2/sweetalert2.js' %}"></script>

  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'adminlte/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- ChartJS -->
  <script src="{% static 'adminlte/assets/plugins/chart.js/Chart.min.js' %}"></script>
  <!-- Sparkline -->
  <script src="{% static 'adminlte/assets/plugins/sparklines/sparkline.js' %}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{% static 'adminlte/assets/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
  <!-- daterangepicker -->
  <script src="{% static 'adminlte/assets/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'adminlte/assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'adminlte/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="{% static 'adminlte/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <!-- Summernote -->
  <script src="{% static 'adminlte/assets/plugins/summernote/summernote-bs4.min.js' %}"></script>
  <!-- overlayScrollbars -->
  <script src="{% static 'adminlte/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <!-- Select2 -->
  <script src="{% static 'adminlte/assets/plugins/select2/js/select2.full.min.js' %}"></script>
  <!-- Toastr -->
  <script src="{% static 'adminlte/assets/plugins/toastr/toastr.min.js' %}"></script>
  <!-- Bootstrap4 Duallistbox -->
  <script src="{% static 'adminlte/assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
  <!-- bootstrap color picker -->
  <script src="{% static 'adminlte/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
  <!-- Bootstrap Switch -->
  <script src="{% static 'adminlte/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'adminlte/assets/js/adminlte.js' %}"></script>

  <!-- Custom JS -->
  {% block page_js_level %} {% endblock %}
</body>

</html>
