{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!-- {% block extracss %}{% endblock %}-->
{% block content %} 

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="ps-overlay"></div>
  <div class="search-overlay"></div>
  
  <!--  BEGIN MODERN  -->
 
  <!--  END MODERN  -->



  

  <!--  BEGIN CONTENT PART  -->
  <div id="content" class="main-content">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
                <h3>principal</h3>
            </div>
        </div>


  <!-- <div class="content-wrapper"> -->
    <!--                                INTERFAZ DE USUARIO ADMIN EQUIPOS -->
    {% if user.contacto.grupo.name == "UsuariosWeb" %}
    <section class="content" id="interfaz_usuario_web">
      <div class="content-header">
        <div class="jumbotron">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-10">
                <h1 class="mb-2">Inscripciones</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <div class="card">
                <div class="card-body">
                  <div class="card-columns" id="eventos_inscripcion">
                    {% for evento in eventos_activos%}
                    <a href="{% url 'evento-detalle' evento.pk %}">
                      <div class="card">
                        <div class="card-body text-center">
                          <div class="row">
                            <div class="col-8">
                              <p class="card-text"><b>{{evento.nombre}}</b></p>
                              <p>{{evento.subdisciplina}}</p>
                            </div>
                            <div class="col-4">
                              {% if evento.disciplina.pk == 1 %}
                              <i class="fas fa-futbol fa-4x"></i>
                              {% elif evento.disciplina.pk == 2 %}
                              <i class="fas fa-basketball-ball fa-4x"></i>
                              {% elif evento.disciplina.pk == 3 %}
                              <i class="fas fa-volleyball-ball fa-4x"></i>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card">
                <div class="card-header text-center">
                  <b>Filtros</b>
                </div>
                <div class="card-body">
                  <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default">Todos</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Disciplina
                        </button>
                        <ul class="dropdown-menu">
                            <li><i id="disciplina_futbol" class="dropdown-item">Futbol</i></li>
                            <li><i id="disciplina_basketball" class="dropdown-item">Basketball</i></li>
                            <li><i id="disciplina_voleibol" class="dropdown-item">Voleibol</i></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Subdisciplina
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="subdisciplina_futbol5" class="dropdown-item" href="#">Futbol 5</a></li>
                            <li><a id="subdisciplina_futbol7" class="dropdown-item" href="#">Futbol 7</a></li>
                            <li><a id="subdisciplina_futbol9" class="dropdown-item" href="#">Futbol 9</a></li>
                            <li><a id="subdisciplina_futbol11" class="dropdown-item" href="#">Futbol 11</a></li>
                            <li><a id="subdisciplina_basketball3x3" class="dropdown-item" href="#">Basketball 3x3</a></li>
                            <li><a id="subdisciplina_basketball5x5" class="dropdown-item" href="#">Basketball 3x3</a></li>
                            <li><a id="subdisciplina_voleibol6x6" class="dropdown-item" href="#">Voleibol 6x6</a></li>
                        </ul>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </section>
    <!--                                INTERFAZ DE USUARIO ADMIN EVENTO-->
    {% elif user.contacto.grupo.name == "UsuarioAdmin" %}
    <section class="content" id="interfaz_usuario_admin">
      <div class="content-header">
        <div class="jumbotron">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-10">
                <h1 class="mb-2">Mis Eventos</h1>
              </div>
              <div>
                <a href="{% url 'evento-crear' %}"class="btn btn-default" style="margin-left:15px;">
                  Crear Evento +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-columns">
                    {% for evento in eventos_usuario %}
                    <div class="card">
                      <div class="card-tools" style="float: right;" id="cabecera_evento">
                        <button class="btn btn-default btn-sm border-0">
                          <i class="fas fa-times fa-1x"></i>
                        </button>
                      </div>
                      <a href="{% url 'categoria-list' evento.pk %}">
                        <div class="card-body text-center">
                          <div class="row">
                            <div class="col-8">
                              <p class="card-text" style="display: none;">{{evento.pk}}</p>
                              <p><b>{{evento.nombre}}</b></p>
                              <p>{{evento.subdisciplina}}</p>
                            </div>
                            <div class="col-4">
                              {% if evento.disciplina.pk == 1 %}
                              <i class="fas fa-futbol fa-4x"></i>
                              {% elif evento.disciplina.pk == 2 %}
                              <i class="fas fa-basketball-ball fa-4x"></i>
                              {% elif evento.disciplina.pk == 3 %}
                              <i class="fas fa-volleyball-ball fa-4x"></i>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                    <a href="{% url 'evento-crear' %}">
                      <div class="card">
                        <div class="card-body text-center">
                          Crear Evento <i class="fas fa-plus-square fa-2x"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </section>
    <!--                                INTERFAZ DE SUPER ADMIN-->
    {% elif user.is_staff %}
    <section class="content" id="interfaz_superadmin">
      <div class="content-header">
        <div class="jumbotron">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-10">
                <h1 class="mb-2">Mis Eventos</h1>
              </div>
              <div>
                <a href="{% url 'evento-crear' %}"class="btn btn-default" style="margin-left:15px;">
                  Crear Evento +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-columns">
                    {% for evento in eventos%}
                    <a href="">
                      <div class="card bg-info">
                        <div class="card-body text-center">
                          <p class="card-text">{{evento.nombre}}</p>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                    <a href="{% url 'evento-crear' %}">
                      <div class="card bg-info">
                        <div class="card-body text-center">
                          Crear Evento <i class="fas fa-plus-square"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </section>
    {% endif %}
  
  </div>
  </div>
  <!-- end pagina indice vieja -->
{% endblock %}
  
{% block page_js_level %}

    <script type="text/javascript" >

      //    INTERFAZ DE USUARIO ADMIN EQUIPOS

      window.addEventListener('load', iniciar, false)

      function iniciar(){
        let dropdowns = document.querySelectorAll('i.dropdown-item')
        console.log(dropdowns)

        for (let i = 0; i < dropdowns.length ; i++){
          console.log(dropdowns[i])
          dropdowns[i].addEventListener('click', function(){filtrar}, false)
        }
        
        function filtrar(e){
          filtro = e.target
          console.log("El filtro a aplicar sera por ", filtro)
          let eventos = document.querySelectorAll('#eventos_inscripcion')
          for (let i = 0; i < eventos.length ; i++){
            subdisciplina_evento = document.querySelector("#evento_subdisciplina").querySelectorAll('p')
            console.log("La subdisciplina del evento es: ",subdisciplina_evento)
          }
        }


        //                                INTERFAZ DE USUARIO ADMIN EVENTO

        botones_borrar_evento =document.querySelectorAll('div.card-tools > button')
        console.log("Tengo estos botones en usuario admin ", botones_borrar_evento)
        for (boton of botones_borrar_evento){
          boton.addEventListener('click', borrar_evento, false)
        }
      }


      function borrar_evento(e){
        tag_i_cerrar = e.target
        button_cerrar = tag_i_cerrar.parentElement
        div_card_tools = button_cerrar.parentElement
        div_card = div_card_tools.parentElement

        pk_evento = div_card.querySelector('p.card-text').innerHTML

        
        console.log("El evento a borrar sera ", pk_evento)
        const url ="/evento/borrar"
        $.get(url, {"pk_evento": pk_evento }, function(data,status){
          if (status=="success"){
            mensaje = data['mensaje']
            div_card_tools.style.display = 'none'
            console.log("El mensaje es : ", mensaje)
            Swal.fire({
              title: mensaje,
              showConfirmButton: false,
            })
          }
        })
      }

  </script>

{% endblock %}

<!-- --------------------------- esto es lo que tenia en Nuevo.html    funciones de javasvripts -->


<script type="text/javascript">

  //#region           FUNCIONES
  //function validar_text_form(campos_form) {
  //  validado = true

  //  campos = []
  //  for (let campo of campos_form) {
  //    console.log("el campo que tengo es:", campo)
  //    campos.push([document.getElementById(campo), "#" + campo])
  //  }
  //  console.log("Los campos son:", campos)
  //
  //  if (campos.length > 0) {
  //     for (let i = 0; i < campos.length; i++) {
  //      if (campos[i][0].value == "") {
  //       validado = false;
  //      $(campos[i][1]).addClass('is-invalid');
  //     }
  //console.log("campos validados: "+validado);
  //     }
  //   }
  //   return validado
  // }

  //function validar_select_form(selects_form) {
  // validado = true

  // selects = []
  //for (let select of selects_form) {
  //  console.log("el select que tengo es:", select)
  // selects.push([document.getElementById(select), "#" + select])
  //  }
  // console.log("Los selects son:", selects)

  //if (selects.length > 0) {
  //console.log("Entra a validar selects jugador");
  // for (let j = 0; j < selects.length; j++) {
  // var opcion_sel = selects[j][0].value;
  //console.log("el select seleccionado es "+(j+1)+"con valor "+opcion_sel)
  //     if (opcion_sel == '') {
  //       $(selects[j][1]).addClass('is-invalid');
  //       if (validado == true) {
  //         validado = false;
  //       }
  //       else {
  //         validado = false;
  //       }
  //     }
  //   }
  // }
  // console.log("retorna esto " + validado);
  // return validado;
  //return true;
  // }

  // function eliminar_fila(boton) {
  //   let fila = boton.parentNode.parentNode;
  //   fila.parentNode.removeChild(fila)
  // }

  // function limpiar_inputs_modal(id_modal) {
  //   $("#" + id_modal).find("input,textarea,select").val("");
  // }
  //#endregion


//
  //#region           TORNEO
  let tbody_tabla_categorias = document.getElementById("tabla-categorias")
  let tbody_tabla_escenarios = document.getElementById("tabla-escenarios")
  let campos_torneo = ['nombre_torneo']
  let selects_torneo = ['id_disciplina', 'id_subdisciplina']

  document.getElementById("btn_agregar_categoria").addEventListener("click", function (event) {
    $("#modal-categoria-crear").modal()
  })

  document.getElementById("btn_agregar_escenario").addEventListener("click", function (event) {
    $("#modal-escenario-crear").modal()
  })

  $("#nombre_torneo").click(function () {
    $('#nombre_torneo').removeClass('is-invalid');
  });

  $("#id_disciplina").click(function () {
    $('#id_disciplina').removeClass('is-invalid');
    alert("Si cambio");
    var disciplina_seleccionada = $(this).children("option:selected").val();
    alert("la almacend fue......" + zonaSeleccionado); s
    const url = '/disciplina/subdisciplinas';  //esta es la url donde voy  a consultar
    $("#id_subdisciplina").empty();
    $("#id_subdisciplina").append("<option value='0'>Seleccione</option>");

    if (disciplina_seleccionada != '') {
      $.get(url, { "disciplina_pk": disciplina_seleccionada }, function (data, status) {
        if (status == "success") {
          var subdisciplinas = data['subdisciplinas'];
          console.log('subdisciplinas' + subdisciplinas)
          for (i = 0; i < subdisciplinas.length; i++) {
            var subdisciplina = subdisciplinas[i];
            console.log("Agregando subdisciplina ", subdisciplina)
            $('#id_subdisciplina').append("<option value='" + subdisciplina["pk"] + "'>" + subdisciplina["nombre"] + "</option>").trigger("chosen:updated");
          }
        }
        else {
          alert("no se logra conectar al servidor");
        }
      });
    }
  });

  $("#id_subdisciplina").click(function () {
    $('#id_subdisciplina').removeClass('is-invalid');
  });

  document.getElementById("btn-enviar").addEventListener("click", function (event) {
    if (validar_text_form(campos_torneo) && validar_select_form(selects_torneo)) {
      if (tbody_tabla_categorias.rows.length > 0 && tbody_tabla_escenarios.rows.length > 0) {
        Swal.fire({
          title: 'Torneo Creado Satisfactoriamente',
          showConfirmButton: false,
          timer: 1200
        })
        $(this).trigger('submit');
      }
      else {
        event.preventDefault();
        Swal.fire({
          title: 'Debe contar por lo menos con 1 categoria y 1 escenario',
          showConfirmButton: true,
          // timer: 1200
        })
      }
    }
    else {
      event.preventDefault();
    }
  })

  //#endregion

  //#region           MODAL CATEGORIA
  let checkbox_categoria_unica = document.getElementById("categoria_unica")
  let unica
  let rama = document.getElementById("rama")

  if (document.getElementById("categoria_unica").checked) {
    console.log("Checkbox seleccionado")
    document.getElementById("informacion_extra_categoria").style.display = 'none'
    unica = 'Si'
    rama_seleccionada = "-"
  }
  else {
    console.log("Checkbox NO seleccionado")
    document.getElementById('informacion_extra_categoria').style.display = 'block'
    unica = 'No'
  }

  document.getElementById("modal-categoria-btn-agregar").addEventListener("click", function (event) {
    let nombre_categoria = document.getElementById("nombre_categoria").value
    let categoria_unica = document.getElementById("categoria_unica").value
    let fecha_nacimiento_min = document.getElementById("fecha_nacimiento_min").value
    let fecha_nacimiento_max = document.getElementById("fecha_nacimiento_max").value
    let fecha_inscripcion_max = document.getElementById("fecha_inscripcion_max").value

    if (unica == 'Si') {
      campos_modal_categoria = ["nombre_categoria"]
      selects_modal_categoria = []
    }
    else {
      campos_modal_categoria = ["nombre_categoria", "fecha_nacimiento_min", "fecha_nacimiento_max", "fecha_inscripcion_max"]
      selects_modal_categoria = ["rama"]
      rama_seleccionada = rama.options[rama.selectedIndex].text
    }
    // console.log("Campos modal", campos_modal_categoria)
    // console.log("Selects modal", selects_modal_categoria)
    // console.log("Validacion de campos categoria ",validar_text_form(campos_modal_categoria) )
    // console.log("Validacion de selects categoria ",validar_select_form(selects_modal_categoria) )

    if (validar_text_form(campos_modal_categoria) && validar_select_form(selects_modal_categoria)) {
      let nueva_fila = tbody_tabla_categorias.insertRow()
      nueva_fila.innerHTML = `
        <tr>
            <input type="hidden" name="nombre_categoria" value="${nombre_categoria.toUpperCase()}"/>
            <input type="hidden" name="unica" value="${unica}"/>
            <input type="hidden" name="rama_seleccionada" value="${rama_seleccionada}"/>
            <input type="hidden" name="fecha_nacimiento_min" value="${fecha_nacimiento_min}"/>
            <input type="hidden" name="fecha_nacimiento_max" value="${fecha_nacimiento_max}"/>
            <input type="hidden" name="fecha_inscripcion_max" value="${fecha_inscripcion_max}"/>
            <td>${nombre_categoria.toUpperCase()}</td>
            <td>${unica}</td>
            <td>${rama_seleccionada}</td>
            <td>${fecha_nacimiento_min}</td>
            <td>${fecha_nacimiento_max}</td>
            <td>${fecha_inscripcion_max}</td>
            <td>
                <a href="#" name="remover" id="${nombre_categoria}_remover" class="btn" onclick="eliminar_fila(this)">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr>
    `
      $("#modal-categoria-crear").modal('hide')
      limpiar_inputs_modal("modal-categoria-crear")
    }

  })

  $("#nombre_categoria").click(function () {
    $('#nombre_categoria').removeClass('is-invalid');
  });

  $("#categoria_unica").click(function () {
    if (document.getElementById("categoria_unica").checked) {
      console.log("Checkbox seleccionado")
      document.getElementById("informacion_extra_categoria").style.display = 'none'
      unica = 'Si'
      rama_seleccionada = "-"
    }
    else {
      console.log("Checkbox NO seleccionado")
      document.getElementById('informacion_extra_categoria').style.display = 'block'
      unica = 'No'
    }
  });

  $("#fecha_nacimiento_min").click(function () {
    $('#fecha_nacimiento_min').removeClass('is-invalid');
  });

  $("#fecha_nacimiento_max").click(function () {
    $('#fecha_nacimiento_max').removeClass('is-invalid');
  });

  $("#fecha_inscripcion_max").click(function () {
    $('#fecha_inscripcion_max').removeClass('is-invalid');
  });

  $("#rama").click(function () {
    $('#rama').removeClass('is-invalid');
  });
  //#endregion

  //#region           MODAL ESCENARIO
  document.getElementById("modal-escenario-btn-agregar").addEventListener("click", function (event) {
    let nombre_escenario = document.getElementById("nombre_escenario").value

    campos_modal_escenario = ["nombre_escenario"]
    selects_modal_escenario = []

    if (validar_text_form(campos_modal_escenario) && validar_select_form(selects_modal_escenario)) {
      let nueva_fila = tbody_tabla_escenarios.insertRow()
      nueva_fila.innerHTML = `
            <tr>
                <input type="hidden" name="nombre_escenario" value="${nombre_escenario.toUpperCase()}"/>
                <td>${nombre_escenario.toUpperCase()}</td>
                <td>
                    <a href="#" name="remover" id="${nombre_categoria}_remover" class="btn" onclick="eliminar_fila(this)">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
        `
      $("#modal-escenario-crear").modal('hide')
      limpiar_inputs_modal("modal-escenario-crear")
    }
  })

  $("#nombre_escenario").click(function () {
    $('#nombre_escenario').removeClass('is-invalid');
  });
  //#endregion
  // CON EL BTN SIGUIENTE SE EFECTUA LA VALIDACION DE TODOS LOS CAMPOS, SI ESTAN BIEN SE CAMBIA DE TAB Y SE ACTIVA EL BTN DE JUGADORES
  const btn_siguiente = document.getElementById('btn-siguiente');
  $()

  btn_siguiente.addEventListener('click', () => {


    if (validar_tab1() == true) {

      $('#tabequipo').removeClass('active');
      $('#tab_1').removeClass('active');

      $('#tabjugadores').addClass('active');
      $('#tab_2').addClass('active');

      const btn_siguiente_tab1 = document.getElementById('btn-sgte-tab1');

      btn_siguiente.addEventListener('click', () => {
        $('#tabjugadores').removeClass('disabled');
      });
    }
  });

  //==============================================================================================================================
  //____________________________          TAB 2       ____________________________________________________________________________



  var integrante_tipoid = document.getElementById('div-tipo-id');
  var integrante_doc = document.getElementById('div-doc');
  var integrante_fecha_nac = document.getElementById('div-fecha-nac');
  var integrante_genero = document.getElementById('div-genero');
  var integrante_tel = document.getElementById('div-tel');
  var integrante_talla = document.getElementById('div_talla');
  var integrante_correo = document.getElementById('div-email');
  var integrante_identificacion = document.getElementById("div_identificacion");
  var integrante_col_id = document.getElementById("col_fecha_nac");
  var integrante_col_genero = document.getElementById("col_genero");
  var integrante_col_talla = document.getElementById("col_talla");
  var integrante_nombre = document.getElementById("div_nombres_apellidos");

  var rol_integrante = document.getElementById('rol_llenar');
  var nombres_integrante = document.getElementById('Nombres_llenar');
  var apellidos_integrante = document.getElementById('Apellidos_llenar');
  var tipoid_integrante = document.getElementById('id_tipo_llenar');
  var documento_integrante = document.getElementById('Identificación_llenar');
  var fecha_nac_integrante = document.getElementById('fecha_jugador_llenar');
  var genero_integrante = document.getElementById('genero_llenar');
  var tel_integrante = document.getElementById('tel_jugador_llenar');
  var talla_integrante = document.getElementById('talla_llenar');
  var correo_integrante = document.getElementById('email_llenar');
  var opcion_rol_jugador = document.getElementById('opcion_jugador');
  var opcion_rol_ct = document.getElementById('opcion_ct');

  var table = document.getElementById("tabla_tbody");

  var opcion_rol = document.getElementById('rol_llenar');

  var integrantes = 0;
  var jugadores = 0;
  var cuerpo_t = 0;

  const numero_max_integrantes = 22;
  const numero_max_jugadores = 20;
  const numero_max_cuerpo_tecnico = 2;

  const numero_min_integrantes = 3;
  const numero_min_jugadores = 2;
  const numero_min_cuerpo_tecnico = 2;

  $("#myBtn").click(function () {
    var integrantes = 0;
    var jugadores = 0;
    var cuerpo_t = 0;

    for (var i = 0, row; row = table.rows[i]; i++) {
      console.log("row No." + i)
      var elemento_selec_tabla = row.cells[3].innerHTML;
      if (elemento_selec_tabla == 'Jugador') {
        console.log("jugador")
        jugadores += 1;
        integrantes += 1;
      }
      else if (elemento_selec_tabla == 'Cuerpo Tecnico') {
        console.log("tecnico")
        cuerpo_t += 1;
        integrantes += 1;
      }
    }
    console.log("integrantes" + integrantes)
    console.log("jugadores" + jugadores)
    console.log("cuerpo tecnico" + cuerpo_t)

    if (integrantes < numero_max_integrantes) {
      if (jugadores < numero_max_jugadores) {
        if (cuerpo_t < numero_max_cuerpo_tecnico) {
          $("#myModal").modal();
        }
        else {
          Swal.fire({
            title: 'Maxima cantidad de integrantes de Cuerpo Tecnico inscrita',
            showConfirmButton: true,
            timer: 1000
          })
          $("#myModal").modal();
          opcion_rol_ct.remove();
        }
      }
      else {
        Swal.fire({
          title: 'Maxima cantidad de Jugadores inscrita',
          showConfirmButton: true,
          timer: 1000
        })
        $("#myModal").modal();
        opcion_rol_jugador.remove();
      }
    }
    else {
      Swal.fire({
        title: 'Maxima cantidad de integrantes inscrita',
        showConfirmButton: true,
        timer: 1000
      })
    }
  });


  //PROCESO PARA MOSTRAR LOS DATOS A DILIGWENCIAR DE ACUERDO AL ROL DEL INTEGRANTE
  $("#rol_llenar").change(function () {

    opcion = opcion_rol.value;
    //console.log("opcion es "+opcion)
    if (opcion == "") {
      integrante_nombre.style.visibility = "hidden";
      integrante_tipoid.style.visibility = "hidden";
      integrante_doc.style.visibility = "hidden";
      integrante_fecha_nac.style.visibility = "hidden";
      integrante_genero.style.visibility = "hidden";
      integrante_tel.style.visibility = "hidden";
      integrante_talla.style.visibility = "hidden";
      integrante_correo.style.visibility = "hidden";
      integrante_identificacion.style.display = "none";
      integrante_col_id.style.display = "none";
      integrante_col_genero.style.display = "none";
      integrante_col_talla.style.display = "none";
    }
    else if (opcion == "1") {
      integrante_nombre.style.visibility = "";
      integrante_tipoid.style.visibility = "";
      integrante_doc.style.visibility = "";
      integrante_fecha_nac.style.visibility = "";
      integrante_genero.style.visibility = "";
      integrante_tel.style.visibility = "";
      integrante_talla.style.visibility = "";
      integrante_correo.style.visibility = "hidden";
      integrante_identificacion.style.display = "";
      integrante_col_id.style.display = "";
    }
    
        else if (opcion = "2") {
      integrante_col_id.style.display = "none";
    
    }
    else if (opcion = "2") {
      integrante_col_genero.style.display = "none";
      integrante_col_talla.style.display = "none";

      $('#col_tel').removeClass('col-3');
      $('#col_tel').addClass('col-6');

    }
  });
  //FIN PROCESO

  // PROCESO PARA VALIDAR LOS CAMPOS DEL MODAL
  function validar_modal() {

    opcion = opcion_rol.value;

    //console.log("Opcion de rol "+opcion);

    var validado = true;

    if (opcion == "") {
      $('#rol_llenar').addClass('is-invalid');
      return false;
    }
    else if (opcion == "1") {
      console.log("Entra a la opcion 1");
      selects = [
        [tipoid_integrante, '#id_tipo_llenar'],
        [genero_integrante, '#genero_llenar'],
        [talla_integrante, '#talla_llenar']
      ];

      campos = [
        [nombres_integrante, '#Nombres_llenar'],
        [apellidos_integrante, '#Apellidos_llenar'],
        [documento_integrante, '#Identificación_llenar'],
        [fecha_nac_integrante, '#fecha_jugador_llenar'],
        [tel_integrante, '#tel_jugador_llenar']
      ]
    }
    else if (opcion = "2") {
      console.log("Entra a la opcion 2");
      campos = [
        [nombres_integrante, '#Nombres_llenar'],
        [apellidos_integrante, '#Apellidos_llenar'],
        [correo_integrante, '#email_llenar'],
        [tel_integrante, '#tel_jugador_llenar'],
        [documento_integrante, '#Identificación_llenar']
      ];
      selects = [
        [tipoid_integrante, '#id_tipo_llenar']
      ];
    }

    for (let i = 0; i < campos.length; i++) {
      if (campos[i][0].value == "") {
        validado = false;
        $(campos[i][1]).addClass('is-invalid');
      }
      //console.log("campos validados: "+validado);
    }
</script>
if(selects.length > 0){
//console.log("Entra a validar selects jugador");
for (let j=0; j < selects.length; j++){ var opcion_sel=selects[j][0].value; //console.log("el select seleccionado
  es "+(j+1)+" con valor "+opcion_sel)
      if (opcion_sel==''){
        $(selects[j][1]).addClass('is-invalid');
        if (validado == true){
          validado = false;
        }
        else{
          validado = false;
        }
      }
    }
  }
  console.log(" retorna esto "+validado);  
  return validado;
  //return true;
 }

 $(" #rol_llenar").change(function(){ $('#rol_llenar').removeClass('is-invalid');
  $('#Nombres_llenar').removeClass('is-invalid'); $('#Apellidos_llenar').removeClass('is-invalid');
  $('#id_tipo_llenar').removeClass('is-invalid'); $('#Identificación_llenar').removeClass('is-invalid');
  $('#fecha_jugador_llenar').removeClass('is-invalid'); $('#genero_llenar').removeClass('is-invalid');
  $('#tel_jugador_llenar').removeClass('is-invalid'); $('#talla_llenar').removeClass('is-invalid');
  $('#email_llenar').removeClass('is-invalid'); }); $("#Nombres_llenar").change(function(){
  $('#Nombres_llenar').removeClass('is-invalid'); }); $("#Apellidos_llenar").change(function(){
  $('#Apellidos_llenar').removeClass('is-invalid'); }); $("#id_tipo_llenar").change(function(){
  $('#id_tipo_llenar').removeClass('is-invalid'); }); $("#Identificación_llenar").change(function(){
  $('#Identificación_llenar').removeClass('is-invalid'); }); $("#fecha_jugador_llenar").change(function(){
  $('#fecha_jugador_llenar').removeClass('is-invalid'); }); $("#genero_llenar").change(function(){
  $('#genero_llenar').removeClass('is-invalid'); }); $("#tel_jugador_llenar").change(function(){
  $('#tel_jugador_llenar').removeClass('is-invalid'); }); $("#talla_llenar").change(function(){
  $('#talla_llenar').removeClass('is-invalid'); }); $("#email_llenar").change(function(){
  $('#email_llenar').removeClass('is-invalid'); }); $("#btn-agregar").click(function(){ if(validar_modal()==true){
  console.log("$$$$$$$$$$", integrantes); $("#myModal").modal('hide'); agregar_en_tabla(); rol_integrante.value="" ;
  nombres_integrante.value="" ; apellidos_integrante.value="" ; tipoid_integrante.value="" ;
  documento_integrante.value="" ; fecha_nac_integrante.value="" ; genero_integrante.value="" ; tel_integrante.value="" ;
  talla_integrante.value="" ; correo_integrante.value="" ; integrante_nombre.style.visibility="hidden" ;
  integrante_tipoid.style.visibility="hidden" ; integrante_doc.style.visibility="hidden" ;
  integrante_fecha_nac.style.visibility="hidden" ; integrante_genero.style.visibility="hidden" ;
  integrante_tel.style.visibility="hidden" ; integrante_talla.style.visibility="hidden" ;
  integrante_correo.style.visibility="hidden" ; integrante_identificacion.style.display="none" ;
  integrante_col_id.style.display="none" ; integrante_col_genero.style.display="none" ;
  integrante_col_talla.style.display="none" ; } }); //PROCESO PARA AGREGAR ELEMENTOS A LA TABLA function
  agregar_en_tabla() { //CON ESTA PRIMERA PARTE SE CREA LA FILA QUE SE VA A AGREGAR A LA TABLA var
  nombres_integrante=document.getElementById('Nombres_llenar').value; var
  apellidos_integrante=document.getElementById('Apellidos_llenar').value; var
  tipo_integrante=document.getElementById('id_tipo_llenar').value; var
  documento_integrante=document.getElementById('Identificación_llenar').value; var
  tel_integrante=document.getElementById('tel_jugador_llenar').value; var
  edad_integrante=document.getElementById('fecha_jugador_llenar').value; var
  genero_integrante=document.getElementById('genero_llenar').value; var
  correo_integrante=document.getElementById('email_llenar').value; var
  talla_integrante=document.getElementById('talla_llenar').value; var rol=document.getElementById('rol_llenar').value;
  var rol_verbose; if (rol=='1' ){ rol_verbose='Jugador' ; var hoy=new Date(); var
  fecha_fin=hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate(); var fecha_inicial=new
  Date(edad_integrante).getTime(); var fecha_final=new Date(fecha_fin).getTime(); } else if(rol=='2' ){
  rol_verbose='Cuerpo Tecnico' ; var hoy=new Date(); var
  fecha_fin=hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate(); var fecha_inicial=new Date(fecha_fin).getTime();
  var fecha_final=new Date(fecha_fin).getTime(); } // var hoy=new Date(); // var
  fecha_fin=hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate(); // var fecha_inicial=new
  Date(edad_integrante).getTime(); // var fecha_final=new Date(fecha_fin).getTime(); if (fecha_final>= fecha_inicial){

  var diff = fecha_final - fecha_inicial;
  var años = Math.floor(diff/(1000*60*60*24*365));

  var i = 1;
  var fila = `<tr id="${documento_integrante}">
    <input type="hidden" name="nombres_integrante" value="${nombres_integrante}" />
    <input type="hidden" name="apellidos_integrante" value="${apellidos_integrante}" />
    <input type="hidden" name="tipo_integrante" value="${tipo_integrante}" />
    <input type="hidden" name="documento_integrante" value="${documento_integrante}" />
    <input type="hidden" name="tel_integrante" value="${tel_integrante}" />
    <input type="hidden" name="edad_integrante" value="${años}" />
    <input type="hidden" name="genero_integrante" value="${genero_integrante}" />
    <input type="hidden" name="talla_integrante" value="${talla_integrante}" />
    <input type="hidden" name="correo_integrante" value="${correo_integrante}" />
    <input type="hidden" name="rol" value="${rol}" />
    <td>${documento_integrante}</td>
    <td>${nombres_integrante}</td>
    <td>${apellidos_integrante}</td>
    <td>${rol_verbose}</td>
    <td class="text-center">
      <button type="button" name="remove" id="${documento_integrante}" class="btn btn-danger btn_remove">Quitar</button>
    </td>
  </tr>;
  i++;
  `;
  var dibujar = true;


  //AHORA PINTAMOS LA TABLA

  for (var i = 0, row; row = table.rows[i]; i++) {
  var elemento_selec_tabla = row.cells[0].innerHTML;
  if (documento_integrante == elemento_selec_tabla){
  console.log("ya estaba");
  Swal.fire({
  title: 'Persona ya registrada',
  showConfirmButton: false,
  timer: 800
  })
  dibujar = false;
  }
  }
  if (dibujar) {
  $('#tabla_tbody').append(fila);
  }
  }

  else{
  Swal.fire({
  title: 'La fecha de Nacimiento ingresada es erronea.',
  showConfirmButton: true,
  timer: 1000
  })
  }

  };

  $(document).on('click', '.btn_remove', function() {

  var button_id = $(this).attr("id");
  //cuando da click obtenemos el id del boton

  for (var i = 0, row; row = table.rows[i]; i++) {
  var elemento_selec_tabla = row.cells[0].innerHTML;
  if(elemento_selec_tabla==document){
  rol = row.cells[3].innerHTML;
  if(rol=='Jugador'){
  jugadores -= 1;
  }
  else if( rol == 'Cuerpo Tecnico'){
  cuerpo_t -= 1;

  }
  integrantes -= 1;
  }

  $('#' + button_id + '').remove(); //borra la fila

  var integrantes = 0;
  var jugadores = 0;
  var cuerpo_t = 0;

  var elemento_selec_tabla_3 = row.cells[3].innerHTML;
  if(elemento_selec_tabla_3=='Jugador'){
  console.log("jugador")
  jugadores += 1;
  integrantes += 1;
  }
  else if(elemento_selec_tabla=='Cuerpo Tecnico'){
  console.log("tecnico")
  cuerpo_t += 1;
  integrantes += 1;
  }

  if(integrantes ==numero_max_integrantes){
  rol_integrante.append("<option value='1' id='opcion_jugador'>Jugador</option>");
  rol_integrante.append("<option value='2' id='opcion_ct'>Cuerpo Tecnico</option>");
  }

  if(jugadores ==numero_max_jugadores){
  rol_integrante.append("<option value='1' id='opcion_jugador'>Jugador</option>");
  }

  if(cuerpo_t == numero_max_cuerpo_tecnico){
  rol_integrante.append("<option value='2' id='opcion_ct'>Cuerpo Tecnico</option>");
  }
  }

  console.log("Boton de quitar")
  console.log("integrantes"+integrantes)
  console.log("jugadores"+jugadores)
  console.log("cuerpo tecnico"+cuerpo_t)


  });

  $("#btn-finalizar").click(function(){
  $("#modal_finalizar").modal();
  function contar(){
  var integrantes = 0;
  var jugadores = 0;
  var cuerpo_t = 0;
  for (var i = 0, row; row = table.rows[i]; i++) {
  var elemento_selec_tabla_3 = row.cells[3].innerHTML;
  if(elemento_selec_tabla_3=='Jugador'){
  console.log("jugador")
  jugadores += 1;
  integrantes += 1;
  }
  else if(elemento_selec_tabla_3=='Cuerpo Tecnico'){
  console.log("tecnico")
  cuerpo_t += 1;
  integrantes += 1;
  }
  }
  return [integrantes,jugadores,cuerpo_t]
  }
  total = contar();
  console.log("total "+total)

  if (total[1] == 0){
  console.log("Jugadores 0")
  $("#modal_si").remove()
  $("#modal_no").remove()
  $("#modal_finalizar_body").append("<p id='anuncio_continuar'>No cuentas con jugadores inscritos.</p>")
  }
  else{
  console.log("Jugadores mayores que 0")
  $("#modal_finalizar_body").append( `<p id="anuncio_pregunta">Cuenta con: ${total[1]} jugadores.</p>`)
  $("#modal_finalizar_body").append("<p id='anuncio_continuar'>¿Desea continuar?</p>")
  }
  });

  $("#modal_no").click(function(){
  $("#modal_finalizar").modal('hide');
  // $("#modal_finalizar_body").remove();
  // $("#anuncio_pregunta").remove();
  // $("#anuncio_continuar").remove();
  // $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
  });


  $("#modal_finalizar").on("hidden.bs.modal", function () {
  if($("#anuncio_continuar").length){
  $("#anuncio_continuar").remove();
  }
  if($("#anuncio_pregunta".length)){
  $("#anuncio_continuar").remove();
  }
  if($("#modal_si").length == 0){
  $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
  }
  if($("#modal_no").length == 0){
  $("#modal_finalizar_pie").append('<i type="button" class="btn btn-danger" data-dismiss="modal" id="modal_no">No</i>');
  }
  });


  </script>
  {% endblock %}
  <!-- BEGIN GLOBAL MANDATORY STYLES -->






  <!--COPIA DE BASE  -->



    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'adminlte/plugins/dropzone/dropzone.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/assets/css/accounting-dashboard/style.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/plugins/charts/c3charts/c3.min.css'%}" rel="stylesheet" type="text/css" />    
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
     <!-- Tell the browser to be responsive to screen width -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Font Awesome -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/fontawesome-free/css/all.min.css">
     <!-- Ionicons -->
     <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
     <!-- Tempusdominus Bbootstrap 4 -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
     <!-- iCheck -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
     <!-- Custom style -->
     <link rel="stylesheet" href="/static/da2soft/assets/css/main.css">
     <!-- Theme style -->
     <link rel="stylesheet" href="/static/adminlte/assets/css/adminlte.min.css">
     <!-- overlayScrollbars -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
     <!-- Daterange picker -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/daterangepicker/daterangepicker.css">
     <!-- summernote -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/summernote/summernote-bs4.css">
     <!-- Bootstrap Color Picker -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
     <!-- Select2 -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/select2/css/select2.min.css">
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
     <!-- SweetAlert2 -->
     <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/sweetalert2/sweetalert2.css'%}">
     <!-- Bootstrap4 Duallistbox -->
     <link rel="stylesheet" href="/static/adminlte/assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
   
     <!-- Google Font: Source Sans Pro -->

