{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div>



    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <h3>MIS TORNEOS</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header border-bottom border-default">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Mis Torneos</h4>
                                </div>
                            </div>
                        </div>

                        <a href="/crear-evento" class="btn btn-primary btn-1 btn-1f mb-4 mr-3">
                        <i class="flaticon-plus flaticon-circle-p"></i> Crear Evento </a>

                       

                      
                        <section class="content" id="interfaz_usuario_admin">
                            
                            
                            <div class="content">
                            <div class="container">
                                <div class="row">
                                <div class="col">
                                    <div class="card">
                                    <div class="card-body">
                                        <div class="card-columns">
                                        {% for evento in eventos_usuario %}
                                        <div class="card">
                                            <div class="card-tools" style="float: right;" id="cabecera_evento">
                                            <button class="btn btn-default btn-sm border-0">
                                                <i class="fas fa-times fa-1x"></i>
                                            </button>
                                            </div>
                                            <a href="{% url 'categoria-list' evento.pk %}">
                                            <div class="card-body text-center">
                                                <div class="row">
                                                <div class="col-8">
                                                    <p class="card-text" style="display: none;">{{evento.pk}}</p>
                                                    <p><b>{{evento.nombre}}</b></p>
                                                    <p>{{evento.subdisciplina}}</p>
                                                    <p><b>Evento Creado Por:</b></p>
                                                    <p>{{user.first_name }}</p>
                                                    

                                                </div>
                                                <div class="col-4">
                                                    {% if evento.disciplina.pk == 1 %}
                                                    <i class="fas fa-futbol fa-6x"></i>
                                                    {% elif evento.disciplina.pk == 2 %}
                                                    <i class="fas fa-basketball-ball fa-6x"></i>
                                                    {% elif evento.disciplina.pk == 3 %}
                                                    <i class="fas fa-volleyball-ball fa-6x"></i>
                                                    {% endif %}
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            
                        </section>
                        


                       
                    </div>
                </div>

            </div>



        </div>


    </div>
</div>
<!--  END CONTENT PART  -->
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-columns">
                            {% for categoria in categorias %}
                            <div class="card">
                                <!-- <div class="card-tools" style="float: right;" id="cabecera_evento">
                                    <button class="btn btn-default btn-sm border-0">
                                        <i class="fas fa-times fa-1x"></i>
                                    </button>
                                </div> -->
                                <a href="{% url 'campeonato' pk_evento %}?categoria={{categoria.pk}}">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-8">
                                                <p class="card-text" style="display: block;">{{evento.pk}}</p>
                                                <p><b>{{categoria.nombre}}</b></p>
                                                <small>Equipos Inscritos: {{categoria.numero_equipos_inscritos}}</small><br>
                                                <small>Equipos Aprobados: {{categoria.numero_equipos_aprobados}}</small>
                                            </div>
                                            <div class="col-4" style="margin-top: 30px;" >
                                                <i class="fas fa-project-diagram fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTAINER -->





{% block page_js_level %}

<script type="text/javascript">

    //                                INTERFAZ DE USUARIO ADMIN EQUIPOS

    window.addEventListener('load', iniciar, false)

    function iniciar() {
        let dropdowns = document.querySelectorAll('i.dropdown-item')
        console.log(dropdowns)

        for (let i = 0; i < dropdowns.length; i++) {
            console.log(dropdowns[i])
            dropdowns[i].addEventListener('click', function () { filtrar }, false)
        }

        function filtrar(e) {
            filtro = e.target
            console.log("El filtro a aplicar sera por ", filtro)
            let eventos = document.querySelectorAll('#eventos_inscripcion')
            for (let i = 0; i < eventos.length; i++) {
                subdisciplina_evento = document.qSeleccioneuerySelector("#evento_subdisciplina").querySelectorAll('p')
                console.log("La subdisciplina del evento es: ", subdisciplina_evento)
            }
        }


        //                                INTERFAZ DE USUARIO ADMIN EVENTO

        botones_borrar_evento = document.querySelectorAll('div.card-tools > button')
        console.log("Tengo estos botones en usuario admin ", botones_borrar_evento)
        for (boton of botones_borrar_evento) {
            boton.addEventListener('click', borrar_evento, false)
        }
    }


    function borrar_evento(e) {
        tag_i_cerrar = e.target
        button_cerrar = tag_i_cerrar.parentElement
        div_card_tools = button_cerrar.parentElement
        div_card = div_card_tools.parentElement

        pk_evento = div_card.querySelector('p.card-text').innerHTML


        console.log("El evento a borrar sera ", pk_evento)
        const url = "/evento/borrar"
        $.get(url, { "pk_evento": pk_evento }, function (data, status) {
            if (status == "success") {
                mensaje = data['mensaje']
                div_card_tools.style.display = 'none'
                console.log("El mensaje es : ", mensaje)
                Swal.fire({
                    title: mensaje,
                    showConfirmButton: false,
                })
            }
        })
    }


    //#region           FUNCIONES
    function validar_text_form(campos_form) {
        validado = true

        campos = []
        for (let campo of campos_form) {
            console.log("el campo que tengo es:", campo)
            campos.push([document.getElementById(campo), "#" + campo])
        }
        console.log("Los campos son:", campos)

        if (campos.length > 0) {
            for (let i = 0; i < campos.length; i++) {
                if (campos[i][0].value == "") {
                    validado = false;
                    $(campos[i][1]).addClass('is-invalid');
                }
                //console.log("campos validados: "+validado);
            }
        }
        return validado
    }

    function validar_select_form(selects_form) {
        validado = true

        selects = []
        for (let select of selects_form) {
            console.log("el select que tengo es:", select)
            selects.push([document.getElementById(select), "#" + select])
        }
        console.log("Los selects son:", selects)

        if (selects.length > 0) {
            //console.log("Entra a validar selects jugador");
            for (let j = 0; j < selects.length; j++) {
                var opcion_sel = selects[j][0].value;
                //console.log("el select seleccionado es "+(j+1)+"con valor "+opcion_sel)
                if (opcion_sel == '') {
                    $(selects[j][1]).addClass('is-invalid');
                    if (validado == true) {
                        validado = false;
                    }
                    else {
                        validado = false;
                    }
                }
            }
        }
        console.log("retorna esto " + validado);
        return validado;
        //return true;
    }

    function eliminar_fila(boton) {
        let fila = boton.parentNode.parentNode;
        fila.parentNode.removeChild(fila)
    }

    function limpiar_inputs_modal(id_modal) {
        $("#" + id_modal).find("input,textarea,select").val("");
    }
    //#endregion

    //#region           TORNEO
    let tbody_tabla_categorias = document.getElementById("tabla-categorias")
    let tbody_tabla_escenarios = document.getElementById("tabla-escenarios")
    let campos_torneo = ['nombre_torneo']
    let selects_torneo = ['id_disciplina', 'id_subdisciplina']

    document.getElementById("btn_agregar_categoria").addEventListener("click", function (event) {
        $("#modal-categoria-crear").modal()
    })

    document.getElementById("btn_agregar_escenario").addEventListener("click", function (event) {
        $("#modal-escenario-crear").modal()
    })

    $("#nombre_torneo").click(function () {
        $('#nombre_torneo').removeClass('is-invalid');
    });

    $("#id_disciplina").click(function () {
        $('#id_disciplina').removeClass('is-invalid');
        // alert("Si cambio");
        var disciplina_seleccionada = $(this).children("option:selected").val();
        // alert("la almacend fue......" + zonaSeleccionado);
        const url = '/disciplina/subdisciplinas';  //esta es la url donde voy  a consultar
        $("#id_subdisciplina").empty();
        $("#id_subdisciplina").append("<option value='0'>Seleccione</option>");

        if (disciplina_seleccionada != '') {
            $.get(url, { "disciplina_pk": disciplina_seleccionada }, function (data, status) {
                if (status == "success") {
                    var subdisciplinas = data['subdisciplinas'];
                    console.log('subdisciplinas' + subdisciplinas)
                    for (i = 0; i < subdisciplinas.length; i++) {
                        var subdisciplina = subdisciplinas[i];
                        console.log("Agregando subdisciplina ", subdisciplina)
                        $('#id_subdisciplina').append("<option value='" + subdisciplina["pk"] + "'>" + subdisciplina["nombre"] + "</option>").trigger("chosen:updated");
                    }
                }
                else {
                    alert("no se logra conectar al servidor");
                }
            });
        }
    });

    $("#id_subdisciplina").click(function () {
        $('#id_subdisciplina').removeClass('is-invalid');
    });

    document.getElementById("btn-enviar").addEventListener("click", function (event) {
        if (validar_text_form(campos_torneo) && validar_select_form(selects_torneo)) {
            if (tbody_tabla_categorias.rows.length > 0 && tbody_tabla_escenarios.rows.length > 0) {
                Swal.fire({
                    title: 'Torneo Creado Satisfactoriamente',
                    showConfirmButton: false,
                    timer: 1200
                })
                $(this).trigger('submit');
            }
            else {
                event.preventDefault();
                Swal.fire({
                    title: 'Debe contar por lo menos con 1 categoria y 1 escenario',
                    showConfirmButton: true,
                    // timer: 1200
                })
            }
        }
        else {
            event.preventDefault();
        }
    })

    //#endregion

    //#region           MODAL CATEGORIA
    let checkbox_categoria_unica = document.getElementById("categoria_unica")
    let unica
    let rama = document.getElementById("rama")

    if (document.getElementById("categoria_unica").checked) {
        console.log("Checkbox seleccionado")
        document.getElementById("informacion_extra_categoria").style.display = 'none'
        unica = 'Si'
        rama_seleccionada = "-"
    }
    else {
        console.log("Checkbox NO seleccionado")
        document.getElementById('informacion_extra_categoria').style.display = 'block'
        unica = 'No'
    }

    document.getElementById("modal-categoria-btn-agregar").addEventListener("click", function (event) {
        let nombre_categoria = document.getElementById("nombre_categoria").value
        let categoria_unica = document.getElementById("categoria_unica").value
        let fecha_nacimiento_min = document.getElementById("fecha_nacimiento_min").value
        let fecha_nacimiento_max = document.getElementById("fecha_nacimiento_max").value
        let fecha_inscripcion_max = document.getElementById("fecha_inscripcion_max").value

        if (unica == 'Si') {
            campos_modal_categoria = ["nombre_categoria"]
            selects_modal_categoria = []
        }
        else {
            campos_modal_categoria = ["nombre_categoria", "fecha_nacimiento_min", "fecha_nacimiento_max", "fecha_inscripcion_max"]
            selects_modal_categoria = ["rama"]
            rama_seleccionada = rama.options[rama.selectedIndex].text
        }
        // console.log("Campos modal", campos_modal_categoria)
        // console.log("Selects modal", selects_modal_categoria)
        // console.log("Validacion de campos categoria ",validar_text_form(campos_modal_categoria) )
        // console.log("Validacion de selects categoria ",validar_select_form(selects_modal_categoria) )

        if (validar_text_form(campos_modal_categoria) && validar_select_form(selects_modal_categoria)) {
            let nueva_fila = tbody_tabla_categorias.insertRow()
            nueva_fila.innerHTML = `
        <tr>
            <input type="hidden" name="nombre_categoria" value="${nombre_categoria.toUpperCase()}"/>
            <input type="hidden" name="unica" value="${unica}"/>
            <input type="hidden" name="rama_seleccionada" value="${rama_seleccionada}"/>
            <input type="hidden" name="fecha_nacimiento_min" value="${fecha_nacimiento_min}"/>
            <input type="hidden" name="fecha_nacimiento_max" value="${fecha_nacimiento_max}"/>
            <input type="hidden" name="fecha_inscripcion_max" value="${fecha_inscripcion_max}"/>
            <td>${nombre_categoria.toUpperCase()}</td>
            <td>${unica}</td>
            <td>${rama_seleccionada}</td>
            <td>${fecha_nacimiento_min}</td>
            <td>${fecha_nacimiento_max}</td>
            <td>${fecha_inscripcion_max}</td>
            <td>
                <a href="#" name="remover" id="${nombre_categoria}_remover" class="btn" onclick="eliminar_fila(this)">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr>
    `
            $("#modal-categoria-crear").modal('hide')
            limpiar_inputs_modal("modal-categoria-crear")
        }

    })

    $("#nombre_categoria").click(function () {
        $('#nombre_categoria').removeClass('is-invalid');
    });

    $("#categoria_unica").click(function () {
        if (document.getElementById("categoria_unica").checked) {
            console.log("Checkbox seleccionado")
            document.getElementById("informacion_extra_categoria").style.display = 'none'
            unica = 'Si'
            rama_seleccionada = "-"
        }
        else {
            console.log("Checkbox NO seleccionado")
            document.getElementById('informacion_extra_categoria').style.display = 'block'
            unica = 'No'
        }
    });

    $("#fecha_nacimiento_min").click(function () {
        $('#fecha_nacimiento_min').removeClass('is-invalid');
    });

    $("#fecha_nacimiento_max").click(function () {
        $('#fecha_nacimiento_max').removeClass('is-invalid');
    });

    $("#fecha_inscripcion_max").click(function () {
        $('#fecha_inscripcion_max').removeClass('is-invalid');
    });

    $("#rama").click(function () {
        $('#rama').removeClass('is-invalid');
    });
    //#endregion

    //#region           MODAL ESCENARIO
    document.getElementById("modal-escenario-btn-agregar").addEventListener("click", function (event) {
        let nombre_escenario = document.getElementById("nombre_escenario").value

        campos_modal_escenario = ["nombre_escenario"]
        selects_modal_escenario = []

        if (validar_text_form(campos_modal_escenario) && validar_select_form(selects_modal_escenario)) {
            let nueva_fila = tbody_tabla_escenarios.insertRow()
            nueva_fila.innerHTML = `
            <tr>
                <input type="hidden" name="nombre_escenario" value="${nombre_escenario.toUpperCase()}"/>
                <td>${nombre_escenario.toUpperCase()}</td>
                <td>
                    <a href="#" name="remover" id="${nombre_categoria}_remover" class="btn" onclick="eliminar_fila(this)">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
        `
            $("#modal-escenario-crear").modal('hide')
            limpiar_inputs_modal("modal-escenario-crear")
        }
    })

    $("#nombre_escenario").click(function () {
        $('#nombre_escenario').removeClass('is-invalid');
    });
//#endregion




</script>



{% endblock %}{% endblock %}

