{% load static %}
{% load widget_tweaks %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<title>iTorneos</title>
	<link rel="icon" type="image/x-icon" href="{% static 'adminlte/assets/img/favicon.ico' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link href="{% static 'adminlte/plugins/sliders/owlCarousel/css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/plugins/sliders/owlCarousel/css/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'adminlte/plugins/flaticon/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'adminlte/assets/css/pages/landing-page/style.css' %}">
</head>

<body>
	<div id="eq-loader" style="display: none;">
      <div class="eq-loader-div">
          <div class="eq-loading dual-loader mx-auto mb-5"></div>
      </div>
    </div>

	<div id="navHeadWrapper" class="navHeaderWrapper header-image">
		<!-- NavBar -->
		<!-- Brand -->
		<div class="" style="height: auto;">
			<nav class="navbar navbar-expand-lg bg-faded header-nav" style="position: inherit">
				<div class="container">

					<div class="col-xl-4 col-lg-3 col-6 mx-auto ">
						<a class="navbar-brand" href="#navHeadWrapper"><h4>iTorneos</h4></a>
					</div>

					<div class="col-6 text-right d-lg-none d-block">
						<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon flaticon-left-menu"></span>
						</button>
					</div>

					<div class="col-xl-8 col-lg-9">
						<!-- Links -->
						<div class="collapse navbar-collapse justify-content-end" id="nav-content">   
							<ul class="navbar-nav text-center mt-lg-0 mt-5">
								<li class="nav-item active">
						        	<a class="nav-link js-scroll-trigger active" href="#">Torneos</a>
						      	</li>
						      	<li class="nav-item">
						        	<a class="nav-link js-scroll-trigger" href="#eventos">Eventos</a>
						      	</li>
						      	
						      	
						      	
						      	<li class="nav-item">
						        	<a class="nav-link js-scroll-trigger" href="#">contactanos</a>
						      	</li>
							</ul>
							<form class="form-inline justify-content-lg-start justify-content-center mt-lg-0 mt-5">						    	
							<a href="{% url 'login' %}"><button class="btn btn-block bg-default btn-lg btn ml-xl-4" type="button">Iniciar Sesion</button></a>
						    </form>
							
						</div>
					</div>
				</div>
			</nav>
		</div>
		<!-- /NavBar -->

		<!-- Header -->
		<div id="headerWrapper" class="container">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-lg-0 mt-5">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-2 align-self-center  mb-lg-0 mb-5">
						<div class="site-header-inner  mt-lg-0 mt-5">
							<h2 class="">Proximos Eventos</h2>
							
							<button class="btn btn-primary mt-5" type="submit">Ver Mas</button>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-1 text-center">
						<div class="image">
							<img alt="tabla" src="{% static 'adminlte/assets/img/tabla de posiciones.jpg' %}" class="img-fluid cover" style="">
						
														
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Header -->
	</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Proximamente </title>
    <link rel="icon" type="image/x-icon" href="{% static 'adminlte/assets/img/favicon.ico' %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/assets/css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/assets/css/pages/coming-soon/style.css' %}" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->    
</head>
	
<div class="container scroll-offset">
		<div id="eventos" class="row">
			<div class="col-md-12 text-center mb-5">				
				<body>
					<div id="eq-loader" style="display: none;">
					  <div class="eq-loader-div">
						  <div class="eq-loading dual-loader mx-auto mb-5"></div>
					  </div>
					</div>
					
					<div id="info">
						<div class="c-logo text-center mb-4 mt-4">
							<img alt="logo" src="{% static 'adminlte/assets/img/itorneos_v2.png' %}" class="theme-logo">
						</div>
						<div class="title align-center">
							<h1 class="coming-soon-title display-3 mb-3">Proximamente</h1>
							<h6 class="p-subtitle">Aqui Todos Los Eventos Deportivos </h6>
						</div>
						<div class="col-md-12 align-center">
							<div id="clockdiv"> <div><span class="days">02</span><div class="smalltext">Dias</div></div>   <div><span class="hours">00</span><div class="smalltext">hours</div></div>  <div><span class="minutes">00</span><div class="smalltext">minutes</div></div>   <div><span class="seconds">00</span><div class="smalltext">seconds</div></div>  </div>
						</div>
						<div class="actions mb-5">
							<div class="col-md-12">
								<h4 class="text-center mb-3">¿Te avisamos una vez que esté listo?</h4>
							</div>
							<form class="form-inline justify-content-center text-center">
								<div class="form-div">
									<input type="text" class="form-control mr-2" id="SuscriberEmail" name="email" placeholder="Ingrese Su Email">
									<button type="submit" class="btn btn-lg btn-gradient-warning mt-sm-0 mt-4">Subscribase</button>
								</div>
							</form>
						</div>
						<div id="miniFooterWrapper" class="">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="position-relative">
						<div class="arrow text-center">
							<img alt="image-icon" src="{% static 'adminlte/assets/img/footer-arrow.svg' %}" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5 mx-auto col-lg-6 col-md-6 site-content-inner text-md-left text-center copyright align-self-center">
							<p class="mt-md-0 mt-4 mb-0">© 2021 page by <a href="index.html">Grupoda2</a>.</p>
						</div>
						<div class="col-xl-5 mx-auto col-lg-6 col-md-6 site-content-inner text-md-right text-center align-self-center">
							<p class="mb-0">aqui direccion de grupoda2 que no me la se ....</p>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
						<footer id="footerWrapper" class="col-md-12 align-center">
							<ul class="list-inline ml-sm-3 d-sm-inline-block social-media mb-0 mt-5">
								<li class="list-inline-item mt-sm-0 mt-2">
									<a href="">
										<i class="flaticon-twitter-logo"></i>
									</a>
								</li>
								<li class="list-inline-item mt-sm-0 mt-2">
									<a href="">
										<i class="flaticon-facebook-logo"></i>
									</a>
								</li>
								<li class="list-inline-item mt-sm-0 mt-2">
									<a href="">
										<i class="flaticon-instagram-logo"></i>
									</a>
								</li>
				
								<li class="list-inline-item mt-sm-0 mt-2">
									<a href="">
										<i class="flaticon-pinterest-logo"></i>
									</a>
								</li>
								<li class="list-inline-item mt-sm-0 mt-2">
									<a href="">
										<i class="flaticon-google-plus-bold"></i>
									</a>
								</li>
								<li class="list-inline-item mt-sm-0 mt-2">
									<a href="">
										<i class="flaticon-linkedin-logo"></i>
									</a>
								</li>
							</ul>
							<p class="copy-right mb-5 mt-3">© 2021<a href="#"> Grupoda2 .</a> Todos Los Derechos Reservados</p>
						</footer>
					</div>
					
					<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
					<script src="{% static 'adminlte/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
					<script src="{% static 'adminlte/assets/js/loader.js' %}"></script>
					<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
					<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
					<!-- END GLOBAL MANDATORY SCRIPTS -->
					<!-- BEGIN PAGE LEVEL SCRIPTS -->
					<script src="{% static 'adminlte/plugins/countdown/jquery.countdown.min.js' %}"></script>
					<script src="{% static 'adminlte/assets/js/pages/coming-soon/coming-soon.js' %}"></script>
					<!-- END PAGE LEVEL SCRIPTS -->    
				
				</body>
	</div>

	

	<script src="{% static 'adminlte/assets/js/libs/jquery-3.1.1.min.js' %}" ></script>
    <script src="{% static 'adminlte/assets/js/loader.js' %}"></script>
	<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'adminlte/plugins/sliders/owlCarousel/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'adminlte/assets/js/pages/landing-page/script.js' %}"></script>

</body></html>