.accounts-widgets {

}
.accounts-widgets .accounts-income {

}
.accounts-widgets .accounts-income i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #1a73e9;
    background-color: #c2d5ff;
    vertical-align: text-top;
}
.accounts-widgets .accounts-income .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1a73e9;
}
.accounts-widgets .accounts-income p {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-income div.progress {
    height: 8px;
}

.accounts-widgets .accounts-cogs {

}
.accounts-widgets .accounts-cogs i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #1a73e9;
    background-color: #c2d5ff;
    vertical-align: text-top;
}
.accounts-widgets .accounts-cogs .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1a73e9;
}
.accounts-widgets .accounts-cogs p {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-cogs div.progress {
    height: 8px;
}


.accounts-widgets .accounts-profit {

}
.accounts-widgets .accounts-profit i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #1a73e9;
    background-color: #c2d5ff;
    vertical-align: text-top;
}
.accounts-widgets .accounts-profit .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1a73e9;
}
.accounts-widgets .accounts-profit p {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-profit div.progress {
    height: 8px;
}

.accounts-widgets .accounts-expenses {

}
.accounts-widgets .accounts-expenses i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #1a73e9;
    background-color: #c2d5ff;
    vertical-align: text-top;
}
.accounts-widgets .accounts-expenses .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1a73e9;
}
.accounts-widgets .accounts-expenses p {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-expenses div.progress {
    height: 8px;
}





/*
    Product Sales List
*/

.product-sales-list-content {
    height: 100%;
}
.product-sales-list .product-sales-header {
    padding: 20px;
}
.product-sales-list .product-sales-header h5 {
    font-weight: 600; color: #3b3f5c;
}
.product-sales-list .product-sales-header .nav.product-sales .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.product-sales-list .product-sales-header .nav.product-sales .nav-link.active,
.product-sales-list .product-sales-header .nav.product-sales .show>.nav-link {
    background-image: linear-gradient(to right, #434343 0%, #4f5163 100%);;
}
.product-sales-list .product-sales-body .table > thead > tr > th {
    padding: 20px;
    color: #3b3f5c;
    font-size: 17px;
}
.product-sales-list .product-sales-body .table > tbody > tr > td {
    padding-left: 22px;
    padding-right: 21px;
    color: #1d1d1d;
    font-size: 18px;
    border-top: 1px solid #f1f3f1 !important;
    border-top: none;
}
.product-sales-list .product-sales-body .table > tbody > tr > td .pro-name {
    position: relative;
    padding-left: 12px;
}
.product-sales-list .product-sales-body .table > tbody > tr > td .d-m-pro-name-1 {
    background-color: #1a73e9;
    height: 15px;
    width: 15px;
}
.product-sales-list .product-sales-body .table > tbody > tr > td .d-m-pro-name-2 {
    background-color: #4f5163;
    height: 15px;
    width: 15px;
}
.product-sales-list .product-sales-body .table > tbody > tr > td .d-m-pro-name-3 {
    background-color: #1abc9c;
    height: 15px;
    width: 15px;
}
.product-sales-list .product-sales-body .table > tbody > tr > td p.montly-price {
    cursor: pointer;
}
.product-sales-list .product-sales-body .table > tbody > tr > td p.montly-inc-1 {
    color: #1a73e9;
}
.product-sales-list .product-sales-body .table > tbody > tr > td p.montly-inc-2 {
    color: #4f5163;
}
.product-sales-list .product-sales-body .table > tbody > tr > td p.montly-inc-3 {
    color: #1abc9c;
}
.product-list-tooltip.tooltip.show {
    opacity: 1;
}
.product-list-tooltip .tooltip-inner {
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    box-shadow: 0px 0px 72px 9px rgba(113, 106, 202, 0.2);
    padding: 8px 20px;
}
.product-list-tooltip .arrow:before {
    border-top-color: #fff;
}
.product-list-tooltip .arrow:before {
    border-bottom-color: #fff;
}


/*
    Vendor Expenses List
*/

.vendor-expenses-list-content {
    height: 100%;
}
.vendor-expenses-list .vendor-expenses-header {
    padding: 20px;
}
.vendor-expenses-list .vendor-expenses-header h5 {
    font-weight: 600;
    color: #3b3f5c;
}
.vendor-expenses-list .vendor-expenses-header .nav.vendor-expenses .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.vendor-expenses-list .vendor-expenses-header .nav.vendor-expenses .nav-link.active,
.vendor-expenses-list .vendor-expenses-header .nav.vendor-expenses .show>.nav-link {
    background-image: linear-gradient(to right, #434343 0%, #4f5163 100%);;
}
.vendor-expenses-list .vendor-expenses-body .table > thead > tr > th {
    padding: 20px;
    color: #3b3f5c;
    font-size: 17px;
}
.vendor-expenses-list .vendor-expenses-body .table > tbody > tr > td {
    vertical-align: bottom;
    padding: 12px 22px;
    border-top: 1px solid #f1f3f1;
}
.vendor-expenses-list .vendor-expenses-body .table > tbody > tr > td .pro-name {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 17px;
}
.vendor-expenses-list .vendor-expenses-body .table > tbody > tr > td .progress {
    border-radius: 20px;
    margin-top: 8px;
    margin-right: .25rem!important;
}
.vendor-expenses-list .vendor-expenses-body .table > tbody > tr > td .progress .progress-bar {
    border-radius: 20px;
}
.vendor-expenses-list .vendor-expenses-body .table > tbody > tr > td span {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 17px;
}
.vendor-expenses-list .vendor-expenses-body .table > tbody > tr > td .v-amount {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 17px;
}


/*
    Revenue
*/

.revenue-content {
    height: 100%;
}
.revenue-content .revenue-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.revenue-content .revenue-header .nav.revenue .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.revenue-content .revenue-header .nav.revenue .nav-link.active,
.revenue-content .revenue-header .nav.revenue .show>.nav-link {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.revenue-content .revenue-body .r-meta-date {
    font-size: 15px;
    font-weight: 600;
    color: #3b3f5c;
}
.revenue-content .revenue-body .r-value {
    font-size: 35px;
    color: #3f4257;
    font-weight: 600;
}


/*
    Expanditure
*/

.expanditure-content {
    height: 100%;
}
.expanditure-content .expanditure-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.expanditure-content .expanditure-header .nav.expanditure .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.expanditure-content .expanditure-header .nav.expanditure .nav-link.active,
.expanditure-content .expanditure-header .nav.expanditure .show>.nav-link {
        background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.expanditure-content .expanditure-body .e-meta-date {
    font-size: 15px;
    font-weight: 600;
    color: #3b3f5c;
}
.expanditure-content .expanditure-body .e-value {
    font-size: 35px;
    color: #3b3f5c;
    font-weight: 600;
}


/* 
    Calendar
*/

.pignose-calendar {
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: none;
}
.pignose-calendar .pignose-calendar-top {
    padding: 3em 0;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year,
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    display: inline-block;
    text-align: center;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    font-size: 140%;
    color: #3862f5;
    font-size: 22px;
    font-weight: 600;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-size: 120%;
    font-weight: 600;
    color: #3862f5;
    font-size: 22px;
    border-bottom: solid 1px #fff;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    position: relative;
    z-index: 5;
    text-decoration: none;
    border-radius: 50%;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    display: inline-block;
    color: #777777;
    font-size: 115%;
    font-weight: 600;
    vertical-align: middle;
    margin-top: -10px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    font-size: 22px;
    top: 4px;
    position: relative;
    vertical-align: middle;
    color: #3862f5;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-icon {
    left: 4px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-icon {
    left: 6px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
    float: left;
    margin-left: 0.6em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
    float: right;
    margin-right: 0.6em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
    margin-left: .2em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
    margin-right: .2em;
}
.pignose-calendar .pignose-calendar-header {
    overflow: hidden;
    color: #1d1d1d;
    background-color: transparent;
    margin-top: 18px;
    margin-bottom: 32px;
    padding: 0 25px;
    font-size: 18px;
}
.pignose-calendar .pignose-calendar-body {
    height: 345px;
    padding: 0 25px;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 115%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
    color: #1F3A93;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
    width: 14.32%;
}
.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
    overflow: hidden;
}
.pignose-calendar-unit {
    float: left;
    display: block;
    height: 4.0em;
    width: 14.28%;
    text-align: center;
    line-height: 2.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pignose-calendar-unit.pignose-calendar-unit-su a {
    color: #1a73e9;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container {
    line-height: .5em;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin {
    display: inline-block;
    background-color: #777777;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin-right: .2em;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin:last-child {
    margin-right: 0;
}
.pignose-calendar-unit a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 34px;
    border-radius: 50%;
    color: #888ea8;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;
}
.pignose-calendar-unit.pignose-calendar-unit-disabled a {
    opacity: .5;
    background-color: #efefef;
}
.pignose-calendar-unit a:active {
    background-color: #d8d8d8;
}
.pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #f1f1f1;
    border-radius: 0;
    width: 100%;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    color: #b2b9bb;
    background-color: #e1e1e1;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}
.pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
    color: #cccccc !important;
}
.pignose-calendar.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
    color: #cccccc !important;
}
.pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #4f5163;
    color: #ffffff!important;
    font-weight: 600;
}
.pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-sat a {
    color: gray;
}
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a {
    color: #ffffff;
}
.pignose-calendar-unit a:hover {
    color: #1a73e9;
    font-weight: 600;
}
.pignose-calendar-unit:last-child {
    width: 14.32%;
}
.pignose-calendar-wrapper {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 360px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    z-index: 50001;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -webkit-transform: translate3d(0, 160px, 0);
    -moz-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    opacity: 0;
    -webkit-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    -moz-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
}
.pignose-calendar-wrapper .pignose-calendar {
    max-width: auto;
    width: 100%;
    border: none;
}
.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pignose-calendar-wrapper-overlay {
    background-color: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
}
.pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
    opacity: .7;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
    border-top: 1px solid #e2e2e2;
    overflow: hidden;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
    width: 50%;
    display: block;
    float: left;
    height: 3.2em;
    text-align: center;
    line-height: 3.2em;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
    background-color: #f1f1f1;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
    color: #ffffff;
    background-color: #2fabb7;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
    background-color: #31b2c9;
}


/*
    User Profile 2
*/

#user-profile-card-2.card {
    border: none;
    height: 492px;
}
#user-profile-card-2.card .card-top-section {
    position: relative;
    background: #fff url(../../img/1280x853.jpg) no-repeat center center;
    background-size: cover;
    padding: 90px 40px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#user-profile-card-2.card .card-top-section .usr-info-meta {
    position: absolute;
    top: 30px;
    left: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
#user-profile-card-2.card .card-top-section .usr-name {
    font-size: 19px;
    color: #fff;
    font-weight: normal;
}
#user-profile-card-2.card .card-top-section .usr-occupation {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
#user-profile-card-2.card .card-top-section .usr-profile-meta {
    position: absolute;
    bottom: -40px;
    left: 55px;
}
#user-profile-card-2.card .card-top-section .usr-profile-meta img {
    width: 90px;
}
#user-profile-card-2.card .card-body {
    padding: 0.9rem;
}
#user-profile-card-2.card .card-body .card-bottom-section .col-md-6.tw {
    border-right: none;
}
#user-profile-card-2.card .card-body .card-bottom-section .col-md-6.insta {
    border-right: none;
}
#user-profile-card-2.card .card-body .card-bottom-section .social-container {
    padding: 20px 0;
}
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-fb i,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-twitter i,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-behance i,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-insta i {
    font-size: 27px;
    color: #3862f5;
}
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-fb .s-media-count,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-twitter .s-media-count,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-behance .s-media-count,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-insta .s-media-count {
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1d;
}
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-fb .s-media-txt,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-twitter .s-media-txt,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-behance .s-media-txt,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-insta .s-media-txt {
    font-size: 15px;
    color: #3b3f5c;
}


/*
    Customer Balance Summary

*/

.customer-bal-summary .c-b-s-header {
    padding: 20px;
    border-bottom: none;
}
.customer-bal-summary .c-b-s-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.customer-bal-summary .c-b-s-header .nav.c-b-s-tab .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.customer-bal-summary .c-b-s-header .nav.c-b-s-tab .nav-link.active,
.customer-bal-summary .c-b-s-header .nav.c-b-s-tab .show>.nav-link {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.customer-bal-summary .c-b-s-body .table > thead > tr > th {
    color: #1a73e9;
    font-size: 18px;
}
.customer-bal-summary .c-b-s-body .table > tbody > tr > td.customer-name {
    color: #4f5163;
    font-weight: 600;
    font-size: 16px;
}
.customer-bal-summary .c-b-s-body .table > tbody > tr > td.c-b-s-date {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 16px;
    padding: 0px;
}
.customer-bal-summary .c-b-s-body .table > tbody > tr > td.customer-price {
    color: #3232b7;
    font-weight: 600;
    font-size: 16px;
}
.customer-bal-summary .c-b-s-body .table > tbody > tr > td span.badge {
    padding: 7px 17px;
    width: 91px;
}
.customer-bal-summary .c-b-s-body .table > tbody > tr > td i {
    font-size: 27px;
    color: #888ea8;
}
.customer-bal-summary .c-b-s-body .table td,
.customer-bal-summary .c-b-s-body .table th {
    vertical-align: middle;
    padding: 15px 30px;
    border-top: 1px solid #e9ecef;
}
.customer-bal-summary .c-b-s-body .c-b-s-bottom {
    padding: 20px;
    border-top: 1px solid #e9ecef;
}
.customer-bal-summary .c-b-s-body .c-b-s-bottom .pagination-stats {
    font-size: 13px;
    color: #1d1d1d;
    font-weight: 600;
}
.customer-bal-summary .c-b-s-body .c-b-s-bottom ul.pagination li {
    margin-right: 5px;   
}
.customer-bal-summary .c-b-s-body .c-b-s-bottom ul.pagination li a {
    background-color: #fff;
    font-size: 13px;
    color: #1d1d1d;
    font-weight: 600;
}
.customer-bal-summary .c-b-s-body .c-b-s-bottom ul.pagination li a:hover:not(.active) {
    background-color: #4f5163;
    color: #fff;
}
.customer-bal-summary .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.customer-bal-summary .table-responsive::-webkit-scrollbar-button:start:decrement,
.customer-bal-summary .table-responsive::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: #000;
    width: 0;
}
.customer-bal-summary .table-responsive::-moz-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.customer-bal-summary .table-responsive::-webkit-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.customer-bal-summary .table-responsive::-moz-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}    
.customer-bal-summary .table-responsive::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}
.customer-bal-summary .table-responsive::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #dedfdf;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}

/*
    Drop Upload
*/

.file-uploader {
    position: relative;
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);
    height: 100%;
}
.file-uploader .dropzone {
    min-height: 290px;
    border: 0px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 0;
    margin: 0;
}
.file-uploader .dropzone .dz-message {
    text-align: center;
    margin: 0em 0;
}
.dropzone .dz-message h3 {
    font-size: 22px;
    color: #1a73e9;
}
.dropzone .dz-message i {
    font-size: 90px;
    color: #1a73e9;
}
.dropzone .dz-message button {
    border: 2px solid #1a73e9!important;
    color: #1a73e9!important;
    padding: 10px 35px;
    border-radius: 6px;
}
.dropzone .dz-message button:hover {
    color: #fff!important;
    background-color: #1a73e9!important;
    border-color: #1a73e9!important;
}
.file-uploader .dropzone .dz-preview {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    padding: 0 5px;
    background: transparent;
}
.dropzone .dz-preview .dz-image { margin: 0 auto; }


/*
    Todo list
*/

.todo-list {
    height: 100%;
}
.todo-list .todo-list-header {
    padding: 20px;
}
.todo-list .todo-list-header h5 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.todo-list .todo-list-header h5 span.badge {
    padding: 5px 16px;
    font-size: 13px;
    background-image: linear-gradient(to right, #00b1f4 0%, #1a73e9 100%);
}
.todo-list .todo-list-header i {
    vertical-align: middle;
    font-size: 30px;
    color: #1a73e9;
    cursor: pointer;
}
.todo-list .todo-list-body .table tbody tr td {
    border-color: #e9ecef;
    padding: 14px 20px 14px 20px;
    vertical-align: middle;
}
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-danger .new-control-indicator  {
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    border: 1px solid #e9ecef;
}
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-danger>input:checked~span.new-control-indicator {
    background-color: #4f5163;
    border: none;
}
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-danger span.todo-text {
    color: #1d1d1d;
    font-size: 17px;
}
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-danger>input:checked~span.todo-text {
    text-decoration: line-through;
}
.todo-list .todo-list-body .n-chk .remove-task {
    font-size: 25px;
    color: #e9ecef;
}
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-danger>input:checked~.remove-task {
    color: #4f5163;
}
.todo-list .todo-list-body .task-edit {
    font-size: 26px;
    vertical-align: middle;
    margin-top: 3px;
    color: #e9ecef;
} 
.todo-list .todo-list-body table tbody tr .task-edit {
    cursor: pointer;
}
.todo-list .todo-list-body table tbody tr:hover .task-edit {
    color: #e7515a;
}
.todo-list .todo-list-bottom {
    padding: 22px;
    border-top: 1px solid #e9ecef;
}
.todo-list .todo-list-bottom span {
    font-weight: 600;
    font-size: 17px;
}
.todo-list .todo-list-bottom button {
    padding: 8px 46px;
    border: 2px solid #1a73e9 !important;
    font-weight: 600;
    font-size: 16px;
}


/*
    Revenue and profit summary
*/

.r-p-summary {
    height: 100%
}
.r-p-summary .r-p-summary-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.r-p-summary .r-p-summary-header h6 {
    font-weight: 600;
    color: #3b3f5c;
}
.r-p-summary .r-p-summary-header .nav.r-p-summary .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 20px;
}
.r-p-summary .r-p-summary-header .nav.r-p-summary .nav-link.active,
.r-p-summary .r-p-summary-header .nav.r-p-summary .show>.nav-link {
        background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.r-p-summary .r-p-summary-body .c3-chart-arcs-title {
    font-size: 2.5em;
}
.r-p-summary .r-p-summary-body .r_p_sales,
.r-p-summary .r-p-summary-body .r_p_revenue,
.r-p-summary .r-p-summary-body .r_p_expanditure  {
    position: relative;
    font-size: 14px; 
    font-weight: 600;
    color: #3f4257;
    padding-left: 6px;
}
.r-p-summary .r-p-summary-body .r-p-summary-legend {
    padding: 20px;
}
.r-p-summary .r-p-summary-body .r-p-summary-legend .d-m-r_p_sales  {
    background-color: #c2d5ff;
    height: 13px;
    width: 13px;
}
.r-p-summary .r-p-summary-body .r-p-summary-legend .d-m-r_p_revenue  {
    background-color: #4f5163;
    height: 13px;
    width: 13px;
}
.r-p-summary .r-p-summary-body .r-p-summary-legend .d-m-r_p_expanditure  {
    background-color: #00b1f4;
    height: 13px;
    width: 13px;
}
.r-p-summary .r-p-summary-body table.table tbody tr td {
    border: none;
    padding: 12px 25px;
}
.r-p-summary .r-p-summary-body table.table tbody p {
    position: relative;
    font-size: 16px; 
    font-weight: 600;
    color: #3f4257;
    padding-left: 35px;
}
.r-p-summary .r-p-summary-body table.table tbody p:before {
    content: "";
    padding: 11px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: 1px;
}
.r-p-summary .r-p-summary-body table.table tbody p.r-p-sales:before  {
    background-color: #e7515a;
}
.r-p-summary .r-p-summary-body table.table tbody p.r-p-revenue:before  {
    background-color: #4f5163;
}
.r-p-summary .r-p-summary-body table.table tbody p.r-p-expenditure:before  {
    background-color: #1abc9c;
}
.r-p-summary .r-p-summary-body table.table tbody span {
    font-weight: 600
}


/*
    Social Card
*/

#social-card-1.card {
    height: 334px;
    padding: 0 20px 20px 20px;
}

#social-card-1.card {
    background-image: linear-gradient(to top, #00b1f4 0%, #1a73e9 100%);
    border: none;
}
#social-card-1.card .wrapper .usr-meta-info .media img {
    width: 70px;
    border: solid 4px #c2d5ff;
    background: #1a73e9;
}
#social-card-1.card .wrapper .usr-meta-info .media .media-body .usr-name  {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}
#social-card-1.card .wrapper .usr-meta-info .media .media-body .usr-occupation  {
    color: #e9ecef;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#social-card-1.card .wrapper .usr-meta-info .media .twitter-icon i  {
    font-size: 50px;
    color: #e9ecef;
    margin-left: 20px;
}
#social-card-1.card .wrapper .usr-tweet {
    color: #ffffff;
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
}


/*
    Weather Card-1
*/

#weather-card-1.card {
    border: none;
}
#weather-card-1.card .day-weather {
    background-color: #4f5163;
    padding: 27px 0 18px;
    height: 100%;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#weather-card-1.card .day-weather i {
    font-size: 50px;
    color: #fff;
}
#weather-card-1.card .day-weather p {
    color: #fff;
    font-size: 16px;
}
#weather-card-1.card .city-1 {
    padding: 27px 0 18px;
}
#weather-card-1.card .city-1 .w-temp {
    position: relative;
    font-size: 38px;
    color: #3b3f5c;
    font-weight: 600;
}
#weather-card-1.card .city-1 .w-temp:before {
    position: absolute;
    content: 'o';
    top: -15px;
    right: -12px;
    font-size: 22px;
    font-weight: 600;
}
#weather-card-1.card .city-1 .w-city-name {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 16px;
}
#weather-card-1.card .city-2 {
    padding: 27px 0 18px;
}
#weather-card-1.card .city-2 .w-temp {
    position: relative;
    font-size: 38px;
    color: #3b3f5c;
    font-weight: 600;
}
#weather-card-1.card .city-2 .w-temp:before {
    position: absolute;
    content: 'o';
    top: -15px;
    right: -12px;
    font-size: 22px;
    font-weight: 600;
}
#weather-card-1.card .city-2 .w-city-name {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 16px;
}


/*
    Event Card
*/

#event-card-1.card {
    position: relative;
    border: none;
    height: 452px;
}
#event-card-1.card .card-title .badge {
    padding: 6px 20px;
    font-size: 19px;
    border: none;
    color: #1d1d1d;
    background-color: #c2d5ff;
}
#event-card-1.card .card-event-icon i {
    font-size: 81px;
    color: #3232b7;
}
#event-card-1.card .card-event-list p {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
#event-card-1.card .card-bottom-section {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
}
#event-card-1.card .card-bottom-section button.btn {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    border: none;
    box-shadow: 2px 3px 15px 0px #1a73e9;
    padding: 12px 29px;
    font-size: 17px;
    font-weight: normal;
}
#event-card-1.card .card-bottom-section button.btn:hover {
    background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
}


/*
    Latest Activities
*/

.latest-activities .latest-activities-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.latest-activities .latest-activities-header h5 {
    color: #3b3f5c;
    font-size: 20px;
}
.latest-activities .latest-activities-body .l-a-stats {
    padding: 20px;
}
.latest-activities .latest-activities-body span.badge {
    background-image: linear-gradient(to right, #00b1f4 0%, #1a73e9 100%);
    padding: 5px 16px;
    font-size: 13px;
}
.latest-activities .latest-activities-body span.latest-activities-stats {
    color: #ee3d50;
    font-size: 16px;
    font-weight: 600;
}
.latest-activities .latest-activities-body table.table tr {
    cursor: pointer;
}
.latest-activities .latest-activities-body table.table tr td {
    border-color: #e9ecef;
    padding: 20px;
    vertical-align: middle;
}
.latest-activities .latest-activities-body table.table tr td p.latest-activities-txt {
    font-size: 18px;
    color: #1d1d1d;
    padding-left: 12px;
}
.latest-activities .latest-activities-body table.table tr td div.usr-img ul.badge-collapsed-img {
    display: inline-block;
    margin-left: 20px;
}
.latest-activities .latest-activities-body table.table tr td p.more-usr {
    display: inline;
    padding: 8px 10px;
    border-radius: 50%;
    background-color: #e8e8e8;
    color: #1d1d1d;
    font-size: 18px;
}
.latest-activities .latest-activities-body table.table tr:hover td p.latest-activities-txt {
    color: #1a73e9;
}
.latest-activities .latest-activities-body table.table tr:hover td .remove-latest-activities {
    color: #1a73e9;
}
.latest-activities .latest-activities-body table.table tr td div.d-m-latest-activities {
    background-color: #1a73e9;
    border-radius: 5px;
    width: 15px;
    height: 15px;
}
.latest-activities .latest-activities-body table.table tr td .remove-latest-activities {
    font-size: 24px;
    color: #e9e9e9;
}
.latest-activities .latest-activities-body .l-a-load-more button {
    padding: 6px 26px;
    font-size: 15px;
}
@media (max-width: 991px) {
    .file-uploader .singleFileUpload {
        top: 9%;
    }
}
@media (max-width: 575px) {
    .net-profit-content {
        margin-bottom: 87px;
    }
    .pignose-calendar .pignose-calendar-header, .pignose-calendar .pignose-calendar-body {
        padding: 0;
    }
}