{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="content-header">
            <div class="jumbotron">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="display-4">Categoria: {{categoria.nombre}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Eventos</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'categoria-list' pk_evento %}">Categorias</a></li>
                            <li class="breadcrumb-item"><a href="">Categoria</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body"  style="padding: 30px 50px;">
                            <!-- <div class="row" style="margin-bottom: 5px;">
                                <div class="col-8">
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-default btn-flat">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col">
                                    <div class="card card-primary card-outline card-outline-tabs">
                                        <div class="card-header p-0 border-bottom-0">
                                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-four-home-tab" href="{% url 'campeonato' pk_evento %}?categoria={{categoria.pk}}" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Inscripciones</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" id="custom-tabs-four-profile-tab"  href="{% url 'grupos' pk_evento %}" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Grupos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-four-messages-tab" href="{% url 'partido-list-view' pk_evento %}" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Partidos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-four-settings-tab" href="{% url 'clasificacion' pk_evento %}" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Clasificacion</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-four-settings-tab" href="{% url 'estadisticas-equipos' pk_evento %}" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Estadisticas</a>
                                            </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                          <div class="tab-content" id="custom-tabs-four-tabContent">
                                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                            </div>
                                            <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                                              <p>Hola mundo</p>
                                            </div>
                                            <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                                            </div>

                <div class="row">
                  <div class="col-12">
                    <p>A continuacion podra seleccionar la categoria a la cual desea visualizar los grupos generados
                       previamente.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                        <label for="firstName">Selecciona la categoria:</label>
                        <select class="form-control" name="categoria" id="id_categoria" required>
                          <option value="0">Seleccione</option>
                          {% for categoria in categorias %}
                            <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="btn btn-success disable" id="btn-visualizar">Visualizar Grupos</i>
                    </div>
                </div>
              </div>
              <br>
              
              <!-- MODAL DE VISUALIZACION DE GRUPOS  -->
              <div class="modal" tabindex="-1" role="dialog" id="modal_visualizar">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Grupos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="modal_finalizar_body">
                        <div class="row" style="overflow-x:auto; margin-left: 25px;">
                          <div class="col-11" id="tablas_ver">
                            
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer" id ="modal_finalizar_pie">
                        <i type="button" class="btn btn-success" data-dismiss="modal" id="modal_no">Cerrar</i>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- FIN MODAL CONFIRMACION DE GENERACION DE GRUPOS ALEATORIO -->
          </div>
        </div> 
    </div>
</div>
    {% endblock %}
    {% block page_js_level %}
   
<script>

var catSeleccionada ="";
let url = '';
var boton = '';
var ventana = document.getElementById('tablaTorneo')

$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});

$("#btn-visualizar").click(function(){
  if (catSeleccionada == ""){
    Swal.fire({
      title: 'No has seleccionado una categoria',
      showConfirmButton: true,
      timer: 1000
    })
    $("#modal_metodo").modal('hide');
  }
  else {
    console.log("La categoria seleccionada es ", catSeleccionada)
    url = '/grupos/categoria/list';
    $.get(url, { 'pk_categoria': catSeleccionada}, function(data, status){
      if(status == "success"){
        console.log("Se puede visualizar los equipos ", data['grupos_creados'])
        if(data['grupos_creados']==true){
          $("#modal_metodo").modal('hide');
          var grupos = data['grupos'];
          if(grupos.length == 0){
            Swal.fire({
                  title: "No cuenta con equipos para visualizar",
                  showConfirmButton: true,
                  timer: 1500
                })
          }
          else{
            $("#modal_visualizar").modal();
            for (var i= 0; i < grupos.length; i++){
              grupo = grupos[i]
              console.log("El grupo tiene nombre ", grupo.nombre)
              var tabla = `
                <table class="tg" style="width: 400px; height:150px; margin-top:20px;">
                  <thead>
                    <tr>
                      <th name="titulo"class="tg-amwm" colspan="4" style="background-color:#5a00ff;color:white;">${grupo.nombre}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: center;" id="grupo_${i}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              `;
              $("#tablas_ver").append(tabla)
              nro_equipos = grupo.numero_equipos
              console.log("el numero de equipos es ", nro_equipos)
              for (var j=0; j< nro_equipos; j++ ){
                lista = `
                <p name=${grupo.id} id=${grupo.id}_${j}>
                </p>
                `;
                $("#grupo_"+i).append(lista)
                console.log("Llega con "+grupo.equipos.length+" equipos")
                nombre_equipo = (grupo.equipos[j][1]+" ("+grupo.equipos[j][2].slice(0,3)+"-"+grupo.equipos[j][3].slice(0,3)+")").toLocaleUpperCase()
                equipo = `
                <p>${nombre_equipo}</p>
                `;
                $("#"+grupo.id+"_"+j).append(equipo)
                
              }
                  
            }
          }
        }
        else{
          Swal.fire({
          title: 'No tiene Grupos a visualizar',
          showConfirmButton: true,
          timer: 1000
        })
        }
        
      }
      else{
        Swal.fire({
          title: 'No tiene Grupos a visualizar',
          showConfirmButton: true,
          timer: 1000
        })
      }
    });
  }
  
});

$("#modal_visualizar").on('hidden.bs.modal', function () {
  elemento = document.getElementById("tablas_ver");
  while (elemento.firstChild) {
    elemento.removeChild(elemento.firstChild);
  }
  });

</script>
<!-- </body>
</html> -->
{% endblock %}