{% extends 'base_sin_nav_side.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
</style>

<form name="grupos-cat" action="{% url 'equipos-grupo-manual' pk %}" class="class-form">
  {% csrf_token %}
  <div class="row">
    <p>Hola mundo</p>
    {% for grupo in grupos %}
      <div class="row" style="overflow-x:auto; margin-top: 40px; margin-right: 10px;">
        <div class="col-11">
          <table class="tg" style="width: 400px;;height: 150px;;">
            <thead>
              <tr>
                <th class="tg-amwm" colspan="4" style="background-color:#5a00ff;color:white;">{{grupo.nombre}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center;">
                {% for campoequipo in grupo.numero_equipos %}
                  <select name="{{ grupo.id }}" id="{{grupo.id}}_{{campoequipo}}">
                    <option value="0">Seleccione</option>
                    {% for equipo in equipos %}
                      <option value="{{equipo.id}}">{{equipo.nombre}}</option>
                      <br>
                    {% endfor %}
                  </select>
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  <div class="row" style = "margin-left: 100px;">
    <button type="submit" id="btn-guardar" class="btn btn-success">Guardar</button> &nbsp;
    <i id="btn-limpiar" onClick="window.location.reload();" class="btn btn-success">Limpiar</i>
  </div>

</form>

  
{% endblock %}
{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">
$(document).ready(function(){
   $('select').on('change', function(event ) {
      //restore previously selected value
      var prevValue = $(this).data('previous');
      $('select').not(this).find('option[value="'+prevValue+'"]').show();
      //hide option selected                
      var value = $(this).val();
      //update previously selected data
      $(this).data('previous',value);
      $('select').not(this).find('option[value="'+value+'"]').hide();
   });
});

$("#btn-guardar").click(function(){
  var selects = document.querySelectorAll('select');
  console.log("El valor de los selects son: ", selects) 

  for (var i=0 ; i <selects.length; i++){
    console.log(selects[i].id)
    id_select= "#"+String(selects[i].id)
    $(id_select).children("option:selected").val("0")
    }
  
});


</script>
{% endblock %}