{% extends 'base_sin_nav_side.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
</style>

<div class="row" style = "margin-left: 100px;">
    {% for grupo in grupos %}
    <div class="row" style="overflow-x:auto; margin-top: 40px; margin-right: 10px;">
        <div class="col-11">
            <table class="tg" style="width: 400px;;height: 150px;;">
                <thead>
                    <tr>
                        <th class="tg-amwm" colspan="11" style="background-color:#5a00ff;color:white;">{{grupo.nombre}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#5a00ffbb;color:white;">
                        <!-- <td class="tg-1wig"><b>No</b></td> -->
                        <td class="tg-1wig"style="text-align:center"><b>Equipo</b></td>
                        <td class="tg-1wig"style="text-align:center"><b>Depto.</b></td>
                        <td class="tg-1wig"style="text-align:center"><b>Municipio</b></td>

                    </tr>
                    {% for equipo in grupo.equipos %}
                    <tr>
                        <!-- <td class="tg-0lax">{{ equipo.0 }}</td> -->
                        <td class="tg-0lax" style="text-align:center">{{ equipo.1 }}</td>
                        <td class="tg-0lax" style="text-align:center">{{ equipo.2 }}</td>
                        <td class="tg-0lax" style="text-align:center">{{ equipo.3 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>

    {% endfor %}
    <br>
  </div>

  
{% endblock %}
{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

</script>
{% endblock %}