{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="content-header">
            <div class="jumbotron">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="display-4">Sorteos</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:history.back()">Eventos</a></li>
                            <li class="breadcrumb-item"><a href="">Sorteos</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body"  style="padding: 30px 50px;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="firstName">
                                            Selecciona la categoria a generar los grupos: 
                                            <button type="button" class="btn btn-default btn-sm" id="myPopover">HTML Inside Popover</button>
                                        </label>
                                        <select class="form-control" name="categoria" id="id_categoria" required>
                                            <option value="0">Seleccione</option>
                                            {% for categoria in categorias %}
                                                <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <i class="btn btn-success" id="btn-auto">Automatico</i>
                                    <i class="btn btn-success" id="btn-manual">Manual</i>
                                </div>
                            </div>
                        </div>
                    </div>
              <br>

              <!--MODAL 3: ACOMODACION MANUAL EQUIPOS -->
              <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                  overflow:hidden;padding:10px 5px;word-break:normal;}
                .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
                .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
                .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                .tg .tg-0lax{text-align:left;vertical-align:top}
              </style>
              <div class="modal fade bd-example-modal-md" id="modalEquiposCat" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle"><strong>Distribucion Manual:</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <div class="invoice p-3 mb-3">
                              <div class="panel panel-default">
                                  <div class="panel-body">
                                      <div class="row">
                                        <form name="grupos-cat" action="{% url 'equipos-grupo-manual' %}" class="class-form" method="POST">
                                          {% csrf_token %}
                                              <div class="row" style="overflow-x:auto; margin-right: 10px;">
                                                <div class="col-11" id="tablas">
                                                  
                                                </div>
                                              </div>
                                            <br>
                                            <button type="submit" id="btn-guardar" class="btn btn-success">Guardar</button> &nbsp;
                                            <i id="btn-limpiar" class="btn btn-success">Limpiar</i>
                                        </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN MODAL 3: LISTA DE INTEGRANTES-->
          </div>
        </div> 
    </div>
</div>
{% endblock %}
{% block page_js_level %}

<script>

var catSeleccionada ="";
let url = '';
var boton = '';
var ventana = document.getElementById('tablaTorneo')

$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});

$("#btn-auto").click(function(){

  boton = "auto"
  console.log("La categoria seleccionada es ", catSeleccionada)
  url = '/grupos/sorteo/categoria';
  $.get(url, { 'pk_categoria': catSeleccionada , 'boton': boton}, function(data, status){
    if(status == "success"){
      if(data['equipos_creados']==true){
        var data_mensaje = data['mensaje'];
        console.log("llega con..... ", data_mensaje);
        Swal.fire({
          title: data_mensaje,
          showConfirmButton: true,
          timer: 1500
        })

        $("#modal_metodo").modal('hide');  
      }
      else{
        Swal.fire({
          title: "Imposible generar Grupos. Partidos ya creados",
          showConfirmButton: true,
          // timer: 1500
        })
      }
      
    }
  });
  categoria = parseInt(catSeleccionada) 
});

$("#btn-manual").click(function(){
  boton = "manual"
  console.log("La categoria seleccionada es ", catSeleccionada)
  url = '/grupos/sorteo/categoria';
  $.get(url, { 'pk_categoria': catSeleccionada , 'boton': boton}, function(data, status){
    if(status == "success"){
      if(data['equipos_creados']==true){
        $("#modalEquiposCat").modal();
        $('#tablas').empty()
        var grupos = data['grupos'];
        var pk = data['pk'];
        var equipos = data['equipos'];

        console.log("llega con estos grupos ", grupos);
        console.log("llega con estos equipos ", equipos);
        console.log("llega con estos pk categoria ", pk);

        for (var i= 0; i < grupos.length; i++){
          grupo = grupos[i]
          console.log("El grupo tiene nombre ", grupo.nombre)
          var tabla = `
            <table class="tg" style="width: 400px; height:150px; margin-top:20px;">
              <thead>
                <tr>
                  <th name="titulo"class="tg-amwm" colspan="4">${grupo.nombre}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center;" id="grupo_${i}">
                  </td>
                </tr>
              </tbody>
            </table>
          `;
          $("#tablas").append(tabla)
          nro_equipos = grupo.numero_equipos
          console.log("el numero de equipos es ", nro_equipos.length)
          for (var j=0; j< nro_equipos.length; j++ ){
            select = `
            <select name=${grupo.id} id=${grupo.id}_${j}>
              <option value="0">Seleccione</option>
            </select>
            `;
            $("#grupo_"+i).append(select)
            for(var k=0; k<equipos.length; k++){
              nombre_equipo = equipos[k].nombre.toUpperCase()
              option = `
                <option value=${equipos[k].id}>${nombre_equipo}</option>
              `;
              $("#"+grupo.id+"_"+j).append(option)
            }
          }
          
        }
        $('#tablas').find('select').on('change', function(event ) {
          //restore previously selected value
          var prevValue = $(this).data('previous');
          $('select').not(this).find('option[value="'+prevValue+'"]').show();
          //hide option selected 
          var value = $(this).val();
          //update previously selected data
          $(this).data('previous',value);
          $('select').not(this).find('option[value="'+value+'"]').hide();
        });
      }
      else{
        Swal.fire({
          title: "Imposible generar Grupos. Partidos ya creados",
          showConfirmButton: true,
          // timer: 1500
        })
      }

    }
  });
  $("#form-manual").removeAttr("hidden");
  categoria = parseInt(catSeleccionada) 
  
});


$("#btn-guardar").click(function(){
  
  var selects = $('#tablas').find('select')
  var validado = true
  console.log("Tengo los selects : ", selects) 

  for (var i=0 ; i <selects.length; i++){
    // console.log(selects[i].id)
    console.log("id select: ", selects[i].id )
    id_select= "#"+String(selects[i].id)
    console.log("El valor del select es: ", $(id_select).val())
    if($(id_select).val() == 0){
      event.preventDefault();
      console.log("Select con valor = 0")
      Swal.fire({
        title: 'Grupos Incompletos, favor revisar',
        showConfirmButton: true,
        timer: 1000
      })
      validado = false
      break
    }

  }
  if (validado){
    Swal.fire({
    title: 'Grupos Mannuales generados satisfactoriamente',
    showConfirmButton: true,
    timer: 1000
  })
  }

});


$("#btn-limpiar").click(function(){
  var selects = $('#tablas').find('select')
  console.log("El valor de los selects son: ", selects) 

  for (var i=0 ; i <selects.length; i++){
    console.log(selects[i].id)
    id_select= "#"+String(selects[i].id)
    $(id_select).val("0").change();
    }
  
});

$(document).ready(function(){
  $('#tablas').find('select').on('change', function(event ) {
    //restore previously selected value
    var prevValue = $(this).data('previous');
    $('select').not(this).find('option[value="'+prevValue+'"]').show();
    //hide option selected 
    var value = $(this).val();
    //update previously selected data
    $(this).data('previous',value);
    $('select').not(this).find('option[value="'+value+'"]').hide();
    });
});

$("select").change(function(e){
    $("select option").removeAttr('disabled');
    $("select").each(function(i,s){
       $("select").not(s).find("option[value="+$(s).val()+"]").attr('disabled','disabled');
    });
});
  
$("select").change(function(e){
    var $s = $(e.target);
    $("select").not($s).find("option[value="+$s.val()+"]").remove();
});

</script>
<!-- </body>
</html> -->
{% endblock %}