{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
  
          </div><!-- /.col -->
  
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

<div class="widget-content-area custom-card p-0" style = "margin-left: 30px;">

    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <div class="card">
                <div class="content-header pl-3 pr-3">
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <h2 class="text-muted">Grupos</h2>
                            <div class="crumbs">
                                <ul id="breadcrumbs" class="breadcrumb">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <p>A continuacion podra seleccionar la categoria a la cual desea visualizar los grupos generados
                       previamente.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                        <label for="firstName">Selecciona la categoria:</label>
                        <select class="form-control" name="categoria" id="id_categoria" required>
                          <option value="0">Seleccione</option>
                          {% for categoria in categorias %}
                            <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="btn btn-success disable" id="btn-visualizar">Visualizar Grupos</i>
                    </div>
                </div>
              </div>
              <br>
              <!-- MODAL DE CONFIRMACION DE METODO DE GENERACION DE GRUPOS -->
              <div class="modal" tabindex="-1" role="dialog" id="modal_metodo">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Confirmación</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="modal_finalizar_body">
                        <p>¿Desea generar los grupos de forma automatica o manual? Tenga en cuenta lo siguiente:</p>
                        <ul>
                          <li>
                            <b>Generacion Automatica:</b> La generacion y asignacion de grupos se hace de forma aleatoria
                            y en lo posible, tratan de ser excluyentes respecto al mismo Departamento y/o Municipio.
                          </li>
                          <li>
                            <b>Generacion Manual:</b> La generacion de grupos se hace de manera automatica pero la asignacion
                            de equipos debe ser realizada por el usuario.
                          </li>
                        </ul>
                    </div>
                    <div class="modal-footer" id ="modal_finalizar_pie">
                      <i class="btn btn-success disable"  id="btn-auto">Automatico</i>
                      <i class="btn btn-success disable"  id="btn-manual">Manual</i>
                    </div>
                  </div>
                </div>
            </div>
            <!-- FIN MODAL DE CONFIRMACION DE METODO DE GENERACION DE GRUPOS -->
              
              <!-- MODAL DE VISUALIZACION DE GRUPOS  -->
              <div class="modal" tabindex="-1" role="dialog" id="modal_visualizar">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Grupos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="modal_finalizar_body">
                        <div class="row" style="overflow-x:auto; margin-left: 25px;">
                          <div class="col-11" id="tablas_ver">
                            
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer" id ="modal_finalizar_pie">
                        <i type="button" class="btn btn-success" data-dismiss="modal" id="modal_no">Cerrar</i>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- FIN MODAL CONFIRMACION DE GENERACION DE GRUPOS ALEATORIO -->

              <!--MODAL 3: ACOMODACION MANUAL EQUIPOS -->
              <div class="modal fade bd-example-modal-md" id="modalEquiposCat" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle"><strong>Distribucion Manual:</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <div class="invoice p-3 mb-3">
                              <div class="panel panel-default">
                                  <div class="panel-body">
                                      <div class="row">
                                        <form name="grupos-cat" action="{% url 'equipos-grupo-manual' %}" class="class-form" method="POST">
                                          {% csrf_token %}
                                              <div class="row" style="overflow-x:auto; margin-left: 15px;">
                                                <div class="col-11" id="tablas">
                                                  
                                                </div>
                                              </div>

                                          <br>
                                            <button type="submit" id="btn-guardar" class="btn btn-success">Guardar</button> &nbsp;
                                            <i id="btn-limpiar" class="btn btn-success">Limpiar</i>
                                        </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN MODAL 3: LISTA DE INTEGRANTES-->
          </div>
        </div> 
    </div>
</div>
    {% endblock %}
    {% block page_js_level %}
   
<script>

var catSeleccionada ="";
let url = '';
var boton = '';
var ventana = document.getElementById('tablaTorneo')

$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});

$("#btn-generar").click(function(){

  if (catSeleccionada == ""){
    Swal.fire({
      title: 'No has seleccionado una categoria',
      showConfirmButton: true,
      timer: 1000
    })
    $("#modal_metodo").modal('hide');
  }
  else {
    $("#modal_metodo").modal();
  }

});

$("#btn-auto").click(function(){
  boton = "auto"
  console.log("La categoria seleccionada es ", catSeleccionada)
  url = '/grupos/categoria/';
  $.get(url, { 'pk_categoria': catSeleccionada , 'boton': boton}, function(data, status){
    if(status == "success"){
      if(data['equipos_creados']==true){
        var data_mensaje = data['mensaje'];
        console.log("llega con..... ", data_mensaje);
        Swal.fire({
          title: data_mensaje,
          showConfirmButton: true,
          timer: 1500
        })

        $("#modal_metodo").modal('hide');  
      }
      else{
        Swal.fire({
          title: "Equipos insuficientes para generar grupos",
          showConfirmButton: true,
          timer: 1500
        })
      }
      
    }
  });
  categoria = parseInt(catSeleccionada) 


});


$("#btn-guardar").click(function(){
  Swal.fire({
    title: 'Grupos Mannuales generados satisfactoriamente',
    showConfirmButton: true,
    timer: 1000
  })
});

$("#btn-manual").click(function(){
  boton = "manual"
  console.log("La categoria seleccionada es ", catSeleccionada)
  url = '/grupos/categoria';
  $.get(url, { 'pk_categoria': catSeleccionada , 'boton': boton}, function(data, status){
    if(status == "success"){
      if(data['equipos_creados']==true){
        $("#modalEquiposCat").modal();
        var grupos = data['grupos'];
        var pk = data['pk'];
        var equipos = data['equipos'];

        console.log("llega con estos grupos ", grupos);
        console.log("llega con estos equipos ", equipos);
        console.log("llega con estos pk categoria ", pk);

        for (var i= 0; i < grupos.length; i++){
          grupo = grupos[i]
          console.log("El grupo tiene nombre ", grupo.nombre)
          var tabla = `
            <table class="tg" style="width: 400px; height:150px; margin-top:20px;">
              <thead>
                <tr>
                  <th name="titulo"class="tg-amwm" colspan="4" style="background-color:#5a00ff;color:white;">${grupo.nombre}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center;" id="grupo_${i}">
                  </td>
                </tr>
              </tbody>
            </table>
          `;
          $("#tablas").append(tabla)
          nro_equipos = grupo.numero_equipos
          console.log("el numero de equipos es ", nro_equipos.length)
          for (var j=0; j< nro_equipos.length; j++ ){
            select = `
            <select name=${grupo.id} id=${grupo.id}_${j}>
              <option value="0">Seleccione</option>
            </select>
            `;
            $("#grupo_"+i).append(select)
            for(var k=0; k<equipos.length; k++){
              nombre_equipo = equipos[k].nombre.toUpperCase()
              option = `
                <option value=${equipos[k].id}>${nombre_equipo}</option>
              `;
              $("#"+grupo.id+"_"+j).append(option)
            }
          }
          
        }
        $('#tablas').find('select').on('change', function(event ) {
          //restore previously selected value
          var prevValue = $(this).data('previous');
          $('select').not(this).find('option[value="'+prevValue+'"]').show();
          //hide option selected 
          var value = $(this).val();
          //update previously selected data
          $(this).data('previous',value);
          $('select').not(this).find('option[value="'+value+'"]').hide();
        });
      }
      else{
        Swal.fire({
          title: "Equipos insuficientes para generar grupos",
          showConfirmButton: true,
          timer: 1500
        })
      }

    }
  });
  $("#form-manual").removeAttr("hidden");
  categoria = parseInt(catSeleccionada) 
  
});


$("#btn-limpiar").click(function(){
  var selects = $('#tablas').find('select')
  console.log("El valor de los selects son: ", selects) 

  for (var i=0 ; i <selects.length; i++){
    console.log(selects[i].id)
    id_select= "#"+String(selects[i].id)
    $(id_select).val("0").change();
    }
  
});

$("#btn-visualizar").click(function(){
  if (catSeleccionada == ""){
    Swal.fire({
      title: 'No has seleccionado una categoria',
      showConfirmButton: true,
      timer: 1000
    })
    $("#modal_metodo").modal('hide');
  }
  else {
    console.log("La categoria seleccionada es ", catSeleccionada)
    url = '/grupos/categoria/list';
    $.get(url, { 'pk_categoria': catSeleccionada}, function(data, status){
      if(status == "success"){
        console.log("Se puede visualizar los equipos ", data['grupos_creados'])
        if(data['grupos_creados']==true){
          $("#modal_metodo").modal('hide');
          var grupos = data['grupos'];
          if(grupos.length == 0){
            Swal.fire({
                  title: "No cuenta con equipos para visualizar",
                  showConfirmButton: true,
                  timer: 1500
                })
          }
          else{
            $("#modal_visualizar").modal();
            for (var i= 0; i < grupos.length; i++){
              grupo = grupos[i]
              console.log("El grupo tiene nombre ", grupo.nombre)
              var tabla = `
                <table class="tg" style="width: 400px; height:150px; margin-top:20px;">
                  <thead>
                    <tr>
                      <th name="titulo"class="tg-amwm" colspan="4" style="background-color:#5a00ff;color:white;">${grupo.nombre}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: center;" id="grupo_${i}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              `;
              $("#tablas_ver").append(tabla)
              nro_equipos = grupo.numero_equipos
              console.log("el numero de equipos es ", nro_equipos)
              for (var j=0; j< nro_equipos; j++ ){
                lista = `
                <p name=${grupo.id} id=${grupo.id}_${j}>
                </p>
                `;
                $("#grupo_"+i).append(lista)
                console.log("Llega con "+grupo.equipos.length+" equipos")
                nombre_equipo = (grupo.equipos[j][1]+" ("+grupo.equipos[j][2].slice(0,3)+"-"+grupo.equipos[j][3].slice(0,3)+")").toLocaleUpperCase()
                equipo = `
                <p>${nombre_equipo}</p>
                `;
                $("#"+grupo.id+"_"+j).append(equipo)
                
              }
                  
            }
          }
        }
        else{
          Swal.fire({
          title: 'No tiene Grupos a visualizar',
          showConfirmButton: true,
          timer: 1000
        })
        }
        
      }
      else{
        Swal.fire({
          title: 'No tiene Grupos a visualizar',
          showConfirmButton: true,
          timer: 1000
        })
      }
    });
  }
  
});

$("#modal_visualizar").on('hidden.bs.modal', function () {
  elemento = document.getElementById("tablas_ver");
  while (elemento.firstChild) {
    elemento.removeChild(elemento.firstChild);
  }
  });

</script>
<!-- </body>
</html> -->
{% endblock %}