{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>

<html>
   
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Futbol Sala</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css>
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/css/adminlte.css' %}">

</head>


<body>
  

    <div class="row" style = "margin-left: 30px;" >
        <div class="widget-content-area custom-card p-0">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1>Clasificacion:</h1>
                        <p>Selecciona la categoria a visualizar:</p>
                        <div class="btn-group">
                            <button id="btn-sub12" type="button" class="btn btn-primary">SUB-12</button>
                            <button id="btn-sub14" type="button" class="btn btn-primary">SUB-14</button>
                            <button id="btn-sub16" type="button" class="btn btn-primary">SUB-16</button>
                            <button id="btn-sub18" type="button" class="btn btn-primary">SUB-18</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <iframe id="tablaTorneo"
                    title="Inline Frame Example"
                    width="1280"
                    height="800"
                    src="">
                </iframe>
            </div>
        </div>
    </div>

   
    <script>

        boton_sub12 = document.getElementById('btn-sub12');
        boton_sub14 = document.getElementById('btn-sub14');
        boton_sub16 = document.getElementById('btn-sub16');
        boton_sub18 = document.getElementById('btn-sub18');


        boton_sub12.onclick = function() {
            console.log("click");
            var ventana = document.getElementById('tablaTorneo')
            ventana.src = '/tabla/sub_12'
        };

        boton_sub14.onclick = function() {
            console.log("click");
            var ventana = document.getElementById('tablaTorneo')
            ventana.src = '/tabla/sub_14'
        };
        
        boton_sub16.onclick = function() {
            console.log("click");
            var ventana = document.getElementById('tablaTorneo')
            ventana.src = '/tabla/sub_16'
        };

        boton_sub18.onclick = function() {
            console.log("click");
            var ventana = document.getElementById('tablaTorneo')
            ventana.src = '/tabla/sub_18'
        };

        



    </script>
</body>
</html>