{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}


<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>

    <div class="widget-content-area custom-card p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <h2 class="text-muted"><b>Clasificacion</b></h2>
                                    <div class="crumbs">
                                        <ul id="breadcrumbs" class="breadcrumb">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="invoice p-3 mb-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>
                                <div class="row" style="overflow-x:auto;">
                                    <div class="col-12">
                                        <p>Seleccione la categoria para la cual desea visualizar la clasificacion actual del torneo. De no visualizarse informacion 
                                            por favor alimentar las planillas en el modulo Torneo > Diligenciamiento > Partidos.
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="firstName">Categoria:</label>
                                            <select class="form-control" name="categoria" id="id_categoria" required>
                                                <option value="0">Seleccione</option>
                                                {% for categoria in categorias %}
                                                    <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                                                {% endfor %}
                                            </select>
                                            <i id="btn-ver" class="btn btn-success" style="margin-top: 32px;">Visualizar clasificacion</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  MODAL CLASIFICACION -->       
                    <div class="modal" tabindex="-1" role="dialog" id="modal_visualizar">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><b>Clasificacion Actualizada:</b></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modal_finalizar_body" style="text-align: center; align-items: center;">
                                    <div class="row" style="overflow-x:auto; margin-left: 25px;">

                                            <i class="btn btn-success" id="btn-grupos">Grupos</i>&nbsp
                                            <i class="btn btn-success" id="btn-octavos" style="visibility: hidden;">Octavos</i>&nbsp
                                            <i class="btn btn-success" id="btn-cuartos" style="visibility: hidden;">Cuartos</i>&nbsp
                                            <i class="btn btn-success" id="btn-semis" style="visibility: hidden;">Semis</i>&nbsp
                                            <i class="btn btn-success" id="btn-final" style="visibility: hidden;"">Final</i>

                                        <div class="col-11" id="tablas">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" id ="modal_finalizar_pie">
                                    <i type="button" class="btn btn-success" data-dismiss="modal" id="modal_no">Cerrar</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN MODAL CLASIFICACION -->       
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js_level %}
<script>
$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});

var select_categoria = document.getElementById("id_categoria")
var catSeleccionada = select_categoria.value

$("#btn-ver").click(function(){
    if (catSeleccionada == ""){
    Swal.fire({
      title: 'No has seleccionado una categoria',
      showConfirmButton: true,
      timer: 1000
    })
    $("#modal_metodo").modal('hide');
  }
  else {
    $("#tablas").empty()
    console.log("La categoria seleccionada es ", catSeleccionada)
    url = '/clasificacion/categoria';
    $.get(url, { 'pk_categoria': catSeleccionada}, function(data, status){
      if(status == "success"){
        console.log("Se puede visualizar los grupos ", data['respuesta'])
        var grupos = data['respuesta'];
        for (var [grupo, informacion] of Object.entries(grupos)){
            console.log("El grupo tiene nombre ", grupo)
            var tabla = `
            <table id="tabla_${informacion.pk}"class="tg table table-bordered" style="width: 700px; height:150px; margin-top:20px;">
                <thead>
                    <tr>
                        <th name="titulo"class="tg-amwm" colspan="10" style="background-color:#5a00ff;color:white;"><b>${grupo}</b></th>
                    </tr>
                </thead>
                <tbody id="tbody_${informacion.pk}">
                    <tr>
                        <td class="tg-1wig"><b>Nro.</b></td>
                        <td class="tg-1wig"><b>Equipo</b></td>
                        <td class="tg-1wig"><b>PJ</b></td>
                        <td class="tg-1wig"><b>PG</b></td>
                        <td class="tg-1wig"><b>PE</b></td>
                        <td class="tg-1wig"><b>PP</b></td>
                        <td class="tg-1wig"><b>GF</b></td>
                        <td class="tg-1wig"><b>GC</b></td>
                        <td class="tg-1wig"><b>GD</b></td>
                        <td class="tg-1wig"><b>PTS</b></td>
                    </tr>
                </tbody>
            </table>
            `;
            $("#tablas").append(tabla)
            nro_equipos = informacion.equipos.length
            console.log("el numero de equipos es ", nro_equipos)
            console.log("informacion de quipos: ", informacion.equipos)
            for (var j=0; j< nro_equipos; j++ ){
                lista = `
                <tr>
                    <td class="tg-0lax">${j+1}</td>
                    <td class="tg-0lax">${informacion.equipos[j].equipo}</td>
                    <td class="tg-0lax">${informacion.equipos[j].pj}</td>
                    <td class="tg-0lax">${informacion.equipos[j].pg}</td>
                    <td class="tg-0lax">${informacion.equipos[j].pe}</td>
                    <td class="tg-0lax">${informacion.equipos[j].pp}</td>
                    <td class="tg-0lax">${informacion.equipos[j].gf}</td>
                    <td class="tg-0lax">${informacion.equipos[j].gc}</td>
                    <td class="tg-0lax">${informacion.equipos[j].gd}</td>
                    <td class="tg-0lax">${informacion.equipos[j].pts}</td>
                </tr>
                `;
                $("#tbody_"+informacion.pk).append(lista)
                // console.log("Llega con "+nro_equipos+" equipos")
                // nombre_equipo = (grupo.equipos[j][1]+" ("+grupo.equipos[j][2].slice(0,3)+"-"+grupo.equipos[j][3].slice(0,3)+")").toLocaleUpperCase()
                // equipo = `
                // <p>${nombre_equipo}</p>
                // `;
                // $("#"+grupo.id+"_"+j).append(equipo)
                
            }
            $("#modal_visualizar").modal();

            // var table = document.getElementById("tbody_"+informacion.pk);
            // console.log("El id de la tabla es : #tabla_"+informacion.pk )
            // var switching = true;
            // while (switching) {
            //     switching = false;
            //     rows = table.rows;
            //     for (i = 1; i < (rows.length - 1); i++) {
            //         var shouldSwitch = false;
            //         pts_x = rows[i].getElementsByTagName("TD")[8];
            //         pts_y = rows[i + 1].getElementsByTagName("TD")[8];
            //         if (pts_x.innerHTML < pts_y.innerHTML) {
            //             shouldSwitch = true;
            //             break;
            //         }
            //         else if(pts_x.innerHTML == pts_y.innerHTML){
            //             gd_x = rows[i].getElementsByTagName("TD")[7];
            //             gd_y = rows[i + 1].getElementsByTagName("TD")[7];
            //             if ( parseInt(gd_x.innerHTML) < parseInt(gd_y.innerHTML)) {
            //                 shouldSwitch = true;
            //                 break;
            //             }
            //         }
            //     }
            //     if (shouldSwitch) {
            //         rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            //         switching = true;
            //     }
            // }
        
            
            
        }

        
      }
      else{
        Swal.fire({
          title: 'No tiene Grupos a visualizar',
          showConfirmButton: true,
          timer: 1000
        })
      }
    });
  }
  
})

</script>
{% endblock %}