{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>

    <div class="widget-content-area custom-card p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <h3 class="text-muted"><b>Detalle de Partido</b></h3>
                                    <div class="crumbs">
                                        <ul id="breadcrumbs" class="breadcrumb">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="invoice p-3 mb-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row" style="overflow-x:auto;">
                                    <table id="ecommerce-product-list" class="table table-bordered">
                                        <thead> 
                                            <h5><b>Informacion del Partido:</b></h5>
                                            <tr style="background-color:#5a00ff;color:white;">
                                                <th>Categoria</th>
                                                <th>Fecha</th>
                                                <th class="align-center">Equipo Local</th>
                                                <th class="align-center">Equipo Visitante</th>
                                                <th class="align-center">Ganador</th>
                                                <!-- <th class="align-center">Acciones</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td>{{partido.categoria}}</td>
                                                <td>{{partido.fecha}}</td>
                                                <td>{{partido.local}}</td>
                                                <td>{{partido.visitante}}</td>
                                                <td>{{partido.ganador}}</td>
                                        
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table id="ecommerce-product-list" class="table table-bordered">
                                        <thead> 
                                            <h5><b>Equipo Arbitral:</b></h5>
                                            <tr style="background-color:#5a00ff;color:white;">
                                                <th>Arbitro 1</th>
                                                <th>Arbitro 2</th>
                                                <th class="align-center">Arbitro 3</th>
                                                <th class="align-center">Cronogramista</th>
                                                <th class="align-center">Coordinador</th>
                                                <!-- <th class="align-center">Acciones</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{partido.arbitro1}}</td>
                                                <td>{{partido.arbitro2}}</td>
                                                <td>{{partido.arbitro3}}</td>
                                                <td>{{partido.cronogramista}}</td>
                                                <td>{{partido.coordinador}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
        
                                    <table id="ecommerce-product-list" class="table table-bordered">
                                        <thead> 
                                            <h5><b>Jugadores Equipo Local:</b></h5>
                                            <tr style="background-color:#5a00ff;color:white;">
                                                <th>Documento</th>
                                                <th>Nombre</th>
                                                <th class="align-center">Nro.</th>
                                                <th class="align-center">Goles</th>
                                                <th class="align-center">Amon.</th>
                                                <th class="align-center">Exp.</th>
                                                <!-- <th class="align-center">Acciones</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for jugador in jugadores_locales %}
                                            <tr>
                                                <td>{{jugador.jugador.documento}}</td>
                                                <td>{{jugador.jugador.nombres}} {{jugador.jugador.apellidos}}</td>
                                                <td>{{jugador.numero}}</td>
                                                <td>{{jugador.gol_partido}}</td>
                                                <td>{{jugador.amarilla_partido}}</td>
                                                <td>{{jugador.roja_partido}}</td>                                    
                                            </tr>
                                        {% endfor %} 
                                        </tbody>
                                    </table>
        
                                    <table id="ecommerce-product-list" class="table table-bordered">
                                        <thead> 
                                            <h5><b>Jugadores Equipo Visitante:</b></h5>
                                            <tr style="background-color:#5a00ff;color:white;">
                                                <th>Documento</th>
                                                <th>Nombre</th>
                                                <th class="align-center">Nro.</th>
                                                <th class="align-center">Goles</th>
                                                <th class="align-center">Amon.</th>
                                                <th class="align-center">Exp.</th>
                                                <!-- <th class="align-center">Acciones</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for jugador in jugadores_visitantes %}
                                            <tr>
                                                <td>{{jugador.jugador.documento}}</td>
                                                <td>{{jugador.jugador.nombres}} {{jugador.jugador.apellidos}}</td>
                                                <td>{{jugador.numero}}</td>
                                                <td>{{jugador.gol_partido}}</td>
                                                <td>{{jugador.amarilla_partido}}</td>
                                                <td>{{jugador.roja_partido}}</td>                                    
                                            </tr>
                                        {% endfor %} 
                                        </tbody>
                                    </table>
                                    <div>
                                        <a href="{% url 'partido-list-edit' %}">
                                            <button class="btn btn-success">Regresar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

</script>
{% endblock %}