{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <form name='equipo' class="form-horizontal needs-validation" method="post" action="{% url 'partido-edit' partido.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
              <h3 class="card-title"><strong>PLANILLA PARTIDO</strong></h3>
            </div>
            <div class="card-body">
              <div id="accordion">
                <div class="card card-primary">
                  <div class="card-header">
                    <h4 class="card-title w-100">
                      <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                        Informacion del Partido:
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body" style="overflow-x:auto;">
                      <p>Por favor diligencie los datos conforme la planilla fisica obtenida al final del encuentro.
                        No olvide subir el soporte.
                      </p>
                      <div class="row"> 
                        <div class="col-4" id="selectcat">
                          <div class="form-group">
                            <label for="firstName">Categoria: </label>
                            <div class="row">
                              <div class="col-11">
                                <input class="form-control" type="text" value="{{partido.categoria.nombre}}" disabled>
                              </div>
                              <div class="col-1">
                                <input class="form-control" type="hidden" id="categoria" value="${partido.categoria.pk}"/>
                              </div>
                            </div>
 
                          </div>
                        </div>

                        <div class="col-4" id="selectcat">
                          <div class="form-group">
                            <label for="firstName">Fase: </label>
                            <div class="row">
                              <div class="col-11">
                                <input class="form-control" type="text" value="{{partido.fase}}" disabled>
                              </div>
                              <div class="col-1">
                                <input class="form-control" type="hidden" id="fase" value="${partido.fase}"/>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="col-4"id="col_fecha_nac">
                          <div class="form-group">
                            <label>Fecha y Hora:</label>
                              <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                  <input class="mdl-textfield__input form-control" name="fecha_hora_partido" type="datetime-local" id="fecha_hora_partido" required/>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4" id="select_local">
                          <div class="form-group">
                            <label for="firstName">Equipo Local: </label>
                            <div class="row">
                              <div class="col-10">
                                <input class="form-control" type="text" value="{{partido.local.nombre}}" disabled>
                              </div>
                              <div class="col-2">
                                <input class="form-control" type="text" id="local" value="{{partido.local.pk}}" >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-2" id="select_local">
                          <div class="form-group">
                              <label for="firstName">Goles Local: </label>
                              <input class="form-control"  type="number" id="goles_local"min="0" max="99"name="goles_local">
                            </div>
                        </div>
    
                        <div class="col-4" id="select_visitante">
                            <div class="form-group">
                                <label for="firstName">Equipo Visitante: </label>
                                <div class="row">
                                  <div class="col-10">
                                    <input class="form-control" type="text" value="{{partido.visitante.nombre}}" disabled>
                                  </div>
                                  <div class="col-2">
                                    <input class="form-control" type="text" id="visitante" value="{{partido.visitante.pk}}" >
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" id="select_local">
                          <div class="form-group">
                              <label for="firstName">Goles Visitante: </label>
                              <input class="form-control"  type="number" id="goles_visitante"min="0" max="99"name="goles_visitante">
                          </div>
                        </div>
                      </div>
                        {% if partido.fase != 'Grupos' %}
                            <div class="card w-50" id="penaltis_card" style="display: none; margin-left: 270px;">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-4" id="select_local" style="text-align: right; margin-top: 62px;">
                                    <p><b>Penaltis:</b></p>
                                  </div>
                                  <div class="col-2" id="select_local">
                                    <div class="form-group"style="text-align: center">
                                        <label for="firstName">Marcados Local: </label>
                                        <input class="form-control"  type="number" id="penales_local"min="0" max="99"name="penales_local">
                                      </div>
                                  </div>
                                  <p style="margin-top: 62px;">-</p>
                                  <div class="col-2" id="select_local"style="text-align: center">
                                    <div class="form-group">
                                        <label for="firstName">Marcados Visitante: </label>
                                        <input class="form-control"  type="number" id="penales_visitante"min="0" max="99"name="penales_visitante">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                      {% endif %}
                      <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="arbitro1">Arbitro 1:</label>
                                <input type="text" name="arbitro1" maxlength="512" class="form-control" id="arbitro1" required>
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label for="arbitro1">Arbitro 2:</label>
                              <input type="text" name="arbitro2" maxlength="512" class="form-control" id="arbitro2" required>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label for="arbitro1">Arbitro 3:</label>
                              <input type="text" name="arbitro3" maxlength="512" class="form-control" id="arbitro3" required>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label for="arbitro1">Cronogramista:</label>
                              <input type="text" name="cronogramista" maxlength="512" class="form-control" id="cronogramista" required>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label for="arbitro1">Coordinador:</label>
                              <input type="text" name="coordinador" maxlength="512" class="form-control" id="coordinador" required>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="exampleInputFile">Archivo Soporte:</label>
                                <input type="file" id="exampleInputFile" required>
                          </div>
                        </div>

                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-danger">
                  <div class="card-header">
                    <h4 class="card-title w-100">
                      <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                        Informacion Equipo Local:
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>A continuacion encontrara el listado de jugadores inscritos. Ingrese la informacion correspondiente a goles, amonestaciones y expulsiones por cada jugador.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                              <label for="arbitro1">Equipo:</label>
                              <input class="form-control" type="text" id="local_{{partido.local.pk}}" value="{{partido.local.nombre}}" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                              <label for="arbitro1">Color:</label>
                              <input type="text" name="color_local" maxlength="512" class="form-control"  id="color_local">
                          </div>
                        </div>
                      </div>
                      <div style="overflow-x:auto;">
                        <table class="table table-bordered" name="integrantes" id="tabla_local">
                          <thead>
                            <tr>
                                <th class="text-center">Doc.</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">No.</th>
                                <th class="text-center">Goles</th>
                                <th class="text-center">Amon.</th>
                                <th class="text-center">Exp.</th>
                            </tr>
                          </thead>
                          <tbody id="tabla_tbody_local">
                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                  </div>
                </div>

                <div class="card card-success">
                  <div class="card-header">
                    <h4 class="card-title w-100">
                      <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                        Informacion Equipo Visitante:
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>A continuacion encontrara el listado de jugadores inscritos. Ingrese la informacion correspondiente a goles, amonestaciones y expulsiones por cada jugador.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                              <label for="arbitro1">Equipo:</label>
                              <input class="form-control" type="text" id="visitante_{{partido.visitante.pk}}" value="{{partido.visitante.nombre}}" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                              <label for="arbitro1">Color:</label>
                              <input type="text" name="color_visitante" maxlength="512" class="form-control"  id="color_visitante">
                          </div>
                        </div>
                      </div>
                      <div style="overflow-x:auto;">
                        <table class="table table-bordered" name="integrantes" id="tabla_visitante">
                          <thead>
                            <tr>
                                <th class="text-center">Doc.</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">No.</th>
                                <th class="text-center">Goles</th>
                                <th class="text-center">Amonestaciones</th>
                                <th class="text-center">Expulsion</th>
                            </tr>
                          </thead>
                          <tbody id="tabla_tbody_visitante">
                          </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>

                  <i id="btn-finalizar" name="finalizar" class="btn btn-primary" >Finalizar</i>

                  <div class="modal" tabindex="-1" role="dialog" id="modal_finalizar">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Atencion:</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>¿Esta seguro que desea guardar los cambios?. Recuerde que posteriormente no se podra editar. </p>
                        </div>
                        <div class="modal-footer">
                          <button id="btn_si"type="submit" class="btn btn-success">Si</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">
// =============================== VARIABLES ================================================================
var categoria = document.getElementById('id_categoria');
var fecha_hora = document.getElementById('fecha_hora_partido');
var local = document.getElementById('local');
var visitante = document.getElementById('visitante');
var arbitro1 = document.getElementById('arbitro1');
var arbitro2 = document.getElementById('arbitro2');
var arbitro3 = document.getElementById('arbitro3');
var cronogramista = document.getElementById('cronogramista');
var coordinador = document.getElementById('coordinador');
var color_local = document.getElementById('color_local');
var color_visitante = document.getElementById('color_visitante');
var table_local = document.getElementById("tabla_tbody_local");
var table_visitante = document.getElementById("tabla_tbody_visitante");
var goles_local = document.getElementById("goles_local");
var goles_visitante = document.getElementById("goles_visitante");
var soporte = document.getElementById("exampleInputFile");
var fase = document.getElementById("fase");



//=================================  FUNCIONES  =============================================================
//Funcion que valida los campos a llenar
function validar(){

  let campos  = [
    [fecha_hora,'#fecha_hora_partido'],
    [goles_local,'#goles_local'],
    [goles_visitante,'#goles_visitante'],
    [arbitro1,'#arbitro1'],
    [arbitro2,'#arbitro2'],
    [arbitro3,'#arbitro3'],
    [cronogramista,'#cronogramista'],
    [coordinador,'#coordinador'],
    [color_local,'#color_local'],
    [color_visitante,'#color_visitante']
  ];

  var validado = true;

  for (let i=0; i < campos.length; i++){
    if (campos[i][0].value == ""){
      validado = false;
      $(campos[i][1]).addClass('is-invalid');
    }
  }
  console.log("Validar: ", validado)
  return validado
  // return true
}  

function validar_goles_ingresados(tabla, goles){

  var goles_total = 0
  for (var i = 0, row; row = tabla.rows[i]; i++) {
    var id_jugador = parseInt(row.cells[0].innerHTML);
    console.log("Estoy en la tabla, en la posicion ",i+1," y tengo el sigueinte id: ",id_jugador)
    id_input = id_jugador+"_goles_jugador_local"
    
    console.log("El input tiene id: ", id_input)
    try {
      goles_jugador = parseInt(document.getElementById(id_input).value)
    }
    catch{
      id_input = id_jugador+"_goles_jugador_visitante"
      goles_jugador = parseInt(document.getElementById(id_input).value)
    }
    console.log("Los goles del jugador fueron ", goles_jugador)
    goles_total += goles_jugador
  }
  console.log("Los GOLES marcados fueron: ", goles_total)

  goles_equipo = parseInt(goles)
  console.log("Los goles ingresados en informacion son:", goles)
  console.log("Los goles obtenidos en tabla son son:", goles_total)


  if(goles_total == goles_equipo){
    return true
  }
  else{
    return false
  }
}

function comparar_goles(){
  console.log("Goles Local: ", goles_local)
  if (goles_local.value == goles_visitante.value && fase != 'Grupos'){
    document.getElementById("penaltis_card").style.display="block";
  }
  else{
    document.getElementById("penaltis_card").style.display="none";
  }
}
//================================= TAB 1 ===================================================================
$("#id_categoria").change(function(){
  $('#id_categoria').removeClass('is-invalid');
});

$("#fecha_hora_partido").change(function(){
  $('#fecha_hora_partido').removeClass('is-invalid');
});

$("#local").change(function(){
  $('#local').removeClass('is-invalid');
});

$("#visitante").change(function(){
  $('#visitante').removeClass('is-invalid');
});

$("#arbitro1").change(function(){
  $('#arbitro1').removeClass('is-invalid');
});

$("#arbitro2").change(function(){
  $('#arbitro2').removeClass('is-invalid');
});

$("#arbitro3").change(function(){
  $('#arbitro3').removeClass('is-invalid');
});

$("#cronogramista").change(function(){
  $('#cronogramista').removeClass('is-invalid');
});

$("#coordinador").change(function(){
  $('#coordinador').removeClass('is-invalid');
});

$("#goles_local").change(function(){
  $('#goles_local').removeClass('is-invalid');
  comparar_goles()
});

$("#goles_visitante").change(function(){
  $('#goles_visitante').removeClass('is-invalid');
  comparar_goles()
});

//========================================= TAB 2 =================================================================
$("#color_local").change(function(){
  $('#color_local').removeClass('is-invalid');
});

$(document).ready(function(){
  $('#tabla_tbody_local').empty();
  var total_goles = 0
  var EquipoLocal = $("#local").val();
  
  console.log("El equipo seleccionado es : ", EquipoLocal)
  const url = '/equipos/jugadores/list/'; 

  if (EquipoLocal != ''){
    $.get(url, {"equipo_pk": EquipoLocal }, function(data,status){
      if (status=="success"){
        var resultados = data['jugadores'];
        console.log('Resultados'+resultados)
        for (i=0; i<resultados.length; i++){
          var resultado = resultados[i];
          var fila = `
                  <tr >
                    <input type="hidden" name="id_local" value="${resultado["documento"]}"/>
                    <td>${resultado["documento"]}</td>
                    <td>${resultado["nombres"]} ${resultado["apellidos"]}</td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_numero_jugador_local"min="0" max="99"name="numero_jugador_local" value="0" >
                    </td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_goles_jugador_local"min="0" max="50"name="goles_jugador_local" value="0">
                    </td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_amonestaciones_jugador_local"min="0" max="2"name="amonestaciones_jugador_local" value="0">
                    </td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_expulsiones_jugador_local"min="0" max="1"name="expulsiones_jugador_local" value="0">
                    </td>
                  </tr>;
              `;
          $('#tabla_tbody_local').append(fila);
        }
      }
      else{
        alert("no se logra conectar al servidor");
      }
    });
  }
});

//========================================= TAB 3 =================================================================
$("#color_visitante").change(function(){
  $('#color_visitante').removeClass('is-invalid');
});

$(document).ready(function(){
  $('#tabla_tbody_visitante').empty();
  var total_goles = 0
  var EquipoVisitante = $("#visitante").val();


  console.log("El equipo seleccionado es : ", EquipoVisitante)
  const url = '/equipos/jugadores/list/'; 

  if (EquipoVisitante != ''){
    $.get(url, {"equipo_pk": EquipoVisitante }, function(data,status){
      if (status=="success"){
        var resultados = data['jugadores'];
        console.log('Resultados'+resultados)
        for (i=0; i<resultados.length; i++){
          var resultado = resultados[i];
          var fila = `
                  <tr >
                    <input type="hidden" name="id_visitante" value="${resultado["documento"]}"/>
                    <td>${resultado["documento"]}</td>
                    <td>${resultado["nombres"]} ${resultado["apellidos"]}</td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_numero_jugador_visitante"min="0" max="99"name="numero_jugador_visitante" value="0">
                    </td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_goles_jugador_visitante"min="0" max="50"name="goles_jugador_visitante" value="0">
                    </td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_amonestaciones_jugador_visitante"min="0" max="2"name="amonestaciones_jugador_visitante" value="0">
                    </td>
                    <td>
                      <input class="form-control"  type="number" id="${resultado["documento"]}_expulsiones_jugador_visitante"min="0" max="1"name="expulsiones_jugador_visitante" value="0">
                    </td>
                  </tr>;
              `;
          $('#tabla_tbody_visitante').append(fila);
        }
      }
      else{
        alert("no se logra conectar al servidor");
      }
    });
  }
});

//========================================= FINALIZAR =============================================================
$("#btn-finalizar").click(function(){
  var goles_local = document.getElementById("goles_local").value;
  var goles_visitante = document.getElementById("goles_visitante").value;
  if (validar()){
    var validar_goles_ingresados_local= validar_goles_ingresados(table_local, goles_local)
    var validar_goles_ingresados_visitante= validar_goles_ingresados(table_visitante, goles_visitante)

    if (validar_goles_ingresados_local && validar_goles_ingresados_visitante){
      $("#modal_finalizar").modal('show');
    }
    else{
      Swal.fire({
          title: 'Los goles registrados en informacion del partido no coinciden con los ingresados por equipo',
          showConfirmButton: true,
          // timer: 1200
        })
    }


  }
  else{
    Swal.fire({
          title: 'Revise los datos ingresados.',
          showConfirmButton: true,
          // timer: 1200
        })
  }
  });

  $("#btn_si").click(function(){
    Swal.fire({
          title: 'Ingrese un soporte.',
          showConfirmButton: true,
          timer: 1200
        })

  });
 


</script>
{% endblock %}
