{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
  
                </div><!-- /.col -->
  
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="widget-content-area custom-card p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <h2 class="text-muted"><b>Partidos: Fixture</b></h2>
                                    <div class="crumbs">
                                        <ul id="breadcrumbs" class="breadcrumb">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="invoice p-3 mb-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>
                                <div class="row" style="overflow-x:auto;">
                                    <div class="col-12">
                                        <p>Seleccione la categoria para la cual desea visualizar los partidos. Tener en cuenta que previamente 
                                            se debieron crear los grupos y el fixture correspondientes ya que solo se visualizan aquellas categorias que los
                                            posean.
                                        </p>
                                    </div>
                                    <div class="col">
                                          <div class="form-group">
                                              <label for="firstName">Categoria:</label>
                                              <select class="form-control" name="categoria" id="id_categoria" required>
                                                <option value="">Seleccione</option>
                                                <option value="0">Todos</option>
                                                {% for categoria in categorias %}
                                                  <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                                                {% endfor %}
                                                
                                              </select>

                                            </div>
                                            
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="firstName">Fase:</label>
                                                <select class="form-control" name="categoria" id="id_fase" required>
                                                  <option value="">Seleccione</option>
                                                  <option value="Todas">Todas</option>
                                                  <option value="Grupos">Grupos</option>
                                                  <option value="Dieciseisavos">Dieciseisavos de Final</option>
                                                  <option value="Octavos">Octavos de Final</option>
                                                  <option value="Cuartos">Cuartos de Final</option>
                                                  <option value="Semis">Semifinales</option>
                                                  <option value="Final">Final</option>
                                                </select>
  
                                              </div>
                                              
                                          </div>

                                        </div>
                                        <div class="row" style="margin-left: 2px;">
                                            <i id="btn-ver" class="btn btn-success">Ver</i>
                                        </div>
                                        <br>
                                    <table id="ecommerce-product-list" class="table table-bordered" >
                                        <thead style="background-color:#5a00ff;color:white;">
                                            <tr>
                                                <th class="align-center">No.</th>
                                                <th class="align-center">Fase</th>
                                                <th class="align-center">Local</th>
                                                <th class="align-center">Vs.</th>
                                                <th class="align-center">Visitante</th>
                                                <th class="align-center">Grupo</th>
                                                <th class="align-center">Categoria</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            {% for partido in partidos %}
                                                <tr id="{{partido.pk}}">
                                                    <td>{{partido.pk}}</td> 
                                                    <td>{{partido.fase}}</td> 
                                                    <td>{{partido.local}}</td>  
                                                    <td> - </td>  
                                                    <td>{{partido.visitante}}</td>
                                                    <td>{{partido.grupo.nombre}}</td>
                                                    <td>{{partido.categoria}}</td>
                                                </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                    <!-- PAGINATION -->
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="ecommerce-product-list_info" role="status" aria-live="polite">Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="ecommerce-product-list_paginate">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="paginate_button page-item previous" id="ecommerce-product-list_previous"><a href="?page={{ page_obj.previous_page_number }}" aria-controls="ecommerce-product-list" data-dt-idx="0" tabindex="0" class="page-link"><i class="flaticon-arrow-left-1"></i></a></li>
                                        {% endif %}
                                            {% for i in paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                    <li class="paginate_button page-item active"><a href="#" aria-controls="ecommerce-product-list" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                                                {% else %}
                                                    <li class="paginate_button page-item "><a href="?page={{ i }}" aria-controls="ecommerce-product-list" data-dt-idx="2" tabindex="0" class="page-link">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="paginate_button page-item next" id="ecommerce-product-list_next"><a href="?page={{ page_obj.next_page_number }}" aria-controls="ecommerce-product-list" data-dt-idx="3" tabindex="0" class="page-link"><i class="flaticon-arrow-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGINATION.... -->             
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js_level %}
<script>
$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});
$("#id_fase").change(function(){
    faseSeleccionada = $(this).children("option:selected").val();
    if(catSeleccionada=="0"){
        document.getElementById("#id_fase").setAttribute("disabled", "disabled")
    }
    else{
        document. getElementById("id_fase"). removeAttribute("disabled");
    }
});

var select_categoria = document.getElementById("id_categoria")
var catSeleccionada = select_categoria.value

var select_fase = document.getElementById("id_fase")
var faseSeleccionada = select_categoria.value

$("#btn-ver").click(function(){
    console.log("La categoria seleccionada es ", catSeleccionada)

    if (catSeleccionada == "" && faseSeleccionada == "" ){
        Swal.fire({
            title: 'Selecciona una categoria y una fase',
            showConfirmButton: true,
            timer: 1000
        })
        $("#modal_metodo").modal('hide');
    }
    else if(catSeleccionada=="0" && faseSeleccionada == "Todas" ){
        table = document.getElementById("ecommerce-product-list");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
    else {
        // Declare variables
        var entrada, filtro_categoria, filtro_fase, tabla, filas, celda_categoria, celda_fase, i, valor_texto_celda_categoria,valor_texto_celda_fase
        filtro_categoria = select_categoria.options[select_categoria.selectedIndex].text ;
        filtro_fase = select_fase.options[select_fase.selectedIndex].value ;
        console.log("El filtro de categoria es ", filtro_categoria)
        console.log("El filtro de fase es ", filtro_fase)
        tabla = document.getElementById("ecommerce-product-list");
        filas = tabla.getElementsByTagName("tr");


        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < filas.length; i++) {
            console.log("###################################################")
            celda_categoria = filas[i].getElementsByTagName("td")[6];
            celda_fase = filas[i].getElementsByTagName("td")[1];
            // console.log("Categoria seleccionado es : ", celda_categoria)
            // console.log("Fase seleccionado es : ", celda_fase)
            if (celda_categoria && celda_fase) {
                // console.log("las celdas existen")
                valor_texto_celda_categoria = celda_categoria.textContent || celda_categoria.innerText;
                valor_texto_celda_fase = celda_fase.textContent || celda_fase.innerText;
                console.log("El texto extraido de la opcion de categoria es :", valor_texto_celda_categoria)
                console.log("El texto extraido de la opcion de fase es :", valor_texto_celda_fase)
                console.log("Categoria encontrada", valor_texto_celda_categoria.indexOf(filtro_categoria))
                console.log("Fase encontrada", valor_texto_celda_fase.indexOf(filtro_fase))
                if (valor_texto_celda_categoria.indexOf(filtro_categoria) > -1 ) {
                    console.log("Categoria coinciden")
                    if(valor_texto_celda_fase.indexOf(filtro_fase) > -1 ){
                        console.log("Categoria y Fase coinciden")
                        filas[i].style.display = "";
                    }
                    else {
                        console.log("Fase NO coinciden")
                        filas[i].style.display = "none";
                    }
                } 
                else {
                    console.log("Categoria NO coinciden")
                    filas[i].style.display = "none";
                }
            }
            else{
                console.log("No es posible realizar la accion")
            }
        }
    }
});

</script>
{% endblock %}