{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>

    <div class="widget-content-area custom-card p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <h2 class="text-muted"><b>Partidos: Planillas</b></h2>
                                    <div class="crumbs">
                                        <ul id="breadcrumbs" class="breadcrumb">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="invoice p-3 mb-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row" style="overflow-x:auto;">
                                    <div class="col-12">
                                        <p>Seleccione la categoria para la cual desea visualizar los partidos. 
                                            Tener en cuenta que previamente se debieron crear los grupos correspondientes ya que solo se visualizan aquellas categorias que los
                                            posean.
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="firstName">Categoria:</label>
                                            <select class="form-control" name="categoria" id="id_categoria" required>
                                                <option value="">Seleccione</option>
                                                <option value="0">Todos</option>
                                                {% for categoria in categorias %}
                                                    <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <i id="btn-ver" class="btn btn-success" style="margin-top: 32px;">Ver</i>
                                    </div>
                                </div>
                                <table id="ecommerce-product-list" class="table table-bordered">
                                    <thead">
                                        <tr>
                                            <th class="align-center">No.</th>
                                            <th class="align-center">Categoria</th>
                                            <th class="align-center">Fase</th>
                                            <th class="align-center">Grupo</th>
                                            <th class="align-center">Local</th>
                                            <th class="align-center">Visitante</th>
                                            <th class="align-center">Acciones</th>
                                            <th class="align-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        {% for partido in partidos %}
                                            <tr id="{{partido.pk}}">
                                                <td>{{partido.pk}}</td>
                                                <td>{{partido.categoria}}</td>
                                                <td>{{partido.fase}}</td>
                                                <td>{{partido.grupo.nombre}}</td>
                                                <td>{{partido.local}}</td>  
                                                <td>{{partido.visitante}}</td>
                                                <!-- <td>
                                                    {% if partido.ganador == None %}
                                                        Empate
                                                    {% else %}
                                                        {{partido.ganador}}
                                                    {% endif %}
                                                </td> -->
                                                <!-- <td>{{partido.numero_partido}}</td>
                                                <td>{{partido.fase}}</td> -->
                                                <td class="project-actions text-center">
                                                    {% if partido.estado == True %}
                                                    <a class="btn btn-primary btn-sm" href="{% url 'partido-list-detail' partido.pk %}">
                                                        <i class="fas fa-eye"></i> Ver
                                                    </a>
                                                    {% else %}
                                                    <a class="btn btn-primary btn-sm" href="{% url 'partido-edit' partido.pk %}">
                                                        <i class="fas fa-list-ol"></i> Diligenciar
                                                    </a>
                                                {% endif %}
                                                    <!-- <a class="btn btn-danger btn-sm" href="{% url 'partido-delete' partido.pk %}">
                                                        <i class="fas fa-trash"></i> Borrar
                                                    </a> -->
                                                </td>
                                                <td id="{{partido.pk}}_estado">
                                                    {% if partido.estado == True %}
                                                        <i class="fas fa-check-square" style="color:#01ff70;" > OK</i>
                                                    {% else %}
                                                        <i class="fas fa-edit" style="color: crimson;"> Pendiente</i>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- PAGINATION -->
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="ecommerce-product-list_info" role="status" aria-live="polite">Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="ecommerce-product-list_paginate">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="paginate_button page-item previous" id="ecommerce-product-list_previous"><a href="?page={{ page_obj.previous_page_number }}" aria-controls="ecommerce-product-list" data-dt-idx="0" tabindex="0" class="page-link"><i class="flaticon-arrow-left-1"></i></a></li>
                                        {% endif %}
                                            {% for i in paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                    <li class="paginate_button page-item active"><a href="#" aria-controls="ecommerce-product-list" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                                                {% else %}
                                                    <li class="paginate_button page-item "><a href="?page={{ i }}" aria-controls="ecommerce-product-list" data-dt-idx="2" tabindex="0" class="page-link">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="paginate_button page-item next" id="ecommerce-product-list_next"><a href="?page={{ page_obj.next_page_number }}" aria-controls="ecommerce-product-list" data-dt-idx="3" tabindex="0" class="page-link"><i class="flaticon-arrow-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <!-- END PAGINATION.... -->             
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js_level %}
<script>

function validar_total_partidos_diligenciados(categoria){
    console.log("La categoria seleccionada es ", categoria)
        url = '/partidos/validar-clasificacion';
        $.get(url, { 'pk_categoria': categoria }, function(data, status){
            if(status == "success"){
                partidos_fase_validados = data["respuesta"]
                if (partidos_fase_validados){
                    Swal.fire({
                        title: 'Partidos diligenciados satisfactoriamente para esta categoria. Siguiente fase generada',
                        showConfirmButton: true,
                        timer: 1000
                    })
                }
                else{
                    Swal.fire({
                        title: 'Partidos no diligneciados todavia',
                        showConfirmButton: true,
                        timer: 1000
                    })
                }
            }
        });
} 

$("#id_categoria").change(function(){
    catSeleccionada = $(this).children("option:selected").val();
});

var select_categoria = document.getElementById("id_categoria")
var catSeleccionada = select_categoria.value

$("#btn-ver").click(function(){
    console.log("La categoria seleccionada es ", catSeleccionada)

    if (catSeleccionada == ""){
        Swal.fire({
            title: 'No has seleccionado una categoria',
            showConfirmButton: true,
            timer: 1000
        })
        $("#modal_metodo").modal('hide');
    }
    else if(catSeleccionada=="0"){
        table = document.getElementById("ecommerce-product-list");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
    else {
        validar_total_partidos_diligenciados(catSeleccionada)
        location.reload()
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        filter = select_categoria.options[select_categoria.selectedIndex].text;
        table = document.getElementById("ecommerce-product-list");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            console.log("El td seleccionado es : ", td)
            if (td) {
                console.log("el td existe")
                txtValue = td.textContent || td.innerText;
                console.log("El texto extraido de la opcion del select es :", txtValue)
                if (txtValue.indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } 
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
});

$("#btn-generar").click(function(){
    if (catSeleccionada == "" || catSeleccionada == "0" ){
        Swal.fire({
            title: 'No has seleccionado una categoria',
            showConfirmButton: true,
            timer: 1000
        })
        $("#modal_metodo").modal('hide');
    }
    else{
        // $("#modal_metodo").modal();
        console.log("La categoria seleccionada es ", catSeleccionada)
        url = '/partidos/generar';
        $.get(url, { 'pk_categoria': catSeleccionada }, function(data, status){
            if(status == "success"){
                partidos = data['partidos']
                console.log("Llego con ", partidos)
                for (var i = 0; i < partidos.length(); i ++){
                    var fila = `
                    <tr id="${partidos[i].pk}">
                        <td>${partidos[i].pk}</td>
                        <td>${partidos[i].categoria}</td>
                        <td>${partidos[i].grupo}</td>
                        <td>${partidos[i].local}</td>  
                        <td>${partidos[i].visitante}</td

                        <td>
                            <i class="fas fa-edit"> Pendiente</i>
                        </td>
                    </tr>
                    `;
                    $("#tbody").append(fila)
                }
            }
        });
    }
});
</script>
{% endblock %}