{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Nuevo Ticket</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="widget-content-area custom-card p-0">

        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
    
                <div class="card">
                  <div class="content-header pl-3 pr-3">
                      <div class="row mt-2">
                        <div class="col-sm-12">
                          <h3 class="text-muted">Detalle de Partido</h3>
                          <div class="crumbs">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <!-- <li><a href="{% url 'equipo-list' %}"><i class="flaticon-home-fill"></i></a></li>
                                <li><a href="{% url  'equipo-list' %}">Menu</a></li>
                                <li class="active"><a href="#">Equipos</a></li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
    
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                   <!-- <div class="dataTables_length" id="ecommerce-product-list_length">
                                   </div> -->
                                </div>
                                <div class="col-sm-12 col-md-6">
                                   <!-- <div id="ecommerce-product-list_filter" class="dataTables_filter">
                                       <label>Buscar: </label>
                                       <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="ecommerce-product-list">
                                    </div> -->
                                </div>
                             </div>
                             <br>
                            <div class="row" style="overflow-x:auto;">
                                <table id="ecommerce-product-list" class="table table-bordered">
                                    <thead> 
                                        <h5><b>Informacion del Partido:</b></h5>
                                        <tr>
                                            <th>Categoria</th>
                                            <th>Fecha</th>
                                            <th class="align-center">Equipo Local</th>
                                            <th class="align-center">Equipo Visitante</th>
                                            <th class="align-center">Ganador</th>
                                            <!-- <th class="align-center">Acciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{partido.categoria}}</td>
                                            <td>{{partido.fecha}}</td>
                                            <td>{{partido.local}}</td>
                                            <td>{{partido.visitante}}</td>
                                            <td>{{partido.ganador}}</td>
                                    
                                        </tr>
                                    </tbody>
                                </table>

                                <table id="ecommerce-product-list" class="table table-bordered">
                                    <thead> 
                                        <h5><b>Equipo Arbitral:</b></h5>
                                        <tr>
                                            <th>Arbitro 1</th>
                                            <th>Arbitro 2</th>
                                            <th class="align-center">Arbitro 3</th>
                                            <th class="align-center">Cronogramista</th>
                                            <th class="align-center">Coordinador</th>
                                            <!-- <th class="align-center">Acciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{partido.arbitro1}}</td>
                                            <td>{{partido.arbitro2}}</td>
                                            <td>{{partido.arbitro3}}</td>
                                            <td>{{partido.cronogramista}}</td>
                                            <td>{{partido.coordinador}}</td>
                                        </tr>
                                    </tbody>
                                </table>
    
                                <table id="ecommerce-product-list" class="table table-bordered">
                                    <thead> 
                                        <h5><b>Jugadores Equipo Local:</b></h5>
                                        <tr>
                                            <th>Documento</th>
                                            <th>Nombre</th>
                                            <th class="align-center">Nro.</th>
                                            <th class="align-center">Goles</th>
                                            <th class="align-center">Amon.</th>
                                            <th class="align-center">Exp.</th>
                                            <!-- <th class="align-center">Acciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for jugador in jugadores_locales %}
                                        <tr>
                                            <td>{{jugador.jugador.documento}}</td>
                                            <td>{{jugador.jugador.nombres}}{{jugador.jugador.apellidos}}</td>
                                            <td>{{jugador.numero}}</td>
                                            <td>{{jugador.gol_partido}}</td>
                                            <td>{{jugador.amarilla_partido}}</td>
                                            <td>{{jugador.roja_partido}}</td>                                    
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
    
                                <table id="ecommerce-product-list" class="table table-bordered">
                                    <thead> 
                                        <h5><b>Jugadores Equipo Visitante:</b></h5>
                                        <tr>
                                            <th>Documento</th>
                                            <th>Nombre</th>
                                            <th class="align-center">Nro.</th>
                                            <th class="align-center">Goles</th>
                                            <th class="align-center">Amon.</th>
                                            <th class="align-center">Exp.</th>
                                            <!-- <th class="align-center">Acciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for jugador in jugadores_visitantes %}
                                        <tr>
                                            <td>{{jugador.jugador.documento}}</td>
                                            <td>{{jugador.jugador.nombres}}{{jugador.jugador.apellidos}}</td>
                                            <td>{{jugador.numero}}</td>
                                            <td>{{jugador.gol_partido}}</td>
                                            <td>{{jugador.amarilla_partido}}</td>
                                            <td>{{jugador.roja_partido}}</td>                                    
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                                <div>
                                    <form method="post" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirmar</button>
                                    </form>

                                </div>
                            </div>
    
                        </div>
                        
                    </div>
                </div>
                
    
            </div>
    
        </div>
    </div>

  <!-- /.content -->
</section>
  <!-- #header-content-wrapper -->
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

</script>
{% endblock %}