{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
  
                </div><!-- /.col -->
  
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="widget-content-area custom-card p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <h2 class="text-muted"><b>Partidos: Generacion Fixture</b></h2>
                                    <div class="crumbs">
                                        <ul id="breadcrumbs" class="breadcrumb">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="invoice p-3 mb-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>
                                <div class="row" style="overflow-x:auto;">
                                    <div class="col-12">
                                        <p>Seleccione la categoria para la cual desea generar los partidos. Recuerde que la generacion esta
                                            sujeta a la creacion de grupos, la cual debio ser previamente realizada, ya que solo se podran 
                                            visualizar aquellas categorias que cuenten con los suficientes grupos para dicha accion.
                                            <br>
                                            <br>
                                            Los partidos seran distribuidos de forma Round Robin(Todos contra todos) dentro de sus grupos.                                                                                            
                                        </p>
                                    </div>
                                    <div class="col-6">
                                          <div class="form-group">
                                              <label for="firstName">Categoria:</label>
                                              <select class="form-control" name="categoria" id="id_categoria" required>
                                                <option value="">Seleccione</option>
                                                {% for categoria in categorias %}
                                                  <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                                                {% endfor %}
                                                
                                              </select>

                                            </div>
                                    </div>
                                    <!-- <div class="col-6">
                                        <div class="form-group">
                                            <label for="firstName">Fase:</label>
                                            <select class="form-control" name="categoria" id="id_categoria" required>
                                              <option value="">Seleccione</option>
                                              <option value="1">Grupos</option>                                              
                                              <option value="2">Dieciseisavos de Final</option>                                              
                                              <option value="3">Octavos de Final</option>                                              
                                              <option value="4">Cuartos de Final</option>                                              
                                              <option value="">Semifinal</option>                                                                                           
                                            </select>

                                          </div>
                                  </div> -->

                                </div>
                                <div class="dataTables_length" id="ecommerce-product-list_length">
                                    <i class="btn btn-success" id="btn-generar"> Generar Partidos </i>
                                </div>
                            </div>
                        </div>
                    <br>
        
                </div>
                <!-- MODAL DE CONFIRMACION DE METODO DE GENERACION DE PARTIDOS -->
                <div class="modal" tabindex="-1" role="dialog" id="modal_metodo">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Confirmación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body" id="modal_finalizar_body">
                            <p>Seleccione el metodo de creacion de los partidos:</p>
                            <ul>
                            <li>
                                <b>Round Robin:</b> Se generan los partidos de tal forma que cada uno de los integrantes del grupo, 
                                en un unico partido, se enfrenta a los restantes.
                            </li>
                            <!-- <li>
                                <b>Liguilla:</b> Se generan los partidos de tal forma que se enfrentan todos contra todos 
                            </li> -->
                            </ul>
                        </div>
                        <div class="modal-footer" id ="modal_finalizar_pie">
                        <i class="btn btn-success disable"  id="btn-auto">Round-Robin</i>
                        <!-- <i class="btn btn-success disable"  id="btn-manual">Manual</i> -->
                        </div>
                    </div>
                    </div>
                </div>
            <!-- FIN MODAL DE CONFIRMACION DE METODO DE GENERACION DE PARTIDOS -->

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js_level %}
<script>
$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});

var select_categoria = document.getElementById("id_categoria")
var catSeleccionada = select_categoria.value

$("#btn-generar").click(function(){
    if (catSeleccionada == "0" ){
        Swal.fire({
            title: 'No has seleccionado una categoria',
            showConfirmButton: true,
            timer: 1000
        })
        $("#modal_metodo").modal('hide');
    }
    else{
        // $("#modal_metodo").modal();
        console.log("La categoria seleccionada es ", catSeleccionada)
        url = '/partidos/generar';
        $.get(url, { 'pk_categoria': catSeleccionada }, function(data, status){
            if(status == "success"){
                respuesta = data['mensaje']
                console.log("Respuesta: ", data['mensaje'])
                Swal.fire({
                title: respuesta,
                showConfirmButton: true,
                // timer: 1000
                })
            }
        });
    }
});
</script>
{% endblock %}