{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Nuevo Ticket</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Nuevo ticket</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="{% url 'ticket-create' %}">
                  {% csrf_token %}
                    <div class="card-body">

                      <div class="form-group">
                        <label for="nombre">Asunto:</label>
                        {% render_field form.nombre  class="form-control" placeholder="Titulo" %}
                          {% for error in form.nombre.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="urgencia">Urgencia:</label>
                        {% render_field form.urgencia class="form-control" %}
                          {% for error in form.urgencia.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        {% render_field form.descripcion rows="3" class="form-control" %}
                          {% for error in form.descripcion.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>

                      {% if perms.tickets.edit_ticket %}
                      <div class="form-group">
                        <label for="estado">Estado:</label>
                        {% render_field form.estado class="form-control" %}
                          {% for error in form.estado.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="estado">Notas:</label>
                        {% render_field form.notas rows="3" class="form-control" %}
                          {% for error in form.notas.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="estado">Responsable:</label>
                        {% render_field form.responsable class="form-control" %}
                          {% for error in form.responsable.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-secondary" href="{% url 'tickets' %}">Volver</a>
                  </div>
                </form>



              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>

  <!-- /.content -->
</section>
  <!-- #header-content-wrapper -->
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">


</script>
{% endblock %}
