{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Nuevo Ticket</h1> -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
        <div class="container-fluid">
                <!-- <img class="center" style="width: 77%; margin-left: 140px; margin-right: auto;" src="/static/adminlte/assets/img/info_torneo.jpeg""> -->
                <!-- /.card-header -->
                <!-- form start -->
        </div>

  <!-- /.content -->
</section>
  <!-- #header-content-wrapper -->
{% endblock %}

{% block extrajs %}

<!-- Parsley -->
<script type="text/javascript" src="{% static "assets/widgets/parsley/parsley.js" %}"></script>
<!-- Chosen -->
<script type="text/javascript" src="{% static "assets/widgets/chosen/chosen.js" %}"></script>
<script type="text/javascript" src="{% static "assets/widgets/chosen/chosen-demo.js" %}"></script>
<script type="text/javascript">



</script>
{% endblock %}
