{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Titulo</h1> -->
          <!-- {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %} -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>

          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% if perms.tickets.add_ticket %}
            <!-- Default box  ------------------------------------------------------------->
            <div class="card">
              <div class="card-header">
                <a href="{% url 'ticket-create' %}" class="btn btn-primary" >Agregar Ticket</a>
              </div>
            {% endif %}

              <!-- /.card-footer-->
            </div>
            <!-- /.card ---------------------------------------------------------------------------->

            <!-- Default box ------------------------------------------------------------------------->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Listado de Tickets</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i></button>
                </div>

              </div>
              <div class="card-body">
                <div class="input-group input-group-sm float-right" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                <br>
                <br>
                <table class="table table-bordered">

                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Urgencia</th>
                      <th>Solicitante</th>
                      <th>Fecha Registro</th>
                      <th>Responsable</th>
                      <th>Estado</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ticket in tickets %}
                      <tr>
                        <td>{{ ticket.pk }} </td>
                        <td>{{ ticket.nombre }} </td>
                        <td>{{ ticket.urgencia }} </td>
                        <td>{{ ticket.solicitante }} </td>
                        <td>{{ ticket.f_registro }} </td>
                        <td>{{ ticket.responsable }} </td>
                        <td>
                          {% if ticket.estado.nombre == 'EN_EVALUACION' %}
                            <a href="#" onclick="evalTicket(this)" class="btn bnt-block bg-gradient btn-flat" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Evaluar</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                          {% else %}
                             <span class="bs-label font-size-12" style="background-color:#41e5c0">{{ ticket.estado }}</span>
                          {% endif %} </td>

                          <td class="center-div">
                          {% if ticket.estado.nombre == 'POR_ASIGNAR' %}
                          <a href="{% url 'ticket-update' ticket.pk %}" class="btn" style="background:{{ticket.estado.color}}" >
                            <span>Asignar</span>
                            <i class="glyph-icon icon-arrow-right"></i>
                          </a>
                          <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
    												<i class="far fa-eye " title="Ver Gestion"></i>
    											</a>
                          {% elif ticket.estado.nombre == 'ASIGNADO' %}
                            <a href="#" onclick="proTicket(this)" class="btn" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Aceptar</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                          {% elif ticket.estado.nombre == 'ACEPTADO' %}
                            <a href="#" onclick="proTicket(this)" class="btn" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Iniciar</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                          {% elif ticket.estado.nombre == 'EN_EJECUCION' %}
                            <a href="#" onclick="proTicket(this)" class="btn" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Finalizar</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                          {% elif ticket.estado.nombre == 'EN_EVALUACION' %}
                            <a href="#" onclick="proTicket(this)" class="btn" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Evaluar</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                          {% elif ticket.estado.nombre == 'REASIGNADO' %}
                            <a href="#" onclick="proTicket(this)" class="btn" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Reasignado</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                          {% elif ticket.estado.nombre == 'FINALIZADO' %}
                            <a href="#" onclick="#" class="btn" style="background:{{ticket.estado.color}}" data-id="{{ticket.pk}}" estado-id="{{ticket.estado.nombre}}" >
                              <span>Finalizado</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                          {% elif ticket.estado.nombre == 'NO_CONCLUIDO' %}
                            <a href="{% url 'ticket-update' ticket.pk %}" class="btn" style="background:{{ticket.estado.color}}" >
                              <span>No Concluido</span>
                              <i class="glyph-icon icon-arrow-right"></i>
                            </a>
                            <a a href="javascript:;" onclick="verTicket({{ticket.pk}})">
      												<i class="far fa-eye " title="Ver Gestion"></i>
      											</a>
                        {% endif %}
                      </td>
                      </tr>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>

        <!-- modal    information -->

        <div class="modal fade show" id="modalTicketshow" style="display: none; block; padding-right: 12px;" aria-modal="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Detalle de gestión</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Nombre:</label>
                  <div class="col-sm-9">
                    <input type="text" name="nombre" class="form-control"  id="id_nombre" readonly="readonly" >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Urgencia:</label>
                  <div class="col-sm-9">
                    <input type="text" name="urgencia" class="form-control"  id="id_urgencia" readonly="readonly">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Descripción:</label>
                  <div class="col-sm-9">
                    <textarea name="descripcion" rows="3" cols="69" id="id_descripcion" readonly="readonly"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Estado:</label>
                  <div class="col-sm-9">
                    <input type="text" name="estado" class="form-control"  id="id_estado" readonly="readonly">
                  </div>
                </div>

                {% if perms.tickets.change_ticket %}

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Responsable:</label>
                  <div class="col-sm-9">
                    <input type="text" name="responsable" class="form-control"  id="id_responsable" readonly="readonly">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Notas para el Responsable:</label>
                  <div class="col-sm-9">
                    <textarea name="notas" rows="3" cols="69" id="id_notas" readonly="readonly"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" >Notas de la revisión:</label>
                  <div class="col-sm-9">
                    <textarea name="solucion" rows="3" cols="69" id="id_solucion" readonly="readonly"></textarea>
                  </div>
                </div>

                {% endif %}


            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

        <!-- /modal    information -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}
{% block page_js_level %}

<script type="text/javascript">
  // const swalWithBootstrapButtons = Swal.mixin({
  //     customClass: {
  //       confirmButton: 'btn btn-success',
  //       cancelButton: 'btn btn-danger'
  //     },
  //     buttonsStyling: false,
  //
  //   })

  // const { value: text } = await Swal.fire({
  //   input: 'textarea',
  //   inputPlaceholder: 'Type your message here...',
  //   inputAttributes: {
  //     'aria-label': 'Type your message here'
  //   },
  //   showCancelButton: true
  // })
  const inputOptions = new Promise((resolve) => {  // OJO SON CONSTANTES LOS SOS TIPOS DE RESPUESTA
  setTimeout(() => {
    resolve({
      'si': 'Si se soluciono',
      'no': 'No fue solucionado',
      })
  }, 1000)
})

  function proTicket(self){
      var id = $(self).attr("data-id");
      var estado_id = $(self).attr("estado-id");
      console.log("ticket " + id);
      console.log("estado_id " + estado_id);

      if( estado_id == 'EN_EJECUCION'){
        Swal.fire({

            title: '¿Desea finalizar el Caso?',
            text: "Una vez finalizado no se puede editar",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si Finalizar..'
          }).then((result) => {
            if (result.value) {
                            Swal.fire({
                                title: '¿Fue Solucionado el caso?',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                cancelButtonText: 'NO',
                                confirmButtonText: 'SI'
                              }).then((result) => {
                                        if (result.value) {
                                          Swal.fire({
                                            title: 'Indique la solucion',
                                            input: 'textarea',
                                            inputPlaceholder:'descripción...',
                                            confirmButtonText: 'Guardar'
                                          }).then((result) =>{
                                            console.log("llamando a solucionar");
                                            console.log("solucion: ", result['value'] );
                                            $.get("{% url 'gestion' %}", {'estado_id': "EN_EVALUACION", 'id': id, 'mensaje':result['value'] }, function(data,status){
                                                    if (status == "success"){
                                                      var nuevo_estado = data['nuevo_estado'];
                                                        Swal.fire({
                                                          title: 'Ticket Gestionado !!!',
                                                          text: 'El ticket ha cambiado  a: '+ nuevo_estado ,
                                                        }).then((result) => {
                                                          $(location).attr("href", "{% url 'tickets' %}");
                                                        });
                                                    }
                                                  })
                                            })
                                        }
                                        else{
                                          Swal.fire({
                                            title: 'Indique el problema',
                                            input: 'textarea',
                                            inputPlaceholder:'descripción...',
                                            confirmButtonText: 'Guardar'
                                           }).then((result) =>{
                                             console.log("llamando a sin solucion");
                                             console.log("solucion: ", result['value'] );
                                             $.get("{% url 'gestion' %}", {'estado_id': "NO_CONCLUIDO", 'id': id, 'mensaje':result['value'] }, function(data,status){
                                                     if (status == "success"){
                                                       var nuevo_estado = data['nuevo_estado'];
                                                         Swal.fire({
                                                           title: 'Ticket Gestionado !!!',
                                                           text: 'El ticket ha cambiado  a: '+ nuevo_estado ,
                                                         }).then((result) => {
                                                           $(location).attr("href", "{% url 'tickets' %}");
                                                         });
                                                     }
                                                   })
                                             })
                                            }
                                        })
                              }
                })
          }
      else{
          $.get("{% url 'gestion' %}", {'estado_id': estado_id, 'id': id, 'mensaje': "no"}, function(data,status){

              if (status == "success"){
                var nuevo_estado = data['nuevo_estado'];
                  Swal.fire({
                    title: 'Ticket Gestionado !!!',
                    text: 'El ticket ha cambiado  a: '+ nuevo_estado ,
                  }).then((result) => {
                    $(location).attr("href", "{% url 'tickets' %}");
                  });
              }

            });
          }
      }

  function evalTicket(self){
    var id = $(self).attr("data-id");
    var estado_id = $(self).attr("estado-id");
    console.log("ticket " + id);
    console.log("estado_anterior " + estado_id);
        Swal.mixin({
          input: 'text',
          confirmButtonText: 'Next &rarr;',
          showCancelButton: true,
          progressSteps: ['1', '2', '3']
          }).queue([
          {
          title: 'Se soluciono el Caso?',
          input: 'radio',
          inputOptions: inputOptions,
          inputValidator: (value) => {
                if (!value) {
                  return 'Debe Seleccionar una opción...!'
                }
              }
          },
            {
            title: 'Desea dejar alguna Observación?',
            input: 'textarea',
            inputPlaceholder: 'Escriba aqui por favor...',
            },
              {
              title: 'Califique de 1 -10 la calidad del servicio',
              type: 'success',
              input: 'range',
              inputAttributes: {
                min: 1, max: 10, step: 1
              },
          inputValue: 5}
          ]).then((result) => {
            console.log("RESPUESTA: ", result);
            var arreglo = result['value'];
            var solucionado = arreglo[0];
            var retroalimentacion = arreglo[1];
            var calificacion = arreglo[2];
            if (solucionado == "si"){ estado_id='FINALIZADO';  }
            else{ estado_id='NO_CONCLUIDO'; }
            console.log("nuevo estado: ", estado_id);
            $.get("{% url 'gestion' %}", {'estado_id': estado_id, 'id': id, 'solucionado': solucionado, 'retroalimentacion': retroalimentacion, 'calificacion': calificacion }, function(data,status){

              if (status == "success"){
                var nuevo_estado = data['nuevo_estado'];
                  Swal.fire({
                    title: 'Ticket Gestionado !!!',
                    text: 'El ticket ha cambiado  a: '+ nuevo_estado ,
                  }).then((result) => {
                    $(location).attr("href", "{% url 'tickets' %}");
                  });
              }

            })
          // if (result.value) {
          // const answers = JSON.stringify(result.value)
          // Swal.fire({
          // title: 'Ticket Evaluado ',
          // html: `
          //   Your answers:
          //   <pre><code>${answers}</code></pre>
          // `,
          // confirmButtonText: 'Cerrar'
          // })
          // }
          })
  }

  function verTicket(self) {
    var ticket = self;
    console.log("busco", ticket);
    $("#modalTicketshow").modal('show');
    $.get("{% url 'ticket-ver' %}", {'tipo': 'consulta', 'pk': ticket }, function(data, status){
          if (status == "success"){
            var data_ticket = data['ticket'];
            var nombre = data_ticket[0]['nombre'];
            $('#id_nombre').val(nombre);
            var urgencia = data_ticket[0]['urgencia'];
            $('#id_urgencia').val(urgencia);
            var descripcion = data_ticket[0]['descripcion'];
            $('#id_descripcion').val(descripcion);
            var estado = data_ticket[0]['estado'];
            $('#id_estado').val(estado);
            var notas = data_ticket[0]['notas'];
            $('#id_notas').val(notas);
            var responsable = data_ticket[0]['responsable'];
            $('#id_responsable').val(responsable);
            var solucion = data_ticket[0]['solucion'];
            $('#id_solucion').val(solucion);
          }
    })
    }



</script>

{% endblock %}
