<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            @page {
            size: letter ;
            margin: 2cm;
            }
            .body {
                font-weight: 400;
                font-size: 16px;
            }
            .header {
                font-size: 12px;
                font-weight: 100;
                color: #000000;
                padding: 10px 0px 0px 0px;

            }
            .title {
                font-size: 35px;
                font-weight: 900;
                text-align: right;
               padding: 10px 0px 0px 0px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                font-size: 10px;
                padding: 0px 0px 0px 0px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .info {
                font-size: 7px;
                padding: 0px 0px 0px 0px;
                text-align: left ;
                /*margin-left: 40%;*/
            }
            .detailstable {
                font-size: 6px;
                padding: 0px 0px 0px 0px;
                text-align: center;
                /*margin-left: 40%;*/
            }
            .other {
              font-size: 14px;
              font-weight: 800;
              padding: 10px 0px 0px 0px;
              text-align: left !important;
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            table, th, td {
                border: 0.5px solid black;
                border-collapse: collapse;

              }
              th, td {
                padding: 2px;
              }

        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='title' >
              TEC LASER
            </div>
            <div class='info' align='right'>
                info@tec-laser.com<br/>
                www.tec-laser.com<br/>
                @teclaserbogota<br/>
                Calle 23A No. 26-45 - Bogotá, Colombia
            </div>
            <div class='other' align='right' >
                <span style="color:red" >(+57 1)2440877<br/>
                (+57 1)2685635</span>
            </div>
            <div class='header' align='left'>
                Bogotá<br/>
                {{ fecha_factura }}   <!--  renderiso la fecha de la compra -->
            </div>
        </div>

        <!-- <div class='body'> -->
          <div class='other'>
              <span style="color:red" >Señores: <br/> </span>
          </div>

          <div class='header' >
              Contacto: {{ cliente_name }} <br/>  <!--  renderiso el nombre del comprador -->
              Teléfono: {{ cliente_tel }}  <br/><!--  renderiso el nombre del comprador -->
              Correo: {{ cliente_email }}  <!--  renderiso el nombre del comprador -->
          </div>
          <br>
        <!-- </div> -->

        <div class='details'>
            {{ cuerpo_mensaje }}
        </div>
          <br>
          <br>

      <!--  renderisas aca la tabla-->
        <div class="detailtable">
          <table >
            <thead>
            <tr>
              <th>ITEM</th>
              <th>DESCRIPCION</th>
              <th>MATERIAL</th>
              <th>ESPESOR</th>
              <th colspan="2">SUMINISTRO MATERIAL</th>
              <th>CANT.</th>
              <th>PROCESOS ADICIONALES</th>
              <th>VALOR PIEZA (sin IVA)</th>
              <th>VALOR CANTIDAD</th>
            </tr>
          </thead>
            <tr>
              <td>45</td>
              <td>Pieza rallada</td>
              <td>Acero</td>
              <td>0.9 mm</td>
              <td>Aca</td>
              <td>69</td>
              <td>5</td>
              <td>Pulir</td>
              <td>100</td>
              <td>119</td>
            </tr>

            <tr>
              <td>45</td>
              <td>Pieza rallada</td>
              <td>Acero</td>
              <td>0.9 mm</td>
              <td>no se</td>
              <td>78</td>
              <td>5</td>
              <td>Pulir</td>
              <td>100</td>
              <td>119</td>
            </tr>
            <!--  aca renderisas  elfor para llenar la tabla ------------>

            <tr>
              <td>45</td>
              <td>Pieza rallada</td>
              <td>Acero</td>
              <td>0.9 mm</td>
              <td>no se</td>
              <td>13</td>
              <td>5</td>
              <td>Pulir</td>
              <td>100</td>
              <td>119</td>
            </tr>
            <!--  aca renderisas elfor para llenar la tabla ------------>

            <!--  aca renderisas los valores calculados-->
            <tr>
              <td colspan="8"></td>
              <td>Subtotal</td>
              <td>{{ valor_subtotal }}</td>
            </tr>
            <tr>
              <td colspan="8"></td>
              <td>IVA 19%</td>
              <td>{{ valor_iva }}</td>
            </tr>
            <tr>
              <td colspan="8"></td>
              <td>Total</td>
              <td>{{ valor_Total }}</td>
            </tr>
          <!--  aca renderisas los valores calculados-->

          </table>
        </div>


        <br>

        <div class='details'>
          Notas:  {{ cuerpo_mensaje }}
        </div>
          <br>
        <div class='details'>
          <b>ENTREGA:</b> De 3-5 dias habiles en las instalaciones de Tec-Laser S.A.<br/>
          <b>FORMA DE PAGO:</b> 50% ANTICIPO Y SALDO CONTRA ENTREGA <br/>
          <b>VALIDEZ DE LA OFERTA:</b> 8 DIAS CALENDARIO <br/>
          <br>
          <br>
          <b>Cordialmente,</b><br/>
          <br>
          {{nombre_asesor}}<br/>
        </div>

        <div class='info' align='left'>
          PBX: (+57-1) 244 0877 <br/>
          Calle 23a # 26 - 45 <br/>
          Atención de Lunes a Viernes: 8:00 AM - 5:00 PM
        </div>

    </body>

</html>
