{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}
<style>
    th {cursor: pointer;}
</style>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>

    <div class="widget-content-area custom-card p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <h2 class="text-muted"><b>Estadisticas del Torneo: Jugadores</b></h2>
                                    <div class="crumbs">
                                        <ul id="breadcrumbs" class="breadcrumb">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="invoice p-3 mb-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>
                                <div class="row" style="overflow-x:auto;">
                                    <div class="col-12">
                                        <p>
                                            Seleccione la categoria para la cual desea visualizar la clasificacion actual del torneo, tanto como
                                            goleador, cantidad de amarillas y rojas.
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="firstName">Categoria:</label>
                                            <select class="form-control" name="categoria" id="id_categoria" required>
                                                <option value="0">Seleccione</option>
                                                {% for categoria in categorias %}
                                                    <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i id="btn-ver" class="btn btn-success" style="margin-top: 32px;">Visualizar clasificacion</i>
                                    </div>
                                    <div class="row" style="overflow-x:auto; margin-right: 10px;">
                                        <div class="col-11" id="tablas">
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- MODAL ESTADISTICAS JUGADORES -->
                                <div class="modal" tabindex="-1" role="dialog" id="modal_visualizar">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><b>Clasificacion Actualizada:</b></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="modal_finalizar_body" style="text-align: center; align-items: center;">
                                                <div class="row" style="overflow-x:auto; margin-left: 25px;">
                                                    <table id="table"class="tg table table-bordered" style="width: 700px; height:150px; margin-left:20px; text-align: center;">
                                                        <thead>
                                                            <tr>
                                                                <th name="titulo"class="tg-amwm" colspan="10" style="background-color:#5a00ff;color:white;"><b>Ranking Equipos</b></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody">
                                                            <tr style="background-color:#008800;color:white;">
                                                                <th class="tg-1wig"><b>Jugador</b></th>
                                                                <th class="tg-1wig"><b>Equipo</b></th>
                                                                <th class="tg-1wig"><b>Goles</b></th>
                                                                <th class="tg-1wig"><b>Amarillas</b></th>
                                                                <th class="tg-1wig"><b>Rojas</b></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer" id ="modal_finalizar_pie">
                                                <i type="button" class="btn btn-success" data-dismiss="modal" id="modal_no">Cerrar</i>
                                            </div>
                                      </div>
                                    </div>
                                </div>
                                <!-- FIN MODAL ESTADISTICAS JUGADORES -->
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js_level %}
<script>
$("#id_categoria").change(function(){
  catSeleccionada = $(this).children("option:selected").val();
});

var select_categoria = document.getElementById("id_categoria")
var catSeleccionada = select_categoria.value

$("#btn-ver").click(function(){
    if (catSeleccionada == "0"){
        Swal.fire({
            title: 'No has seleccionado una categoria y/o una clasificacion',
            showConfirmButton: true,
            timer: 1000
        })
    }
  else {
    console.log("La categoria seleccionada es ", catSeleccionada)
    url = '/estadisticas/categoria/jugadores';
    $.get(url, { 'pk_categoria': catSeleccionada}, function(data, status){
        if(status == "success"){
            console.log("Se puede visualizar los grupos ", data['respuesta'])
            var jugadores = data['respuesta'];
            console.log("Los jugadores son: ", jugadores)
            console.log("Jugadores tiene tamaño ",jugadores.length)
            for (var i = 0; i < jugadores.length; i++){
                console.log("El jugador tiene nombre ", jugadores[i]['jugador'])
                var tabla = `
                    <tr>
                        <td class="tg-0lax">${jugadores[i]['jugador']}</td>
                        <td class="tg-0lax">${jugadores[i]['equipo']}</td>
                        <td class="tg-0lax">${jugadores[i]['goles']}</td>
                        <td class="tg-0lax">${jugadores[i]['amarillas']}</td>
                        <td class="tg-0lax">${jugadores[i]['rojas']}</td>
                    </tr>
                    `;
                $("#tbody").append(tabla)
            }
            $("#modal_visualizar").modal();
        }
    });
  }
});

var getCellValue = function(tr, idx){ return tr.children[idx].innerText || tr.children[idx].textContent; }

var comparer = function(idx, asc) { return function(a, b) { return function(v1, v2) {
        return v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
    }(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
}};

// do the work...
Array.prototype.slice.call(document.querySelectorAll('th')).forEach(function(th) { th.addEventListener('click', function() {
        var table = th.parentNode
        while(table.tagName.toUpperCase() != 'TABLE') table = table.parentNode;
        Array.prototype.slice.call(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.prototype.slice.call(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(function(tr) { table.appendChild(tr) });
    })
});

</script>
{% endblock %}