.row [class*="col-"] .widget .widget-header h4 {
  color: #1d1d1d;
    font-size: 18px;
}
#sale-statistics {
    width: 100%;
    height: 406px;
}
#radarchartdiv {
    width: 100%;
    height: 439px;
    font-size: 11px;
}
#radarchartdiv .amcharts-main-div a {
  display: none !important;
}
#unique-visits-charts {
    font-size: 11px;
}
#unique-visits-charts canvas {
  float: right;
}
#visitor-engagement-chart {
    width: 100%;
    height: 300px;
}           


/*
    Total Orders
*/

.widget.t-order-widget {
  padding: 0 0 17.3px 0;
}
.widget.t-order-widget .cogs {
    width: 138px;
    height: 138px;
    position: relative;
}
.widget.t-order-widget .t-o-txt {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 18px;
}
.widget.t-order-widget .t-o-value {
    font-size: 28px;
    font-weight: 600;
    color: #1d1d1d;
}
.widget.t-order-widget .t-o-value i {
    font-size: 20px;
    color: #3862f5;
    vertical-align: middle;
}
.widget.t-order-widget .t-o-icon i {
    color: #3862f5;
    font-size: 45px;
}


/*
    Total Sales
*/

.widget.t-sales-widget {
  padding: 35.9px 0;
}
.widget.t-sales-widget .flaticon-close-fill {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    color: #ffe1e2;
    font-size: 20px;
    cursor: pointer;
}
.widget.t-sales-widget .flaticon-close-fill:hover {
    color: #e7515a;
}
.widget.t-sales-widget .flaticon-cancel-icon-fill:hover {
  color: #f8538d;
}
.widget.t-sales-widget .trading-time .date-content {
    font-size: 18px;
    font-weight: 700;
    color: #ee3d50;
}
.widget.t-sales-widget .trading-time .timer-content {
    font-size: 32px;
    font-weight: 600;
    color: #3b3f5c;
}
.widget.t-sales-widget .icon {
    font-size: 94px;
    vertical-align: middle;
    color: #d3d3d3;
}


/*
    Total Visits
*/

.total-visits {
  padding: 16px 0px;
}
.total-visits .t-v-value {
    font-size: 28px;
    color: #1d1d1d;
}
.total-visits .t-v-txt {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}
.total-visits .t-v-txt i {
    color: #1abc9c;
    font-size: 17px;
    vertical-align: middle;
}
.total-visits .total-visits-charts {
    font-size: 11px;
}
.total-visits .total-visits-charts canvas {
  float: right;
}


/*
    Unique Visits
*/

.unique-visits {
  padding: 16px 0px;
}
.unique-visits .u-v-value {
    font-size: 28px;
    color: #1d1d1d;
}
.unique-visits .u-v-txt {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}
.unique-visits .u-v-txt i {
    color: #00b1f4;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}


/*
    Page Views
*/

.page-views {
  padding: 16px 0px;
}
.page-views .p-v-value {
    font-size: 28px;
    color: #1d1d1d;
}
.page-views .p-v-txt {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}
.page-views .p-v-txt i {
    color: #4f5163;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}
.page-views #page-views {
    font-size: 11px;
}
.page-views #page-views canvas {
  float: right;
}


/*
    Traffic Sources
*/

.traffic-sources .traffic-sources-header h6 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.traffic-sources table tbody tr td  {
    color: #3b3f5c;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    padding: 16px 16px;
    border-top: none;
}
.traffic-sources table tbody tr td span.t-s-name {
    color: #888ea8;
    padding-left: 13px;
    font-weight: normal;
    font-size: 16px;
}
.traffic-sources table tbody tr td .d-m-traffic-sources {
    background-color: #3862f5;
}
.traffic-sources .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.traffic-sources .table-responsive::-webkit-scrollbar-button:start:decrement,
.traffic-sources .table-responsive::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: #000;
    width: 0;
}
.traffic-sources .table-responsive::-moz-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.traffic-sources .table-responsive::-webkit-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.traffic-sources .table-responsive::-moz-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}    
.traffic-sources .table-responsive::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}
.traffic-sources .table-responsive::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #dedfdf;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}

/*
    Traffic Sources
*/

.traffic-country #mapdiv {
  width: 100%;
  height: 500px;
}
.traffic-country #mapdiv .amcharts-main-div a {
  display: none!important;
}
.traffic-country .map-marker {
    /* adjusting for the marker dimensions
    so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
}
.traffic-country .map-marker.map-clickable {
  cursor: pointer;
}
.traffic-country .locator {
    width: 14px;
    height: 14px;
    border: 2px solid #3232b7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
  z-index: 10;
  position: absolute;
}
.map-marker .dot {
  border: 10px solid #3232b7;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -18px;
    left: -18px;
  z-index: 1;
  opacity: 0;
}
@-moz-keyframes pulse {
   0% {
      -moz-transform: scale(0);
      opacity: 0.0;
   }
   25% {
      -moz-transform: scale(0);
      opacity: 0.1;
   }
   50% {
      -moz-transform: scale(0.1);
      opacity: 0.3;
   }
   75% {
      -moz-transform: scale(0.5);
      opacity: 0.5;
   }
   100% {
      -moz-transform: scale(1);
      opacity: 0.0;
   }
}
@-webkit-keyframes "pulse" {
   0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
   }
   25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
   }
   50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
   }
   75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
   }
   100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
   }
}
@keyframes pulse {
   0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
   }
   25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
   }
   50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
   }
   75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
   }
   100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
   }
}
.traffic-country .table-data table tbody tr td {
    vertical-align: middle;
    border-top: none;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
}
.traffic-country .table-data table tbody tr td span {
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
    text-transform: uppercase;
    padding-left: 8px;
}
.traffic-country .table-data table tbody tr td .d-m-traffic-country {
    border: 2px solid #3232b7;
    height: 13px;
    width: 13px;
}
.traffic-country .table-data table tbody tr td p {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;    
}
.traffic-country .table-data table tbody tr td div.progress {
    height: 6px;
    border-radius: 30px;
}
.traffic-country .table-data table tbody tr td div.progress .progress-bar {
    border-radius: 30px;
}
.traffic-country .table-data table tbody tr td p i.flaticon-arrows-1 {
    color: #1abc9c;
    font-weight: 600;
}
.traffic-country .table-data table tbody tr td p i.flaticon-down-arrow {
    color: #e7515a;
    font-weight: 600;
}


/*
    Newsletter Performance
*/
.newsletter-performance .newsletter-performance-header h6 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
}
.newsletter-performance .newsletter-performance-body {
    padding: 40px 50px 20px 50px;
}
.newsletter-performance .media img {
    width: 48px;
    border-radius: 50%;
}
.newsletter-performance .media .media-body p {
    font-size: 18px;
    font-weight: 600;
    color: #3b3f5c;
}
.newsletter-performance p.email-count {
    font-size: 18px;
    font-weight: 600;
    color: #3232b7;
}
.newsletter-performance p.email-count span.badge {
    padding: 5px 24px;
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    vertical-align: bottom;
}
.newsletter-performance h6 {
    font-size: 17px;
    font-weight: 600;
    color: #1d1d1d;
}
.newsletter-performance p.n-p-views-count {
    font-size: 46px;
    font-weight: 600;
    color: #1a73e9;
}
.newsletter-performance p.n-p-views-count i {
    color: #00d1c1;
    font-size: 38px;
}
.newsletter-performance p.n-p-weekend-calc {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;
}
.newsletter-performance p.n-p-conversions {
      font-size: 46px;
    font-weight: 600;
    color: #1a73e9;
}
.newsletter-performance p.n-p-conversions i {
    color: #00d1c1;
    font-size: 38px;
}
.newsletter-performance p.n-p-t-c-weekend-calc {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;
}


/*
  Visitor Engagement
*/

#visitor-engagement-chart .amcharts-chart-div a {
  display: none!important;
}
.visitor-engagement .visitor-engagement-header h6 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
}
.visitor-engagement .visitor-engagement-body ul {
  width: 180px;
}
.visitor-engagement .v-e-product-name {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.visitor-engagement .v-e-product-name.pn-1 {
    color: #00b1f4;
}
.visitor-engagement .v-e-product-name.pn-2 {
    color: #1a73e9;
}
.visitor-engagement .v-e-product-name.pn-3 {
    color: #4f5163;
}
.visitor-engagement .v-e-product-name.pn-4 {
    color: #3232b7;
}
.visitor-engagement .v-e-product-stats {
    color: #000;
    font-weight: 600;
}
.visitor-engagement .v-e-product-stats i.flaticon-up-arrow-3 {
    color: #1abc9c;
    font-weight: 600;
}
.visitor-engagement .v-e-product-stats i.flaticon-arrow-down {
    color: #ee3d50;
    font-weight: 600;
}


/*
  Customer Satisfaction
*/

.customer-satisfaction {
  padding: 13px;
}
.customer-satisfaction h6 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: #1d1d1d;
}
.customer-satisfaction .c-s-stats {
    font-size: 40px;
    font-weight: 600;
    color: #1d1d1d;
}
.customer-satisfaction .progress {
    height: 11px;
    border-radius: 20px;
}
.customer-satisfaction .progress .progress-bar {
  background-color: #1a73e9!important;
  border-radius: 20px;
}
.customer-satisfaction .c-s-stats-data p {
    font-size: 13px;
     font-weight: 600; 
    color: #888ea8;
}
.customer-satisfaction .c-s-stats-data span {
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
}
.customer-satisfaction .c-s-stats-data i {
    color: #00d1c1;
    font-size: 20px;
}


/*
  Invoices
*/

.invoices {
  padding: 1px;
}
.invoices h6 {
  font-weight: 600;
  font-size: 18px;
  color: #1d1d1d;
}
.invoices i {
  position: absolute;
 font-size: 50px;
 color: #e9ecef;
}
.invoices span {
  position: relative;
  font-weight: 600;
  color: #1d1d1d;
  padding-left: 6px;
  font-size: 17px;
}
.invoices .d-m-i-due {
  background-color: #4f5163;
}
.invoices .d-m-i-overdue {
  background-color: #3232b7;
}
.invoices p {
  font-size: 28px;
  font-weight: 600;
}
.invoices p.i-due-value {
  color: #4f5163;
}
.invoices p.i-overdue-value {
  color: #3232b7;
}


/* 
  Weather Widget
*/

.weather-widget > div:first-child {
  padding: 20px;
}
.weather-widget .w-location {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 18px;
}
.weather-widget .w-condition {
    font-size: 14px;
}
.weather-widget .w-temperature {
  font-size: 68px;
  color: #1a73e9;
}
.weather-widget .w-temperature .w-t-value {
  position: relative;
}
.weather-widget .w-temperature .w-t-value:before {
  content: "o";
    position: absolute;
    font-size: 45px;
    right: -7px;
    top: -17px;
}
.weather-widget .w-icon-locator i {
  font-size: 88px;
  color: #1a73e9;
  font-size: 100px;
}
.weather-widget .weather-stats {
    border-bottom: 1px solid #e9ecef;
    padding: 20px;
}
.weather-widget .weather-stats i {
  font-size: 30px;
  vertical-align: middle;
}
.weather-widget .weather-stats .wind-speed i {
    color: #3232b7;
}
.weather-widget .weather-stats .stats i {
    color: #3232b7;
}
.weather-widget .weather-stats span {
  font-size: 15px;
}
.weather-widget .weather-stats .wind-speed span {
  color: #000;
}
.weather-widget .weather-stats .stats span {
  color: #000;
}
.weather-widget > div:last-child {
  padding: 20px;
}
.weather-widget i.w-icon {
  font-size: 50px;
}
.weather-widget .w-temp {
  color: #e95f2b;
  font-size: 18px;
}
.weather-widget .w-temp .w-temp-value {
  position: relative;
}
.weather-widget .w-temp .w-temp-value:before {
   content: "o";
    position: absolute;
    font-size: 13px;
    right: -7px;
    top: -10px;
}


/*
  Recent Activity
*/

.recent-activity .recent-activity-header {
  padding: 20px;
  border-bottom: 1px solid #e9ecef;
}
.recent-activity .recent-activity-header h6 {
  font-weight: 600;
  font-size: 18px;
  color: #1d1d1d;
}
.recent-activity .recent-activity-body table tr td {
  border-top: none;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 13px;
  vertical-align: middle;
}
.recent-activity .recent-activity-body table tr td button {
    padding: 2px 8px;
    font-size: 12px;
}
.recent-activity .recent-activity-body table tr td button.btn-reply-action {
    padding: 8px 25px;
}
.recent-activity .recent-activity-body table .d-flex img {
  width: 45px;
}
.recent-activity .recent-activity-body table .d-flex .f-body {
  font-size: 15px;
  color: #4f5163;
}
.recent-activity .recent-activity-body table .d-flex .f-body p.meta-info span.a-f-meta-usr-name {
    font-size: 15px;
    font-weight: 600;
    color: #1a73e9;
}
.recent-activity .recent-activity-body table .d-flex .f-body p.meta-info span.a-f-meta-usr-name i {
    font-size: 18px;
    vertical-align: text-bottom;
      color: #1a73e9;
    font-weight: 600;
    margin-right: 3px!important;
}
.recent-activity .recent-activity-body table .d-flex .f-body p.meta-info span.a-f-meta-time {
    font-size: 14px;
    font-weight: 600;
    color: #989ebf;
}
.recent-activity .recent-activity-body table .d-flex .f-body p.meta-info span.a-f-meta-time i {
    font-size: 18px;
    vertical-align: text-bottom;
    color: #989ebf;
    font-weight: 600;
    margin-left: 4px!important;
    margin-right: 3px!important;
}
.recent-activity .recent-activity-body button.btn-primary {
    padding: 10px 38px;
    font-size: 15px;
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.recent-activity .recent-activity-body button.btn-primary:hover {
    background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
}


/*
  Recent Sales
*/

.recent-sales .recent-sales-header {
  padding: 20px;
}
.recent-sales .recent-sales-header h6 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
}
.recent-sales .recent-sales-header i {
    font-size: 30px;
  vertical-align: middle;
  color: #ebedf2;
  cursor: pointer;
}
.recent-sales .recent-sales-header i:hover {
  color: #7c5ac2;
}

.recent-sales .recent-sales-body .table thead tr th {
    border-top: none;
    color: #3232b7;
    vertical-align: middle;
    padding: 18px 20px;
    font-size: 15px;
}
.recent-sales .recent-sales-body .table tbody tr td {
    border-top: 1px solid #e9ecef;
    border-top: 1px solid #f1f3f1;
    vertical-align: middle;
    color: #1d1d1d;
    font-size: 14px;
    padding: 20px 20px;
}
.recent-sales .recent-sales-body .r-s-bottom-section {
  padding: 20px;
  border-top: 1px solid #f1f3f1;
}
.recent-sales .recent-sales-body .r-s-bottom-section a {
    font-size: 17px;
    color: #1a73e9;
}
.recent-sales .recent-sales-body .r-s-bottom-section a:hover {
  color: #6424c9;
}


/*
  chat
*/

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e9ecef;
}
.chat .chat-header h6 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
}
.chat .chat-header .chat-usr-img > div {
  position: relative;
}
.chat .chat-header .chat-usr-img > div:before {
    content: "";
    position: absolute;
    background-color: #1a73e9;
    padding: 4px;
    border-radius: 50%;
    top: 1px;
    right: 1px;
}
.chat .chat-header .chat-usr-img > div img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid #9cb2ff;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.3);
    margin-left: -21px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.badge-collapsed-img img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.3);
}
.chat .chat-header .chat-usr-img ul li.badge-notify {
  position: relative;
}
.chat .chat-header .chat-usr-img ul li.badge-notify .notification {
      position: absolute;
    top: -17px;
    right: -11px;
}
.chat .chat-header .chat-usr-img ul li.badge-notify .notification span {
    font-size: 16px;
    padding: 10px 11px;
    background-color: #c2d5ff;
    border: solid 2px #fff;
    border-radius: 50%;
    color: #1a73e9;
}
.chat .chat-body .chat-usr-img  {
    padding: 16px 15px;
    border-bottom: 1px solid #e9ecef;
}
.chat .chat-body .chat-usr-img img {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 4px;
}
.chat .chat-body .chat-system .chat_window .chat-messages {
    position: relative;
    height: 555px;
    overflow-y: scroll;
    list-style: none;
    padding: 20px 10px 0px;
    margin: 0px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message {
    position: relative;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.left .avatar {
    position: absolute;
    top: -75px;
    left: 20px;
    border-radius: 50%;
    background-image: url(../../../assets/img/90x90.jpg);
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    border: 3px solid #c9dbda;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.right .avatar {
    position: absolute;
    float: right;
    background-image: url(../../../assets/img/90x90.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: -73px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 3px solid #c7c7c7;

}
.chat .chat-body .chat-system .chat_window .chat-messages .message.left .text {
      margin-left: 45px;
    margin-right: 20px;
    background-color: #dfe8ff;
    color: #3b3f5c;
    border-radius: 6px;
    padding: 12px;
    margin-top: 86px;
    margin-bottom: 65px;
    width: 100%;
    max-width: 207px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message.right .text {
    margin-right: 20px;
    margin-left: auto;
    background-color: #ededed;
    color: #1d1d1d;
    border-radius: 6px;
    padding: 12px;
    margin-top: 110px;
    margin-bottom: 16px;
    width: 100%;
    max-width: 220px;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message .text h6 {
    color: #000000;
}
.chat .chat-body .chat-system .chat_window .chat-messages .message .text p {
    color: #000;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section {
  padding: 5px 0 10px 0;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input {
    border: none;
    background-color: #1a73e9;
    color: #fff;
    font-weight: normal;
    padding:  11px 10px 11px 20px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .input-group-append .input-group-text {
    border: none;
    background-color: #1a73e9;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .input-group-append .input-group-text i {
    font-size: 20px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .input-group-append.send-msg .input-group-text {
    border: none;
    background-color: #3862f5;
    color: #fff;
    padding: 14px 22px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input::-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
}
.chat .chat-body .chat-system .chat_window .chat-bottom-section .message_input_wrapper .message_input::-moz-placeholder {
    color: #fff;
    font-size: 14px;
}
.chat-messages::-moz-scrollbar {
    width: 5px;
    height: 5px;
}
.chat-messages::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.chat-messages::-moz-scrollbar-button:start:decrement,
.chat-messages::-moz-scrollbar-button:start:decrement {
    height: 0px;
    display: block;
    background-color: #dedfdf;
}
.chat-messages::-webkit-scrollbar-button:start:decrement,
.chat-messages::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: #dedfdf;
}
.chat-messages::-moz-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.chat-messages::-webkit-scrollbar-track-piece {
    background-color: #fff;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.chat-messages::-moz-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}    
.chat-messages::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedfdf;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}
.chat-messages::-moz-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #dedfdf;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
} 
.chat-messages::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #dedfdf;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}



/*
  Procut-catalog 8
*/
.product-cat8 .card {
    border: none;
    background: #c2d5ff;
}
.product-cat8 .product_inner .card-title {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 0;
    top: 22px;
}
.product-cat8 .product_inner .card-title p {
    color: #1a73e9;
    font-size: 20px;
    margin-bottom: 6px;
    text-align: center;
}
.product-cat8 .product_inner .card-title p .product-name {
    font-size: 32px;
}
.product-cat8 .product_inner .card-title p .product-quality {
    font-size: 22px;
}
.product-cat8 .product_inner p.product-price {
  color: #1a73e9;
    font-size: 24px;
    margin-bottom: 8px;
    padding: 32px;
}
.product-cat8 .product_inner span.badge {
    padding: 11px 16px;
    background-color: #4f5163;
    font-size: 14px;
}
.product-cat8 .product_inner i.add-to-fav {
    padding: 10px;
    background-color: #fe3d52;
    border-radius: 50%;
    color: #fff;
}


/*

  Total Likes
  
*/

.t-likes {
  padding: 30.2px 20px;
}
.t-likes p {
    font-size: 15px;
    color: #3862f5;
}
.t-likes h5 {
    font-size: 43px;
    color: #1d1d1d;
}
.t-likes i {
  font-size: 44px;
  vertical-align: middle;
  color: #1a73e9;
}


/*

  Total shares
  
*/

.t-shares {
  padding: 30.2px 20px;
}
.t-shares p {
    font-size: 15px;
    color: #e95f2b;
}
.t-shares h5 {
    font-size: 43px;
    color: #1d1d1d;
}
.t-shares i {
  font-size: 44px;
  vertical-align: middle;
  color: #e95f2b;
}


/*

  Total comments
  
*/
.t-comments {
  padding: 30.2px 20px;
}
.t-comments p {
    font-size: 15px;
    color: #00d1c1;
}
.t-comments h5 {
    font-size: 43px;
    color: #1d1d1d;
}
.t-comments i {
  font-size: 44px;
  vertical-align: middle;
  color: #00d1c1;
}


/*
  User Profile 2
*/

#user-profile-card-2.card {
    border: none;
    height: 569px;
}
#user-profile-card-2.card .card-top-section {
    position: relative;
    background: #fff url(../../img/800x433.jpg) no-repeat center center;
    background-size: cover;
    padding: 90px 40px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#user-profile-card-2.card .card-top-section .usr-profile-meta {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
}
#user-profile-card-2.card .card-top-section .usr-profile-meta img {
    width: 96px;
    border: solid 3px #fff;
}
#user-profile-card-2.card .card-body .usr-info-meta .usr-name {
   font-size: 16px;
    color: #1a73e9;
    font-weight: 600;
}
#user-profile-card-2.card .card-body span {
    padding: 6px 13px;
}
#user-profile-card-2.card .card-body h4 {
  color: #1d1d1d;
  margin-top: 38px !important;
}
#user-profile-card-2.card .card-body p {
      color: #3b3f5c;
}
#user-profile-card-2.card .card-body .card-bottom-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
#user-profile-card-2.card .card-body .card-bottom-section button {
  margin-bottom: 7px !important;
  background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}