{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
 <!--  BEGIN MAIN CONTAINER  -->
 <div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="ps-overlay"></div>
  <div class="search-overlay"></div>



  <!--  BEGIN CONTENT PART  -->
  <div id="content" class="main-content">
      <div class="container">
          <div class="page-header">
              <div class="page-title">
                  <h3>{{nombre_evento}}</h3>
              </div>
          </div>

          <div class="row">
              <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                  <div class="statbox widget box box-shadow">
                      <section class="content">
  <section class="content">
    <div class="content-header">
        <div class="jumbotron">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-10">
                      
                        <h1 class="display-4">Integrantes de {{equipo.pk}} </h1>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()">Equipo</a></li>
                    <li class="breadcrumb-item"><a href="">Integrantes</a></li>
                </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body"  style="padding: 30px 50px;">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                </div>
                <div class="col-sm-12 col-md-6">
                </div>
              </div>
              <br>
              <div class="row mb" style="overflow-x:auto;">
                <table id="ecommerce-product-list-1" class="table table-hover">
                  <thead> 
                    <h5><b>Jugadores:</b></h5>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th class="align-center">Genero</th>
                      <th class="align-center">Edad</th>
                      <th class="align-center">Talla</th>
                      <th class="align-center">Acciones</th>
                      <!-- <th class="align-center">Acciones</th> -->
                    </tr>
                  </thead>
                  <tbody id="tabla__jugadores_tbody">
                    {% for jugador in jugadores %}
                      <tr>
                          <td>{{jugador.documento}}</td>
                          <td>{{jugador.nombres}}&nbsp;{{jugador.apellidos}}</td>
                          <td>{{jugador.sexo}}</td>
                          <td>{{jugador.edad}}</td>
                          <td>{{jugador.talla}}</td>
                          <td class="project-actions text-center">
                              <a class="btn btn-default btn-sm"  href="{% url 'integrante-update' jugador.pk %}">
                                  <i class="fas fa-pencil-alt"></i>Editar
                              </a>
                              <a class="btn btn-default btn-sm" href="{% url 'integrante-delete' jugador.pk %}">
                                  <i class="fas fa-trash"></i>Borrar
                              </a>
                          </td>
                      </tr>
                    {% endfor %} 
                  </tbody>
                </table>
                <br>
                <div class="col-12"><br></div>
                <div class="col-12">
                  <table id="ecommerce-product-list-2" class="table table-bordered">
                    <thead> 
                      <h5><b>Cuerpo Tecnico:</b></h5>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                      </tr>
                    </thead>
                    <tbody id="tabla__tecnicos_tbody">
                      {% for tecnico in tecnicos %}
                        <tr>
                          <td>{{tecnico.documento}}</td>
                          <td>{{tecnico.nombres}}&nbsp;{{tecnico.apellidos}}</td>
                          <td class="project-actions text-center">
                              <a class="btn btn-default btn-sm"  href="{% url 'tecnico-update' tecnico.pk %}">
                                  <i class="fas fa-pencil-alt"></i>Editar
                              </a>
                              <a class="btn btn-default btn-sm" href="{% url 'tecnico-delete' tecnico.pk %}">
                                  <i class="fas fa-trash"></i>Borrar
                              </a>
                          </td>
                        </tr>
                      {% endfor %} 
                    </tbody>
                  </table>
                  <div class="row">
                      <div class="col-12">
                          <i id="btn_agregar_integrante"class="btn btn-default">Agregar Integrante <i class="fas fa-plus"></i></i>
                          <a class="btn btn-default"  href="{% url 'equipo-list' %}">Volver</a>
                      </div>
                  </div>
                </div>
              </div>
              <form id="agregar_integrante"method="post" action="{% url 'integrante-list'  pk_equipo %}">
                {% csrf_token %}
                <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Integrante:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="col-12">
                          <div class="form-group">
                            <label>Seleccione el integrante a agregar:</label>
                            <select class="form-control" name="rol_llenar" id="rol_llenar" >
                              <option value="">Seleccione</option>
                              <option value="1" id="opcion_jugador">Jugador</option>
                              <option value="2" id="opcion_ct">Cuerpo Tecnico</option>
                            </select>
                          </div>
                        </div>

                        <div class="row" id="div_nombres_apellidos" style="visibility:hidden">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="nombre">Nombres:</label>
                              <input type="text" name="Nombres_llenar" maxlength="512" class="form-control"  id="Nombres_llenar">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="Apellidos">Apellidos:</label>
                              <input type="text" name="Apellidos_llenar" maxlength="512" class="form-control"  id="Apellidos_llenar">
                            </div>
                          </div>
                        </div>

                        <div class="row" id="div_identificacion">
                          <div class="col-6">
                            <div class="form-group" style="visibility:hidden"id="div-tipo-id">
                              <label>Tipo de Identificación:</label>
                              <select class="form-control" name="id_tipo_llenar" id="id_tipo_llenar" >
                                <option value="">Seleccione</option>
                                {% for tipo_id in tipos_id %}
                                    <option value="{{ tipo_id.pk }}">{{ tipo_id.nombre }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group" style="visibility:hidden" id="div-doc">
                              <label>No. Identificación:</label>
                              <input class="form-control"  type="number" id="Identificación_llenar" name="Identificación_llenar" >
                            </div>
                          </div>
                        </div>                      

                        <div class="row">
                          <div class="col-3"id="col_fecha_nac">
                            <div class="form-group" style="visibility:hidden" id="div-fecha-nac">
                              <label>Fecha de Nacimiento:</label>
                              <input class="form-control" type="date" id="fecha_jugador_llenar" max=hoy() name="fecha_jugador_llenar" >
                            </div> 
                          </div>

                          <div class="col-3" id="col_genero">
                            <div class="form-group" style="visibility:hidden"id="div-genero">
                              <label>Género:</label>
                              <select class="form-control" name="genero_llenar" id="genero_llenar" >
                                <option value="">Seleccione</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                              </select>
                            </div>
                          </div>
                    
                          <div class="col-3"id="col_tel">
                            <div class="form-group" style="visibility:hidden" id="div-tel">
                              <label>Telefono:</label>
                              <input class="form-control" type="number" id="tel_jugador_llenar" min="1111111" max="3399999999" name="tel_jugador_llenar" >
                            </div>
                          </div>

                          <div class="col-3" id="col_talla">
                            <div class="form-group" style="visibility:hidden"id="div_talla">
                              <label>Talla:</label>
                              <select class="form-control" name="talla_llenar" id="talla_llenar" >
                                <option value="">Seleccione</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                                <option value="14">14</option>
                                <option value="16">16</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                              </select>
                            </div>
                          </div>


                          <div class="col-6">
                            <div class="form-group" style="visibility:hidden" id="div-email">
                              <label>Correo:</label>
                              <input class="form-control" type="email" id="email_llenar" name="email_llenar" >
                            </div>
                          </div>
                          <input type="hidden" name="equipo_integrante" value={{pk_equipo}}>
                          <input type="hidden" name="edad_integrante" id="edad_integrante">

                        </div>
                        <!-- <div class="row"> -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit"  class="btn btn-default" id="btn_agregar_modal">Agregar</i>
                      </div>
                    </div>
                  </div>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

//==============================================================================================================================
//____________________________          JS BOTONES MODAL Y FUNC MODAL       ____________________________________________________________________________



var integrante_tipoid= document.getElementById('div-tipo-id');
var integrante_doc= document.getElementById('div-doc');
var integrante_fecha_nac= document.getElementById('div-fecha-nac');
var integrante_genero= document.getElementById('div-genero');
var integrante_tel= document.getElementById('div-tel');
var integrante_talla= document.getElementById('div_talla');
var integrante_correo= document.getElementById('div-email');
var integrante_identificacion = document.getElementById("div_identificacion");
var integrante_col_id = document.getElementById("col_fecha_nac");
var integrante_col_genero = document.getElementById("col_genero");
var integrante_col_talla = document.getElementById("col_talla");
var integrante_nombre = document.getElementById("div_nombres_apellidos");

var rol_integrante = document.getElementById('rol_llenar');
var nombres_integrante = document.getElementById('Nombres_llenar');
var apellidos_integrante = document.getElementById('Apellidos_llenar');
var tipoid_integrante = document.getElementById('id_tipo_llenar');
var documento_integrante = document.getElementById('Identificación_llenar');
var fecha_nac_integrante = document.getElementById('fecha_jugador_llenar');
var genero_integrante = document.getElementById('genero_llenar');
var tel_integrante = document.getElementById('tel_jugador_llenar');
var talla_integrante = document.getElementById('talla_llenar');
var correo_integrante = document.getElementById('email_llenar');
var opcion_rol_jugador = document.getElementById('opcion_jugador');
var opcion_rol_ct = document.getElementById('opcion_ct');

var table = document.getElementById("tabla_tbody");

var opcion_rol= document.getElementById('rol_llenar');

var integrantes = 0;
var jugadores = 0;
var cuerpo_t = 0;

var table_jugadores = document.getElementById("ecommerce-product-list-1")
var table_ct = document.getElementById("ecommerce-product-list-2")
var opcion_rol= document.getElementById('rol_llenar');

const numero_max_integrantes = 22;
const numero_max_jugadores = 20;
const numero_max_cuerpo_tecnico = 2;

//PROCESO PARA CONTROLAR EL DESPLIEGUE DEL MODAL PARA AGREGAAR INTEGRANTE

$("#btn_agregar_integrante").click(function(){
  jugadores = table_jugadores.rows.length - 1;
  tecnicos = table_ct.rows.length - 1;

  console.log("jugadores"+jugadores)
  console.log("tecnicos"+tecnicos)

  if(jugadores <numero_max_jugadores){
    console.log("Debe agregar jugador")
    $("#myModal").modal();
    // 
    }
  else{
    Swal.fire({
          title: 'Maxima cantidad de Jugadores inscrita',
          showConfirmButton: true,
          timer: 1000
        })
        opcion_rol_jugador.remove();
  }
  if(tecnicos <numero_max_cuerpo_tecnico){
      console.log("Debe agregar tecnico")
        $("#myModal").modal();
  }
  else{
    Swal.fire({
          title: 'Maxima cantidad de Tecnicos inscrita',
          showConfirmButton: true,
          timer: 1000
        })
        opcion_rol_ct.remove();
  }
});
//FIN PROCESO

//PROCESO PARA MOSTRAR LOS DATOS A DILIGWENCIAR DE ACUERDO AL ROL DEL INTEGRANTE
$("#rol_llenar").change(function(){

  opcion =opcion_rol.value;
  //console.log("opcion es "+opcion)
  if (opcion==""){
    integrante_nombre.style.visibility="hidden";
    integrante_tipoid.style.visibility="hidden";
    integrante_doc.style.visibility="hidden";
    integrante_fecha_nac.style.visibility="hidden";
    integrante_genero.style.visibility="hidden";
    integrante_tel.style.visibility="hidden";
    integrante_talla.style.visibility="hidden";
    integrante_correo.style.visibility="hidden";
    integrante_identificacion.style.display="none";
    integrante_col_id.style.display="none";
    integrante_col_genero.style.display="none";
    integrante_col_talla.style.display="none";
  }
  else if (opcion=="1"){
    integrante_nombre.style.visibility="";
    integrante_tipoid.style.visibility="";
    integrante_doc.style.visibility="";
    integrante_fecha_nac.style.visibility="";
    integrante_genero.style.visibility="";
    integrante_tel.style.visibility="";
    integrante_talla.style.visibility="";
    integrante_correo.style.visibility="hidden";
    integrante_identificacion.style.display="";
    integrante_col_id.style.display="";
    integrante_col_genero.style.display="";
    integrante_col_talla.style.display="";

    $('#col_tel').removeClass('col-6');
    $('#col_tel').addClass('col-3');
  }
  else{
    integrante_nombre.style.visibility="";
    integrante_tipoid.style.visibility="";
    integrante_doc.style.visibility="";
    integrante_fecha_nac.style.visibility="hidden";
    integrante_genero.style.visibility="hidden";
    integrante_tel.style.visibility="";
    integrante_talla.style.visibility="hidden";
    integrante_correo.style.visibility="";
    integrante_identificacion.style.display="";
    integrante_col_id.style.display="none";
    integrante_col_genero.style.display="none";
    integrante_col_talla.style.display="none";

    $('#col_tel').removeClass('col-3');
    $('#col_tel').addClass('col-6');

  }
});
//FIN PROCESO

// PROCESO PARA VALIDAR LOS CAMPOS DEL MODAL
function validar_modal(){

  opcion =opcion_rol.value;

  console.log("Opcion de rol agregar integrante "+opcion);

  var validado = true;

  if(opcion==""){
    $('#rol_llenar').addClass('is-invalid');
    return false;
  }
  else if (opcion=="1"){
    console.log("Entra a la opcion 1 agreagar integrante");
    selects  = [
      [tipoid_integrante,'#id_tipo_llenar'],
      [genero_integrante,'#genero_llenar'],
      [talla_integrante,'#talla_llenar']
    ];

    campos = [
      [nombres_integrante,'#Nombres_llenar'],
      [apellidos_integrante,'#Apellidos_llenar'],
      [documento_integrante,'#Identificación_llenar'],
      [fecha_nac_integrante,'#fecha_jugador_llenar'],
      [tel_integrante,'#tel_jugador_llenar']
    ]
  }
  else if(opcion="2"){
    console.log("Entra a la opcion 2");
    campos = [
      [nombres_integrante,'#Nombres_llenar'],
      [apellidos_integrante,'#Apellidos_llenar'],
      [correo_integrante,'#email_llenar'],
      [tel_integrante,'#tel_jugador_llenar'],
      [documento_integrante,'#Identificación_llenar']
    ];
    selects  = [
    [tipoid_integrante,'#id_tipo_llenar']
    ];
  }
  console.log("Entra a validar campos de integrante ");
  for (let i=0; i < campos.length; i++){
    if (campos[i][0].value == ""){
      validado = false;
      $(campos[i][1]).addClass('is-invalid');
    }
    console.log("campos validados de agregar integrante: "+validado);
  }
  if(selects.length > 0){
    console.log("Entra a validar selects jugador");
    for (let j=0; j < selects.length; j++){
      var opcion_sel = selects[j][0].value;
      console.log("el select seleccionado es "+(j+1)+"con valor "+opcion_sel)
      if (opcion_sel==''){
        $(selects[j][1]).addClass('is-invalid');
        if (validado == true){
          validado = false;
        }
        else{
          validado = false;
        }
      }
    }
  }
  console.log("retorna esto "+validado);  
  return validado;
  //return true;
 }

 $("#rol_llenar").change(function(){
  $('#rol_llenar').removeClass('is-invalid');
  $('#Nombres_llenar').removeClass('is-invalid');
  $('#Apellidos_llenar').removeClass('is-invalid');
  $('#id_tipo_llenar').removeClass('is-invalid');
  $('#Identificación_llenar').removeClass('is-invalid');
  $('#fecha_jugador_llenar').removeClass('is-invalid');
  $('#genero_llenar').removeClass('is-invalid');
  $('#tel_jugador_llenar').removeClass('is-invalid');
  $('#talla_llenar').removeClass('is-invalid');
  $('#email_llenar').removeClass('is-invalid');
});

$("#Nombres_llenar").change(function(){
  $('#Nombres_llenar').removeClass('is-invalid');
});

$("#Apellidos_llenar").change(function(){
  $('#Apellidos_llenar').removeClass('is-invalid');
});

$("#id_tipo_llenar").change(function(){
  $('#id_tipo_llenar').removeClass('is-invalid');
});

$("#Identificación_llenar").change(function(){
  $('#Identificación_llenar').removeClass('is-invalid');
});

$("#fecha_jugador_llenar").change(function(){
  $('#fecha_jugador_llenar').removeClass('is-invalid');
});

$("#genero_llenar").change(function(){
  $('#genero_llenar').removeClass('is-invalid');
});

$("#tel_jugador_llenar").change(function(){
  $('#tel_jugador_llenar').removeClass('is-invalid');
});

$("#talla_llenar").change(function(){
  $('#talla_llenar').removeClass('is-invalid');
});

$("#email_llenar").change(function(){
  $('#email_llenar').removeClass('is-invalid');
});

 $("#btn_agregar_modal").click(function(){
  $("#agregar_integrante").submit(function( event ) {
      if(validar_modal() == true){
        console.log("$$$$$$$$$$", integrantes);
        $("#myModal").modal('hide');
        agregar_en_tabla();
        
        integrante_nombre.style.visibility="hidden";
        integrante_tipoid.style.visibility="hidden";
        integrante_doc.style.visibility="hidden";
        integrante_fecha_nac.style.visibility="hidden";
        integrante_genero.style.visibility="hidden";
        integrante_tel.style.visibility="hidden";
        integrante_talla.style.visibility="hidden";
        integrante_correo.style.visibility="hidden";
        integrante_identificacion.style.display="none";
        integrante_col_id.style.display="none";
        integrante_col_genero.style.display="none";
        integrante_col_talla.style.display="none";
      }
      else{
        event.preventDefault();
      }
  });
});

//PROCESO PARA AGREGAR ELEMENTOS A LA TABLA

function agregar_en_tabla() {
  //CON ESTA PRIMERA PARTE SE CREA LA FILA QUE SE VA A AGREGAR A LA TABLA
    var nombres_integrante = document.getElementById('Nombres_llenar').value;
    var apellidos_integrante = document.getElementById('Apellidos_llenar').value;
    var tipo_integrante = document.getElementById('id_tipo_llenar').value;
    var documento_integrante = document.getElementById('Identificación_llenar').value;
    var tel_integrante = document.getElementById('tel_jugador_llenar').value;
    var edad_integrante = document.getElementById('fecha_jugador_llenar').value;
    var genero_integrante = document.getElementById('genero_llenar').value;
    var correo_integrante = document.getElementById('email_llenar').value;
    var talla_integrante = document.getElementById('talla_llenar').value;
    var rol = document.getElementById('rol_llenar').value;

    var rol_verbose;

    if (rol=='1'){
        console.log("Entra a rol 1")
      rol_verbose = 'Jugador';
      var hoy = new Date();
    var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
    var fecha_inicial = new Date(edad_integrante).getTime();
    var fecha_final = new Date(fecha_fin).getTime();

    }
    else if(rol=='2'){
        console.log("entra a rol 2")
      rol_verbose = 'Cuerpo Tecnico';
      var hoy = new Date();
    var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
    var fecha_inicial = new Date(fecha_fin).getTime();
    var fecha_final = new Date(fecha_fin).getTime();

    }

    if (fecha_final >= fecha_inicial){
        console.log("Entra a FECHA CORRECTAAAAAAAAAA:...................")

      var diff = fecha_final - fecha_inicial;
      var años = Math.floor(diff/(1000*60*60*24*365));
      $("#edad_integrante").val(años)

    }
    else{
      Swal.fire({
              title: 'La fecha de Nacimiento ingresada es erronea.',
              showConfirmButton: true,
              timer: 1000
            })
    }

  };
  
  $("#modal_finalizar").on("hidden.bs.modal", function () {
    if($("#anuncio_continuar").length){
      $("#anuncio_continuar").remove();
    }
    if($("#anuncio_pregunta".length)){
      $("#anuncio_continuar").remove();
    }
    if($("#modal_si").length == 0){
      $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
    }
    if($("#modal_no").length == 0){
      $("#modal_finalizar_pie").append('<i type="button" class="btn btn-danger" data-dismiss="modal" id="modal_no">No</i>');
    }
  });


</script>
{% endblock %}
