{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="content-header">
        <div class="jumbotron">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-10">
                        <h1 class="display-4">Actualizar Integrante</h1>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()">Equipo</a></li>
                    <li class="breadcrumb-item"><a href="">Integrantes</a></li>
                </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <form name='equipo' class="form-horizontal needs-validation" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-body">
                <div class="tab-content">
                  <div class="row" id="div_nombres_apellidos">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="Apellidos">Nombres:</label>
                      {% render_field form.nombres class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                      {% for error in form.nombres.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                      <label for="Apellidos">Apellidos:</label>
                      {% render_field form.apellidos class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                      {% for error in form.apellidos.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      </div>
                  </div>
                  </div>

                  <div class="row" id="div_identificacion">
                  <div class="col-6">
                      <div class="form-group">
                      <label>Tipo de Identificación:</label>
                      {% render_field form.tipo_identificacion class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                      {% for error in form.tipo_identificacion.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group" id="div-doc">
                      <label>No. Identificación:</label>
                      {% render_field form.documento class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                      {% for error in form.documento.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      </div>
                  </div>
                  </div>                      
              
                  <div class="col-3"id="col_tel">
                      <div class="form-group" id="div-tel">
                      <label>Telefono:</label>
                      {% render_field form.telefono class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                      {% for error in form.telefono.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      </div>
                  </div>

                  <div class="col-3" id="col_correo">
                      <div class="form-group" id="div_talla">
                      <label>Email:</label>
                      {% render_field form.email class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                      {% for error in form.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      </div>
                  </div>
                  <!-- <div class="row"> -->
                </div>
                <div class="tab-content">
                        <!-- <a type="button" class="btn btn-secondary" href="/apps/form_futsal/templates/integrante/list.html" data-dismiss="modal">Regresar</a> -->
                        <!-- <i id="btn-validar" name="validar" class="btn btn-primary" id="btn-validar" >Validar</i> -->
                    <button id="btn-siguiente" name="siguiente" class="btn btn-default" type="submit" >Actualizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
            <!-- ./card -->
    </div>
            <!-- /.col -->

  </section>
  <!-- #header-content-wrapper -->
</div>
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

//==========================================================================================================================
//____________________________          TAB 2       ____________________________________________________________________________



//   var integrante_tipoid= document.getElementById('div-tipo-id');
//   var integrante_doc= document.getElementById('div-doc');
//   var integrante_fecha_nac= document.getElementById('div-fecha-nac');
//   var integrante_genero= document.getElementById('div-genero');
//   var integrante_tel= document.getElementById('div-tel');
//   var integrante_talla= document.getElementById('div_talla');
// //   var integrante_correo= document.getElementById('div-email');
//   var integrante_identificacion = document.getElementById("div_identificacion");
//   var integrante_col_id = document.getElementById("col_fecha_nac");
//   var integrante_col_genero = document.getElementById("col_genero");
//   var integrante_col_talla = document.getElementById("col_talla");
//   var integrante_nombre = document.getElementById("div_nombres_apellidos");

//   var rol_integrante = document.getElementById('rol_llenar');
  var nombres_integrante = document.getElementById('Nombres_llenar');
  var apellidos_integrante = document.getElementById('Apellidos_llenar');
  var tipoid_integrante = document.getElementById('id_tipo_llenar');
  var documento_integrante = document.getElementById('Identificación_llenar');
  var fecha_nac_integrante = document.getElementById('fecha_jugador_llenar');
  var genero_integrante = document.getElementById('genero_llenar');
  var tel_integrante = document.getElementById('tel_jugador_llenar');
  var talla_integrante = document.getElementById('talla_llenar');
//   var correo_integrante = document.getElementById('email_llenar');
//   var opcion_rol_jugador = document.getElementById('opcion_jugador');
//   var opcion_rol_ct = document.getElementById('opcion_ct');

//   var table = document.getElementById("tabla_tbody");

//   var opcion_rol= document.getElementById('rol_llenar');

//   var integrantes = 0;
//   var jugadores = 0;
//   var cuerpo_t = 0;

//   const numero_max_integrantes = 3;
//   const numero_max_jugadores = 2;
//   const numero_max_cuerpo_tecnico = 2;

//   const numero_min_integrantes = 3;
//   const numero_min_jugadores = 2;
//   const numero_min_cuerpo_tecnico = 2;

// $("#myBtn").click(function(){
//   var integrantes = 0;
//   var jugadores = 0;
//   var cuerpo_t = 0;

// for (var i = 0, row; row = table.rows[i]; i++) {
//   console.log("row No."+i)
//   var elemento_selec_tabla = row.cells[3].innerHTML;
//   if(elemento_selec_tabla=='Jugador'){
//     console.log("jugador")
//     jugadores += 1;
//     integrantes += 1;
//   }
//   else if(elemento_selec_tabla=='Cuerpo Tecnico'){
//     console.log("tecnico")
//     cuerpo_t += 1;
//     integrantes += 1;
//   }
// }
// console.log("integrantes"+integrantes)
// console.log("jugadores"+jugadores)
// console.log("cuerpo tecnico"+cuerpo_t)

// if(integrantes < numero_max_integrantes){
//   if(jugadores <numero_max_jugadores){
//     if(cuerpo_t < numero_max_cuerpo_tecnico){
//       $("#myModal").modal();
//     }
//     else{
//       Swal.fire({
//           title: 'Maxima cantidad de integrantes de Cuerpo Tecnico inscrita',
//           showConfirmButton: true,
//           timer: 1000
//         })
//         $("#myModal").modal();
//         opcion_rol_ct.remove();
//     }
//   }
//   else{
//     Swal.fire({
//           title: 'Maxima cantidad de Jugadores inscrita',
//           showConfirmButton: true,
//           timer: 1000
//         })
//         $("#myModal").modal();
//         opcion_rol_jugador.remove();
//   }
// }
// else{
//   Swal.fire({
//           title: 'Maxima cantidad de integrantes inscrita',
//           showConfirmButton: true,
//           timer: 1000
//         })
// }
// });


//PROCESO PARA MOSTRAR LOS DATOS A DILIGWENCIAR DE ACUERDO AL ROL DEL INTEGRANTE

// integrante_nombre.style.visibility="";
// integrante_tipoid.style.visibility="";
// integrante_doc.style.visibility="";
// integrante_fecha_nac.style.visibility="";
// integrante_genero.style.visibility="";
// integrante_tel.style.visibility="";
// integrante_talla.style.visibility="";
// integrante_correo.style.visibility="hidden";
// integrante_identificacion.style.display="";
// integrante_col_id.style.display="";
// integrante_col_genero.style.display="";
// integrante_col_talla.style.display="";

// $('#col_tel').removeClass('col-6');
// $('#col_tel').addClass('col-3');

function validar_modal(){

    var validado = true;

    console.log("Entra a la opcion 1");
    selects  = [
      [tipoid_integrante,'#id_tipo_llenar'],
      [genero_integrante,'#genero_llenar'],
      [talla_integrante,'#talla_llenar']
    ];

    campos = [
      [nombres_integrante,'#Nombres_llenar'],
      [apellidos_integrante,'#Apellidos_llenar'],
      [documento_integrante,'#Identificación_llenar'],
      [fecha_nac_integrante,'#fecha_jugador_llenar'],
      [tel_integrante,'#tel_jugador_llenar']
    ]
    console.log("Entra a validar CAMPOS jugador");
  for (let i=0; i < campos.length; i++){
    console.log("Entra a validar campo"+campos[i][0]+" "+campos[i][0].value);
    if (campos[i][0].value == ""){
      validado = false;
      $(campos[i][1]).addClass('is-invalid');
    }
    console.log("campos validados: "+validado);
  }
  if(selects.length > 0){
    console.log("Entra a validar selects jugador");
    for (let j=0; j < selects.length; j++){
      var opcion_sel = selects[j][0].value;
      console.log("el select seleccionado es "+(j+1)+"con valor "+opcion_sel)
      if (opcion_sel==''){
        $(selects[j][1]).addClass('is-invalid');
        if (validado == true){
          validado = false;
        }
        else{
          validado = false;
        }
      }
    }
  }
  console.log("retorna esto "+validado);  


  var edad_integrante = document.getElementById('fecha_jugador_llenar').value;

var hoy = new Date();
var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
var fecha_inicial = new Date(edad_integrante).getTime();
var fecha_final = new Date(fecha_fin).getTime();

if (fecha_final >= fecha_inicial){

    var diff = fecha_final - fecha_inicial;
    var años = Math.floor(diff/(1000*60*60*24*365));
    edad_integrante.value = años
}
else{
  Swal.fire({
          title: 'La fecha de Nacimiento ingresada es erronea.',
          showConfirmButton: true,
          timer: 1000
        })
}


  return validado;
  //return true;
 }

//  $("#rol_llenar").change(function(){
//   $('#rol_llenar').removeClass('is-invalid');
//   $('#Nombres_llenar').removeClass('is-invalid');
//   $('#Apellidos_llenar').removeClass('is-invalid');
//   $('#id_tipo_llenar').removeClass('is-invalid');
//   $('#Identificación_llenar').removeClass('is-invalid');
//   $('#fecha_jugador_llenar').removeClass('is-invalid');
//   $('#genero_llenar').removeClass('is-invalid');
//   $('#tel_jugador_llenar').removeClass('is-invalid');
//   $('#talla_llenar').removeClass('is-invalid');
//   $('#email_llenar').removeClass('is-invalid');
// });

$("#Nombres_llenar").change(function(){
  $('#Nombres_llenar').removeClass('is-invalid');
});

$("#Apellidos_llenar").change(function(){
  $('#Apellidos_llenar').removeClass('is-invalid');
});

$("#id_tipo_llenar").change(function(){
  $('#id_tipo_llenar').removeClass('is-invalid');
});

$("#Identificación_llenar").change(function(){
  $('#Identificación_llenar').removeClass('is-invalid');
});

$("#fecha_jugador_llenar").change(function(){
  $('#fecha_jugador_llenar').removeClass('is-invalid');
});

$("#genero_llenar").change(function(){
  $('#genero_llenar').removeClass('is-invalid');
});

$("#tel_jugador_llenar").change(function(){
  $('#tel_jugador_llenar').removeClass('is-invalid');
});

$("#talla_llenar").change(function(){
  $('#talla_llenar').removeClass('is-invalid');
});

const btn_siguiente = document.getElementById('btn-validar');
    $()
    
    btn_siguiente.addEventListener('click', () => {
    
    
      if (validar_modal() == true){
        $("#btn-siguiente").removeAttr("style");
      }
    });
    //   rol_integrante.value="";
    //   nombres_integrante.value="";
    //   apellidos_integrante.value="";
    //   tipoid_integrante.value="";
    //   documento_integrante.value="";
    //   fecha_nac_integrante.value="";
    //   genero_integrante.value="";
    //   tel_integrante.value="";
    //   talla_integrante.value="";
    //   correo_integrante.value="";

    //   integrante_nombre.style.visibility="hidden";
    //   integrante_tipoid.style.visibility="hidden";
    //   integrante_doc.style.visibility="hidden";
    //   integrante_fecha_nac.style.visibility="hidden";
    //   integrante_genero.style.visibility="hidden";
    //   integrante_tel.style.visibility="hidden";
    //   integrante_talla.style.visibility="hidden";
    //   integrante_correo.style.visibility="hidden";
    //   integrante_identificacion.style.display="none";
    //   integrante_col_id.style.display="none";
    //   integrante_col_genero.style.display="none";
    //   integrante_col_talla.style.display="none";


</script>
{% endblock %}
