{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content-wrapper"
<!-- Content Header (Page header) -->
<form class="form-horizontal" action="{% url 'contacto-add' %}" data-parsley-validate="true" enctype="multipart/form-data" name="contacto_form" id="contacto_form" method="post" data-parsley-validate >
  {% csrf_token %}
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Agregar Contacto</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'contacto' %}">Contactos</a></li>
            <li class="breadcrumb-item active">Agregar</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="/media/contactos/perfil/anonimo.jpeg" alt="User profile picture">
                {% render_field form.imagen class="form-control" %}
                {% for error in form.imagen.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>

              <h3 class="profile-username text-center">
                {% render_field form.nombre class="form-control" placeholder="Nombre" required="true" %}
                {% for error in form.nombre.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </h3>

                <label >Es empresa? :</label>
                {% render_field form.es_compania class="form-control" onchange="checkCompania();"%}
                {% for error in form.es_compania.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}

              <br>
                {% render_field form.documento class="form-control" placeholder="No.doc/nit/idd:" %}
                {% for error in form.documento.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->


        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#datos_contacto" data-toggle="tab">Datos de Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="#datos_ubicacion" data-toggle="tab">Ubicacion</a></li>
                <li class="nav-item"><a class="nav-link" href="#ventas_compras" data-toggle="tab">Ventas/compras</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">

              <div class="tab-content">
                <!--   T/. tab content of datos_contacto -->
                <div class="tab-pane active" id="datos_contacto">
                 <div id="datos_persona">    <!------------------------   DATOS DE PERSONA           -->
                    <div class="form-group row">
                      <label for="{{ form.cargo.id_for_label }}" class="col-sm-2 col-form-label">Cargo :</label>
                      <div class="col-sm-10">
                        {% render_field form.cargo class="form-control" placeholder="Ej.: Director ventas" %}
                        {% for error in form.cargo.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label">sexo:</label>
                      <div class="col-sm-10">
                        {% render_field form.sexo class="form-control" onchange="testChange();" %}
                        {% for error in form.sexo.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.empleado.id_for_label }}" class="col-sm-2 col-form-label">empleado?:</label>
                      <div class="col-sm-10">
                        {% render_field form.empleado class="form-control" %}
                        {% for error in form.empleado.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.compania.id_for_label }}" class="col-sm-2 col-form-label">Compania?:</label>
                      <div class="col-sm-10">
                        {% render_field form.compania class="form-control" %}
                        {% for error in form.compania.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                  </div>   <!------------------------   DATOS DE PERSONA           -->

                    <div class="form-group row">
                      <label for="{{ form.telefono.id_for_label }}" class="col-sm-2 col-form-label">Telefono :</label>
                      <div class="col-sm-10">
                        {% render_field form.telefono class="form-control" %}
                        {% for error in form.telefono.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.movil.id_for_label }}" class="col-sm-2 col-form-label">Celular :</label>
                      <div class="col-sm-10">
                        {% render_field form.movil class="form-control" %}
                        {% for error in form.movil.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Correo Electronico :</label>
                      <div class="col-sm-10">
                        {% render_field form.email class="form-control" %}
                        {% for error in form.email.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                  <div id="datos_empresa">    <!------------------------   DATOS DE empresa          -->
                    <div class="form-group row">
                      <label for="{{ form.sitioweb.id_for_label }}" class="col-sm-2 col-form-label">sitioweb :</label>
                      <div class="col-sm-10">
                        {% render_field form.sitioweb class="form-control" %}
                        {% for error in form.sitioweb.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="datos_ubicacion">
                    <div class="form-group row">
                      <label for="{{ form.direccion1.id_for_label }}" class="col-sm-2 col-form-label">Direccion :</label>
                      <div class="col-sm-10">
                        {% render_field form.direccion1 class="form-control" %}
                        {% for error in form.direccion1.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.direccion2.id_for_label }}" class="col-sm-2 col-form-label">Direccion Facturacion:</label>
                      <div class="col-sm-10">
                        {% render_field form.direccion2 class="form-control" %}
                        {% for error in form.direccion2.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.pais.id_for_label }}" class="col-sm-2 col-form-label">Pais:</label>
                      <div class="col-sm-10">
                        {% render_field form.pais class="form-control" %}
                        {% for error in form.pais.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.estado.id_for_label }}" class="col-sm-2 col-form-label">estado:</label>
                      <div class="col-sm-10">
                        {% render_field form.estado class="form-control" %}
                        {% for error in form.estado.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.ciudad.id_for_label }}" class="col-sm-2 col-form-label">ciudad:</label>
                      <div class="col-sm-10">
                        {% render_field form.ciudad class="form-control" %}
                        {% for error in form.ciudad.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>

                </div>
                <!--/// tab pane  -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="ventas_compras">
                    <div class="form-group row">
                      <label for="{{ form.cliente.id_for_label }}" class="col-sm-2 col-form-label">Es cliente?</label>
                      <div class="col-sm-10">
                        {% render_field form.cliente class="form-control" %}
                        {% for error in form.cliente.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.proveedor.id_for_label }}" class="col-sm-2 col-form-label">Es proveedor?</label>
                      <div class="col-sm-10">
                        {% render_field form.proveedor class="form-control" %}
                        {% for error in form.proveedor.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.industria.id_for_label }}" class="col-sm-2 col-form-label">industria:</label>
                      <div class="col-sm-10">
                        {% render_field form.industria class="form-control" %}
                        {% for error in form.industria.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="{{ form.codigo_barras.id_for_label }}" class="col-sm-2 col-form-label">Codigo barras:</label>
                      <div class="col-sm-10">
                        {% render_field form.codigo_barras class="form-control" %}
                        {% for error in form.codigo_barras.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="{{ form.limite_credito.id_for_label }}" class="col-sm-2 col-form-label">Limite credito:</label>
                        <div class="col-sm-10">
                          {% render_field form.limite_credito class="form-control" %}
                          {% for error in form.limite_credito.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        </div>
                    </div>

                </div>
                <!--/// tab pane  -->
              </div>
              <!-- /.tab-content -->
              <div class="form-group row">

                <button class="btn btn-block btn-success col-sm-2" type="button" href="javascript:;" onclick="saveContacto();" action="{% url 'contacto-add' %}">
                   Crear
                 </button>
                <button class="btn btn-block btn-default col-sm-2" type="button" onclick="cargarPagina(this.dataset.url)" href="javascript:;" data-url="{% url 'contacto' %}">
                  Volver
                </button>
              </div>
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <!-- /.content -->
</form>
</div>
{% endblock %}

{% block page_js_level %}
{% endblock %}
