{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Contacto</h3>
          <div class="btn-group ">
            <a href="{% url 'contacto-update' contacto.pk %}" class="btn btn-sm btn-info">
              <i class="nav-icon fas fa-edit"></i>
              Editar
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'contacto' %}">Contactos</a></li>
            <li class="breadcrumb-item active">Perfil de Contacto</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile text-center">
              <div class="text-center">
                {% if contacto.imagen %}
                  <img class="profile-img-card img-fluid img-circle" src="{{ contacto.imagen.url }}" alt="User profile picture">
                {% else %}
                  <img class="profile-img-card img-fluid img-circle" src="{% static 'adminlte/assets/img/default-user.png' %}" alt="User profile picture">
                {% endif %}
              </div>

              <h3 class="profile-username">{{ contacto.nombre }}</h3>

              {% if contacto.es_compania %}
                <p class="text-muted text-sm">Compañia</p>
              {% else %}
                <p class="text-muted text-sm">{{ contacto.cargo }}</p>
              {% endif %}
              
              <ul class="ml-4 mb-0 fa-ul text-muted">
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                  {% if contacto.direccion %}
                   {{ contacto.direccion }}
                  {% else %}
                   ------
                  {% endif %}
                </li>
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                  {% if contacto.telefono %}
                   {{ contacto.telefono }}
                  {% else %}
                   ------
                  {% endif %}
                </li>
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span>
                  {% if contacto.email %}
                   {{ contacto.email }}
                  {% else %}
                   ------
                  {% endif %}
                </li>
              </ul>
              <ul class="list-group list-group-unbordered mb-3 text-left">
                <li class="list-group-item">
                  <b>Contactos</b> <a href="#" class="float-right">{{ contacto.getContactoRelacion.count }}</a>
                </li>
                <!-- <li class="list-group-item">
                  <b>Friends</b> <a class="float-right">13,287</a>
                </li> -->
              </ul>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-default">
                  <i class="fas fa-phone"></i> Call
                </a>
                <a href="#" class="btn btn-sm btn-default">
                  <i class="fas fa-envelope"></i> Email
                </a>
                <a href="#" class="btn btn-sm btn-default">
                  <i class="fas fa-comments"></i> Chat
                </a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!--  -->
          <div class="card card-primary collapsed-card">
            <div class="card-header">
              <h3 class="card-title">Datos Adicionales</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-mobile-alt mr-1"></i> Home</strong>
              <p>
                <a href="#">
                  (031) 742-6315
                </a>
              </p>
              <strong><i class="fas fa-mobile-alt mr-1"></i> Work</strong>
              <p>
                <a href="#">
                  (031) 742-6315
                </a>
              </p>
              <hr>
              <strong><i class="far fa-envelope mr-1"></i> Home</strong>
              <p>
                <a href="#">
                  william.a.moreno.g@gmail.com
                </a>
              </p>
              <strong><i class="far fa-envelope mr-1"></i> work</strong>
              <p>
                <a href="#">
                  william.moreno@grupoda2.com
                </a>
              </p>
              <hr>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary collapsed-card">
            <div class="card-header">
              <h3 class="card-title">Acerca de</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> Education</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

              <p class="text-muted">Malibu, California</p>

              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

              <p class="text-muted">
                <span class="tag tag-danger">UI Design</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">PHP</span>
                <span class="tag tag-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General</a></li>
                <li class="nav-item"><a class="nav-link" href="#ubicacion" data-toggle="tab">Ubicacion</a></li>
                <li class="nav-item"><a class="nav-link" href="#documentos" data-toggle="tab">Documentos</a></li>
                <li class="nav-item"><a class="nav-link" href="#tickets" data-toggle="tab">Solicitudes</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="general">
                  <dl class="row">
                    <dt class="col-sm-2">Documento</dt>
                    <dd class="col-sm-10">{{ contacto.documento }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Sexo</dt>
                    <dd class="col-sm-10">{{ contacto.get_sexo_display }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Industria</dt>
                    <dd class="col-sm-10">
                      <span class="badge bg-danger">salud</span>
                      <span class="badge bg-info">educacion</span>
                      <span class="badge bg-primary">telecomunicaciones</span>
                      <span class="badge bg-indigo">industria</span>
                    </dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Sitio Web</dt>
                    <dd class="col-sm-10">{{ contacto.sitioweb }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Notas</dt>
                    <dd class="col-sm-10">{{ contacto.observaciones }}</dd>
                  </dl>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="ubicacion">
                  <dl class="row">
                    <dt class="col-sm-2">Pais</dt>
                    <dd class="col-sm-10">{{ contacto.pais }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Estado</dt>
                    <dd class="col-sm-10">{{ contacto.estado }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Ciudad</dt>
                    <dd class="col-sm-10">{{ contacto.ciudad }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-2">Codigo Postal</dt>
                    <dd class="col-sm-10">{{ contacto.codigo_postal }}</dd>
                  </dl>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="documentos">
                  <div class="row">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><input type="checkbox" name="" value=""></th>
                          <th>Nombre</th>
                          <th>Tipo</th>
                          <th>Fecha</th>
                          <th>Usuario</th>
                          <th>Tamaño</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td><input type="checkbox" name="" value=""></td>
                            <td>Hoja de vida.pdf</td>
                            <td>document</td>
                            <td>31 Ene 2020 5:37 pm</td>
                            <td>wmorenog</td>
                            <td>362.00 KB</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" name="" value=""></td>
                            <td>Informacion general.pdf</td>
                            <td>document</td>
                            <td>31 Ene 2020 5:37 pm</td>
                            <td>wmorenog</td>
                            <td>362.00 KB</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
          <div class="card card-primary collapsed-card">
            <div class="card-header">
              <h3 class="card-title">Actividades</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> Education</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

              <p class="text-muted">Malibu, California</p>

              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

              <p class="text-muted">
                <span class="tag tag-danger">UI Design</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">PHP</span>
                <span class="tag tag-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
{% endblock %}
