{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}

{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Contacto</h3>
          <div class="btn-group ">
            <button type="submit" class="btn btn-sm btn-info" name="button">
              <i class="nav-icon fas fa-edit"></i>
              Guardar
            </button>
            <a href="{% url 'contacto-detail' contacto.pk %}" class="btn btn-sm btn-secondary ml-1">
              <i class="nav-icon fas fa-arrow-left"></i>
              Cancelar
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'contacto' %}">Contactos</a></li>
            <li class="breadcrumb-item active">Actualizar Contacto</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile text-center">
              <div class="text-center">
                {% if contacto.imagen %}
                  <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{{ contacto.imagen.url }}" alt="User profile picture">
                {% else %}
                  <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{% static 'adminlte/assets/img/default-user.png' %}" alt="User profile picture">
                {% endif %}
                <div id="profile-image-input">
                  {% render_field form.imagen class="form-control"%}
                </div>
              </div>
              <h3 class="profile-username">
                {% render_field form.nombre class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombre" %}
                {% for error in form.nombre.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </h3>
              <p class="text-muted">
                {% if not contacto.es_compania %}
                  {% render_field form.cargo class="form-control" placeholder="Cargo" data-toggle="tooltip" data-placement="top" title="Cargo" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </p>
              <ul class="ml-4 mb-0 fa-ul text-muted">
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                  {% render_field form.direccion class="form-control form-control-sm" placeholder="Direccion" data-toggle="tooltip" data-placement="top" title="Direccion" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </li>
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                  {% render_field form.telefono class="form-control form-control-sm" placeholder="Telefono" data-toggle="tooltip" data-placement="top" title="Telefono"%}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </li>
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span>
                  {% render_field form.email class="form-control form-control-sm" placeholder="Email" data-toggle="tooltip" data-placement="top" title="Email" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </li>
              </ul>
              <ul class="list-group list-group-unbordered mb-3 text-left">
                <li class="list-group-item disabled">
                  <b>Contactos</b> <a href="#" class="float-right">{{ contacto.getContactoRelacion.count }}</a>
                </li>
                <!-- <li class="list-group-item">
                  <b>Friends</b> <a class="float-right">13,287</a>
                </li> -->
              </ul>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-default disabled">
                  <i class="fas fa-phone"></i> Call
                </a>
                <a href="#" class="btn btn-sm btn-default disabled">
                  <i class="fas fa-envelope"></i> Email
                </a>
                <a href="#" class="btn btn-sm btn-default disabled">
                  <i class="fas fa-comments"></i> Chat
                </a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!--  -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Datos Adicionales</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-mobile-alt mr-1"></i> Home</strong>
              <p>
                <div class="form-group">
                  <a href="#" class="text-muted">
                    <i class="fas fa-minus-circle text-danger"></i>
                  </a>
                  (317) 383-7131
                </div>
              </p>
              <strong><i class="fas fa-mobile-alt mr-1"></i> Work</strong>
              <p>
                <div class="form-group">
                  <a href="#" class="text-muted">
                    <i class="fas fa-minus-circle text-danger"></i>
                  </a>
                  (031) 742-6315
                </div>
              </p>
              <div class="form-group">
                <a href="#" class="text-muted">
                  <i class="fas fa-plus-circle text-info"></i>
                  Agregar Telefono
                </a>
              </div>
              <hr>
              <strong><i class="far fa-envelope mr-1"></i> Home</strong>
              <p>
                <div class="form-group">
                  <a href="#" class="text-muted">
                    <i class="fas fa-minus-circle text-danger"></i>
                  </a>
                  william.a.moreno.g@gmail.com
                </div>
              </p>
              <strong><i class="far fa-envelope mr-1"></i> work</strong>
              <p>
                <div class="form-group">
                  <a href="#" class="text-muted">
                    <i class="fas fa-minus-circle text-danger"></i>
                  </a>
                  william.moreno@grupoda2.com
                </div>
              </p>
              <div class="form-group">
                <a href="#" class="text-muted">
                  <i class="fas fa-plus-circle text-info"></i>
                  Agregar Email
                </a>
              </div>
              <hr>
              <div class="form-group">
                <a href="#" class="text-muted">
                  <i class="fas fa-plus-circle text-info"></i>
                  Agregar Direccion
                </a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General</a></li>
                <li class="nav-item"><a class="nav-link" href="#ubicacion" data-toggle="tab">Ubicacion</a></li>
                <li class="nav-item"><a class="nav-link" href="#documentos" data-toggle="tab">Documentos</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="general">
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="icheck-info d-inline">
                        {% render_field form.es_compania class="form-control" placeholder="Cargo" data-toggle="tooltip" data-placement="top" title="Cargo" %}
                        <label for="{{ form.es_compania.id_for_label }}"> {{ form.es_compania.label }}
                        </label>
                        {% for error in form.es_compania.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="icheck-info d-inline">
                        {% render_field form.cliente class="form-control" placeholder="Cargo" data-toggle="tooltip" data-placement="top" title="Cargo" %}
                        <label for="{{ form.cliente.id_for_label }}"> {{ form.cliente.label }}
                        </label>
                        {% for error in form.cliente.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="icheck-info d-inline">
                        {% render_field form.proveedor class="form-control" placeholder="Cargo" data-toggle="tooltip" data-placement="top" title="Cargo" %}
                        <label for="{{ form.proveedor.id_for_label }}"> {{ form.proveedor.label }}
                        </label>
                        {% for error in form.proveedor.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.documento.id_for_label }}">{{ form.documento.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.documento class="form-control" %}
      								{% for error in form.documento.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.sexo.id_for_label }}">{{ form.sexo.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.sexo class="form-control" %}
      								{% for error in form.sexo.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.sitioweb.id_for_label }}">{{ form.sitioweb.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.sitioweb class="form-control" %}
      								{% for error in form.sitioweb.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.industria.id_for_label }}">{{ form.industria.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.industria class="form-control duallistbox" %}
      								{% for error in form.industria.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.observaciones.id_for_label }}">Observaciones</label>
                    <div class="col-sm-10">
                      {% render_field form.observaciones class="form-control" rows="7" %}
      								{% for error in form.observaciones.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="ubicacion">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.pais.id_for_label }}">{{ form.pais.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.pais class="form-control" %}
      								{% for error in form.pais.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.estado.id_for_label }}">{{ form.estado.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.estado class="form-control" %}
      								{% for error in form.estado.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.ciudad.id_for_label }}">{{ form.ciudad.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.ciudad class="form-control" %}
      								{% for error in form.ciudad.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.codigo_postal.id_for_label }}">{{ form.codigo_postal.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.codigo_postal class="form-control" %}
      								{% for error in form.codigo_postal.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="documentos">
                  <div class="row">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><input type="checkbox" name="" value=""></th>
                          <th>Nombre</th>
                          <th>Tipo</th>
                          <th>Fecha</th>
                          <th>Usuario</th>
                          <th>Tamaño</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td><input type="checkbox" name="" value=""></td>
                            <td>Hoja de vida.pdf</td>
                            <td>document</td>
                            <td>31 Ene 2020 5:37 pm</td>
                            <td>wmorenog</td>
                            <td>362.00 KB</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" name="" value=""></td>
                            <td>Informacion general.pdf</td>
                            <td>document</td>
                            <td>31 Ene 2020 5:37 pm</td>
                            <td>wmorenog</td>
                            <td>362.00 KB</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</form>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

  $(document).ready(function() {
    $("#profile-image-upload").click(function(e) {
      $("#id_imagen").click();
    });

    function fasterPreview( uploader ) {
      if ( uploader.files && uploader.files[0] ){
        $('#profile-image-upload').attr('src', window.URL.createObjectURL(uploader.files[0]) );
      }
    }


    $("#id_imagen").change(function(){
        fasterPreview( this );
    });

  });

  $(function () {
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox({
      'nonSelectedListLabel': 'Disponibles',
      'selectedListLabel': 'Seleccionados',
      'infoText': false,
    });
  });
</script>
{% endblock %}
