{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Nuevo Ticket</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="widget-content-area custom-card p-0">

        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
    
                <div class="card">
                  <div class="content-header pl-3 pr-3">
                      <div class="row mt-2">
                        <div class="col-sm-12">
                          <h3 class="text-muted">Esta seguro que desea Borrar el Jugador?</h3>
                          <div class="crumbs">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <!-- <li><a href="{% url 'equipo-list' %}"><i class="flaticon-home-fill"></i></a></li>
                                <li><a href="{% url  'equipo-list' %}">Menu</a></li>
                                <li class="active"><a href="#">Equipos</a></li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
    
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                   <!-- <div class="dataTables_length" id="ecommerce-product-list_length">
                                   </div> -->
                                </div>
                                <div class="col-sm-12 col-md-6">
                                   <!-- <div id="ecommerce-product-list_filter" class="dataTables_filter">
                                       <label>Buscar: </label>
                                       <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="ecommerce-product-list">
                                    </div> -->
                                </div>
                             </div>
                             <br>
                            <div class="row" style="overflow-x:auto;">
                                <table id="ecommerce-product-list" class="table table-bordered">
                                    {% if object.genero == "" %}
                                    <thead> 
                                      <tr>
                                          <th>ID</th>
                                          <th>Nombre</th>
                                          <th class="align-center">Telefono</th>
                                          <th class="align-center">Correo</th>
                                          <!-- <th class="align-center">Acciones</th> -->
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{object.documento}}</td>
                                          <td>{{object.nombres}}&nbsp;{{object.apellidos}}</td>
                                          <td>{{object.telefono}}</td>
                                          <td>{{object.correo}}</td>
                                  
                                      </tr>
                                  </tbody>
                                    {% else %}
                                    <thead> 
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th class="align-center">Genero</th>
                                            <th class="align-center">Edad</th>
                                            <th class="align-center">Talla</th>
                                            <!-- <th class="align-center">Acciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{object.documento}}</td>
                                            <td>{{object.nombres}}&nbsp;{{object.apellidos}}</td>
                                            <td>{{object.sexo}}</td>
                                            <td>{{object.edad}}</td>
                                            <td>{{object.talla}}</td>
                                            <td>{{object.pk}}</td>
                                    
                                        </tr>
                                    </tbody>
                                    {% endif %}
                                </table>
                                <div>
                                    <form method="post" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirmar</button>
                                    </form>
                                </div>
                            </div>
    
                        </div>
                        
                    </div>
                </div>
                
    
            </div>
    
        </div>
    </div>

  <!-- /.content -->
</section>
  <!-- #header-content-wrapper -->
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

</script>
{% endblock %}