{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Contactos</h3>
          <div class="btn-group ">
            <a href="{% url 'contacto-add' %}" class="btn btn-sm btn-info">
              <i class="nav-icon fas fa-plus"></i>
              Agregar
            </a>
            <button class="btn btn-sm btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
              <span class="sr-only">Agregar</span>
              <div class="dropdown-menu" role="menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-1px, -166px, 0px);">
                <a class="dropdown-item" href="javascript:;">Importar CSV</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;">Exportar CSV</a>
              </div>
            </button>
          </div>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control">
            <span class="input-group-append">
              <button type="button" class="btn btn-info btn-flat">Search</button>
            </span>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtros
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Filtro 1</a>
              <a class="dropdown-item" href="#">Filtro 2</a>
              <a class="dropdown-item" href="#">Filtro 3</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col text-right">
            <a class="btn btn-default" href="{% url 'contacto' %}?display=list">
              <i class="fa fa-list-ul"></i>
            </a>
            <a class="btn btn-default" href="{% url 'contacto' %}?display=kanban">
              <i class="fa fa-th-large"></i>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      {% if display == 'list' %}
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 10px">ID</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Correo Electronico</th>
            </tr>
          </thead>
          <tbody>
            {% for contacto in contactos %}
              <tr>
                <td>{{ contacto.pk }}</td>
                <td>
                  {{ contacto.nombre }}
                  <span class="badge bg-danger">salud</span>
                  <span class="badge bg-info">educacion</span>
                  <span class="badge bg-primary">telecomunicaciones</span>
                  <span class="badge bg-indigo">industria</span>
                </td>
                <td>
                  {% if contacto.telefono != None %}
                    <a href="#" class="btn btn-xs bg-info">
                      <i class="fas fa-phone"> </i>
                    </a>
                    {{ contacto.telefono }}
                  {% else %}
                    --------
                  {% endif %}
                </td>
                <td>
                  {% if contacto.email != None %}
                    <a href="#" class="btn btn-xs bg-info">
                      <i class="fas fa-envelope"> </i>
                    </a>
                    {{ contacto.email }}
                  {% else %}
                    --------
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% elif display == 'kanban' %}
        <div class="row">
            {% for contacto in contactos %}
            <div class="col-12 col-sm-4 col-md-3 py-2">
              <a href="{% url 'contacto-detail' contacto.pk %}" class="h-100">
                <div class="card h-100 bg-light">
                    <div class="card-body text-center h-100">
                      {% if contacto.imagen %}
                        <img src="{{ contacto.imagen.url }}" alt="" class="img-circle profile-img-card">
                      {% else %}
                        <img src="{% static 'adminlte/assets/img/default-user.png' %}" alt="" class="img-circle profile-img-card">
                      {% endif %}
                      <div class="col-12 text-center">
                        <h2 class="lead"><b>{{ contacto.nombre }}</b></h2>
                        {% if contacto.es_compania %}
                          <p class="text-muted text-sm">Compañia</p>
                        {% else %}
                          <p class="text-muted text-sm">{{ contacto.cargo }}</p>
                        {% endif %}
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                            {% if contacto.direccion %}
                             {{ contacto.direccion }}
                            {% else %}
                             ------
                            {% endif %}
                          </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                            {% if contacto.telefono %}
                             {{ contacto.telefono }}
                            {% else %}
                             ------
                            {% endif %}
                          </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span>
                            {% if contacto.email %}
                             {{ contacto.email }}
                            {% else %}
                             ------
                            {% endif %}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="text-center">
                        <a href="#" class="btn btn-sm btn-default">
                          <i class="fas fa-phone"></i> Call
                        </a>
                        <a href="#" class="btn btn-sm btn-default">
                          <i class="fas fa-envelope"></i> Email
                        </a>
                        <a href="#" class="btn btn-sm btn-default">
                          <i class="fas fa-comments"></i> Chat
                        </a>
                      </div>
                    </div>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>
      {% endif %}
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
{% endblock %}
