{% extends 'base_sin_sidebar.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="content-header">
            <div class="jumbotron">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="display-4">Borrado de Equipo</h1>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:history.back()">Equipo</a></li>
                        <li class="breadcrumb-item"><a href="">Borrar</a></li>
                    </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="container">
        <div class="row">
            <div class="col">
            <div class="card">
                <div class="card-body" style="padding: 30px 50px;">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>
                <br>
                <div class="row" style="overflow-x:auto;">
                    <table id="ecommerce-product-list" class="table table-hover">
                        <thead> 
                            <h5>Jugadores:</h5>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th class="align-center">Genero</th>
                                <th class="align-center">Edad</th>
                                <th class="align-center">Talla</th>
                                <!-- <th class="align-center">Acciones</th> -->
                            </tr>
                        </thead>
                        <tbody>
                        {% for jugador in jugadores %}
                            <tr>
                                <td>{{jugador.documento}}</td>
                                <td>{{jugador.nombres}}{{jugador.apellidos}}</td>
                                <td>{{jugador.genero}}</td>
                                <td>{{jugador.edad}}</td>
                                <td>{{jugador.talla}}</td>
                        
                            </tr>
                        {% endfor %} 
                        </tbody>
                    </table>

                    <table id="ecommerce-product-list" class="table table-hover">
                        <thead> 
                            <h5>Cuerpo Tecnico:</h5>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <!-- <th class="align-center">Acciones</th> -->
                            </tr>
                        </thead>
                        <tbody>
                        {% for tecnico in tecnicos %}
                            <tr>
                                <td>{{tecnico.documento}}</td>
                                <td>{{tecnico.nombres}}{{jugador.apellidos}}</td>
        
                            </tr>
                        {% endfor %} 
                        </tbody>
                    </table>
                    <div>
                        <form method="post" >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">Confirmar</button>
                            <a class="btn btn-default"  href="{% url 'equipo-list' %}">Volver</a>  
                        </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</div>
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

</script>
{% endblock %}