/*
    CARD 1
*/

.card-1 {
    max-width: 100%;
    height: 458px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color: #1a73e9;
    padding: 30px 25px;
}
.card-1 .card-text {
    color: #6c757d;
}
.card-1 button {
    border-width: 2px!important;
}
.card-1 button:hover, .card-1 button:focus {
    color: #fff !important;
    border: none;
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}
.card-1 .badge-collapsed-img {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}
.card-1 .badge-collapsed-img img {
    width: 42px;
    height: 42px;
    border-color: #acb0c3;
    box-shadow: 0px 0px 15px 1px #e6e6e6;
}


/*
    User card
*/

.card-widget-content {
    background-color: transparent;
    height: 100%;
}
#user-profile-card-1.card {
    border: none;
    padding: 40px 20px 40px 20px;
    height: 100%;
    border-radius: 0;
}
#user-profile-card-1 .card-body .usr-img-meta {
    position: relative;
    width: 128px;
    height: 128px;
}
#user-profile-card-1 .card-body .usr-img-meta:before {
    position: absolute;
    content: "";
    padding: 10px;
    background-color: #1a73e9;
    border-radius: 50%;
    bottom: 104px;
    right: 8px;
    border: solid #fff;
}
#user-profile-card-1 .card-body .usr-img-meta img {
    width: 100%;
    height: 100%;
    border: 4px solid #c2d5ff;
}
#user-profile-card-1 .card-body .usr-info-meta { margin-top: 3rem; }
#user-profile-card-1 .card-body .usr-info-meta .usr-name {
    font-size: 25px;
    color: #1d1d1d;
}
#user-profile-card-1 .card-body .usr-info-meta .usr-occupation {
    color: #3b3f5c;
    font-size: 15px;
}
#user-profile-card-1 .card-body .usr-info-meta button {
    border: none;
    font-size: 15px;
    margin-top: 4rem;
    padding: 10px 28px;
    box-shadow: 2px 2px 13px 1px #c2d5ff;
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
}


/*
    Social Likes
*/

.social-likes .card { border: none; }
.social-likes .card .icon { padding: 30px 20px 5px 20px; }
.social-likes .card .icon i {
    font-size: 30px;
    border-radius: 50%;
    color: #1a73e9;
    padding: 14px;
    letter-spacing: 0;
    background-color: #c2d5ff;
}
.social-likes .card .card-content h5 {
    color: #1d1d1d;
    font-size: 25px;
}
.social-likes .card .card-content p {
    color: #3b3f5c;
    margin-bottom: 25px;
    font-size: 16px;
}
.social-likes .card .card-btn-section { margin-top: 30px; }
.social-likes .card .card-btn-section p {
    padding: 18px;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    color: #1a73e9;
    font-size: 15px;
}
.social-likes .card .card-btn-section p:hover {
    color: #1a73e9;
    background-color: #c2d5ff;
}

/*
    Social Card
*/

#social-card-1.card {
    height: 334px;
    padding: 0 20px 20px 20px;
}
#social-card-1.card {
    background-image: linear-gradient(to top, #00b1f4 0%, #1a73e9 100%);
    border: none;
}
#social-card-1.card .wrapper .usr-meta-info .media img {
    width: 70px;
    border: solid 4px #c2d5ff;
    background: #1a73e9;
}
#social-card-1.card .wrapper .usr-meta-info .media .media-body .usr-name  {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}
#social-card-1.card .wrapper .usr-meta-info .media .media-body .usr-occupation  {
    color: #e9ecef;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#social-card-1.card .wrapper .usr-meta-info .media .twitter-icon i  {
    font-size: 50px;
    color: #e9ecef;
    margin-left: 20px;
}
#social-card-1.card .wrapper .usr-tweet {
    color: #ffffff;
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
}


/*
    User Profile 2
*/

#user-profile-card-2.card {
    border: none;
    height: 492px;
}
#user-profile-card-2.card .card-top-section {
    position: relative;
    background: #fff url(../../img/1280x853.jpg) no-repeat center center;
    background-size: cover;
    padding: 90px 40px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#user-profile-card-2.card .card-top-section .usr-info-meta {
    position: absolute;
    top: 30px;
    left: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
#user-profile-card-2.card .card-top-section .usr-name {
    font-size: 19px;
    color: #fff;
    font-weight: normal;
}
#user-profile-card-2.card .card-top-section .usr-occupation {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
#user-profile-card-2.card .card-top-section .usr-profile-meta {
    position: absolute;
    bottom: -40px;
    left: 55px;
}
#user-profile-card-2.card .card-top-section .usr-profile-meta img { width: 90px; }
#user-profile-card-2.card .card-body { padding: 0.9rem; }
#user-profile-card-2.card .card-body .card-bottom-section .col-md-6.tw { border-right: none; }
#user-profile-card-2.card .card-body .card-bottom-section .col-md-6.insta { border-right: none; }
#user-profile-card-2.card .card-body .card-bottom-section .social-container { padding: 20px 0; }
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-fb i,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-twitter i,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-behance i,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-insta i {
    font-size: 27px;
    color: #3862f5;
}
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-fb .s-media-count,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-twitter .s-media-count,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-behance .s-media-count,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-insta .s-media-count {
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1d;
}
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-fb .s-media-txt,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-twitter .s-media-txt,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-behance .s-media-txt,
#user-profile-card-2.card .card-body .card-bottom-section .social-container .s-media-insta .s-media-txt {
    font-size: 15px;
    color: #3b3f5c;
}

/*
    Social Card 2
*/

#social-card-2.card {
    border: none;
    background-color: #bae7ff;
    padding: 46px 30px;
    border-radius: 6px;
}
#social-card-2.card .media i {
    color: #00b1f4;
    font-size: 63px;
}
#social-card-2.card .media .media-body h5 {
    color: #4f5163;
    font-size: 23px;
}
#social-card-2.card .media .media-body p {
    color: #4f5163;
    font-size: 15px;
}

/*
    Social Card 3
*/

#social-card-3.card {
    border: none;
    background-color: #c2d5ff;
    padding: 40px 25px;
}
#social-card-3.card .media i {
    color: #1a73e9;
    font-size: 65px;
}
#social-card-3.card .media .media-body h5 { color: #1a73e9; }
#social-card-3.card .media .media-body p {
    color: #1a73e9;
    font-size: 25px;
}
#social-card-3.card .media .media-body p i {
    color: #1a73e9;
    font-size: 50px;
    vertical-align: sub;
    margin-left: 10px;
}
#social-card-3.card .media .media-body button {
    border: 2px solid #1a73e9!important;
    color: #1a73e9!important;
    font-size: 16px;
}
#social-card-3.card .media .media-body button:hover {
    border: 1px solid #1a73e9!important;
    color: #fff!important;
    background-color: #1a73e9!important;
}


/*
    Profile card 4
*/

#user-profile-card-4.card { border: none; }
#user-profile-card-4.card .card-body .dropdown.custom-dropdown { padding: 11px; }
#user-profile-card-4.card .card-body .dropdown.custom-dropdown a.dropdown-toggle, 
#user-profile-card-4.card .card-body .dropdown.custom-dropdown .custom-dropdown-icon a.dropdown-toggle { padding: 7px 6px; }
#user-profile-card-4.card .card-body .dropdown.custom-dropdown a.dropdown-toggle:hover { background-color: transparent; }
#user-profile-card-4.card .card-body .dropdown.custom-dropdown .dropdown-toggle i {
  font-size: 35px;
  vertical-align: middle;
  color: #3b3f5c;
}
#user-profile-card-4.card .card-body .dropdown.custom-dropdown .dropdown-toggle i:hover { color: #3232b7; }
#user-profile-card-4.card .card-body .dropdown.custom-dropdown.show .dropdown-toggle i { color: #3232b7; }
#user-profile-card-4.card .card-body .dropdown.custom-dropdown .dropdown-menu {
    min-width: 7rem;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    border: none;
}
#user-profile-card-4.card .card-body .dropdown.custom-dropdown .dropdown-menu .dropdown-item {
    padding: 0.325rem 2rem;
    font-size: 14px;
    color: #3b3f5c;
    font-weight: normal;
}
#user-profile-card-4.card .card-body .dropdown.custom-dropdown .dropdown-menu .dropdown-item:hover { color: #6424c9; }
#user-profile-card-4.card .card-body .usr-img-meta img { width: 110px; }
#user-profile-card-4.card .card-body .usr-info-meta p.usr-name {
   font-size: 21px;
    color: #000;
}
#user-profile-card-4.card .card-body .usr-info-meta p.usr-state {
    color: #000;
    font-size: 15px;
}
#user-profile-card-4.card .card-body .sales-meta .sales-stats p {
    font-size: 16px;
    color: #000;
}
#user-profile-card-4.card .card-body .sales-meta .sales-stats h6 {
    font-size: 26px;
    color: #000;
    margin-top: -7px;
}
#user-profile-card-4.card .card-body .sales-meta #profile-chart {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  height: 60px;
}
#user-profile-card-4.card .card-body .sales-meta #profile-chart .amcharts-main-div a { display: none!important; }
#user-profile-card-4.card .card-body button {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    background-color: #3232b7;
    border: none;
    padding: 10px 45px;
    box-shadow: 4px 2px 10px 0px #3862f5;
}
#user-profile-card-4.card .card-body button:hover { background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%); }
#user-profile-card-4.card .card-body ul.action-btn li { padding: 0 11px; }
#user-profile-card-4.card .card-body ul.action-btn i {
    padding: 12px;
    border-radius: 50%;
    font-size: 23px;
    color: #fff;
    margin-bottom: 11px;
    background: #3b3f5c;
}
#user-profile-card-4.card .card-body ul.action-btn span {
  font-size: 14px;
  font-weight: 600;
  color: #1d1d1d;
}


/*
    Social Card 4
*/

#social-card-4.card {
    border: none;
    padding: 20px;
    color: #fff;
}
#social-card-4.card .card-body i {
  font-size: 38px;
  color: #00b1f4;
}
#social-card-4.card .card-body p.tweet {
  font-size: 27px;
    color: #0081e6;
}
#social-card-4.card .card-body .usr-img-meta img {
  width: 110px;
}
#social-card-4.card .card-body .usr-img-meta p {
    color: #0081e6;
    font-size: 21px;
    margin-top: 45px;
}
#social-card-4.card .card-body .usr-img-meta p.usr-location {
  font-size: 16px;
  margin-top: 0;
  color: #3b3f5c;
}
#social-card-4.card .card-body .usr-img-meta p.usr-location i {
  font-size: 16px;
  color: #3b3f5c;
}
#social-card-4.card .card-body button i {
  font-size: 15px;
  color: #5247bd;
}


/*
    User Profile Card 3
*/

#user-profile-card-3.card { border: none; }
#user-profile-card-3.card .card-header {
    background-color: transparent;
    border-bottom-color: #e9ecef;
}
#user-profile-card-3.card .card-header h6 {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 16px;
}
#user-profile-card-3.card .card-header ul.badge-collapsed-img li img { width: 33px; height: 33px; }
#user-profile-card-3.card .card-header ul li.badge-notify { position: relative; }
#user-profile-card-3.card .card-header ul li.badge-notify .notification {
    position: absolute;
    top: -15px;
    right: -34px;
}
#user-profile-card-3.card .card-header ul li.badge-notify .notification .badge {
    font-size: 10px;
    padding: 5px 6px;
    background-color: #c2d5ff;
    color: #1a73e9;
}
#user-profile-card-3.card .card-body .usr-img-meta img {
    width: 93px;
    height: 93px;
}
#user-profile-card-3.card .card-body .usr-info-meta h5 {
    color: #3b3f5c;
    font-size: 21px;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .usr-info-meta p {
    color: #1a73e9;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .profile-task-progress .progress {
    width: 150px;
    height: 8px;
    border-radius: 30px;
    margin-top: 1.3rem;
}
#user-profile-card-3.card .card-body .profile-task-progress .progress .progress-bar {
    border-radius: 30px;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-txt {
    font-size: 14px;
    font-weight: 600;
    color: #1a73e9;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-value {
    color: #3b3f5c;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-percentage {
    color: #1abc9c;
    font-weight: 600;
    font-size: 14px;
}
#user-profile-card-3.card .card-body button { padding: 5px 18px; }


/*
    Card  2
*/

#card-2.card {
    border: none;
    padding: 32px 30px 32px 30px;
    color: #1a73e9;
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);
}
#card-2.card img { width: 115px; }
#card-2.card .card-meta-date {
    color: #1a73e9;
    font-weight: 600;
}

.widget-content-area.card-widget { padding: 0; }

    
/*
    Card 4
*/

#card-4 {
    padding: 35px 13px;
    color: #1a73e9;
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);
}
#card-4 .card-img-container {
    background-color: #1a73e9;
    width: 70px;
    padding: 14px;
    border-radius: 50%;
}
#card-4 .card-title {
    font-weight: 600;
    margin-bottom: -6px;
    font-size: 15px;
}
#card-4 .card-text {
    padding-left: 5px;
    font-size: 14px;
}
#card-4 .card-pricing {
    font-size: 36px;
    letter-spacing: 3px;
    padding-left: 5px;
}
#card-4 .card-pricing .card-pricing-unit { font-size: 20px; }
#card-4 .card-pricing .card-pricing-decimal { font-size: 20px; }
#card-4 .card-rating {
    font-size: 15px;
    padding-left: 5px;
}
#card-4 .card-rating p {
    display: inline;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}
#card-4 .card-rating i {
    font-size: 20px;
    vertical-align: middle;
}


/*

  Card 5

*/

#card-5 {
    padding: 35px 35px 30px 35px;
    background: #acb0c3;
}
#card-5 .img-container img {
    border-radius: 50%;
}
#card-5 .f-body p.card-text.txt-1 {
    font-size: 18px;
    font-weight: 600; 
}
#card-5 .f-body p.card-text.txt-1 span.primary-txt { color: #fff; }
#card-5 .f-body p.card-text.txt-1 span.secondary-txt { color: #00d1c1; }
#card-5 .f-body p.card-text.txt-2 {
    font-size: 18px;
    font-weight: 600;
}
#card-5 .f-body p.card-text.txt-2 span.primary-txt { color: #fff; }
#card-5 .f-body p.card-text.txt-2 span.secondary-txt { color: #3232b7; }
#card-5 .tip {
    font-size: 20px;
    color: #fff;
}


/*

  Procut-catalog 8

*/

.product-cat8 .card {
    border: none;
    background: #c2d5ff;
}
.product-cat8 .product_inner .card-title {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 0;
    top: 22px;
}
.product-cat8 .product_inner .card-title p {
    color: #1a73e9;
    font-size: 20px;
    margin-bottom: 6px;
    text-align: center;
}
.product-cat8 .product_inner .card-title p .product-name { font-size: 32px; }
.product-cat8 .product_inner .card-title p .product-quality { font-size: 22px; }
.product-cat8 .product_inner p.product-price {
  color: #1a73e9;
    font-size: 24px;
    margin-bottom: 8px;
    padding: 32px;
}
.product-cat8 .product_inner span.badge {
    padding: 11px 16px;
    background-color: #4f5163;
    font-size: 14px;
}
.product-cat8 .product_inner i.add-to-fav {
    padding: 10px;
    background-color: #fe3d52;
    border-radius: 50%;
    color: #fff;
}


/*
    User Profile 2
*/

#user-profile-card-5.card {
    border: none;
    height: 569px;
}
#user-profile-card-5.card .card-top-section {
    position: relative;
    background: #fff url(../../img/800x433.jpg) no-repeat center center;
    background-size: cover;
    padding: 90px 40px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#user-profile-card-5.card .card-top-section .usr-profile-meta {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
}
#user-profile-card-5.card .card-top-section .usr-profile-meta img {
    width: 96px;
    border: solid 3px #fff;
}
#user-profile-card-5.card .card-body .usr-info-meta .usr-name {
   font-size: 16px;
    color: #1a73e9;
    font-weight: 600;
}
#user-profile-card-5.card .card-body span { padding: 6px 13px; }
#user-profile-card-5.card .card-body h4 {
    color: #1d1d1d;
    margin-top: 38px !important;
}
#user-profile-card-5.card .card-body p { color: #3b3f5c; }
#user-profile-card-5.card .card-body .card-bottom-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
#user-profile-card-5.card .card-body .card-bottom-section button { margin-bottom: 7px !important; background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%); }


/*
    Card 6
*/
.card#user-profile-card-6 { border: none; }
.card#user-profile-card-6 .card-body { padding: 42px 10px 15px 10px; }
.card#user-profile-card-6 .card-body .usr-meta img { width: 72px; }
.card#user-profile-card-6 .card-body .usr-meta p.usr-name {
    font-size: 18px;
    font-weight: 600;
    color: #3b3f5c;
}
.card#user-profile-card-6 .card-body .usr-activities p {
    color: #3b3f5c;
    font-weight: 600;
}
.card#user-profile-card-6 .card-body .usr-activities h6 {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 22px;
}
.card#user-profile-card-6 .card-body .usr-activities button {
    padding: 5px 18px;
    background-color: #3b3f5c;
}
.card#user-profile-card-6 .usr-posts h6 {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 18px;
    padding: 0 30px;
}
.card#user-profile-card-6 .usr-posts .posts-thumbnails img {
    width: 53px;
    border-radius: 3px;
    margin-left: 8px;
}


/*
    Card 6
*/

.card#card-6 {
    border: none;    
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);    
    color: #1a73e9;
}
.card#card-6 .card-body {
    padding: 82px 35px;
}
.card#card-6 .card-body h4 {
    font-size: 35px;
}
.card#card-6 .card-body p {
    font-size: 15px;
}
.card#card-6 .card-body img {
    max-width: 206px;
     width: 100%; 
    opacity: .5;
    position: absolute;
    top: -6px;
    right: -18px;
}

/*
    Social Card 5
*/

#social-card-5.card { border: none; }

#social-card-5.card .card-top-section {
    position: relative;
    background: #fff url(../../img/640x421.jpg) no-repeat center center;
    background-size: cover;
    padding: 90px 40px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#social-card-5.card .card-top-section .usr-profile-meta {
    position: absolute;
    bottom: -33px;
    right: 24px;
}
#social-card-5.card .card-top-section .usr-profile-meta img { width: 60px; }
#social-card-5.card .card-body { padding: 17px 28px; }
#social-card-5.card .card-body .card-bottom-section .tweet p {
    color: #3b3f5c;
    font-weight: 600;
}
#social-card-5.card .card-body .card-bottom-section .tweet p span.t-symbol {
    color: #1a73e9;
    font-weight: 600;
}
#social-card-5.card .card-body .card-bottom-section .tweet p.meta-time {
    color: #1a73e9;
    font-size: 13px;
    font-weight: 600;
}