{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}


 <!--  BEGIN MAIN CONTAINER  -->
 <div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="ps-overlay"></div>
  <div class="search-overlay"></div>



  <!--  BEGIN CONTENT PART  -->
  <div id="content" class="main-content">
      <div class="container">
          <div class="page-header">
              <div class="page-title">
                  <h3>{{nombre_evento}}</h3>
              </div>
          </div>

          <div class="row">
              <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                  <div class="statbox widget box box-shadow">
                      <section class="content">
  <section class="content">
    <div class="content-header">
        <div class="jumbotron">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-10">
                        <h1 class="display-4">Creacion de Equipo</h1>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()"">Evento</a></li>
                    <li class="breadcrumb-item"><a href="">Nuevo Equipo</a></li>
                </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <form name='equipo' class="form-horizontal needs-validation" method="post" action="{% url 'equipo-create' evento.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><b></b></h3>
                  <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab" id="tabequipo">Equipo</a></li>
                    <li class="nav-item"><a class="nav-link disabled" href="#tab_2" data-toggle="tab" id="tabjugadores">Integrantes</a></li>  
                  </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <!-- ----------------------TAB 1 INFORMACION DEL EQUIPO -->
                  <div class="tab-pane active" id="tab_1">
                    <!-- <p>Por favor Diligencie los datos del Equipo.</p> -->
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="nombre">Nombre Equipo:</label>
                          <input type="text" name="nombre_equipo" maxlength="512" class="form-control"  id="nombre_equipo">
                        </div>
                      </div>
                      <div class="col-6" id="selectcat">
                        <div class="form-group">
                          <label for="firstName">Categoria: </label>
                          <select class="form-control" name="categoria" id="id_categoria" required>
                              <option value="0">Seleccione</option>
                              {% for categoria in categorias %}
                                  <option value="{{ categoria.pk }}">{{ categoria.nombre }} {{ categoria.genero }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="firstName">Departamento: </label>
                          <select class="form-control" name="departamento" id="id_departamento" required>
                              <option value="0">Seleccione</option>
                              {% for departamento in departamentos %}
                                  <option value="{{ departamento.pk }}">{{ departamento.nombre }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="firstName">Municipio: </label>
                          <select class="form-control" name="municipio" id="id_municipio" required>
                              <option value="0">Seleccione</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <i id="btn-siguiente" name="siguiente" class="btn btn-default" id="btn-sgte-tab1" >Siguiente</i>
                    <i id="btn-siguiente" name="siguiente" class="btn btn-default" onclick=window.history.back() >Atras</i>
                  </div>
                  <!-- ----------------------FIN TAB 1 INFORMACION DEL EQUIPO -->
                  <!-- ----------------------TAB 2 INGRESAR INTEGRANTES DEL EQUIPO -->
                  <div class="tab-pane" id="tab_2">
                    <!-- <p>A continuacion encontrara el listado de jugadores inscritos. Recuerde que el maximo de jugadores permitidos es 20.
                      De igual forma un maximo de 2 miembros del cuerpo tecnico.
                    </p> -->

                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Integrante:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            
                            <div class="col-12">
                              <div class="form-group">
                                <label>Seleccione el integrante a agregar:</label>
                                <select class="form-control" name="rol_llenar" id="rol_llenar" >
                                  <option value="">Seleccione</option>
                                  <option value="1" id="opcion_jugador">Jugador</option>
                                  <option value="2" id="opcion_ct">Cuerpo Tecnico</option>
                                </select>
                              </div>
                            </div>
    
                            <div class="row" id="div_nombres_apellidos" style="visibility:hidden">
                              <div class="col-6">
                                <div class="form-group">
                                  <label for="nombre">Nombres:</label>
                                  <input type="text" name="Nombres_llenar" maxlength="512" class="form-control"  id="Nombres_llenar">
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group">
                                  <label for="Apellidos">Apellidos:</label>
                                  <input type="text" name="Apellidos_llenar" maxlength="512" class="form-control"  id="Apellidos_llenar">
                                </div>
                              </div>
                            </div>
    
                            <div class="row" id="div_identificacion">
                              <div class="col-6">
                                <div class="form-group" style="visibility:hidden"id="div-tipo-id">
                                  <label>Tipo de Identificación:</label>
                                  <select class="form-control" name="id_tipo_llenar" id="id_tipo_llenar" >
                                    <option value="">Seleccione</option>
                                    {% for tipo_id in tipos_id %}
                                        <option value="{{ tipo_id.pk }}">{{ tipo_id.nombre }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group" style="visibility:hidden" id="div-doc">
                                  <label>No. Identificación:</label>
                                  <input class="form-control"  type="number" id="Identificación_llenar" name="Identificación_llenar" >
                                </div>
                              </div>
                            </div>                      
    
                            <div class="row">
                              <div class="col-3"id="col_fecha_nac">
                                <div class="form-group" style="visibility:hidden" id="div-fecha-nac">
                                  <label>Fecha de Nacimiento:</label>
                                  <input class="form-control" type="date" id="fecha_jugador_llenar" max=hoy() name="fecha_jugador_llenar" >
                                </div> 
                              </div>
    
                              <div class="col-3" id="col_genero">
                                <div class="form-group" style="visibility:hidden"id="div-genero">
                                  <label>Género:</label>
                                  <select class="form-control" name="genero_llenar" id="genero_llenar" >
                                    <option value="">Seleccione</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                  </select>
                                </div>
                              </div>
                        
                              <div class="col-3"id="col_tel">
                                <div class="form-group" style="visibility:hidden" id="div-tel">
                                  <label>Telefono:</label>
                                  <input class="form-control" type="number"min="1111111" max="3399999999" id="tel_jugador_llenar" name="tel_jugador_llenar" >
                                </div>
                              </div>

                              <div class="col-3" id="col_talla">
                                <div class="form-group" style="visibility:hidden"id="div_talla">
                                  <label>Talla:</label>
                                  <select class="form-control" name="talla_llenar" id="talla_llenar" >
                                    <option value="">Seleccione</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="16">16</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                  </select>
                                </div>
                              </div>


                              <div class="col-6">
                                <div class="form-group" style="visibility:hidden" id="div-email">
                                  <label>Correo:</label>
                                  <input class="form-control" type="email" id="email_llenar" name="email_llenar" >
                                </div>
                              </div>

                            </div>
                            <!-- <div class="row"> -->
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <i  class="btn btn-default" id="btn-agregar">Agregar</i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <button id="btn-crear" type="submit" name="guarda_equipo" class="btn btn-primary" >Añadir</button> -->
                    <div style="overflow-x:auto;">
                      <table class="table table-bordered" name="integrantes" id="tabla">
                        <thead>
                          <tr>
                            <th class="text-center">No.</th>
                            <th class="text-center">Nombres</th>
                            <th class="text-center">Apellidos</th>
                            <th class="text-center">Jugador / DT</th>
                            <th class="text-center">Acciones</th>
                          </tr>
                        </thead>
                        <tbody id="tabla_tbody">
                        </tbody>
                      </table>
                    </div>
                    <i class="btn btn-default" id="myBtn">Agregar</i>
                    <i id="btn-finalizar" name="finalizar" class="btn btn-default" >Finalizar</i>

                    <div class="modal" tabindex="-1" role="dialog" id="modal_finalizar">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Confirmación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_finalizar_close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body" id="modal_finalizar_body">
                          </div>
                          <div class="modal-footer" id ="modal_finalizar_pie">
                            <i type="button" class="btn btn-danger" data-dismiss="modal" id="modal_no">No</i>
                            <!-- <input type="hidden" name="evento_pk" value="{{evento.pk}}"/>   -->
                            <button type="submit" class="btn btn-success" id="modal_si">Si</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

//===============================================================================================================================
//____________________________          TAB 1        ____________________________________________________________________________

// CON ESTAS LINEAS SE CONSULTA CADA VEZ QUE ESTOS CAMPOS CAMBIEN QUITEN LA OPCION  INVALIDA
$("#id_categoria").change(function(){
  $('#id_categoria').removeClass('is-invalid');
});

$("#id_municipio").change(function(){
  $('#id_municipio').removeClass('is-invalid');
});

$("#nombre_equipo").change(function(){
  $('#nombre_equipo').removeClass('is-invalid');
});

// Funcion que modifica las opciones del select de municipios de acuerdo al select de departamento
$("#id_departamento").change(function(){
    $('#id_departamento').removeClass('is-invalid');
   // alert("Si cambio");
    var deptoSeleccionado = $(this).children("option:selected").val();
   // alert("la almacend fue......" + zonaSeleccionado);
    const url = '/planilla/departamento/municipio/list/';  //esta es la url donde voy  a consultar
    $("#id_municipio").empty();
    $("#id_municipio").append("<option value='0'>Seleccione</option>");
  
    if (deptoSeleccionado != ''){
      $.get(url, {"depto_pk": deptoSeleccionado }, function(data,status){
        if (status=="success"){
          var resultados = data['municipios'];
          console.log('Resultados'+resultados)
          for (i=0; i<resultados.length; i++){
            var resultado = resultados[i];
            $('#id_municipio').append("<option value='"+resultado["pk"]+"'>"+resultado["nombre"]+"</option>").trigger("chosen:updated");
          }
        }
        else{
          alert("no se logra conectar al servidor");
        }
      });
    }
});

//VALIDAMOS LOS CAMPOS DEL TAB1
function validar_tab1(){
  var equipo_nombre = document.getElementById('nombre_equipo');
  var categoria_select = document.getElementById('id_categoria');
  var departamento_select = document.getElementById('id_departamento');
  var municipio_select = document.getElementById('id_municipio');

  let selects  = [[categoria_select,'#id_categoria'],[departamento_select,'#id_departamento'],[municipio_select,'#id_municipio']];
  var validado = true;

  var nombre =equipo_nombre.value;
  if (nombre == ""){
    validado = false;
    $('#nombre_equipo').addClass('is-invalid');
  }
  for (let j=0; j < selects.length; j++){
    //console.log("evalua el select"+(j+1));
    var opcion = selects[j][0].value;
    //console.log("la opcion del select "+(j+1)+"es "+opcion);
    if (opcion=='0'){

      //console.log("opcion es igual a 0");
      //console.log("viene con el estado valido"+validado);
      $(selects[j][1]).addClass('is-invalid');
      if (validado == true){
        validado = false;
      }
      else{
        validado = false;
      }
    }
    
  }
  //console.log("retorna esto "+validado);  
  return validado;
  //return true;
}


// CON EL BTN SIGUIENTE SE EFECTUA LA VALIDACION DE TODOS LOS CAMPOS, SI ESTAN BIEN SE CAMBIA DE TAB Y SE ACTIVA EL BTN DE JUGADORES
const btn_siguiente = document.getElementById('btn-siguiente');
$()

btn_siguiente.addEventListener('click', () => {


  if (validar_tab1() == true){

    $('#tabequipo').removeClass('active');
    $('#tab_1').removeClass('active');

    $('#tabjugadores').addClass('active');
    $('#tab_2').addClass('active');
    
    const btn_siguiente_tab1 = document.getElementById('btn-sgte-tab1');

    btn_siguiente.addEventListener('click', () => {
      $('#tabjugadores').removeClass('disabled');
    });
  }
});

//==============================================================================================================================
//____________________________          TAB 2       ____________________________________________________________________________



  var integrante_tipoid= document.getElementById('div-tipo-id');
  var integrante_doc= document.getElementById('div-doc');
  var integrante_fecha_nac= document.getElementById('div-fecha-nac');
  var integrante_genero= document.getElementById('div-genero');
  var integrante_tel= document.getElementById('div-tel');
  var integrante_talla= document.getElementById('div_talla');
  var integrante_correo= document.getElementById('div-email');
  var integrante_identificacion = document.getElementById("div_identificacion");
  var integrante_col_id = document.getElementById("col_fecha_nac");
  var integrante_col_genero = document.getElementById("col_genero");
  var integrante_col_talla = document.getElementById("col_talla");
  var integrante_nombre = document.getElementById("div_nombres_apellidos");

  var rol_integrante = document.getElementById('rol_llenar');
  var nombres_integrante = document.getElementById('Nombres_llenar');
  var apellidos_integrante = document.getElementById('Apellidos_llenar');
  var tipoid_integrante = document.getElementById('id_tipo_llenar');
  var documento_integrante = document.getElementById('Identificación_llenar');
  var fecha_nac_integrante = document.getElementById('fecha_jugador_llenar');
  var genero_integrante = document.getElementById('genero_llenar');
  var tel_integrante = document.getElementById('tel_jugador_llenar');
  var talla_integrante = document.getElementById('talla_llenar');
  var correo_integrante = document.getElementById('email_llenar');
  var opcion_rol_jugador = document.getElementById('opcion_jugador');
  var opcion_rol_ct = document.getElementById('opcion_ct');

  var table = document.getElementById("tabla_tbody");

  var opcion_rol= document.getElementById('rol_llenar');

  var integrantes = 0;
  var jugadores = 0;
  var cuerpo_t = 0;

  const numero_max_integrantes = 22;
  const numero_max_jugadores = 20;
  const numero_max_cuerpo_tecnico = 2;

  const numero_min_integrantes = 3;
  const numero_min_jugadores = 2;
  const numero_min_cuerpo_tecnico = 2;

$("#myBtn").click(function(){
  var integrantes = 0;
  var jugadores = 0;
  var cuerpo_t = 0;

for (var i = 0, row; row = table.rows[i]; i++) {
  console.log("row No."+i)
  var elemento_selec_tabla = row.cells[3].innerHTML;
  if(elemento_selec_tabla=='Jugador'){
    console.log("jugador")
    jugadores += 1;
    integrantes += 1;
  }
  else if(elemento_selec_tabla=='Cuerpo Tecnico'){
    console.log("tecnico")
    cuerpo_t += 1;
    integrantes += 1;
  }
}
console.log("integrantes"+integrantes)
console.log("jugadores"+jugadores)
console.log("cuerpo tecnico"+cuerpo_t)

if(integrantes < numero_max_integrantes){
  if(jugadores <numero_max_jugadores){
    if(cuerpo_t < numero_max_cuerpo_tecnico){
      $("#myModal").modal();
    }
    else{
      Swal.fire({
          title: 'Maxima cantidad de integrantes de Cuerpo Tecnico inscrita',
          showConfirmButton: true,
          timer: 1000
        })
        $("#myModal").modal();
        opcion_rol_ct.remove();
    }
  }
  else{
    Swal.fire({
          title: 'Maxima cantidad de Jugadores inscrita',
          showConfirmButton: true,
          timer: 1000
        })
        $("#myModal").modal();
        opcion_rol_jugador.remove();
  }
}
else{
  Swal.fire({
          title: 'Maxima cantidad de integrantes inscrita',
          showConfirmButton: true,
          timer: 1000
        })
}
});


//PROCESO PARA MOSTRAR LOS DATOS A DILIGWENCIAR DE ACUERDO AL ROL DEL INTEGRANTE
$("#rol_llenar").change(function(){

  opcion =opcion_rol.value;
  //console.log("opcion es "+opcion)
  if (opcion==""){
    integrante_nombre.style.visibility="hidden";
    integrante_tipoid.style.visibility="hidden";
    integrante_doc.style.visibility="hidden";
    integrante_fecha_nac.style.visibility="hidden";
    integrante_genero.style.visibility="hidden";
    integrante_tel.style.visibility="hidden";
    integrante_talla.style.visibility="hidden";
    integrante_correo.style.visibility="hidden";
    integrante_identificacion.style.display="none";
    integrante_col_id.style.display="none";
    integrante_col_genero.style.display="none";
    integrante_col_talla.style.display="none";
  }
  else if (opcion=="1"){
    integrante_nombre.style.visibility="";
    integrante_tipoid.style.visibility="";
    integrante_doc.style.visibility="";
    integrante_fecha_nac.style.visibility="";
    integrante_genero.style.visibility="";
    integrante_tel.style.visibility="";
    integrante_talla.style.visibility="";
    integrante_correo.style.visibility="hidden";
    integrante_identificacion.style.display="";
    integrante_col_id.style.display="";
    integrante_col_genero.style.display="";
    integrante_col_talla.style.display="";

    $('#col_tel').removeClass('col-6');
    $('#col_tel').addClass('col-3');
  }
  else{
    integrante_nombre.style.visibility="";
    integrante_tipoid.style.visibility="";
    integrante_doc.style.visibility="";
    integrante_fecha_nac.style.visibility="hidden";
    integrante_genero.style.visibility="hidden";
    integrante_tel.style.visibility="";
    integrante_talla.style.visibility="hidden";
    integrante_correo.style.visibility="";
    integrante_identificacion.style.display="";
    integrante_col_id.style.display="none";
    integrante_col_genero.style.display="none";
    integrante_col_talla.style.display="none";

    $('#col_tel').removeClass('col-3');
    $('#col_tel').addClass('col-6');

  }
});
//FIN PROCESO

// PROCESO PARA VALIDAR LOS CAMPOS DEL MODAL
function validar_modal(){

  opcion =opcion_rol.value;

  //console.log("Opcion de rol "+opcion);

  var validado = true;

  if(opcion==""){
    $('#rol_llenar').addClass('is-invalid');
    return false;
  }
  else if (opcion=="1"){
    console.log("Entra a la opcion 1");
    selects  = [
      [tipoid_integrante,'#id_tipo_llenar'],
      [genero_integrante,'#genero_llenar'],
      [talla_integrante,'#talla_llenar']
    ];

    campos = [
      [nombres_integrante,'#Nombres_llenar'],
      [apellidos_integrante,'#Apellidos_llenar'],
      [documento_integrante,'#Identificación_llenar'],
      [fecha_nac_integrante,'#fecha_jugador_llenar'],
      [tel_integrante,'#tel_jugador_llenar']
    ]
  }
  else if(opcion="2"){
    console.log("Entra a la opcion 2");
    campos = [
      [nombres_integrante,'#Nombres_llenar'],
      [apellidos_integrante,'#Apellidos_llenar'],
      [correo_integrante,'#email_llenar'],
      [tel_integrante,'#tel_jugador_llenar'],
      [documento_integrante,'#Identificación_llenar']
    ];
    selects  = [
    [tipoid_integrante,'#id_tipo_llenar']
    ];
  }

  for (let i=0; i < campos.length; i++){
    if (campos[i][0].value == ""){
      validado = false;
      $(campos[i][1]).addClass('is-invalid');
    }
    //console.log("campos validados: "+validado);
  }
  if(selects.length > 0){
    //console.log("Entra a validar selects jugador");
    for (let j=0; j < selects.length; j++){
      var opcion_sel = selects[j][0].value;
      //console.log("el select seleccionado es "+(j+1)+"con valor "+opcion_sel)
      if (opcion_sel==''){
        $(selects[j][1]).addClass('is-invalid');
        if (validado == true){
          validado = false;
        }
        else{
          validado = false;
        }
      }
    }
  }
  console.log("retorna esto "+validado);  
  return validado;
  //return true;
 }

 $("#rol_llenar").change(function(){
  $('#rol_llenar').removeClass('is-invalid');
  $('#Nombres_llenar').removeClass('is-invalid');
  $('#Apellidos_llenar').removeClass('is-invalid');
  $('#id_tipo_llenar').removeClass('is-invalid');
  $('#Identificación_llenar').removeClass('is-invalid');
  $('#fecha_jugador_llenar').removeClass('is-invalid');
  $('#genero_llenar').removeClass('is-invalid');
  $('#tel_jugador_llenar').removeClass('is-invalid');
  $('#talla_llenar').removeClass('is-invalid');
  $('#email_llenar').removeClass('is-invalid');
});

$("#Nombres_llenar").change(function(){
  $('#Nombres_llenar').removeClass('is-invalid');
});

$("#Apellidos_llenar").change(function(){
  $('#Apellidos_llenar').removeClass('is-invalid');
});

$("#id_tipo_llenar").change(function(){
  $('#id_tipo_llenar').removeClass('is-invalid');
});

$("#Identificación_llenar").change(function(){
  $('#Identificación_llenar').removeClass('is-invalid');
});

$("#fecha_jugador_llenar").change(function(){
  $('#fecha_jugador_llenar').removeClass('is-invalid');
});

$("#genero_llenar").change(function(){
  $('#genero_llenar').removeClass('is-invalid');
});

$("#tel_jugador_llenar").change(function(){
  $('#tel_jugador_llenar').removeClass('is-invalid');
});

$("#talla_llenar").change(function(){
  $('#talla_llenar').removeClass('is-invalid');
});

$("#email_llenar").change(function(){
  $('#email_llenar').removeClass('is-invalid');
});

 $("#btn-agregar").click(function(){
    if(validar_modal() == true){
      console.log("$$$$$$$$$$", integrantes);
      $("#myModal").modal('hide');
      agregar_en_tabla();
      rol_integrante.value="";
      nombres_integrante.value="";
      apellidos_integrante.value="";
      tipoid_integrante.value="";
      documento_integrante.value="";
      fecha_nac_integrante.value="";
      genero_integrante.value="";
      tel_integrante.value="";
      talla_integrante.value="";
      correo_integrante.value="";

      integrante_nombre.style.visibility="hidden";
      integrante_tipoid.style.visibility="hidden";
      integrante_doc.style.visibility="hidden";
      integrante_fecha_nac.style.visibility="hidden";
      integrante_genero.style.visibility="hidden";
      integrante_tel.style.visibility="hidden";
      integrante_talla.style.visibility="hidden";
      integrante_correo.style.visibility="hidden";
      integrante_identificacion.style.display="none";
      integrante_col_id.style.display="none";
      integrante_col_genero.style.display="none";
      integrante_col_talla.style.display="none";
    }
  });

//PROCESO PARA AGREGAR ELEMENTOS A LA TABLA

function agregar_en_tabla() {
  //CON ESTA PRIMERA PARTE SE CREA LA FILA QUE SE VA A AGREGAR A LA TABLA
    var nombres_integrante = document.getElementById('Nombres_llenar').value;
    var apellidos_integrante = document.getElementById('Apellidos_llenar').value;
    var tipo_integrante = document.getElementById('id_tipo_llenar').value;
    var documento_integrante = document.getElementById('Identificación_llenar').value;
    var tel_integrante = document.getElementById('tel_jugador_llenar').value;
    var edad_integrante = document.getElementById('fecha_jugador_llenar').value;
    var genero_integrante = document.getElementById('genero_llenar').value;
    var correo_integrante = document.getElementById('email_llenar').value;
    var talla_integrante = document.getElementById('talla_llenar').value;
    var rol = document.getElementById('rol_llenar').value;

    var rol_verbose;

    if (rol=='1'){
      rol_verbose = 'Jugador';
      var hoy = new Date();
    var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
    var fecha_inicial = new Date(edad_integrante).getTime();
    var fecha_final = new Date(fecha_fin).getTime();

    }
    else if(rol=='2'){
      rol_verbose = 'Cuerpo Tecnico';
      var hoy = new Date();
    var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
    var fecha_inicial = new Date(fecha_fin).getTime();
    var fecha_final = new Date(fecha_fin).getTime();

    }

    // var hoy = new Date();
    // var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
    // var fecha_inicial = new Date(edad_integrante).getTime();
    // var fecha_final = new Date(fecha_fin).getTime();

    if (fecha_final >= fecha_inicial){

      var diff = fecha_final - fecha_inicial;
      var años = Math.floor(diff/(1000*60*60*24*365));

      var i = 1;
      var fila = `<tr id="${documento_integrante}">
                    <input type="hidden" name="nombres_integrante" value="${nombres_integrante}"/>
                    <input type="hidden" name="apellidos_integrante" value="${apellidos_integrante}"/>
                    <input type="hidden" name="tipo_integrante" value="${tipo_integrante}"/>
                    <input type="hidden" name="documento_integrante" value="${documento_integrante}"/>
                    <input type="hidden" name="tel_integrante" value="${tel_integrante}"/>
                    <input type="hidden" name="edad_integrante" value="${años}"/>
                    <input type="hidden" name="genero_integrante" value="${genero_integrante}"/>
                    <input type="hidden" name="talla_integrante" value="${talla_integrante}"/>
                    <input type="hidden" name="correo_integrante" value="${correo_integrante}"/>
                    <input type="hidden" name="rol" value="${rol}"/>
                    <td>${documento_integrante}</td>
                    <td>${nombres_integrante}</td>
                    <td>${apellidos_integrante}</td>
                    <td>${rol_verbose}</td>
                    <td class="text-center">
                    <button type="button" name="remove" id="${documento_integrante}" class="btn btn-danger btn_remove">Quitar</button>
                    </td>
                  </tr>;
                  i++;
              `;
      var dibujar = true;


      //AHORA PINTAMOS LA TABLA
      
      for (var i = 0, row; row = table.rows[i]; i++) {
        var elemento_selec_tabla = row.cells[0].innerHTML;
        if (documento_integrante == elemento_selec_tabla){
          console.log("ya estaba");
          Swal.fire({
                title: 'Persona ya registrada',
                showConfirmButton: false,
                timer: 800
              })
              dibujar = false;
        }
      }
      if (dibujar) { 
        $('#tabla_tbody').append(fila);
        }
    }

    else{
      Swal.fire({
              title: 'La fecha de Nacimiento ingresada es erronea.',
              showConfirmButton: true,
              timer: 1000
            })
    }

  };
  
  $(document).on('click', '.btn_remove', function() {

    var button_id = $(this).attr("id");
      //cuando da click obtenemos el id del boton
    
    for (var i = 0, row; row = table.rows[i]; i++) {
      var elemento_selec_tabla = row.cells[0].innerHTML;
      if(elemento_selec_tabla==document){
        rol = row.cells[3].innerHTML;
        if(rol=='Jugador'){
          jugadores -= 1;
        }
        else if( rol == 'Cuerpo Tecnico'){
          cuerpo_t -= 1;
          
        }
        integrantes -= 1;
      }

      $('#' + button_id + '').remove(); //borra la fila

      var integrantes = 0;
      var jugadores = 0;
      var cuerpo_t = 0;

      var elemento_selec_tabla_3 = row.cells[3].innerHTML;
      if(elemento_selec_tabla_3=='Jugador'){
        console.log("jugador")
        jugadores += 1;
        integrantes += 1;
      }
      else if(elemento_selec_tabla=='Cuerpo Tecnico'){
        console.log("tecnico")
        cuerpo_t += 1;
        integrantes += 1;
      }

      if(integrantes ==numero_max_integrantes){
        rol_integrante.append("<option value='1' id='opcion_jugador'>Jugador</option>");
        rol_integrante.append("<option value='2' id='opcion_ct'>Cuerpo Tecnico</option>");
      }

      if(jugadores ==numero_max_jugadores){
        rol_integrante.append("<option value='1' id='opcion_jugador'>Jugador</option>");
      }
      
      if(cuerpo_t == numero_max_cuerpo_tecnico){
        rol_integrante.append("<option value='2' id='opcion_ct'>Cuerpo Tecnico</option>");
      } 
    }
    
    console.log("Boton de quitar")
    console.log("integrantes"+integrantes)
    console.log("jugadores"+jugadores)
    console.log("cuerpo tecnico"+cuerpo_t)

      
    });

  $("#btn-finalizar").click(function(){
    $("#modal_finalizar").modal();
    function contar(){
      var integrantes = 0;
      var jugadores = 0;
      var cuerpo_t = 0;
      for (var i = 0, row; row = table.rows[i]; i++) {
        var elemento_selec_tabla_3 = row.cells[3].innerHTML;
        if(elemento_selec_tabla_3=='Jugador'){
          console.log("jugador")
          jugadores += 1;
          integrantes += 1;
        }
        else if(elemento_selec_tabla_3=='Cuerpo Tecnico'){
          console.log("tecnico")
          cuerpo_t += 1;
          integrantes += 1;
        }
      }
      return [integrantes,jugadores,cuerpo_t]
    }
    total = contar();
    console.log("total "+total)

    if (total[1] == 0){
      console.log("Jugadores 0")
      $("#modal_si").remove()
      $("#modal_no").remove()
      $("#modal_finalizar_body").append("<p id='anuncio_continuar'>No cuentas con jugadores inscritos.</p>")
    }
    else{
      console.log("Jugadores mayores que 0")
      $("#modal_finalizar_body").append( `<p id="anuncio_pregunta">Cuenta con: ${total[1]} jugadores.</p>`)
      $("#modal_finalizar_body").append("<p id='anuncio_continuar'>¿Desea continuar?</p>")
    }
  });

  $("#modal_no").click(function(){
    $("#modal_finalizar").modal('hide');
    // $("#modal_finalizar_body").remove();
    // $("#anuncio_pregunta").remove();
    // $("#anuncio_continuar").remove();
    // $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
  });


  $("#modal_finalizar").on("hidden.bs.modal", function () {
    if($("#anuncio_continuar").length){
      $("#anuncio_continuar").remove();
    }
    if($("#anuncio_pregunta".length)){
      $("#anuncio_continuar").remove();
    }
    if($("#modal_si").length == 0){
      $("#modal_finalizar_pie").append('<button type="submit" class="btn btn-success" id="modal_si">Si</button>');
    }
    if($("#modal_no").length == 0){
      $("#modal_finalizar_pie").append('<i type="button" class="btn btn-danger" data-dismiss="modal" id="modal_no">No</i>');
    }
  });

</script>
{% endblock %}
