{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}
 <!--  BEGIN MAIN CONTAINER  -->
 <div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div>



    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <h3>{{nombre_evento}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <section class="content">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="mb-2">Mis Equipos</h1>
                        </div>
                    </div>
                </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:history.back()"">Evento</a></li>
                        <li class="breadcrumb-item"><a href="">Nuevo Equipo</a></li>
                    </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-columns">
                                    {% for equipo in equipos %}
                                        <div class="card">
                                            <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                                                <div class="card-title text-center">
                                                    <b style="margin-left: 15px;">{{equipo.nombre}}</b>
                                                </div>
                                                <div class="card-tools">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle border-0" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                                                            <i class="fas fa-bars"></i>
                                                        </button>
                                                        <div class="dropdown-menu text-center" role="menu" style="position: absolute; transform: translate3d(-52px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            
                                                            <a class="dropdown-item" href="{% url 'integrante-list' equipo.pk %}">
                                                                Ver <i class="fas fa-list-ol"></i>
                                                            </a>
                                                            <a class="dropdown-item" href="{% url 'equipo-update' equipo.pk %}">
                                                                Editar <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="dropdown-item" href="{% url 'equipo-delete' equipo.pk %}">
                                                                Borrar <i class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body text-center">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <p>{{equipo.evento.nombre}}</p>
                                                        <p>{{equipo.categoria}}</p>
                                                    </div>
                                                    <div class="col-4">
                                                        {% if equipo.evento.disciplina.pk == 1 %}
                                                        <i class="fas fa-futbol fa-3x"></i>
                                                        {% elif equipo.evento.disciplina.pk == 2 %}
                                                        <i class="fas fa-basketball-ball fa-4x"></i>
                                                        {% elif equipo.evento.disciplina.pk == 3 %}
                                                        <i class="fas fa-volleyball-ball fa-4x"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card">
                            <div class="card-header text-center">
                                <b>Filtros</b>
                            </div>
                            <div class="card-body">
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn btn-default">Todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_js_level %}
{% endblock %}