{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="content-header">
        <div class="jumbotron">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-10">
                        <h1 class="display-4">Informacion del Equipo</h1>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()">Equipo</a></li>
                    <li class="breadcrumb-item"><a href="">Informacion</a></li>
                </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <form name='equipo' class="form-horizontal needs-validation" method="post" action="{% url 'equipo-update' equipo.pk %}" enctype="multipart/form-data">
              {% csrf_token %}
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_1">
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="nombre">Nombre Equipo:</label>
                              {% render_field form.nombre class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                              {% for error in form.nombre.errors %}
                                <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="col-6" id="selectcat">
                            <div class="form-group">
                              <label for="firstName">Categoria: </label>
                              {% render_field form.categoria class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                              {% for error in form.categoria.errors %}
                                <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                              
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="firstName">Departamento: </label>
                              {% render_field form.departamento class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                              {% for error in form.departamento.errors %}
                                <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="firstName">Municipio: </label>
                              {% render_field form.municipio class="form-control" placeholder="Nombre" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                              {% for error in form.municipio.errors %}
                                <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        <button id="btn-siguiente" name="siguiente" class="btn btn-default" type="submit">Actualizar</button>
                        <a class="btn btn-default"  href="{% url 'equipo-list' %}">Volver</a>  
                      </div>
                    </div>
                  </div><!-- /.card-body -->
                </form>
              </div>
              <!-- ./card -->
            </div>
            <!-- /.col -->
          </div>
        </div>

  <!-- /.content -->
    </section>
  <!-- #header-content-wrapper -->
</div>
{% endblock %}

{% block page_js_level %}

<!-- Parsley -->
<script type="text/javascript">

    //===============================================================================================================================
    //____________________________          TAB 1        ____________________________________________________________________________
    
    // CON ESTAS LINEAS SE CONSULTA CADA VEZ QUE ESTOS CAMPOS CAMBIEN QUITEN LA OPCION  INVALIDA
    $("#id_categoria").change(function(){
      $('#id_categoria').removeClass('is-invalid');
    });
    
    $("#id_municipio").change(function(){
      $('#id_municipio').removeClass('is-invalid');
    });
    
    $("#nombre_equipo").change(function(){
      $('#nombre_equipo').removeClass('is-invalid');
    });
    
    // Funcion que modifica las opciones del select de municipios de acuerdo al select de departamento
    $("#id_departamento").change(function(){
        $('#id_departamento').removeClass('is-invalid');
       // alert("Si cambio");
        var deptoSeleccionado = $(this).children("option:selected").val();
       // alert("la almacend fue......" + zonaSeleccionado);
        const url = '/planilla/departamento/municipio/list/';  //esta es la url donde voy  a consultar
        $("#id_municipio").empty();
        $("#id_municipio").append("<option value='0'>Seleccione</option>");
      
        if (deptoSeleccionado != ''){
          $.get(url, {"depto_pk": deptoSeleccionado }, function(data,status){
            if (status=="success"){
              var resultados = data['municipios'];
              console.log('Resultados'+resultados)
              for (i=0; i<resultados.length; i++){
                var resultado = resultados[i];
                $('#id_municipio').append("<option value='"+resultado["pk"]+"'>"+resultado["nombre"]+"</option>").trigger("chosen:updated");
              }
            }
            else{
              alert("no se logra conectar al servidor");
            }
          });
        }
    });
    
    //VALIDAMOS LOS CAMPOS DEL TAB1
    function validar_tab1(){
      var equipo_nombre = document.getElementById('nombre_equipo');
      var categoria_select = document.getElementById('id_categoria');
      var departamento_select = document.getElementById('id_departamento');
      var municipio_select = document.getElementById('id_municipio');
    
      let selects  = [[categoria_select,'#id_categoria'],[departamento_select,'#id_departamento'],[municipio_select,'#id_municipio']];
      var validado = true;
    
      var nombre =equipo_nombre.value;
      if (nombre == ""){
        validado = false;
        $('#nombre_equipo').addClass('is-invalid');
      }
      for (let j=0; j < selects.length; j++){
        //console.log("evalua el select"+(j+1));
        var opcion = selects[j][0].value;
        //console.log("la opcion del select "+(j+1)+"es "+opcion);
        if (opcion=='0'){
    
          //console.log("opcion es igual a 0");
          //console.log("viene con el estado valido"+validado);
          $(selects[j][1]).addClass('is-invalid');
          if (validado == true){
            validado = false;
          }
          else{
            validado = false;
          }
        }
        
      }
      //console.log("retorna esto "+validado);  
      return validado;
      //return true;
    }
    
    
    // CON EL BTN SIGUIENTE SE EFECTUA LA VALIDACION DE TODOS LOS CAMPOS, SI ESTAN BIEN SE CAMBIA DE TAB Y SE ACTIVA EL BTN DE JUGADORES
    const btn_siguiente = document.getElementById('btn-siguiente');
    $()
    
    btn_siguiente.addEventListener('click', () => {
    
    
      if (validar_tab1() == true){
        $("#btn-siguiente").removeAttr("style");
      }
    });
    
</script>
    
{% endblock %}
