{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% load template_extrafunc %} {% block extracss %}{% endblock %} {% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="content-header">
            <div class="jumbotron">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="display-4">Equipos Inscritos</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Eventos</a></li>
                            <li class="breadcrumb-item"><a href="">Equipos</a></li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body" style="padding: 30px 50px;">
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col-8">
                                    <div class="btn-group">
                                        <a href="{% url 'equipos-list' pk_evento %}" type="button" class="btn btn-default">Equipos</a>
                                        <a href="{% url 'jugadores-list' pk_evento %}" type="button" class="btn btn-default">Jugadores</a>
                                        <a href="{% url 'tecnicos-list' pk_evento %}" type="button" class="btn btn-default">Cuerpo Tecnico</a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-default btn-flat">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="overflow-x:auto;">
                                <table id="ecommerce-product-list" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th>ID</th> -->
                                            <th>Nombre</th>
                                            <th class="align-center">Categoria</th>
                                            <th class="align-center">Municipio</th>
                                            <th class="align-center">Departamento</th>
                                            <th class="align-center">Abonado($)</th>
                                            <th class="align-center">Saldo($)</th>
                                            <th class="align-center">Abonos</th>
                                            <th class="align-center">Acciones</th>
                                            <th class="align-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        {% for equipo in equipos %}
                                        <tr id="{{equipo.pk}}">
                                            <!-- <td>{{equipo.pk}}</td> -->
                                            <td><a href="javascript:;" onclick="verIntegrantes({{equipo.pk}})" title="Ver Integrantes">{{equipo.nombre}}</a></td>
                                            <td>{{equipo.categoria}}</td>
                                            <td>{{equipo.municipio}}</td>
                                            <td>{{equipo.departamento}}</td>
                                            <td class="project-actions text-center">
                                                <i id="{{equipo.pk}}" class="btn btn-default btn-sm" onclick="countRow()">
                                                        <i class="fas fa-thumbs-up"></i>
                                                </i>
                                                <i class="btn btn-default btn-sm" title="Ver Registro">
                                                        <i class="fa fa-thumbs-down"></i>
                                                </i>
                                            </td>
                                            {% if equipo.aprobado == True %}
                                            <td>OK</td>
                                            {% elif equipo.aprobado == False %}
                                            <td>Rechazado</td>
                                            {% elif equipo.aprobado == None %}
                                            <td>Pendiente</td>
                                            {% endif %}
                                            <td id="saldo">{{equipo.saldo_inscripcion}}</td>
                                            <td>{{equipo.abono_inscripcion}}</td>
                                            <td class="project-actions text-center">
                                                <i id="{{equipo.pk}}" class="btn btn-info btn_remove btn-sm" onclick="countRow()">Nuevo</i>
                                                <a href="javascript:;" onclick="verSaldo({{equipo.pk}})" class="btn btn-primary btn-sm" title="Ver Registro"> Ver <i class="fa fa-eye" ></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <form id="form_abono" method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!--MODAL 1: ABONAR A INSCRIPCION-->
                                <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><strong>ABONAR ></strong></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <!-- <label for="nombre">Equipo a Abonar:</label> -->
                                                            <input type="hidden" name="equipo" id="id_equipo" />
                                                            <p>Por favor ingrese el valor a abonar.</p>
                                                            <label for="nombre">Valor:</label> {% render_field AbonoForm.valor class="form-control" type="number" title="Abono en pesos" %}
                                                            <br>
                                                            <label for="nombre">Ingrese el soporte del Abono:</label> {% render_field AbonoForm.archivo class="form-control" title="Documento del abono" %}
                                                            <br>

                                                            <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary " id="btn-agregar">Agregar</i>
                                                    </div>           
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        <!-- FIN MODAL 1: ABONAR A INSCRIPCION-->
                            </form>
                                        <!--MODAL 2: LISTA DE ABONOS-->
                            <div class="modal fade bd-example-modal-lg" id="modalVerSaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><strong>REGISTRO ABONOS ></strong></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                                        </div>
                                                        <div class="invoice p-3 mb-3">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                        </div>
                                                                    </div>
                                                                    <div style="overflow-x:auto;">
                                                                        <table class="table table-bordered" name="integrantes" id="tabla">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="text-center">No.</th>
                                                                                    <th class="text-center">Equipo</th>
                                                                                    <th class="text-center">Valor</th>
                                                                                    <th class="text-center">Fecha</th>
                                                                                    <!-- <th class="text-center">Soporte</th> -->
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="tabla_tbody">
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--FIN MODAL 2: LISTA DE ABONOS-->
                                            <!--MODAL 3: LISTA DE INTEGRANTES-->
                                            <div class="modal fade bd-example-modal-lg" id="modalVerIntegrantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLongTitle"><strong>Integrantes:</strong></h3>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                                        </div>
                                                        <div class="invoice p-3 mb-3">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="card">
                                                                                <div class="card-body" style="padding: 30px 50px;">
                                                                                    <div class="row" style="overflow-x:auto;">
                                                                                        <table id="ecommerce-product-list-1" class="table table-hover">
                                                                                            <thead>
                                                                                                <h5>Jugadores:</h5>
                                                                                                <tr>
                                                                                                    <th>ID</th>
                                                                                                    <th>Nombre</th>
                                                                                                    <th class="align-center">Genero</th>
                                                                                                    <th class="align-center">Edad</th>
                                                                                                    <th class="align-center">Talla</th>
                                                                                                    <!-- <th class="align-center">Acciones</th> -->
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody id="tabla__jugadores_tbody">
                                                                                                {% for jugador in jugadores %}
                                                                                                <tr>
                                                                                                    <td>{{jugador.documento}}</td>
                                                                                                    <td>{{jugador.nombres}}&nbsp;{{jugador.apellidos}}</td>
                                                                                                    <td>{{jugador.sexo}}</td>
                                                                                                    <td>{{jugador.edad}}</td>
                                                                                                    <td>{{jugador.talla}}</td>
                                                                                                    <td class="project-actions text-center">
                                                                                                        <a class="btn btn-info btn-sm" href="{% url 'integrante-update' jugador.pk %}">
                                                                                                            <i class="fas fa-pencil-alt"></i>Editar
                                                                                                        </a>
                                                                                                        <a class="btn btn-danger btn-sm" href="{% url 'integrante-delete' jugador.pk %}">
                                                                                                            <i class="fas fa-trash"></i>Borrar
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                {% endfor %}
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <br>
                                                                                        <div class="col-12"><br></div>
                                                                                        <div class="col-12">
                                                                                            <table id="ecommerce-product-list-2" class="table table-hover">
                                                                                                <thead>
                                                                                                    <h5>Cuerpo Tecnico:</h5>
                                                                                                    <tr>
                                                                                                        <th>ID</th>
                                                                                                        <th>Nombre</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody id="tabla__tecnicos_tbody">
                                                                                                    {% for tecnico in tecnicos %}
                                                                                                    <tr>
                                                                                                        <td>{{tecnico.documento}}</td>
                                                                                                        <td>{{tecnico.nombres}}&nbsp;{{tecnico.apellidos}}</td>
                                                                                                        <td class="project-actions text-center">
                                                                                                            <a class="btn btn-info btn-sm" href="{% url 'tecnico-update' tecnico.pk %}">
                                                                                                                <i class="fas fa-pencil-alt"></i>Editar
                                                                                                            </a>
                                                                                                            <a class="btn btn-danger btn-sm" href="{% url 'tecnico-delete' tecnico.pk %}">
                                                                                                                <i class="fas fa-trash"></i>Borrar
                                                                                                            </a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    {% endfor %}
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--FIN MODAL 3: LISTA DE INTEGRANTES-->
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
    </section>
    </div>
    {% endblock %} {% block page_js_level %}
    <script>
        const btn_abonar = document.getElementById('btn_abonar');
        const saldo = document.getElementById('saldo');
        var fila_no = '';

        function countRow(id) {
            var id_row = event.target.id;
            return id_row;
        }

        var button_id = $(this).attr("id");
        var i = 0

        $(document).on('click', '.btn_remove', function() {
            var fila_no = countRow();
            console.log("La id-fila es :" + fila_no);
            var fila = document.getElementById(fila_no);
            console.log("La fila es :" + fila);

            hay_saldo = parseInt(fila.cells[6].innerHTML);
            hay_abono = parseInt(fila.cells[5].innerHTML);
            if (hay_saldo > 0) {
                $("#myModal").modal();
                // return fila_no
            } else {
                Swal.fire({
                    title: 'Inscripcion ya cancelada',
                    showConfirmButton: true,
                    timer: 1000
                })
            }

            console.log("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
            console.log("La fila escogida es: " + fila_no)

            $("#form_abono").submit(function(event) {
                $("#myModal").on('hide.bs.modal', function(e) {
                    e.preventDefault();
                })
                var abono = parseInt($("#abono_input").val());
                console.log("El abono del input es " + abono)
                nuevo_saldo = parseInt(hay_saldo - abono)
                nuevo_abono = parseInt(hay_abono + abono)


                if (nuevo_saldo < 0) {
                    event.preventDefault(); // don't submit this
                    alert("El valor del abono supera el monto adeudado");
                } else {
                    i++;
                    $("#myModal").modal({
                        "backdrop": "static"
                    });
                    $("#abono_enviar").val(nuevo_abono)
                    $("#saldo_enviar").val(nuevo_saldo)
                    $("#id_equipo").val(fila_no)
                        // nuevo_saldo = 0
                        // nuevo_abono = 0
                        // equipo = fila.cells[0].innerHTML;
                        // var hoy = new Date();
                        // var fecha_fin = hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();

                    // var new_fila = `<tr>
                    //         <td>${i}</td>
                    //         <td>${equipo}</td>
                    //         <td>${abono}</td>
                    //         <td>${fecha_fin}</td>
                    //       </tr>;
                    //       i++;
                    //   `;

                    // $('#tabla').append(new_fila);

                }
            });

        });


        function verSaldo(self) {
            var equipo_pk = self;

            console.log("busco equipo pk:", equipo_pk);
            $("#modalVerSaldo").modal('show');
            let url = '/versaldo/';
            $.get(url, {
                'pk_equipo': equipo_pk
            }, function(data, status) {
                if (status == "success") {
                    var data_abonos = data['abonos'];
                    console.log("llega con..... ", data_abonos);
                    for (let i = 0; i < data_abonos.length; i++) {
                        console.log("i :" + i)
                        console.log("RECIBEEEEEE ESTOOOOOOOOOOO: " + data_abonos[i])
                        pk = data_abonos[i]["pk"];
                        equipo = data_abonos[i]["equipo"];
                        valor = data_abonos[i]["valor"];
                        fecha = data_abonos[i]["fecha"];
                        // url_soporte = data_abonos[i]["url_soporte"];

                        var new_fila = `<tr>
                        <td>${i+1}</td>
                        <td>${equipo}</td>
                        <td>${valor}</td>
                        <td>${fecha}</td>

                    </tr>;
                `;
                        $('#tabla').append(new_fila);
                    }
                }
            });
        }

        function verIntegrantes(self) {
            var equipo_pk = self;

            console.log("busco equipo pk:", equipo_pk);
            $("#modalVerIntegrantes").modal('show');
            let url = '/verintegrantes/';
            $.get(url, {
                'pk_equipo': equipo_pk
            }, function(data, status) {
                if (status == "success") {
                    var data_integrantes = data['integrantes'];
                    console.log("llega con..... ", data_integrantes);
                    var data_jugadores = data['integrantes'][0];
                    var data_tecnicos = data['integrantes'][1];
                    console.log("llega con..... ", data_jugadores);
                    console.log("llega con..... ", data_tecnicos);
                    for (let i = 0; i < data_jugadores.length; i++) {
                        console.log("i :" + i)
                        console.log("RECIBEEEEEE ESTOOOOOOOOOOO: " + data_jugadores[i])
                        id = data_jugadores[i]["id"];
                        nombre = data_jugadores[i]["nombre"];
                        genero = data_jugadores[i]["genero"];
                        edad = data_jugadores[i]["edad"];
                        talla = data_jugadores[i]["talla"];
                        // url_soporte = data_abonos[i]["url_soporte"];

                        var new_fila_jugadores = `<tr>
                        <td>${id}</td>
                        <td>${nombre}</td>
                        <td>${genero}</td>
                        <td>${edad}</td>
                        <td>${talla}</td>
                    </tr>;
                `;
                        $('#ecommerce-product-list-1').append(new_fila_jugadores);
                    }
                    for (let i = 0; i < data_tecnicos.length; i++) {
                        console.log("i :" + i)
                        console.log("RECIBEEEEEE ESTOOOOOOOOOOO: " + data_tecnicos[i])
                        id = data_tecnicos[i]["id"];
                        nombre = data_tecnicos[i]["nombre"];
                        // url_soporte = data_tecnicos[i]["url_soporte"];

                        var new_fila_tecnicos = `<tr>
                        <td>${id}</td>
                        <td>${nombre}</td>
                    </tr>;
                `;
                        $('#ecommerce-product-list-2').append(new_fila_tecnicos);
                    }
                }
            });
        }

        $('#modalVerSaldo').on('hidden.bs.modal', function(e) {
            $('#tabla_tbody').empty();
        })

        $('#myModal').on('hidden.bs.modal', function(e) {
            $('#tabla_tbody').empty();
        })

        $('#modalVerIntegrantes').on('hidden.bs.modal', function(e) {
            $('#tabla__jugadores_tbody').empty();
            $('#tabla__tecnicos_tbody').empty();
        })
    </script>
    {% endblock %}