{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block extracss %}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="content-header">
            <div class="jumbotron">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <h1 class="display-4">Tecnicos Inscritos</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Eventos</a></li>
                            <li class="breadcrumb-item"><a href="">Tecnicos</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body"  style="padding: 30px 50px;">
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col-8">
                                    <div class="btn-group">
                                        <a href="{% url 'equipos-list' pk_evento %}" type="button" class="btn btn-default">Equipos</a>
                                        <a href="{% url 'jugadores-list' pk_evento %}" type="button" class="btn btn-default">Jugadores</a>
                                        <a href="{% url 'tecnicos-list' pk_evento %}" type="button" class="btn btn-default">Cuerpo Tecnico</a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-default btn-flat">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="overflow-x:auto;">
                                <table id="ecommerce-product-list" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Doc.</th>
                                            <th>Nombre</th>
                                            <th class="align-center">Equipo</th>
                                            <th class="align-center">Telefono</th>
                                            <th class="align-center">Correo</th>
                                            <th class="align-center">Acciones</th>
                                            <th class="align-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    {% for tecnico in tecnicos %}
                                        <tr id="{{equipo.pk}}">
                                            <td>{{tecnico.documento}}</td>
                                            <td>{{tecnico.nombres}}&nbsp;{{jugador.apellidos}}</td>
                                            <td>{{tecnico.equipo}}</td>
                                            <td>{{tecnico.telefono}}</td>
                                            <td>{{tecnico.email}}</td>
                                            <td>{{tecnico.email}}</td>
                                            <td>{{tecnico.email}}</td>
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </section>
</div>

{% endblock %}
{% block page_js_level %}
<script>
</script>
{% endblock %}