{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="icon" type="image/x-icon" href="{% static 'adminlte/assets/img/favicon.ico'%}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'adminlte/assets/css/loader.css'%}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'adminlte/plugins/dropzone/dropzone.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/assets/css/accounting-dashboard/style.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/plugins/charts/c3charts/c3.min.css'%}" rel="stylesheet" type="text/css" />    
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
     <!-- Tell the browser to be responsive to screen width -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Font Awesome -->
     <link rel="stylesheet" href="/static/adminlte/plugins/fontawesome-free/css/all.min.css">
     <!-- Ionicons -->
     <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
     <!-- Tempusdominus Bbootstrap 4 -->
     <link rel="stylesheet" href="/static/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
     <!-- iCheck -->
     <link rel="stylesheet" href="/static/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
     <!-- Custom style -->
     <link rel="stylesheet" href="/static/da2soft/assets/css/main.css">
     <!-- Theme style -->
     <link rel="stylesheet" href="/static/adminlte/assets/css/adminlte.min.css">
     <!-- overlayScrollbars -->
     <link rel="stylesheet" href="/static/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
     <!-- Daterange picker -->
     <link rel="stylesheet" href="/static/adminlte/plugins/daterangepicker/daterangepicker.css">
     <!-- summernote -->
     <link rel="stylesheet" href="/static/adminlte/plugins/summernote/summernote-bs4.css">
     <!-- Bootstrap Color Picker -->
     <link rel="stylesheet" href="/static/adminlte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
     <!-- Select2 -->
     <link rel="stylesheet" href="/static/adminlte/plugins/select2/select2.min.css">
     <link rel="stylesheet" href="/static/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
     <!-- SweetAlert2 -->
     <link rel="stylesheet" href="/static/adminlte/plugins/sweetalert2/sweetalert2.css">
     <!-- Bootstrap4 Duallistbox -->
     <link rel="stylesheet" href="/static/adminlte/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
   
     <!-- Google Font: Source Sans Pro -->
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">



    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="/static/adminlte/assets/css/ui-kit/buttons/creative/creative-icon-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/static/adminlte/assets/css/ui-kit/buttons/creative/creative-gradients.css" rel="stylesheet" type="text/css" />
    <link href="/static/adminlte/assets/css/ui-kit/buttons/creative/creative-fill.css" rel="stylesheet" type="text/css" />
    <link href="/static/adminlte/assets/css/ui-kit/buttons/creative/creative-material.css" rel="stylesheet" type="text/css" />
    <!-- Spinner/static/adminlte/ Buttons -->
    <link href="/static/adminlte/assets/css/ui-kit/buttons/spinner/spinner.css" rel="stylesheet" type="text/css" />
    <link href="/static/adminlte/assets/css/ui-kit/buttons/spinner/ladda.min.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
</head>



    </head>
<body>
    <div id="eq-loader">
      <div class="eq-loader-div">
          <div class="eq-loading dual-loader mx-auto mb-5"></div>
      </div>
    </div>
    {% include 'navmain.html' %}
    {% include 'sidebar.html' %}
    <!--  BEGIN MAIN CONTAINER  -->
    
    {% block content %}{% endblock %}
    
    <!-- END MAIN CONTAINER -->

    

    
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'adminlte/assets/js/libs/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'adminlte/assets/js/loader.js'%}"></script>
    <script src="{% static 'adminlte/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'adminlte/assets/js/app.js'%}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'adminlte/assets/js/custom.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'adminlte/plugins/charts/sparklines/jquery.sparkline.min.js'%}"></script>
    <script src="{% static 'adminlte/plugins/charts/d3charts/d3.v3.min.js'%}"></script>
    <script src="{% static 'adminlte/plugins/charts/c3charts/c3.min.js'%}"></script>
    <script src="{% static 'adminlte/plugins/calendar/pignose/moment.latest.min.js'%}"></script>
    <script src="{% static 'adminlte/plugins/calendar/pignose/pignose.calendar.js'%}"></script>

    <script src="{% static 'adminlte/assets/js/accounting-dashboard/accounting-custom.js'%}"></script> 
    <script src="{% static 'adminlte/assets/js/ui-kit/button/spinner/spinner.js' %}"></script>
    <script src="{% static 'adminlte/assets/js/ui-kit/button/spinner/spin.min.js' %}"></script>
    <script src="{% static 'adminlte/assets/js/ui-kit/button/spinner/ladda.min.js' %}"></script>
    <script src="{% static 'adminlte/assets/js/ui-kit/button/custo-spinner.js' %}"></script>
    


    <!-- END PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    {% block page_js_level %}
    {% endblock %}
   
</body>
</html>