{% load i18n static %}
<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login </title>
    <link rel="icon" type="image/x-icon" href="{% static 'adminlte/assets/img/favicon.ico' %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/assets/css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/assets/css/users/login-2.css' %}" rel="stylesheet" type="text/css">
    
    <!-- END GLOBAL MANDATORY STYLES -->    
</head>

<body class="hold-transition login-page">
  <!-- <img src="/static/adminlte/assets/img/bg_sports_v2.png" alt=""> -->
  <div class="login-box">

    {% block content %}{% endblock %}


  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="{% static "adminlte/assets/plugins/jquery/jquery.min.js" %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{% static "adminlte/assets/plugins/jquery-ui/jquery-ui.min.js" %}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- ChartJS -->
  <script src="{% static 'adminlte/plugins/chart.js/Chart.min.js' %}"></script>
  <!-- Sparkline -->
  <script src="{% static 'adminlte/plugins/sparklines/sparkline.js' %}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{% static 'adminlte/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
  <!-- daterangepicker -->
  <script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'adminlte/plugins/daterangepicker/daterangepicker.js' %}"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <!-- Summernote -->
  <script src="{% static 'adminlte/plugins/summernote/summernote-bs4.min.js' %}"></script>
  <!-- overlayScrollbars -->
  <script src="{% static 'adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <!-- Select2 -->
  <script src="{% static 'adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
  <!-- Bootstrap4 Duallistbox -->
  <script src="{% static 'adminlte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
  <!-- bootstrap color picker -->
  <script src="{% static 'adminlte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
  <!-- Bootstrap Switch -->
  <script src="{% static 'adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'adminlte/assets/js/adminlte.js' %}"></script>
  <script src="{% static 'adminlte/assets/js/truecontact.js' %}"></script>
  {% block page_js_level %} {% endblock %}
</body>

</html>
