<footer class="main-footer" style="text-align: center;">
    <div class="float-right d-none d-sm-block">
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://grupoda2.com/">Da2soft.com</a>.</strong> All rights reserved.
  </footer>