<!--  BEGIN NAVBAR  -->
{% load static %}
<header class="desktop-nav header navbar fixed-top">
    <div class="nav-logo mr-sm-5 ml-sm-4">
        <a href="javascript:void(0);"  data-placement="bottom">
            <img src="{% static 'adminlte/assets/img/itorneos_v3.png'%}" class="img-fluid" alt="logo">
            
        </a>
    </div>
    <!-- <ul class="navbar-nav flex-row mr-auto">
        <li class="nav-item ml-4 d-lg-none d-sm-block d-none">
            <form class="form-inline search-full form-inline search animated-search" role="search">
                <i class="flaticon-search-1 d-lg-none d-block"></i>
                <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
            </form>
        </li>
        <li class="nav-item d-lg-block d-none">
            <form class="form-inline form-inline search animated-search" role="search">
                <i class="flaticon-search-1 d-lg-none d-block"></i>
                <input type="text" class="form-control search-form-control" placeholder="Search here...">
            </form>
        </li>
    </ul> -->


    <ul class="navbar-nav flex-row ml-lg-auto">
        <li class="nav-item dropdown user-profile-dropdown pl-4 pr-lg-0 pr-2 ml-lg-2 mr-lg-4  align-self-center">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle user">
                <div class="user-profile d-lg-block d-none">
                    <img src="{% static 'adminlte/assets/img/400x490.png'%}" alt="admin-profile" class="img-fluid">
                </div>
                <i class="flaticon-user-7 d-lg-none d-block"></i>
            </a>
        </li>
    </ul>
</header>
<!--  END NAVBAR  -->




