{% load i18n static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
  <!-- Left navbar links -->
  
  <div class="container">
    {% if user.contacto.grupo.name == "UsuariosWeb" %}
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link">Inscripciones <i class="nav-icon fas fa-clipboard-list"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'equipo-list' %}" class="nav-link">Equipos <i class="nav-icon fas fa-users "></i></a>
      </li>
    </ul>
    {% elif user.contacto.grupo.name == "UsuarioAdmin" %}
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link">Eventos <i class="nav-icon fas fa-bullhorn"></i></a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Torneos <i class="nav-icon fas fa-trophy "></i></a>
      </li> -->
    </ul>
    {% elif user.is_staff %}
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link">Eventos <i class="nav-icon fas fa-bullhorn"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Torneos <i class="nav-icon fas fa-trophy "></i></a>
      </li>
    </ul>
    {% endif %}

  
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
      </li>
  
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.first_name }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- <a href="{#% url 'contacto-detail' user.contacto.pk %#}" class="dropdown-item">{% trans 'Perfil' %}</a> -->
            <a href="{% url 'logout' %}" class="dropdown-item">{% trans 'Salir' %}</a>
          </div>
        </div>
      </li>
    </ul>

  </div>
</nav>
<!-- /.navbar -->
