<!--  BEGIN PROFILE SIDEBAR  -->
<!--  BEGIN side bar  -->
<div class="modernSidebar-nav header navbar">
    <div class="">
        <nav id="modernSidebar">
            <ul class="menu-categories pl-0 m-0" id="topAccordion">
                <li class="menu">
                    <a href="#configuraciones" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-settings-1"></i>
                            <span>Configuraciones</span>
                        </div>
                    </a>
                    <div class="collapse submenu list-unstyled eq-animated eq-fadeInUp" id="configuraciones" data-parent="#topAccordion">
                        <ul class="submenu-scroll">
                            <li>
                                <ul class="list-unstyled sub-submenu" id="configuraciones">
                                    <li>
                                        <a href="index.html"> <div><i class="flaticon-computer-4"></i>Aun sin config</div> </a>
                                    </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu">
                    <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                        <div class="">
                          <i class="flaticon-computer-6"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                    <div class="submenu list-unstyled collapse eq-animated eq-fadeInUp" id="dashboard" data-parent="#topAccordion">
                        <div class="submenu-scroll">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#ui-features" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">UI KIT</span> </a>
                                    <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="ui-features">
                                        <li>
                                            <a href="ui_helper_classes.html"> Helper Classes </a>
                                        </li>                                                                                  
                                    </ul>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </li>

                <li class="menu">
                  
                    <a href="{% url 'home' %}" aria-expanded="false" class="dropdown-toggle collapsed">
                        <div class="">
                            <i class="flaticon-cup"></i>
                            <span>Mis Torneos</span>
                        </div>
                    </a>
                    <a href="{% url 'home' %}"aria-expanded="false" class="dropdown-toggle collapsed">
                        <div class="">
                            <i class="flaticon-cup"></i>
                            <span> Torneos Publicos</span>
                        </div>
                    </a>


                 
                        
                    </div>
                </li>
              </div>
          </div>
<!--  END MODERN  -->

<aside class="profile-sidebar text-center">
    <div class="profile-content profile-content-scroll">
        <div class="usr-profile">
            <b style="color: aliceblue;">{{ user.first_name }}</b>
            
        </div>
        
        <div class="user-links text-left">
            <ul class="list-unstyled">
               <li><a href="{% url 'logout' %}"><i class="flaticon-power-off"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</aside>
<!--  BEGIN PROFILE SIDEBAR  -->