/*
    Total Visits
*/

#total-visits {
  width: 100%;
  height: 400px;
  margin: auto;
}
.total-visits .total-visits-title h6 {
    color: #3b3f5c;
    font-size: 19px;
    font-weight: 600;
}
.total-visits .total-visits-title p {
    color: #1a73e9;
    font-size: 21px;
}


/*
    Top Keywords
*/

#top-keyword {
  width: 100%;
  max-width: 350px;
  height: 400px;
  margin: auto;
}
.top-keyword-body {
    position: relative;
}
.top-keyword-body #top-keyword .amcharts-main-div a {
    display: none!important;
}
.top-keyword .top-keyword-title h6 {
    color: #3b3f5c;
    font-size: 19px;
    font-weight: 600;
}
.top-keyword .top-keyword-body .top-keyword-label .data-marker {
    width: 14px;
    height: 14px;
}
.top-keyword .top-keyword-body .top-keyword-label .d-m-top-keyword-1 {
    background-color: #c2d5ff;
}
.top-keyword .top-keyword-body .top-keyword-label .d-m-top-keyword-2 {
    background-color: #3232b7;
}
.top-keyword .top-keyword-body .top-keyword-label .d-m-top-keyword-3 {
    background-color: #1a73e7;
}
.top-keyword .top-keyword-body .top-keyword-label .d-m-top-keyword-4 {
    background-color: #4f5163;
}


/*
    Unique Visitors
*/

.unique-visits .unique-visits-title {
    padding: 13px 20px 20px 20px;
}
.unique-visits .unique-visits-title h6 {
    color: #3b3f5c;
    font-size: 19px;
    font-weight: 600;
}
.unique-visits .unique-visits-title p {
    color: #1a73e9;
    font-size: 24px;
}
.unique-visits .unique-visits-body .table-responsive {
    padding: 0 24px;
}
.unique-visits .unique-visits-body table tbody tr td {
    border-top: none;
    padding: .85rem 0.75rem;
}
.unique-visits .unique-visits-body table tbody tr td .d-flex .f-head img {
    width: 42px;
    height: 42px;
}
.unique-visits .unique-visits-body table tbody tr td .d-flex .f-body h6 {
    color: #3b3f5c;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 8px;
}
.unique-visits .unique-visits-body table tbody tr td .d-flex .f-body p {
    margin-bottom: 0;
    color: #1abc9c;
    font-size: 12px;
}
.unique-visits .unique-visits-body table tbody tr td > p {
    font-size: 15px;
    font-weight: 600;
    color: #3b3f5c;
}
.unique-visits .unique-visits-body .u-v-loadmore { padding: 18px 20px 20px 20px; }


/*
    Organic
*/

.organinc { padding: 35px 20px 35px 5px; }
.organinc .orgainc-stats { font-weight: 700; color: #1a73e9; }
.organinc .organinc-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.organinc .organinc-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.organinc .organinc-body #linec1 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.organinc .organinc-body #linec1 .amcharts-graph-line {
  filter: url(#dropshadowline1);
}




/*
    Direct
*/

.direct { padding: 35px 20px 35px 5px; }
.direct .direct-stats { font-weight: 700; color: #00b1f4; }
.direct .direct-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.direct .direct-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.direct .direct-body #linec2 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.direct .direct-body #linec2 .amcharts-graph-line {
  filter: url(#dropshadowline2);
}

/* 
    Referral
*/

.referral { padding: 35px 20px 35px 5px; }
.referral .referral-stats { font-weight: 700; color: #1d73e9; }
.referral .referral-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.referral .referral-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.referral .referral-body #linec3 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.referral .referral-body #linec3 .amcharts-graph-line {
  filter: url(#dropshadowline3);
}
/* 
    Social
*/

.social { padding: 35px 20px 35px 5px; }
.social .social-stats { font-weight: 700; color: #00b1f4; }
.social .social-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.social .social-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.social .social-body #linec4 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.social .social-body #linec4 .amcharts-graph-line {
  filter: url(#dropshadowline4);
}

/*  Weather Calendar    */

.weather-calendar {
    background: #c2d5ff;
}


.weather-calendar .weather-grids.weather-mdl {
    text-align: center;
}
.weather-calendar .weather-grids h3 {
    font-size: 30px;
    color: #4f5163;
    font-weight: 100;
    line-height: 1.2;
    margin-top: 0.7em;
}
.weather-calendar .weather-grids h2 {
    font-size: 2.5em;
    font-weight: 300;
    color: #4f5163;
}
.weather-calendar .weather-grids h4 {
    font-size: 1em;
    color: #4f5163;
}
.weather-calendar .weather-bottom {
    text-align: center;
    margin-top: 2em;
}
.weather-calendar .weather-bottom ul li {
    color: #4f5163;
}
.weather-calendar .weather-bottom ul li.bg{
    background: #314277;
}
.weather-calendar .weather-bottom h4 {
    font-size: 1em;
    color: #4f5163;
    font-weight: 100;
}
.weather-calendar .weather-bottom figure {
    margin: 0.5em auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 6.3;
}
.weather-calendar .weather-bottom h5 {
    font-size: 1.2em;
    color: #4f5163;
    font-weight: 600;
}
.weather-calendar .weather-bottom h6 {
    font-size: 1em;
    color: #4f5163;
    margin-top: 0.5em;
}


/*
    Social Card 5
*/

#social-card-5.card {
    border: none;
}
#social-card-5.card .card-top-section {
    position: relative;
    background: #fff url(../../img/640x421.jpg) no-repeat center center;
    background-size: cover;
    padding: 90px 40px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
#social-card-5.card .card-top-section .usr-profile-meta {
    position: absolute;
    bottom: -40px;
    right: 24px;
}
#social-card-5.card .card-top-section .usr-profile-meta img {
    width: 60px;
}
#social-card-5.card .card-body {
    padding: 17px 28px;
}
#social-card-5.card .card-body .card-bottom-section .tweet p {
    color: #3b3f5c;
    font-weight: 600;
}
#social-card-5.card .card-body .card-bottom-section .tweet p span.t-symbol {
    color: #1a73e9;
    font-weight: 600;
}
#social-card-5.card .card-body .card-bottom-section .tweet p.meta-time {
    color: #1a73e9;
    font-size: 13px;
    font-weight: 600;
}


/*  
    Todo list
*/

.todo-list-advance {
    height: 100%;
}
.todo-list-advance .todo-list-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.todo-list-advance .todo-list-header h5 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.todo-list-advance .todo-list-header i.remove-todo-close {
    vertical-align: middle;
    -webkit-background-clip: text;
    cursor: pointer;
    position: absolute;
    top: -14px;
    right: 7px;
    color: #d3d3d3;
    font-size: 19px;
}
.todo-list-advance .todo-list-header i.remove-todo-close:hover {
    color: #e7515a;
}
.todo-list-advance .todo-list-header i.add-task {
    background-color: #1a73e9;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    color: #fff;
    right: 25px;
    font-size: 19px;
    padding: 12px;
}
.todo-list-advance .todo-list-body .table tbody tr:first-child td {
    border: none;
}
.todo-list-advance .todo-list-body .table tbody tr td {
    border-color: #e9ecef;
    padding: 14px 20px 14px 20px;
    vertical-align: middle;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success .new-control-indicator  {
    width: 1.7rem;
    height: 1.7rem;
    background-color: transparent;
    border: 1px solid #e9ecef;
    border-radius: 50px;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox span.new-control-indicator:after {
    margin-left: -4px;
    margin-top: -7px;
    width: 7px;
    height: 12px;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~span.new-control-indicator {
    background-color: #1abc9c;
    border: none;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success span.todo-text {
    color: #1d1d1d;
    font-size: 16px;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~span.d-sm-flex span.todo-text {
    text-decoration: line-through;
}
.todo-list-advance .todo-list-body .n-chk .remove-task {
    font-size: 25px;
    color: #e7515a;
    visibility: hidden;
    vertical-align: middle;
}
.todo-list-advance .todo-list-body .task-edit {
    font-size: 25px;
    visibility: hidden;
    color: #4f5163;
    vertical-align: middle;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~span.todo-item .remove-task {
    visibility: visible;
}

.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~span.todo-item .task-edit {
    visibility: visible;
}
.todo-list-advance .todo-list-body table tbody tr .task-edit {
    cursor: pointer;
}
.todo-list-advance .todo-list-body span.todo-item img {
    width: 39px;
    border-radius: 50%;
}
.todo-list-advance .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~span.todo-item img {
    opacity: .4
}
.todo-list-advance .todo-list-bottom {
    padding: 15px 22px;
    border-top: 1px solid #e9ecef;
}
.todo-list-advance .todo-list-bottom span {
    font-weight: 600;
    font-size: 17px;
    vertical-align: middle;
}
.todo-list-advance .todo-list-bottom button {
    padding: 13px 17px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50%;
}
.todo-list-advance .todo-list-bottom button:hover {
    background-color: #1a73e9;
    color: #fff!important;
}


/*    
    User Profile Card 6
*/

.card#user-profile-card-6 {
    border: none;
}
.card#user-profile-card-6 .card-body {
    padding: 42px 10px 15px 10px;
}
.card#user-profile-card-6 .card-body .usr-meta img {
    width: 72px;
}
.card#user-profile-card-6 .card-body .usr-meta p.usr-name {
    font-size: 18px;
    font-weight: 600;
    color: #3b3f5c;
}
.card#user-profile-card-6 .card-body .usr-activities p {
    color: #3b3f5c;
    font-weight: 600;
}
.card#user-profile-card-6 .card-body .usr-activities h6 {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 22px;
}
.card#user-profile-card-6 .card-body .usr-activities button {
    padding: 5px 18px;
    background-color: #3b3f5c;
}
.card#user-profile-card-6 .usr-posts h6 {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 18px;
    padding: 0 30px;
}
.card#user-profile-card-6 .usr-posts .posts-thumbnails img {
    width: 53px;
    border-radius: 3px;
    margin-left: 8px;
}


/*
    Card 6
*/

.card#card-6 {
    border: none;    
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);
    color: #1a73e9;
}
.card#card-6 .card-body {
    padding: 82px 35px;
}
.card#card-6 .card-body h4 {
    font-size: 35px;
}
.card#card-6 .card-body p {
    font-size: 15px;
}
.card#card-6 .card-body img {
    max-width: 206px;
     width: 100%; 
    opacity: .5;
    position: absolute;
    top: -6px;
    right: -18px;
}


/*  
    Analytics Calendar
*/

.analytics .pignose-calendar {
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: none;
}
.analytics .pignose-calendar .pignose-calendar-top {
    padding: 1em 0 1.9em;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-bottom: none;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-year,
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    display: inline-block;
    text-align: center;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    font-size: 140%;
    color: #4f5163;
    font-size: 22px;
    font-weight: 600;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-size: 120%;
    font-weight: 600;
    color: #4f5163;
    font-size: 20px;
    border-bottom: solid 1px #fff;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    position: relative;
    z-index: 5;
    text-decoration: none;
    border-radius: 50%;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    display: inline-block;
    color: #777777;
    font-size: 115%;
    font-weight: 600;
    vertical-align: middle;
    margin-top: -10px;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    font-size: 20px;
    top: 4px;
    position: relative;
    vertical-align: middle;
    color: #acb0c3;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-icon {
    left: 8px;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-icon {
    left: 10px;
}

.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
    float: left;
    margin-left: 0.6em;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
    float: right;
    margin-right: 0.6em;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
    margin-left: .2em;
}
.analytics .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
    margin-right: .2em;
}
.analytics .pignose-calendar .pignose-calendar-header {
    font-weight: 600;
    overflow: hidden;
    color: #3b3f5c;
    background-color: #c2d5ff;
    margin-top: 18px;
    margin-bottom: 10px;
    padding: 0 25px;
}
.analytics .pignose-calendar .pignose-calendar-body {
    height: 395px;
    height: 100%;
    padding: 0 25px;
}
.analytics .pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 133%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    color: #1a73e9;
}
.analytics .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.analytics .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
    color: #1F3A93;
}
.analytics .pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
    width: 14.32%;
}
.analytics .pignose-calendar .pignose-calendar-body .pignose-calendar-row {
    overflow: hidden;
}
.analytics .pignose-calendar-unit {
    float: left;
    display: block;
    height: 4.6em;
    width: 14.28%;
    text-align: center;
    line-height: 2.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.analytics .pignose-calendar-unit .pignose-calendar-button-schedule-container {
    line-height: .5em;
}
.analytics .pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin {
    display: inline-block;
    background-color: #777777;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin-right: .2em;
}
.analytics .pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin:last-child {
    margin-right: 0;
}
.analytics .pignose-calendar-unit a {
    display: inline-block;
    width: 2.0em;
    height: 2.1em;
    border-radius: 10px;
    color: #acb0c3;
    font-size: 18px;
    line-height: 2.2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-disabled a {
    opacity: .5;
    background-color: #efefef;
}
.analytics .pignose-calendar-unit a:active {
    background-color: #d8d8d8;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #f1f1f1;
    border-radius: 0;
    width: 100%;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    color: #b2b9bb;
    background-color: #e1e1e1;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}
.analytics .pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
    color: #cccccc !important;
}
.analytics .pignose-calendar.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
    color: #cccccc !important;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-active a {    
    background-color: #1a73e9;
    color: #ffffff!important;
    font-weight: 600;
    border-radius: 10px;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-sun a,
.analytics .pignose-calendar-unit.pignose-calendar-unit-sat a {
    color: gray;
}
.analytics .pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a,
.analytics .pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a {
    color: #ffffff;
}
.analytics .pignose-calendar-unit a:hover {
    background-color: #c2d5ff;
    color: #1a73e9!important;
    font-weight: 600;
    border-radius: 10px;
}
.analytics .pignose-calendar-unit:last-child {
    width: 14.32%;
}
.analytics .pignose-calendar-wrapper {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 360px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    z-index: 50001;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -webkit-transform: translate3d(0, 160px, 0);
    -moz-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    opacity: 0;
    -webkit-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    -moz-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
}
.analytics .pignose-calendar-wrapper .pignose-calendar {
    max-width: auto;
    width: 100%;
    border: none;
}
.analytics .pignose-calendar-wrapper.pignose-calendar-wrapper-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.analytics .pignose-calendar-wrapper-overlay {
    background-color: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
}
.analytics .pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
    opacity: .7;
}
.analytics .pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
    border-top: 1px solid #e2e2e2;
    overflow: hidden;
}
.analytics .pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
    width: 50%;
    display: block;
    float: left;
    height: 3.2em;
    text-align: center;
    line-height: 3.2em;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.analytics .pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
    background-color: #f1f1f1;
}

.analytics .pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
    color: #ffffff;
    background-color: #2fabb7;
}
.analytics .pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
    background-color: #31b2c9;
}


/*    
    User List
*/

.usr-list .usr-list-title {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.usr-list .usr-list-title h6 {
    color: #3b3f5c;
    font-size: 16px;
    font-weight: 600;
}
.usr-list .usr-list-body .table-responsive {
    padding: 0 24px;
}
.usr-list .usr-list-body table tbody tr {
    cursor: pointer;
}
.usr-list .usr-list-body table tbody td {
    border-top: none;
}
.usr-list .usr-list-body table tbody td .d-flex .f-header img {
    width: 45px;
}
.usr-list .usr-list-body table tbody td .d-flex .f-body h6 {
    margin-bottom: 0;
    color: #3b3f5c;
}
.usr-list .usr-list-body table tbody td .d-flex .f-body p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
}
.usr-list .usr-list-body table tbody td.action i {
    font-size: 23px;
    cursor: pointer;
}
.usr-list .usr-list-body table tbody td.action i {
    color: #d3d3d3;
}
.usr-list .usr-list-body table tbody tr:hover td i.flaticon-fill-tick {
    color: #1a73e9;
}
.usr-list .usr-list-body table tbody tr:hover td i.flaticon-close-fill {
    color: #e7515a;
}
.usr-list .usr-list-body .u-l-add-new {
    padding: 15px;
    border-top: 1px solid #e9ecef;
}
.usr-list .usr-list-body .u-l-add-new button {
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    border: none;
    font-size: 14px;
    padding: 12px 30px;
}


/*   
    News Feeds
*/

.news-feeds .news-feeds-header {
    padding: 20px;
}
.news-feeds .news-feeds-header h6 {
    margin-bottom: 0;
     font-weight: 600; 
    color: #3b3f5c;
}
.news-feeds .news-feeds-header div {
    color: #6156ce;
}
.news-feeds .news-feeds-body table td {
    border-color: #e9ecef;
    padding-left: 24px;
    padding-right: 24px;
}
.news-feeds .news-feeds-body table td .n-chk .new-control-indicator {
    border: 1px solid #e9ecef;
    background-color: transparent;
    width: 1.2rem;
    height: 1.2rem;
}
.news-feeds .news-feeds-body table td .new-control.new-checkbox.checkbox-danger>input:checked~span.new-control-indicator {
    border: #e7515a;
    background-color: #4f5163;
}
.news-feeds .news-feeds-body table td .new-control.new-checkbox.checkbox-danger>input:checked~span.new-control-indicator:after {
    margin-left: -3px;
    margin-top: -6px;
}
.news-feeds .news-feeds-body table td .new-control .d-flex .media .usr-icon i {
    padding: 8px;
    border-radius: 50%;
    font-size: 28px;
}
.news-feeds .news-feeds-body table td .new-control .d-flex .media .media-body {
    flex: auto;
}
.news-feeds .news-feeds-body table td .new-control .d-flex .media .media-body .news-feeds-text {
    color: #3b3f5c;
    font-weight: 600;
}
.news-feeds .news-feeds-body table td .new-control .d-flex .media .media-body .news-feeds-text .user-name {
    color: #6156ce;
    font-size: 15px;
    font-weight: 300;
}
.news-feeds .news-feeds-body table td .new-control .d-flex .media .media-body .news-feeds-text .action {
    color: #6156ce;
    font-size: 15px;
    font-weight: 300
}
.news-feeds .news-feeds-body table td .new-control .d-flex .media .media-body .meta-time {
    font-size: 12px;
    font-weight: 600;
}
.news-feeds .news-feeds-body table td i.task-delete {
    font-size: 18px;
    color: #d3d3d3;
    cursor: pointer;
}
.news-feeds .news-feeds-body table td i.task-delete:hover {
    color: #4f5163;
}


/* 
    Browser Statistics
*/

.browser-statistics .browser-statistics-header {
    padding: 20px;
}
.browser-statistics .browser-statistics-header h6 {
    color: #3b3f5c;
    font-size: 16px;
    font-weight: 600;
}
.browser-statistics .browser-statistics-body table td {
    border-top: none;
    padding: 0 22px 12px 28px;
}
.browser-statistics .browser-statistics-body table td .pro-name {
    color: #515365;
    font-weight: 600;
}
.browser-statistics .browser-statistics-body table .d-flex .progress {
    border-radius: 20px;
    height: 10px;
    border: 1px solid #d3d3d3;
    background-color: #f1f3f1;
}
.browser-statistics .browser-statistics-body table .d-flex .progress .progress-bar {
    border-radius: 20px;
}
.browser-statistics .browser-statistics-body table td.action p {
    font-weight: 600;
    color: #888ea8;
    display: inline-flex;
    font-size: 16px;
}
@media (max-width: 575px) {
    .analytics .pignose-calendar .pignose-calendar-header,
    .analytics .pignose-calendar .pignose-calendar-body {
        padding: 0;
    }

    .weather-calendar .weather-bottom ul {
        flex-wrap: wrap;
    }
    .weather-calendar .weather-bottom ul li {
        max-width: 33.333333%;
        width: 100%;
        margin-bottom: 30px;
    }
}