{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
{% block page_style_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL STYLE ================== -->

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}
<section id="middle">
  <!-- page title -->
	<header id="page-header">
		<h1>Grupos</h1>
		<ol class="breadcrumb">
			<li><a href="#">Admin</a></li>
			<li class="active">Grupos</li>
		</ol>
	</header>
	<!-- /page title -->

  <div id="content" class="padding-20">

		<div id="panel-1" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>ADMINISTRACION DE GRUPOS</strong>
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
					<li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
				</ul>
				<!-- /right options -->

			</div>
			<!-- panel content -->
			<div class="panel-body">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }} margin-bottom-30"><!-- SUCCESS -->
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times</span>
								<span class="sr-only">Close</span>
							</button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<div class="">
					{% if perms.auth.add_group %}
						<a href="{% url 'grupo-add' %}" class="btn btn-info margin-bottom-10">Agregar</a>
					{% endif %}
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-vertical-middle nomargin">
						<thead>
							<tr>
								<th>Nombre</th>
								<th class="width-100">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for group in groups %}
							<tr>
								<td>{{ group.name }}</td>
								<td class="text-center">
									{% if perms.auth.change_group %}
										<a href="{% url 'grupo-update' group.pk %}" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Editar</a>
									{% else %}
										<a href="{% url 'grupo-update' group.pk %}" class="btn btn-default btn-xs disabled"><i class="fa fa-edit white"></i> Editar</a>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- /panel content -->
  </div>
</section>
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
