{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login </title>
    <link rel="icon" type="image/x-icon" href="{% static 'adminlte/assets/img/favicon.ico' %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/assets/css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'adminlte/assets/css/users/login-2.css' %}" rel="stylesheet" type="text/css">
    
    <!-- END GLOBAL MANDATORY STYLES -->    
</head>

<body class="login">

  <form action="{% url 'login' %}" class="form-login"method ="post">
    {% csrf_token %} 
      <div class="row">
          
          <div class="col-md-12 text-center mb-4">
              <img alt="logo" src="{% static 'adminlte/assets/img/itorneos_v2.png' %}" class="theme-logo">
          </div>

          <div class="col-md-12">

              <label for="inputEmail" class="sr-only">Email address</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="icon-inputEmail"><i class="flaticon-user-7"></i> </span>
                  </div>
                  <input name ="username" type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" aria-describedby="inputEmail" required >
              </div>

              <label for="inputPassword" class="sr-only">Password</label>                
              <div class="input-group mb-4">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="icon-inputPassword"><i class="flaticon-key-2"></i> </span>
                  </div>
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" aria-describedby="inputPassword" required >
              </div>
            
              <div class="checkbox d-flex justify-content-center mt-3">
                  <div class="custom-control custom-checkbox mr-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" value="remember-me">
                      <label class="custom-control-label" for="customCheck1">Recuerdame</label>
                  </div>
              </div>

              

              <button class="btn btn-lg btn-gradient-warning btn-block btn-rounded mb-4 mt-5" type="submit">Iniciar Sesion</button>

              <div class="forgot-pass text-center">
                  <a href="user_pass_recovery_2.html">¿Has olvidado tu contraseña ?</a>
              </div>

          </div>

          <div class="col-md-12">
              <div class="login-text text-center">
                  <p class="mt-3 text-white"> <a href="{% url 'new_user' %}" class="">Registrese </a></p>
              </div>
          </div>

      </div>
  </form>   

<!-- <div class="row">


           
               

                <label for="inputEmail" class="sr-only">Correo Electronico</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="icon-inputEmail"><i class="flaticon-user-7"></i> </span>
                    </div>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" aria-describedby="inputEmail" required="">
                    <div class="input-group-append"></div>
                    <span class="fas fa-user"></span>
                

                <label for="inputPassword" class="sr-only">Contraseña</label>                
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="icon-inputPassword"><i class="flaticon-key-2"></i> </span>
                    </div>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" aria-describedby="inputPassword" required="">
                    <div class="input-group-append"></div>
                    <span class="fas fa-lock"></span>
                </div>
                {% for error in form.password.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} -->
<!--             
            <div class="login-box" style="float:inherit;">
              <div class="login-logo">
              </div>
              <div class="card">
                <div class="card-header text-center">
                  <img src="{% static 'adminlte/assets/img/itorneos_v2.png' %}" alt="DA2 logso"  style="width: 50%;">
                </div>
                <div class="card-body login-card-body">
                  {% if form.errors %}
                  <div class="alert alert-danger" role="alert">
                    Tu usuario y contraseña no coinciden. Por favor vuelve a intentarlo.
                  </div>rudeskatrojan@gmail.com
                  {% endif %}
          
                  {% if next %}
                    {% if user.is_authenticated %}
                      <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                    {% else %}
                    <p class="login-box-msg">Ingresa con tu cuenta </p>
                    {% endif %}
                  {% endif %}
          
                  <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      {% render_field form.username class="form-control" placeholder="Correo Electronico" %}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-user"></span>
                        </div>
                      </div>
                      {% for error in form.username.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                    <div class="input-group mb-3">
                      {% render_field form.password class="form-control" placeholder="Contraseña"  %}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                      {% for error in form.password.errors %}
                          <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <a href="{% url 'new_user' %}" class="btn btn-default" >Registrarme</a>
                      </div>
                      <div class="col-4">
                        <button type="submit" class="btn btn-default">Ingresar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
    </form>     -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'adminlte/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'adminlte/assets/js/loader.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jQuery -->
  <script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'adminlte/assets/js/adminlte.min.js' %}"></script>

    
    <!-- END GLOBAL MANDATORY SCRIPTS -->

