{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inicio Sesion</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css>
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/css/adminlte.min.css' %}">

</head>

<body class="hold-transition login-page" background="/static/adminlte/assets/img/bg_sports_v2.png">
  <img src="/static/adminlte/assets/img/bg_sports_v2.png" alt="">
  
  <div class="login-box" style="float:inherit;">
    <div class="login-logo">
    </div>
    <div class="card">
      <div class="card-header text-center">
        <img src="{% static 'adminlte/assets/img/itorneos_v2.png' %}" alt="DA2 logso"  style="width: 50%;">
      </div>
      <div class="card-body login-card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Tu usuario y contraseña no coinciden. Por favor vuelve a intentarlo.
        </div>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
          {% else %}
          <p class="login-box-msg">Ingresa con tu cuenta </p>
          {% endif %}
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            {% render_field form.username class="form-control" placeholder="Correo Electronico" %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            {% for error in form.username.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="input-group mb-3">
            {% render_field form.password class="form-control" placeholder="Contraseña"  %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            {% for error in form.password.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-8">
              <a href="{% url 'new_user' %}" class="btn btn-default" >Registrarme</a>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-default">Ingresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="{% static 'adminlte/assets/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'adminlte/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'adminlte/assets/js/adminlte.min.js' %}"></script>
