{% load static %}
{% load widget_tweaks %}


<!-- <div class="register-box">

  <div class="register-logo">
    <div class="card">
      <div class="card-body register-card-body">
        <h4 class="login-box-msg">Te damos la bienvenida</h4>
        <h6>Por favor ingresa ts datos para crea una cuenta nueva</h6>
  
        <form action="" method="post">
          {% csrf_token%}

          {% for error in form.username.errors %}
            <p class="text-danger ">{{ error }}</p>
          {% endfor %}
          <div class="input-group mb-3">
            {% render_field form.username class="form-control"  type="email" placeholder="Correo Electronico" %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          {% for error in form.first_name.errors %}
            <p class="text-danger ">{{ error }}</p>
          {% endfor %}
          <div class="input-group mb-3">
            {% render_field form.first_name class="form-control " placeholder="Nombre Completo" %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
              <input type="tel" name="telefono" class="form-control"  id="telefono" placeholder="Celular" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
          </div>

          {% for error in form.password1.errors %}
            <p class="text-danger ">{{ error }}</p>
          {% endfor %}
          <div class="input-group mb-3">
            {% render_field form.password1 class="form-control " placeholder="Password" %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          {% for error in form.password2.errors %}
            <p class="text-danger ">{{ error }}</p>
          {% endfor %}
          <div class="input-group mb-3">
            {% render_field form.password2 class="form-control " placeholder="Confirme su password" %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>	

              </div>
            </div>
          </div>
          <div class="card" style="border-radius: 5px;">
            <div class="card-body" style="margin-left:-35px;">
              <div class="input-group">
                <div class="custom-control custom-radio">
                  <div class="form-check">
                    <div class="row">
                      <div class="col-5">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="opciones_torneo" value="crear_evento">
                          <label class="form-check-label" style="font-size: 15px;" >Crear Eveento</label>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="opciones_torneo" value="participar_evento">
                          <label class="form-check-label" style="font-size: 15px;">Participar en un Torneo</label>
                        </div>
                      </div>
                      <input type="hidden" name="opcion_evento_seleccionada" id="opcion_evento_seleccionada">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-8">
              <div class="icheck-primary">
                <div class="icheck-info d-inline">
                  <input type="checkbox" name="acepto_condiciones" class="selection" id="acepto_condiciones">
                  <label for="acepto_condiciones" style="font-size: 15px;">He leido y acepto <a href="{% url 'terminosycondiciones' %}" target="_blank" style="font-size: 15px;">los Términos y Condiciones de uso.</a></label>
                  <input type="hidden">
                </div>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-default btn-block" id="guardar_1">Registrar</button>
            </div>
          </div>
        </form>
        <a href="{% url 'login' %}" style="font-size: 20px;">¿Ya eres miembro? <b>Iniciar sesión</b></a>
      </div>
    </div>
  </div>
</div> -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Register-2</title>
    <link rel="icon" type="image/x-icon" href="{% static 'adminlte/assets/img/favicon.ico' %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminlte/assets/css/users/register-2.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->    
</head>
<body class="register">

    <form class="form-register" method ="post">
      {% csrf_token%}
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <img alt="logo" src="{% static 'adminlte/assets/img/itorneos_v2.png' %}" class="theme-logo">
            </div>

            <div class="col-md-12">
                {% for error in form.first_name.errors %}
                <p class="text-danger ">{{ error }}</p>
                {% endfor %}
                <label for="username" class="sr-only">Username</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="icon-username"><i class="flaticon-user-7"></i> </span>
                    </div>
                    <input name="first_name" type="text" id="username" class="form-control" placeholder="Nombre" aria-describedby="username" required >
                </div>


                {% for error in form.username.errors %}
                <p class="text-danger ">{{ error }}</p>
                {% endfor %}
                <label for="inputEmail" class="sr-only">Email address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="icon-inputEmail"><i class="flaticon-email-fill-2"></i> </span>
                    </div>
                    <input name="username"type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" aria-describedby="inputEmail" required >
                </div>

                {% for error in form.imputpassword1.errors %}
                <p class="text-danger ">{{ error }}</p>
                {% endfor %}
                <label for="inputPassword" class="sr-only">Password</label>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="icon-inputPassword"><i class="flaticon-key-2"></i> </span>
                    </div>
                    <input name="password1" type="password" id="inputPassword1" class="form-control" placeholder="contraseña" aria-describedby="inputPassword" required >
                </div>


                {% for error in form.imputpassword2.errors %}
                <p class="text-danger ">{{ error }}</p>
                {% endfor %} 
                <label for="inputPassword" class="sr-only">Password</label>                      
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="icon-inputPassword"><i class="flaticon-key-2"></i> </span>
                    </div>
                    <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="confirme su contraseña" aria-describedby="inputPassword" required >
                </div>
                
        

                

         

        

        
        {% if messages %}
        {%for message in messages%}
        <h1>esta no es la misma contraseña {{message}}</h1>
        {%endfor%}
        {% endif %}

        
        <div class="checkbox d-flex justify-content-center mt-3">
            <div class="custom-control custom-checkbox mr-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1" value="remember-me">
        <label class="custom-control-label" for="customCheck1">Recuerdame</label>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
    <div class="col-8">
      <div class="checkbox d-flex justify-content-center mt-3">
        <div class="custom-control custom-checkbox mr-3">
          <input type="checkbox" name="acepto_condiciones" class="custom-control-input" id="acepto_condiciones">
          <label for="acepto_condiciones" style="font-size: 15px;"> He leido y acepto --> <a href="{% url 'terminosycondiciones' %}"style="font-size: 15px; color:#ff9a44;">los Términos y Condiciones de uso.</a></label>
          <!-- <input type="hidden"> -->
        </div>
      </div>
    </div>
  </div>


    <button class="btn btn-lg btn-gradient-warning btn-block btn-rounded mb-4 mt-5" type="submit">Registrarse </button>
    
    
    <a class="btn btn-lg btn-gradient-warning btn-block btn-rounded mb-4 mt-5" href="{% url 'login' %} ">ya tengo una cuenta</a>
    
       </div>
      </div>
    </div>
  </form> 
  
  
  {% block page_js_level %}
  <script type="Text/javascript">
   function Notificacion2() { 
     swal({
        type: 'error',
         title: 'La contraseña es incorrecta',
          showConfirmButton: false, timer: 3000 // es ms (mili-segundos) 
        }) 
      } 
          
   </script>
   {% endblock %}


                
  
           

        
            
               
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'adminlte/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'adminlte/assets/js/loader.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>s


  <script src="{% static 'adminlte/plugins/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'adminlte/assets/js/adminlte.min.js'%}"></script>

<!-- 
var password1 = document.getElementById("passwd").value;
var password2 = document.getElementById("passwd2").value; -->