{% extends 'base_sin_user.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}TerminosyCondiciones{% endblock %}
{% block page_css_level %}
<style media="screen">
  .time-frame {
      color: #ffffff;
      font-family: Arial;
      padding: 10px;
      border-radius: 10px;
  }
  .time-frame > div {
    width: 100%;
    text-align: center;
  }
  #capture {
  display: none;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
}
  #date-part {
    font-size: 14px;
  }
  #time-part {
    font-size: 18px;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <div class="content-wrapper px-4 py-2" style="min-height: 256.767px;">
  	<div class="content-header">
  		<h1 class="text-dark">AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES</h1>
      </div>

      <div class="content px-2">
          <p>De conformidad con lo definido por la Ley 1581 de 2012, el Decreto Reglamentario 1377 de 2013, la Circular Externa 002 de 2015 expedida por la Superintendencia de Industria y Comercio, la política interna de manejo de la información implementada por EVENTOS COMPETENCIAS ARRECIFE y las demás normas concordantes, a través de las cuales se establecen disposiciones generales en materia de hábeas data y se regula el tratamiento de la información que contenga datos personales, me permito declarar de manera expresa que: </p>

          <ul>
            <li>Autorizo de manera libre, voluntaria, previa, explícita, informada e inequívoca a EVENTOS COMPETENCIAS ARRECIFE, para que en los términos legalmente establecidos realice la recolección, almacenamiento, uso, circulación, supresión y en general, el tratamiento de los datos personales que he procedido a entregar o que entregaré, en virtud de las relaciones legales, contractuales, comerciales y/o de cualquier otra que surja, en desarrollo y ejecución de los fines descritos en el presente documento.
            </li>
            <li>Dicha autorización para adelantar el tratamiento de mis datos personales, se extiende durante la totalidad del tiempo en el que pueda llegar consolidarse un vínculo o este persista por cualquier circunstancia con la empresa EVENTOS COMPETENCIAS ARRECIFE y con posterioridad al finiquito del mismo, siempre que tal tratamiento se encuentre relacionado con las finalidades para las cuales los datos personales, fueron inicialmente suministrados.
            </li>
            <li> En ese sentido, declaro conocer que los datos personales objeto de tratamiento, serán utilizados específicamente para las finalidades derivadas como Empleado.</li>
            <li>De igual forma, declaro que me han sido informados y conozco los derechos que el ordenamiento legal y la jurisprudencia, conceden al titular de los datos personales y que incluyen entre otras prerrogativas las que a continuación se relacionan: (i) Conocer, actualizar y rectificar datos personales frente a los responsables o encargados del tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado; (ii) solicitar prueba de la autorización otorgada al responsable del tratamiento salvo cuando expresamente se exceptúe como requisito para el tratamiento; (iii) ser informado por el responsable del tratamiento o el encargado del tratamiento, previa solicitud, respecto del uso que le ha dado a mis datos personales; (iv) presentar ante la Superintendencia de Industria y Comercio quejas por infracciones al régimen de protección de datos personales; (v) revocar la autorización y/o solicitar la supresión del dato personal cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales, (vi) acceder en forma gratuita a mis datos personales que hayan sido objeto de Tratamiento.
            </li>
          </ul>
          <p>La política de manejo de datos personales adoptada por EVENTOS COMPETENCIAS ARRECIFE, se encuentran en la página web <a href="#">www.logytec.net</a>
          </p>
          <p>Finalmente, manifiesto conocer que en los casos en que requiera ejercer los derechos anteriormente mencionados, la solicitud respectiva podrá ser elevada a través de los mecanismos dispuestos para tal fin por EVENTOS COMPETENCIAS ARRECIFE, que corresponden a los siguientes:</p>
          <ul>
            <li>Página Web www.logytec.net </li>
            <li>Teléfono: En Bogotá (57) (1) 490 00 44. </li>
            <li>Correo electrónico: contacto@logytec.net </li>
            <li>Correspondencia Carrera 70 B No. 105 37 en la ciudad de Bogotá.</li>
          </ul>

      </div>
  </div>
  <!-- /.content -->
</div>
<footer class="main-footer">
      <div class="float-right d-none d-sm-inline">
        v1.0.3
      </div>
      <strong>Copyright © 2020 <a href="https://grupoda2.com/">Grupo DA2</a>.</strong> All rights reserved.
</footer>
{% endblock %}

{% block page_js_level %}

{% endblock %}
