{% extends 'admin2/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_css_level %}
<!-- <style media="screen">
  .time-frame {
      color: #ffffff;
      font-family: Arial;
      padding: 10px;
      border-radius: 10px;
  }
  .time-frame > div {
    width: 100%;
    text-align: center;
  }
  #capture {
  display: none;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
}
  #date-part {
    font-size: 14px;
  }
  #time-part {
    font-size: 18px;
  }
</style> -->
{% endblock %}

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}

<!-- ================== BEGIN BODY ================== -->

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
		<!-- ================== BEGIN HEADER ================== -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Administracion de Usuarios</h1>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>
			</section>
		<!-- ================== MAIN CONTENT ================== -->
		  <div class="invoice p-3 mb-3">

				<div id="panel-1" class="panel panel-default">

					<div class="panel-body">

						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }} margin-bottom-30"><!-- SUCCESS -->
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times</span>
										<span class="sr-only">Close</span>
									</button>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}

						<div class="card-header">
							<div class="container-fluid">
								<div class="row mb-2">
									<div class="col-sm-6">
									</div>
									<div class="col-sm-6">
										{% if perms.auth.add_user %}
											<a href="{% url 'usuario-add' %}" class="btn btn-info margin-bottom-10 float-sm-right ">Agregar usuario</a>
										{% endif %}
									</div>
								</div>
							</div>

						</div>

						<div class="card-body">
							<table class="table table-bordered ">
								<thead>
									<tr>
										<th>ID</th>
										<th>Username</th>
										<th>Nombres</th>
										<!-- <th>Apellidos</th> -->
										<th class="width-100">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
									<tr>
										<td>{{ user.pk }}</td>
										<td>{{ user.username }}</td>
										<td>{{ user.first_name }}</td>
										<!-- <td>{{ user.last_name }}</td> -->
										<td class="text-center">
											{% if perms.auth.change_user %}
												<a href="{% url 'usuario-update' user.pk %}" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Editar</a>
											{% else %}
												<a href="{% url 'usuario-update' user.pk %}" class="btn btn-default btn-xs disabled"><i class="fa fa-edit white"></i> Editar</a>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
		  </div>

			</div>

		</div>
	</section>
</div>
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
