{% extends 'admin2/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_css_level %}
<style media="screen">
  .time-frame {
      color: #ffffff;
      font-family: Arial;
      padding: 10px;
      border-radius: 10px;
  }
  .time-frame > div {
    width: 100%;
    text-align: center;
  }
  #capture {
  display: none;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
}
  #date-part {
    font-size: 14px;
  }
  #time-part {
    font-size: 18px;
  }
</style>
{% endblock %}

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}

<!-- ================== BEGIN BODY ================== -->

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
		<!-- ================== BEGIN HEADER ================== -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h3>Cambio contraseña</h3>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
			              <li class="breadcrumb-item"><a href="registro">Inicio</a></li>
			              <li class="breadcrumb-item">Usuarios</li>
										<li class="breadcrumb-item">Nuevo</li>
										<li class="breadcrumb-item active">Cambio Password</li>


			        </ol>
						</div>
					</div>
				</div>
			</section>
		<!-- ================== MAIN CONTENT ================== -->
		  <div class="invoice p-3 mb-3">

				<div id="panel-1" class="panel panel-default">

					<div class="panel-body">

						<div class="card-header">
							<div class="container-fluid">
								<div class="row mb-2">
									<div class="col-sm-6">
											<strong>USUARIO: {{ user.username }}</strong>
									</div>
									<div class="col-sm-6">

									</div>
								</div>
							</div>

						</div>

						<div class="card-body">
							<form role="form" data-parsley-validate="true"  method="post">
								{% csrf_token %}

									<div class="form-group">
										<label >{{ form.password1.label }}</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.password1 class="form-control required" placeholder="Requerido" %}
												{% for error in form.password1.errors %}
													<p class="text-danger">{{ error }}</p>
												{% endfor %}
												{% render_field form.password1.help_text %}
											</div>
									</div>

									<div class="form-group">
										<label >{{ form.password2.label }}</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.password2 class="form-control required"  placeholder="Requerido" %}
												<ul>
													{% for error in form.password2.errors %}
														<li class="text-danger">{{ error }}</li>
													{% endfor %}
												</ul>
											</div>
									</div>



								<div class="row">
									<div class="col-md-2 col-sm-2">
										<a href="{% url 'usuario-update' user.pk %}" class="btn btn-default">Volver</a>
										<input type="submit" class="btn btn-success float-right" name="" value="Guardar">
									</div>
								</div>

			        </form>
						</div>

					</div>
		  </div>

			</div>

		</div>
	</section>
</div>
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
