{% extends 'admin2/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_css_level %}
<style media="screen">
  .time-frame {
      color: #ffffff;
      font-family: Arial;
      padding: 10px;
      border-radius: 10px;
  }
  .time-frame > div {
    width: 100%;
    text-align: center;
  }
  #capture {
  display: none;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
}
  #date-part {
    font-size: 14px;
  }
  #time-part {
    font-size: 18px;
  }
</style>
{% endblock %}

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}

<!-- ================== BEGIN BODY ================== -->

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
		<!-- ================== BEGIN HEADER ================== -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h3>Eliminar usuario</h3>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
			              <li class="breadcrumb-item"><a href="registro">Inicio</a></li>
			              <li class="breadcrumb-item">Usuarios</li>
										<li class="breadcrumb-item">Nuevo</li>
										<li class="breadcrumb-item active">Eliminar User</li>


			        </ol>
						</div>
					</div>
				</div>
			</section>
		<!-- ================== MAIN CONTENT ================== -->
		  <div class="invoice p-3 mb-3">

				<div id="panel-1" class="panel panel-default">

					<div class="panel-body">

						<div class="card-header">
							<div class="container-fluid">
								<div class="row mb-2">
									<div class="col-sm-6">

									</div>
									<div class="col-sm-6">

									</div>
								</div>
							</div>

						</div>

						<div class="card-body">
							<form role="form" data-parsley-validate="true"  method="post">
								{% csrf_token %}
								<input type="hidden" name="user" value="{{ user.pk }}">

								<div class="alert alert-warning margin-bottom-30">
									<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
									<h4><strong>¿Esta Seguro?</strong></h4>
									<p>
										Se va a eliminar el usuario <strong>{{ user.username }} - {{ user.get_full_name }}</strong>
									</p>
									{% if perms.auth.delete_user %}
										<input type="submit" class="btn btn-danger margin-top-10" name="" value="Eliminar">
									{% endif %}
									<a href="{% url 'usuario-update' user.pk %}" class="btn btn-primary margin-top-10">Volver</a>
								</div>

				     </form>
						</div>

					</div>
		  </div>

			</div>

		</div>
	</section>
</div>
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
