{% extends 'admin2/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_css_level %}
<style media="screen">
  .time-frame {
      color: #ffffff;
      font-family: Arial;
      padding: 10px;
      border-radius: 10px;
  }
  .time-frame > div {
    width: 100%;
    text-align: center;
  }
  #capture {
  display: none;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
}
  #date-part {
    font-size: 14px;
  }
  #time-part {
    font-size: 18px;
  }
</style>
{% endblock %}

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}

<!-- ================== BEGIN BODY ================== -->

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
		<!-- ================== BEGIN HEADER ================== -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Actualizacion de Usuario</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
			              <li class="breadcrumb-item"><a href="registro">Inicio</a></li>
			              <li class="breadcrumb-item">Usuarios</li>
										<li class="breadcrumb-item active">Nuevo</li>

			        </ol>
						</div>
					</div>
				</div>
			</section>
		<!-- ================== MAIN CONTENT ================== -->
		  <div class="invoice p-3 mb-3">

				<div id="panel-1" class="panel panel-default">

					<div class="panel-body">

						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }} margin-bottom-30"><!-- SUCCESS -->
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times</span>
										<span class="sr-only">Close</span>
									</button>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}

						<div class="card-header">
							<div class="container-fluid">
								<div class="row mb-2">
									<div class="col-sm-6">

									</div>
									<div class="col-sm-6">

									</div>
								</div>
							</div>

						</div>

						<div class="card-body">
							<form role="form" data-parsley-validate="true"  method="post">
								{% csrf_token %}
									<div class="form-group">
										<label >{{ form.username.label }}</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.username class="form-control disable" %}
												{% for error in form.username.errors %}
													<p class="text-danger">{{ error }}</p>
												{% endfor %}
											</div>
									</div>

									<div class="form-group">
										<label >{{ form.email.label }}</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.email class="form-control " %}
												{% for error in form.email.errors %}
													<p class="text-danger">{{ error }}</p>
												{% endfor %}
											</div>
									</div>

									<div class="form-group">
										<label >{{ form.first_name.label }}</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.first_name class="form-control required" placeholder="Requerido" %}
												{% for error in form.first_name.errors %}
													<p class="text-danger">{{ error }}</p>
												{% endfor %}
											</div>
									</div>

									<div class="form-group">
										<label >{{ form.last_name.label }}</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.last_name class="form-control required"  placeholder="Requerido" %}
												{% for error in form.last_name.errors %}
													<p class="text-danger">{{ error }}</p>
												{% endfor %}
											</div>
									</div>


									<div class="form-group">
										<label > Grupos</label>
											<div class="col-md-8 col-sm-8">
												{% render_field form.group class="form-control"%}
												{% for error in form.group.errors %}
													<p class="text-danger">{{ error }}</p>
												{% endfor %}
												{% render_field form.group.help_text %}
											</div>
									</div>


        						<div class="form-group">
        							<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        								<div class="col-md-8 col-sm-8">
        									{% render_field form.password1 class="form-control required" placeholder="Requerido" %}
        									{% for error in form.password1.errors %}
        										<p class="text-danger">{{ error }}</p>
        									{% endfor %}
        									{% render_field form.password1.help_text %}
        								</div>
        						</div>

        						<div class="form-group">
        							<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        								<div class="col-md-8 col-sm-8">
        									{% render_field form.password2 class="form-control required"  placeholder="Requerido" %}
        									<ul>
        										{% for error in form.password2.errors %}
        											<li class="text-danger">{{ error }}</li>
        										{% endfor %}
        									</ul>
        								</div>
        						</div>


								<div class="row">
									<div class="col-md-12">
										<input type="submit" class="btn btn-success" name="" value="Guardar">
										<a href="{% url 'usuario' %}" class="btn btn-default" style="margin-left:15px;" >Volver</a>
									</div>
								</div>

			        </form>
						</div>

					</div>
		  </div>

			</div>

		</div>
	</section>
</div>
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
